In [1]:
# Importação das bibliotecas necessárias

import pandas as pd

In [2]:
# Definição da loja a ser utilizada

loja = 187

In [3]:
# Leitura do arquivo da ficha 3 da loja

ficha3 = pd.read_excel(f'Loja_{loja}/ficha_3_loja_{loja}_v1.xlsb', sheet_name='ficha3', engine='pyxlsb')
ficha3

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,Valor ICMS Operação,ICMS_TOT,Unnamed: 40,ICMS_TOT.1,Valor Complementar.1,Fator,VCAJUST,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,35200171605265001800590008111230039117842719,2020-01-29,5405,1,18,1,1,1,3.0,13.775096,...,0.0,0.000000,NaN,0.0000,NaN,1.028472,0.000000,NaN,maximo 55 icms tot,204.664490
1,35200171605265001800590008111230039117842719,2020-01-29,5405,2,18,1,1,1,NaN,NaN,...,0.0,0.000000,NaN,0.0000,NaN,1.033282,0.000000,NaN,valor,229.179600
2,35200471605265001800590002346360211088152317,2020-04-15,5405,4,18,1,1,1,NaN,NaN,...,0.0,0.000000,NaN,0.0000,NaN,1.020765,0.000000,NaN,ressarcimento inicial,316105.242706
3,35200427849963000110550010007577101007552757,2020-04-17,1403,2,18,0,1,1,NaN,NaN,...,0.0,6.517597,NaN,6.2676,17.66,1.005861,17.763501,NaN,meta,0.085000
4,35200371605265001800590008111230103894187415,2020-03-03,5405,1,26,1,1,1,1.0,13.501093,...,0.0,0.000000,NaN,0.0000,NaN,1.037686,0.000000,NaN,meta ressarcimento,322302.575851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462083,35200927849963000110550010009158971009128178,2020-09-15,1403,7,935528,0,1,2,NaN,NaN,...,0.0,71.288188,NaN,59.2275,236.91,1.026426,243.170558,NaN,NaN,NaN
462084,35201171605265001800590008111230616991407539,2020-11-18,5405,2,935528,1,1,1,NaN,NaN,...,0.0,0.000000,NaN,0.0000,NaN,1.034745,0.000000,NaN,NaN,NaN
462085,35201127849963000110550010009899041009865150,2020-11-20,1403,90,935528,0,1,1,NaN,NaN,...,0.0,32.645849,NaN,30.2175,120.87,1.014938,122.675583,NaN,NaN,NaN
462086,35201127849963000110550010009989821009955235,2020-12-01,1403,146,935908,0,1,31,0.0,0.000000,...,0.0,129.258650,NaN,127.7028,95.13,1.020539,97.083863,NaN,NaN,NaN
462087,35201271605265001800590002346360517877250965,2020-12-17,5405,1,935908,1,1,1,NaN,NaN,...,0.0,0.000000,NaN,0.0000,NaN,1.033999,0.000000,NaN,NaN,NaN

In [4]:
# Leitura do arquivo da complementar

complementar = pd.read_excel(f'Loja_{loja}/complementar_loja_{loja}_v1.xlsx')
complementar

,Unnamed: 0,Chave Acesso NFe,Item NFE Origem,EAN,Produto,Quantidade Comercial,Valor Produto ou Serviço,Valor Base Cálculo ICMS ST Retido Operação Anterior,ANVISA,ICMS ST Retido-Base de Cálculo,ALIQUOTA,DESCONTO_PORCENTAGEM,ICMS ST Retido- Valor,vPMC
0,0,35190901206820000520550030097918881455827033,3,7.897931e+12,915348,1,74.67,83.75,1291600680055,90.32,18.0,11.98,16.26,102.61
1,1,35190901206820000520550030097918881455827033,6,7.897655e+12,86959,1,17.49,17.25,1055000680019,17.24,18.0,26.55,3.10,23.47
2,2,35190901206820000520550030098027231806902932,1,7.896642e+12,107607,1,13.12,14.18,1063902430029,14.18,18.0,16.16,2.55,16.91
3,3,35190901206820000520550030098027231806902932,10,7.891107e+12,2642,1,28.15,31.58,1705601000065,31.58,18.0,11.98,5.68,35.88
4,4,35190901206820000520550030098027231806902932,11,7.898927e+12,82834,1,67.14,66.55,1017101910010,66.55,18.0,26.55,11.98,90.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129962,149619,35201227849963000110550010010274111010238446,255,7.909194e+12,238097,"4,0000",5.40,0.00,NaN,8.79,25.0,NaN,2.20,62.79
129963,149620,35201227849963000110550010010274111010238446,256,7.909194e+12,237644,"1,0000",1.35,0.00,NaN,2.20,25.0,NaN,0.55,62.79
129964,149621,35201227849963000110550010010274111010238446,257,7.909194e+12,237586,"1,0000",1.35,0.00,NaN,2.20,25.0,NaN,0.55,62.79
129965,149622,35201227849963000110550010010274111010238446,258,7.909194e+12,237792,"1,0000",1.35,0.00,NaN,2.20,25.0,NaN,0.55,62.79
129966,149623,35201227849963000110550010010274111010238446,259,7.909194e+12,237677,"1,0000",1.35,0.00,NaN,2.20,25.0,NaN,0.55,62.79

In [5]:
# Adição à complementar das informações necessárias da ficha 3

merged = pd.merge(complementar, ficha3[['CHV_DOC', 'NUM_ITEM', 'Valor Complementar']],
                left_on=['Chave Acesso NFe', 'Item NFE Origem'], right_on=['CHV_DOC', 'NUM_ITEM'],
                how='left')
merged

,Unnamed: 0,Chave Acesso NFe,Item NFE Origem,EAN,Produto,Quantidade Comercial,Valor Produto ou Serviço,Valor Base Cálculo ICMS ST Retido Operação Anterior,ANVISA,ICMS ST Retido-Base de Cálculo,ALIQUOTA,DESCONTO_PORCENTAGEM,ICMS ST Retido- Valor,vPMC,CHV_DOC,NUM_ITEM,Valor Complementar
0,0,35190901206820000520550030097918881455827033,3,7.897931e+12,915348,1,74.67,83.75,1291600680055,90.32,18.0,11.98,16.26,102.61,NaN,NaN,NaN
1,1,35190901206820000520550030097918881455827033,6,7.897655e+12,86959,1,17.49,17.25,1055000680019,17.24,18.0,26.55,3.10,23.47,NaN,NaN,NaN
2,2,35190901206820000520550030098027231806902932,1,7.896642e+12,107607,1,13.12,14.18,1063902430029,14.18,18.0,16.16,2.55,16.91,NaN,NaN,NaN
3,3,35190901206820000520550030098027231806902932,10,7.891107e+12,2642,1,28.15,31.58,1705601000065,31.58,18.0,11.98,5.68,35.88,NaN,NaN,NaN
4,4,35190901206820000520550030098027231806902932,11,7.898927e+12,82834,1,67.14,66.55,1017101910010,66.55,18.0,26.55,11.98,90.61,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129962,149619,35201227849963000110550010010274111010238446,255,7.909194e+12,238097,"4,0000",5.40,0.00,NaN,8.79,25.0,NaN,2.20,62.79,35201227849963000110550010010274111010238446,255.0,9.962321
129963,149620,35201227849963000110550010010274111010238446,256,7.909194e+12,237644,"1,0000",1.35,0.00,NaN,2.20,25.0,NaN,0.55,62.79,35201227849963000110550010010274111010238446,256.0,2.359958
129964,149621,35201227849963000110550010010274111010238446,257,7.909194e+12,237586,"1,0000",1.35,0.00,NaN,2.20,25.0,NaN,0.55,62.79,35201227849963000110550010010274111010238446,257.0,2.209380
129965,149622,35201227849963000110550010010274111010238446,258,7.909194e+12,237792,"1,0000",1.35,0.00,NaN,2.20,25.0,NaN,0.55,62.79,35201227849963000110550010010274111010238446,258.0,2.697032
129966,149623,35201227849963000110550010010274111010238446,259,7.909194e+12,237677,"1,0000",1.35,0.00,NaN,2.20,25.0,NaN,0.55,62.79,35201227849963000110550010010274111010238446,259.0,2.695451

In [16]:
merged[merged['Valor Complementar'].notnull()]

,Unnamed: 0,Chave Acesso NFe,Item NFE Origem,EAN,Produto,Quantidade Comercial,Valor Produto ou Serviço,Valor Base Cálculo ICMS ST Retido Operação Anterior,ANVISA,ICMS ST Retido-Base de Cálculo,ALIQUOTA,DESCONTO_PORCENTAGEM,ICMS ST Retido- Valor,vPMC,CHV_DOC,NUM_ITEM,Valor Complementar
221,221,35190905651966000455550240003853111538959838,2,7.897323e+12,818658,1,23.79,25.54,1781700600090,25.58,18.0,16.16,4.60,30.51,35190905651966000455550240003853111538959838,2.0,30.902388
222,222,35190905651966000455550240003853111538959838,3,7.891142e+12,70375,2,109.08,122.40,1781707960041,122.61,18.0,11.98,22.07,69.65,35190905651966000455550240003853111538959838,3.0,147.882073
223,223,35190905651966000455550240003855991538942790,16,7.891107e+12,2642,2,56.00,63.05,1705601000065,63.16,18.0,11.98,11.37,35.88,35190905651966000455550240003855991538942790,16.0,64.154387
224,224,35190905651966000455550240003855991538942790,18,7.898075e+12,50245,1,38.95,38.75,1008401390021,38.74,18.0,26.55,6.97,52.75,35190905651966000455550240003855991538942790,18.0,45.668358
225,225,35190905651966000455550240003855991538942790,20,7.897596e+12,19109,1,9.26,9.23,1130010230045,9.23,18.0,26.55,1.66,12.57,35190905651966000455550240003855991538942790,20.0,10.427841
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129962,149619,35201227849963000110550010010274111010238446,255,7.909194e+12,238097,"4,0000",5.40,0.00,NaN,8.79,25.0,NaN,2.20,62.79,35201227849963000110550010010274111010238446,255.0,9.962321
129963,149620,35201227849963000110550010010274111010238446,256,7.909194e+12,237644,"1,0000",1.35,0.00,NaN,2.20,25.0,NaN,0.55,62.79,35201227849963000110550010010274111010238446,256.0,2.359958
129964,149621,35201227849963000110550010010274111010238446,257,7.909194e+12,237586,"1,0000",1.35,0.00,NaN,2.20,25.0,NaN,0.55,62.79,35201227849963000110550010010274111010238446,257.0,2.209380
129965,149622,35201227849963000110550010010274111010238446,258,7.909194e+12,237792,"1,0000",1.35,0.00,NaN,2.20,25.0,NaN,0.55,62.79,35201227849963000110550010010274111010238446,258.0,2.697032
129966,149623,35201227849963000110550010010274111010238446,259,7.909194e+12,237677,"1,0000",1.35,0.00,NaN,2.20,25.0,NaN,0.55,62.79,35201227849963000110550010010274111010238446,259.0,2.695451

In [19]:
# Substituição da coluna ST Retido - Base de Cálculo por Valor complementar
merged = merged[['Chave Acesso NFe', 'Item NFE Origem', 'EAN', 'Produto', 'Quantidade Comercial', 'Valor Produto ou Serviço', 
                'ANVISA', 'Valor Complementar', 'ALIQUOTA', 'ICMS ST Retido- Valor']]

merged = merged[merged['Valor Complementar'].notnull()]
merged['Valor Complementar'] = merged['Valor Complementar'].astype(str).str.replace('.', ',')
merged

C:\Users\vinic\AppData\Local\Temp\ipykernel_5220\2024374634.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged['Valor Complementar'] = merged['Valor Complementar'].astype(str).str.replace('.', ',')

,Chave Acesso NFe,Item NFE Origem,EAN,Produto,Quantidade Comercial,Valor Produto ou Serviço,ANVISA,Valor Complementar,ALIQUOTA,ICMS ST Retido- Valor
221,35190905651966000455550240003853111538959838,2,7.897323e+12,818658,1,23.79,1781700600090,"30,902388417592846",18.0,4.60
222,35190905651966000455550240003853111538959838,3,7.891142e+12,70375,2,109.08,1781707960041,"147,88207318044942",18.0,22.07
223,35190905651966000455550240003855991538942790,16,7.891107e+12,2642,2,56.00,1705601000065,"64,1543865634316",18.0,11.37
224,35190905651966000455550240003855991538942790,18,7.898075e+12,50245,1,38.95,1008401390021,"45,668358447774864",18.0,6.97
225,35190905651966000455550240003855991538942790,20,7.897596e+12,19109,1,9.26,1130010230045,"10,427841139451608",18.0,1.66
...,...,...,...,...,...,...,...,...,...,...
129962,35201227849963000110550010010274111010238446,255,7.909194e+12,238097,"4,0000",5.40,NaN,"9,962320527453569",25.0,2.20
129963,35201227849963000110550010010274111010238446,256,7.909194e+12,237644,"1,0000",1.35,NaN,"2,359958054541026",25.0,0.55
129964,35201227849963000110550010010274111010238446,257,7.909194e+12,237586,"1,0000",1.35,NaN,"2,209379819764914",25.0,0.55
129965,35201227849963000110550010010274111010238446,258,7.909194e+12,237792,"1,0000",1.35,NaN,"2,697032222318555",25.0,0.55
129966,35201227849963000110550010010274111010238446,259,7.909194e+12,237677,"1,0000",1.35,NaN,"2,6954513314397834",25.0,0.55

In [20]:
# Renomeação da coluna substituta

merged.rename(columns={'Valor Complementar': 'ST Retido - Base de Cálculo'}, inplace=True)

In [21]:
merged

,Chave Acesso NFe,Item NFE Origem,EAN,Produto,Quantidade Comercial,Valor Produto ou Serviço,ANVISA,ST Retido - Base de Cálculo,ALIQUOTA,ICMS ST Retido- Valor
221,35190905651966000455550240003853111538959838,2,7.897323e+12,818658,1,23.79,1781700600090,"30,902388417592846",18.0,4.60
222,35190905651966000455550240003853111538959838,3,7.891142e+12,70375,2,109.08,1781707960041,"147,88207318044942",18.0,22.07
223,35190905651966000455550240003855991538942790,16,7.891107e+12,2642,2,56.00,1705601000065,"64,1543865634316",18.0,11.37
224,35190905651966000455550240003855991538942790,18,7.898075e+12,50245,1,38.95,1008401390021,"45,668358447774864",18.0,6.97
225,35190905651966000455550240003855991538942790,20,7.897596e+12,19109,1,9.26,1130010230045,"10,427841139451608",18.0,1.66
...,...,...,...,...,...,...,...,...,...,...
129962,35201227849963000110550010010274111010238446,255,7.909194e+12,238097,"4,0000",5.40,NaN,"9,962320527453569",25.0,2.20
129963,35201227849963000110550010010274111010238446,256,7.909194e+12,237644,"1,0000",1.35,NaN,"2,359958054541026",25.0,0.55
129964,35201227849963000110550010010274111010238446,257,7.909194e+12,237586,"1,0000",1.35,NaN,"2,209379819764914",25.0,0.55
129965,35201227849963000110550010010274111010238446,258,7.909194e+12,237792,"1,0000",1.35,NaN,"2,697032222318555",25.0,0.55
129966,35201227849963000110550010010274111010238446,259,7.909194e+12,237677,"1,0000",1.35,NaN,"2,6954513314397834",25.0,0.55

In [22]:
# Geração do arquivo final

path = f'Loja_{loja}/complementar_final_loja_{loja}.xlsx'
with pd.ExcelWriter(path, engine='xlsxwriter') as writer:
    merged.to_excel(writer, engine='xlsxwriter', index=False)