In [13]:
# Importação das bibliotecas necessárias

import pandas as pd

In [14]:
# Definição da loja a ser utilizada

loja = 1
periodo = 2

In [15]:
# Leitura do arquivo da ficha 3 da loja

ficha3 = pd.read_excel(f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\ficha_3_loja_{loja}_p{periodo}_v1.xlsx')
ficha3

,CHV_DOC,DATA,CFOP,NUM_ITEM,cod novo,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT,COD_ITEM,CNPJ EMITENTE,tipo,vBCST,FONTE
0,35191003129126000159590006031131098680305954,2019-10-24,5405,3,100073,1,1,1,1.0,23.422914,...,0.00,0.000000,0.0,0.0,0.000000,100073,NaN,grupo,0.000000,dfe
1,35191027849963000110550010005964131005945510,2019-10-29,1403,20,100073,0,1,1,NaN,NaN,...,63.62,71.877277,0.0,0.0,24.389510,100073,2.784996e+13,grupo,75.582468,entrada_sp
2,35191127849963000110550010006084971006065827,2019-11-09,1403,7,100073,0,1,1,NaN,NaN,...,63.62,71.877277,0.0,0.0,24.389510,100073,2.784996e+13,grupo,75.582468,entrada_sp
3,35191203129126000159590006031131212496179820,2019-12-05,5405,1,100073,1,1,1,NaN,NaN,...,0.00,0.000000,0.0,0.0,0.000000,100073,NaN,grupo,0.000000,dfe
4,35191227849963000110550010006364621006344734,2019-12-08,1403,36,100073,0,1,1,NaN,NaN,...,63.72,71.777277,0.0,0.0,24.389510,100073,2.784996e+13,grupo,75.582468,entrada_sp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493477,35201203129126000159590007086090676940106578,2020-12-23,5405,3,99234,1,1,1,NaN,NaN,...,0.00,0.000000,0.0,0.0,0.000000,99234,NaN,grupo,0.000000,dfe
493478,35201203129126000159590005812821041405820715,2020-12-24,5405,5,99234,1,1,1,NaN,NaN,...,0.00,0.000000,0.0,0.0,0.000000,99234,NaN,grupo,0.000000,dfe
493479,35201227849963000110550010010262221010226748,2020-12-29,1403,19,99234,0,1,1,NaN,NaN,...,1.88,8.606188,0.0,0.0,2.621547,99234,2.784996e+13,grupo,5.632534,entrada_sp
493480,35201203129126000159590007086090696680045137,2020-12-31,5405,4,99234,1,1,1,NaN,NaN,...,0.00,0.000000,0.0,0.0,0.000000,99234,NaN,grupo,0.000000,dfe
493481,35201203129126000159590007086090637396048776,2020-12-05,5405,2,99655,1,1,1,1.0,0.000000,...,0.00,NaN,0.0,0.0,0.000000,99655,NaN,NaN,0.000000,dfe

In [16]:
# Leitura do arquivo da complementar

complementar = pd.read_excel(f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\complementar_loja_{loja}_p{periodo}_v1.xlsx')
complementar

,Unnamed: 0,Chave Acesso NFe,Item NFE Origem,EAN,Produto,Quantidade Comercial,Valor Produto ou Serviço,Valor Base Cálculo ICMS ST Retido Operação Anterior,vPMC,ANVISA,vBCST,ICMS ST Retido-Base de Cálculo,ALIQUOTA,ICMS ST Retido- Valor,DESCONTO_PORCENTAGEM
0,0,35191027849963000110550010005835661005817174,16,7.896095e+12,216747,"1,0000",85.06,110.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,35191061940292000137550300007179251336857706,1,7.898089e+12,26039,"1,0000",14.16,14.98,35.72,NaN,19.217952,4.24,18.0,0.76,NaN
2,3,35191061940292000137550300007276211336956737,1,7.898949e+12,932202,"1,0000",6.38,0.00,39.30,NaN,8.887340,8.89,18.0,1.60,NaN
3,4,35191061940292000137550300007276211336956737,2,7.898636e+12,208603,"1,0000",30.87,0.00,40.59,NaN,43.400133,43.40,25.0,10.85,NaN
4,5,35191061940292000137550300007276211336956737,3,7.898949e+12,113183,"1,0000",24.69,0.00,40.59,NaN,34.711671,34.71,25.0,8.68,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143384,38686,35201271605265006283550010000038881010254270,57,7.897596e+12,19109,1,8.56,9.53,38.48,1130010230045,11.853888,11.85,18.0,2.13,26.55
143385,38698,35201271605265006283550010000039161010254551,5,7.894916e+12,138693,1,1.27,2.40,273.95,1677304350127,4.749165,4.75,12.0,0.57,41.36
143386,38699,35201271605265006283550010000039161010254551,6,7.898148e+12,110783,3,3.84,7.20,273.95,1256801460011,14.359680,14.36,12.0,1.72,41.36
143387,38708,35201271605265006283550010000039161010254551,22,7.896714e+12,831289,2,3.60,3.60,273.95,1558402080024,13.462200,13.46,12.0,1.62,41.36
143388,38713,35201271605265006283550010000039161010254551,39,7.898148e+12,116285,3,4.26,6.30,273.95,1256801780016,15.930270,15.93,12.0,1.91,41.36

In [24]:
# Adição à complementar das informações necessárias da ficha 3

ficha3['NUM_ITEM'] = ficha3['NUM_ITEM'].astype(int)
merged = pd.merge(complementar, ficha3[['CHV_DOC', 'NUM_ITEM', 'Valor Complementar']],
                left_on=['Chave Acesso NFe', 'Item NFE Origem'], right_on=['CHV_DOC', 'NUM_ITEM'],
                how='left')
merged

,Unnamed: 0,Chave Acesso NFe,Item NFE Origem,EAN,Produto,Quantidade Comercial,Valor Produto ou Serviço,Valor Base Cálculo ICMS ST Retido Operação Anterior,vPMC,ANVISA,vBCST,ICMS ST Retido-Base de Cálculo,ALIQUOTA,ICMS ST Retido- Valor,DESCONTO_PORCENTAGEM,CHV_DOC,NUM_ITEM,Valor Complementar
0,0,35191027849963000110550010005835661005817174,16,7.896095e+12,216747,"1,0000",85.06,110.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35191027849963000110550010005835661005817174,16,0.0
1,1,35191061940292000137550300007179251336857706,1,7.898089e+12,26039,"1,0000",14.16,14.98,35.72,NaN,19.217952,4.24,18.0,0.76,NaN,35191061940292000137550300007179251336857706,1,0.0
2,3,35191061940292000137550300007276211336956737,1,7.898949e+12,932202,"1,0000",6.38,0.00,39.30,NaN,8.887340,8.89,18.0,1.60,NaN,35191061940292000137550300007276211336956737,1,0.0
3,4,35191061940292000137550300007276211336956737,2,7.898636e+12,208603,"1,0000",30.87,0.00,40.59,NaN,43.400133,43.40,25.0,10.85,NaN,35191061940292000137550300007276211336956737,2,0.0
4,5,35191061940292000137550300007276211336956737,3,7.898949e+12,113183,"1,0000",24.69,0.00,40.59,NaN,34.711671,34.71,25.0,8.68,NaN,35191061940292000137550300007276211336956737,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143384,38686,35201271605265006283550010000038881010254270,57,7.897596e+12,19109,1,8.56,9.53,38.48,1130010230045,11.853888,11.85,18.0,2.13,26.55,35201271605265006283550010000038881010254270,57,0.0
143385,38698,35201271605265006283550010000039161010254551,5,7.894916e+12,138693,1,1.27,2.40,273.95,1677304350127,4.749165,4.75,12.0,0.57,41.36,35201271605265006283550010000039161010254551,5,0.0
143386,38699,35201271605265006283550010000039161010254551,6,7.898148e+12,110783,3,3.84,7.20,273.95,1256801460011,14.359680,14.36,12.0,1.72,41.36,35201271605265006283550010000039161010254551,6,0.0
143387,38708,35201271605265006283550010000039161010254551,22,7.896714e+12,831289,2,3.60,3.60,273.95,1558402080024,13.462200,13.46,12.0,1.62,41.36,35201271605265006283550010000039161010254551,22,0.0
143388,38713,35201271605265006283550010000039161010254551,39,7.898148e+12,116285,3,4.26,6.30,273.95,1256801780016,15.930270,15.93,12.0,1.91,41.36,35201271605265006283550010000039161010254551,39,0.0

In [25]:
merged[merged['Valor Complementar'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Chave Acesso NFe, Item NFE Origem, EAN, Produto, Quantidade Comercial, Valor Produto ou Serviço, Valor Base Cálculo ICMS ST Retido Operação Anterior, vPMC, ANVISA, vBCST, ICMS ST Retido-Base de Cálculo, ALIQUOTA, ICMS ST Retido- Valor, DESCONTO_PORCENTAGEM, CHV_DOC, NUM_ITEM, Valor Complementar]
Index: []

In [26]:
# Substituição da coluna ST Retido - Base de Cálculo por Valor complementar
merged = merged[['Chave Acesso NFe', 'Item NFE Origem', 'EAN', 'Produto', 'Quantidade Comercial', 'Valor Produto ou Serviço', 
                'ANVISA', 'Valor Complementar', 'ALIQUOTA', 'ICMS ST Retido- Valor']]

merged = merged[merged['Valor Complementar'].notnull()]

merged

,Chave Acesso NFe,Item NFE Origem,EAN,Produto,Quantidade Comercial,Valor Produto ou Serviço,ANVISA,Valor Complementar,ALIQUOTA,ICMS ST Retido- Valor
0,35191027849963000110550010005835661005817174,16,7.896095e+12,216747,"1,0000",85.06,NaN,0.0,NaN,NaN
1,35191061940292000137550300007179251336857706,1,7.898089e+12,26039,"1,0000",14.16,NaN,0.0,18.0,0.76
2,35191061940292000137550300007276211336956737,1,7.898949e+12,932202,"1,0000",6.38,NaN,0.0,18.0,1.60
3,35191061940292000137550300007276211336956737,2,7.898636e+12,208603,"1,0000",30.87,NaN,0.0,25.0,10.85
4,35191061940292000137550300007276211336956737,3,7.898949e+12,113183,"1,0000",24.69,NaN,0.0,25.0,8.68
...,...,...,...,...,...,...,...,...,...,...
143384,35201271605265006283550010000038881010254270,57,7.897596e+12,19109,1,8.56,1130010230045,0.0,18.0,2.13
143385,35201271605265006283550010000039161010254551,5,7.894916e+12,138693,1,1.27,1677304350127,0.0,12.0,0.57
143386,35201271605265006283550010000039161010254551,6,7.898148e+12,110783,3,3.84,1256801460011,0.0,12.0,1.72
143387,35201271605265006283550010000039161010254551,22,7.896714e+12,831289,2,3.60,1558402080024,0.0,12.0,1.62
143388,35201271605265006283550010000039161010254551,39,7.898148e+12,116285,3,4.26,1256801780016,0.0,12.0,1.91

In [29]:
merged = merged[merged['Valor Complementar'] > 0]
merged

,Chave Acesso NFe,Item NFE Origem,EAN,Produto,Quantidade Comercial,Valor Produto ou Serviço,ANVISA,Valor Complementar,ALIQUOTA,ICMS ST Retido- Valor
63,35191023276873000127550010002076011168495142,1,7.898623e+12,190546,"1,0000",7.64,NaN,15.166667,18.0,2.38
64,35191023276873000127550010002076011168495142,2,7.898623e+12,222091,"6,0000",45.90,NaN,91.222222,18.0,13.48
65,35191023276873000127550010002076011168495142,3,7.898623e+12,20677,"1,0000",23.43,NaN,53.166667,18.0,7.97
66,35191023276873000127550010002076011168495142,4,NaN,185090,"1,0000",2.24,NaN,3.500000,12.0,0.41
67,35191023276873000127550010002076011168495142,5,NaN,185116,"2,0000",4.90,NaN,7.583333,12.0,0.91
...,...,...,...,...,...,...,...,...,...,...
143349,35201127849963000110550010009987821009953231,42,7.896523e+12,127951,3,6.24,1438101440098,4.099591,12.0,2.80
143350,35201127849963000110550010009987821009953231,46,7.896714e+12,831289,2,3.60,1558402080024,48.574289,12.0,1.62
143351,35201127849963000110550010009987821009953231,61,7.898050e+12,192088,1,12.45,1039201800021,57.542805,12.0,5.59
143352,35201127849963000110550010009987821009953231,75,7.899095e+12,229088,3,4.32,1542302820021,19.767021,12.0,1.94
143353,35201127849963000110550010009990221009955631,9,7.896473e+12,241299,3,16.53,1181902140017,329.494210,12.0,7.42

In [30]:
# Renomeação da coluna substituta
merged['Valor Complementar'] = merged['Valor Complementar'].astype(str).str.replace('.', ',')
merged.rename(columns={'Valor Complementar': 'ST Retido - Base de Cálculo'}, inplace=True)

C:\Users\vinic\AppData\Local\Temp\ipykernel_35392\175989642.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged['Valor Complementar'] = merged['Valor Complementar'].astype(str).str.replace('.', ',')
C:\Users\vinic\AppData\Local\Temp\ipykernel_35392\175989642.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Valor Complementar'] = merged['Valor Complementar'].astype(str).str.replace('.', ',')
C:\Users\vinic\AppData\Local\Temp\ipykernel_35392\175989642.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged.rename(columns={'Valor Complementar': 'ST Retido - Base de Cálculo'}, inplace=True)

In [31]:
merged

,Chave Acesso NFe,Item NFE Origem,EAN,Produto,Quantidade Comercial,Valor Produto ou Serviço,ANVISA,ST Retido - Base de Cálculo,ALIQUOTA,ICMS ST Retido- Valor
63,35191023276873000127550010002076011168495142,1,7.898623e+12,190546,"1,0000",7.64,NaN,"15,16666666666667",18.0,2.38
64,35191023276873000127550010002076011168495142,2,7.898623e+12,222091,"6,0000",45.90,NaN,"91,22222222222223",18.0,13.48
65,35191023276873000127550010002076011168495142,3,7.898623e+12,20677,"1,0000",23.43,NaN,"53,16666666666667",18.0,7.97
66,35191023276873000127550010002076011168495142,4,NaN,185090,"1,0000",2.24,NaN,"3,5",12.0,0.41
67,35191023276873000127550010002076011168495142,5,NaN,185116,"2,0000",4.90,NaN,"7,583333333333334",12.0,0.91
...,...,...,...,...,...,...,...,...,...,...
143349,35201127849963000110550010009987821009953231,42,7.896523e+12,127951,3,6.24,1438101440098,"4,099591331224026",12.0,2.80
143350,35201127849963000110550010009987821009953231,46,7.896714e+12,831289,2,3.60,1558402080024,"48,57428862362743",12.0,1.62
143351,35201127849963000110550010009987821009953231,61,7.898050e+12,192088,1,12.45,1039201800021,"57,54280549372284",12.0,5.59
143352,35201127849963000110550010009987821009953231,75,7.899095e+12,229088,3,4.32,1542302820021,"19,7670207192581",12.0,1.94
143353,35201127849963000110550010009990221009955631,9,7.896473e+12,241299,3,16.53,1181902140017,"329,4942102714093",12.0,7.42

In [32]:
merged.drop_duplicates()

,Chave Acesso NFe,Item NFE Origem,EAN,Produto,Quantidade Comercial,Valor Produto ou Serviço,ANVISA,ST Retido - Base de Cálculo,ALIQUOTA,ICMS ST Retido- Valor
63,35191023276873000127550010002076011168495142,1,7.898623e+12,190546,"1,0000",7.64,NaN,"15,16666666666667",18.0,2.38
64,35191023276873000127550010002076011168495142,2,7.898623e+12,222091,"6,0000",45.90,NaN,"91,22222222222223",18.0,13.48
65,35191023276873000127550010002076011168495142,3,7.898623e+12,20677,"1,0000",23.43,NaN,"53,16666666666667",18.0,7.97
66,35191023276873000127550010002076011168495142,4,NaN,185090,"1,0000",2.24,NaN,"3,5",12.0,0.41
67,35191023276873000127550010002076011168495142,5,NaN,185116,"2,0000",4.90,NaN,"7,583333333333334",12.0,0.91
...,...,...,...,...,...,...,...,...,...,...
143349,35201127849963000110550010009987821009953231,42,7.896523e+12,127951,3,6.24,1438101440098,"4,099591331224026",12.0,2.80
143350,35201127849963000110550010009987821009953231,46,7.896714e+12,831289,2,3.60,1558402080024,"48,57428862362743",12.0,1.62
143351,35201127849963000110550010009987821009953231,61,7.898050e+12,192088,1,12.45,1039201800021,"57,54280549372284",12.0,5.59
143352,35201127849963000110550010009987821009953231,75,7.899095e+12,229088,3,4.32,1542302820021,"19,7670207192581",12.0,1.94
143353,35201127849963000110550010009990221009955631,9,7.896473e+12,241299,3,16.53,1181902140017,"329,4942102714093",12.0,7.42

In [33]:
# Geração do arquivo final

path = f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\complementar_final_loja_{loja}_p{periodo}_v1.xlsx'
with pd.ExcelWriter(path, engine='xlsxwriter') as writer:
    merged.to_excel(writer, engine='xlsxwriter', index=False)