In [1]:
# Importação das bibliotecas necessárias

import pandas as pd

In [2]:
# Definição da loja a ser utilizada

loja = 15
periodo = 2

In [3]:
# Leitura do arquivo da ficha 3 da loja

ficha3_1 = pd.read_excel(f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\ficha_3_loja_{loja}_p{periodo}_parte1_v1.xlsx')
ficha3_1

,CHV_DOC,DATA,CFOP,NUM_ITEM,cod novo,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT,COD_ITEM,CNPJ EMITENTE,tipo,FONTE
0,35191027849963000110550010005774841005756440,2019-10-08,1403,11,18,0,1,9,9.0,38.759676,...,139.05,153.09,158.98,0.0,0.0,56.1726,18,2.784996e+13,grupo,entrada_sp
1,35191027849963000110550010005914521005895993,2019-10-23,1403,3,18,0,1,4,NaN,NaN,...,61.80,68.04,70.66,0.0,0.0,24.9660,18,2.784996e+13,grupo,entrada_sp
2,35191006161357001029590001319661938836612389,2019-10-24,5405,9,18,1,1,1,NaN,NaN,...,19.24,0.00,NaN,0.0,0.0,0.0000,18,NaN,grupo,dfe
3,35191006161357001029590001319661938836612389,2019-10-24,5405,10,18,1,1,1,NaN,NaN,...,19.24,0.00,NaN,0.0,0.0,0.0000,18,NaN,grupo,dfe
4,35191027849963000110550010005962641005944032,2019-10-29,1403,6,18,0,1,2,NaN,NaN,...,30.90,34.02,35.33,0.0,0.0,12.4830,18,2.784996e+13,grupo,entrada_sp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
816435,35200106161357001029590000458021832055491263,2020-01-23,5405,1,940044,1,1,1,1.0,1.695967,...,19.14,0.00,0.00,0.0,0.0,0.0000,99150,NaN,outros2,dfe
816436,35200106161357001371550020000254681165494190,2020-01-29,1409,2,940044,0,1,2,NaN,NaN,...,17.08,29.50,0.00,0.0,0.0,3.5400,99150,6.161357e+12,outros2,entrada_sp
816437,35200106161357001029590000461292710905840465,2020-01-29,5405,1,940044,1,1,1,NaN,NaN,...,12.76,0.00,0.00,0.0,0.0,0.0000,99150,NaN,outros2,dfe
816438,35201271605265006283550010000016371010231769,2020-12-31,1403,77,940045,0,1,1,0.0,0.000000,...,3.46,1.88,0.00,0.0,0.0,0.4700,99234,7.160527e+13,outros2,entrada_sp
816439,35201271605265006283550010000042411010257800,2020-12-31,1403,102,940045,0,1,1,NaN,NaN,...,3.46,1.88,0.00,0.0,0.0,0.4700,99234,7.160527e+13,outros2,entrada_sp

In [4]:
# Leitura do arquivo da ficha 3 da loja

ficha3_2 = pd.read_excel(f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\ficha_3_loja_{loja}_p{periodo}_parte2_v1.xlsx')
ficha3_2

,CHV_DOC,DATA,CFOP,NUM_ITEM,cod novo,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT,COD_ITEM,CNPJ EMITENTE,tipo,FONTE
0,35190927849963000110550010005711631005693320,2019-10-01,1403,38,195776,0,1,1,0.0,0.0,...,8.46,5.37,NaN,0.0,0.0,1.3425,195776,2.784996e+13,grupo,entrada_sp
1,35191027849963000110550010005762761005744363,2019-10-05,1403,35,195776,0,1,1,NaN,NaN,...,8.46,5.37,8.31,0.0,0.0,3.4200,195776,2.784996e+13,grupo,entrada_sp
2,35191006161357001029590001272802165696307606,2019-10-09,5405,3,195776,1,1,1,NaN,NaN,...,11.99,0.00,NaN,0.0,0.0,0.0000,195776,NaN,grupo,dfe
3,35191027849963000110550010005817661005799089,2019-10-11,1403,36,195776,0,1,1,NaN,NaN,...,8.46,5.37,8.31,0.0,0.0,3.4200,195776,2.784996e+13,grupo,entrada_sp
4,35191006161357001029590001319661925878997570,2019-10-16,5405,19,195776,1,1,1,NaN,NaN,...,11.99,0.00,NaN,0.0,0.0,0.0000,195776,NaN,grupo,dfe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580310,35191261940292000137550310004704221104408801,2019-12-28,1403,11,939987,0,1,1,NaN,NaN,...,76.62,0.00,0.00,0.0,0.0,0.0000,935528,6.194029e+13,outros2,entrada_sp
580311,35200206161357001029590000458021844947576615,2020-02-04,5405,2,939987,1,1,1,NaN,NaN,...,100.90,0.00,0.00,0.0,0.0,0.0000,935528,NaN,outros2,dfe
580312,35200406161357001029590000461292846055933779,2020-04-13,5405,1,939987,1,1,1,NaN,NaN,...,100.90,0.00,0.00,0.0,0.0,0.0000,935528,NaN,outros2,dfe
580313,35200806161357001029590001272802676018284665,2020-08-30,5405,1,939987,1,1,1,NaN,NaN,...,90.10,0.00,0.00,0.0,0.0,0.0000,935528,NaN,outros2,dfe
580314,35201006161357001029590001311792474376495063,2020-10-26,5405,1,939987,1,1,1,NaN,NaN,...,100.90,0.00,0.00,0.0,0.0,0.0000,935528,NaN,outros2,dfe

In [5]:
ficha_3 = pd.concat([ficha3_1, ficha3_2])
ficha_3

,CHV_DOC,DATA,CFOP,NUM_ITEM,cod novo,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT,COD_ITEM,CNPJ EMITENTE,tipo,FONTE
0,35191027849963000110550010005774841005756440,2019-10-08,1403,11,18,0,1,9,9.0,38.759676,...,139.05,153.09,158.98,0.0,0.0,56.1726,18,2.784996e+13,grupo,entrada_sp
1,35191027849963000110550010005914521005895993,2019-10-23,1403,3,18,0,1,4,NaN,NaN,...,61.80,68.04,70.66,0.0,0.0,24.9660,18,2.784996e+13,grupo,entrada_sp
2,35191006161357001029590001319661938836612389,2019-10-24,5405,9,18,1,1,1,NaN,NaN,...,19.24,0.00,NaN,0.0,0.0,0.0000,18,NaN,grupo,dfe
3,35191006161357001029590001319661938836612389,2019-10-24,5405,10,18,1,1,1,NaN,NaN,...,19.24,0.00,NaN,0.0,0.0,0.0000,18,NaN,grupo,dfe
4,35191027849963000110550010005962641005944032,2019-10-29,1403,6,18,0,1,2,NaN,NaN,...,30.90,34.02,35.33,0.0,0.0,12.4830,18,2.784996e+13,grupo,entrada_sp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580310,35191261940292000137550310004704221104408801,2019-12-28,1403,11,939987,0,1,1,NaN,NaN,...,76.62,0.00,0.00,0.0,0.0,0.0000,935528,6.194029e+13,outros2,entrada_sp
580311,35200206161357001029590000458021844947576615,2020-02-04,5405,2,939987,1,1,1,NaN,NaN,...,100.90,0.00,0.00,0.0,0.0,0.0000,935528,NaN,outros2,dfe
580312,35200406161357001029590000461292846055933779,2020-04-13,5405,1,939987,1,1,1,NaN,NaN,...,100.90,0.00,0.00,0.0,0.0,0.0000,935528,NaN,outros2,dfe
580313,35200806161357001029590001272802676018284665,2020-08-30,5405,1,939987,1,1,1,NaN,NaN,...,90.10,0.00,0.00,0.0,0.0,0.0000,935528,NaN,outros2,dfe
580314,35201006161357001029590001311792474376495063,2020-10-26,5405,1,939987,1,1,1,NaN,NaN,...,100.90,0.00,0.00,0.0,0.0,0.0000,935528,NaN,outros2,dfe

In [6]:
# Leitura do arquivo da complementar

complementar = pd.read_excel(f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\complementar_loja_{loja}_p{periodo}_v1.xlsx')
complementar

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_15\\complementar_loja_15_p2_v1.xlsx'

In [ ]:
# Adição à complementar das informações necessárias da ficha 3

merged = pd.merge(complementar, ficha_3[['CHV_DOC', 'NUM_ITEM', 'Valor Complementar']],
                left_on=['Chave Acesso NFe', 'Item NFE Origem'], right_on=['CHV_DOC', 'NUM_ITEM'],
                how='left')
merged

In [ ]:
merged[merged['Valor Complementar'].notnull()]

In [ ]:
# Substituição da coluna ST Retido - Base de Cálculo por Valor complementar
merged = merged[['Chave Acesso NFe', 'Item NFE Origem', 'EAN', 'Produto', 'Quantidade Comercial', 'Valor Produto ou Serviço', 
                'ANVISA', 'Valor Complementar', 'ALIQUOTA', 'ICMS ST Retido- Valor']]

merged = merged[merged['Valor Complementar'].notnull()]

merged

In [ ]:
merged = merged[merged['Valor Complementar'] > 0]
merged

In [ ]:
# Renomeação da coluna substituta
merged['Valor Complementar'] = merged['Valor Complementar'].astype(str).str.replace('.', ',')
merged.rename(columns={'Valor Complementar': 'ST Retido - Base de Cálculo'}, inplace=True)

In [ ]:
merged

In [ ]:
# Geração do arquivo final

path = f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\complementar_final_loja_{loja}_p{periodo}_v1.xlsx'
with pd.ExcelWriter(path, engine='xlsxwriter') as writer:
    merged.to_excel(writer, engine='xlsxwriter', index=False)