In [1]:
# Importação das bibliotecas necessárias

import pandas as pd
import numpy as np

In [2]:
# Definicção de qual loja irá rodar o script

loja = 28

In [3]:
# Leitura do arquivo da tabela 2

tabela_2 = pd.read_csv(f'Loja_{loja}/loja_{loja}_tabela_2_v1.csv')
tabela_2.head()

C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\629038885.py:3: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  tabela_2 = pd.read_csv(f'Loja_{loja}/loja_{loja}_tabela_2_v1.csv')

,Unnamed: 0,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_EFD,...,Valor ICMS Operação,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Valor Base Cálculo ICMS Substituição Tributária,FONTE
0,154,35191006161357001371550020000229431157924751,2019-10-01,1411,1,879114,0,-1,1,NaN,...,0.0,Clor Oxibutinina Ems 120ml Xpe,SEM GTIN,UN,30049099.0,1300201.0,6.161357e+12,0.0,NaN,entrada_oprprp
1,155,35191006161357001371550020000229451157925272,2019-10-01,1411,1,760678,0,-1,1,NaN,...,0.0,Aradois 25mg 30S Biolab Sanus,SEM GTIN,UN,30049069.0,1300300.0,6.161357e+12,0.0,NaN,entrada_oprprp
2,156,35191006161357001371550020000229551157942670,2019-10-01,1411,1,46805,0,-1,1,NaN,...,0.0,Aciclovir Sand 400mg 30S,SEM GTIN,UN,30049069.0,1300200.0,6.161357e+12,0.0,NaN,entrada_oprprp
3,158,35191006161357001371550020000229701157965951,2019-10-01,1411,1,190652,0,-1,1,NaN,...,0.0,Ivermectina 6mg 4S Vitamedic,SEM GTIN,UN,30049059.0,1300200.0,6.161357e+12,0.0,NaN,entrada_oprprp
4,159,35191006161357001371550020000229721157980041,2019-10-02,1411,1,204487,0,-1,1,NaN,...,0.0,Esc D Condor Lilica+Gel D,SEM GTIN,UN,96032100.0,2005800.0,6.161357e+12,0.0,NaN,entrada_oprprp

In [4]:
# Retirada de colunas desnecessárias e ordenação do dataframe
tabela_2 = tabela_2.drop('Unnamed: 0', axis=1)
tabela_2 = tabela_2.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                           ascending=[True, True, True, False])
tabela_2

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_EFD,ICMS_TOT,...,Valor ICMS Operação,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Valor Base Cálculo ICMS Substituição Tributária,FONTE
19554,35191027849963000110550010005851251005832739,2019-10-16,1403,6,18,0,1,3,3.0,18.7236,...,0.0,DEPAKENE 250MG 25'S ABB C1,7891158000942,UN,30049099.0,1300100.0,2.784996e+13,6.161357e+12,NaN,entrada_sp
20711,35191027849963000110550010005864571005846114,2019-10-17,1403,6,18,0,1,2,2.0,12.4830,...,0.0,DEPAKENE 250MG 25'S ABB C1,7891158000942,UN,30049099.0,1300100.0,2.784996e+13,6.161357e+12,NaN,entrada_sp
850132,35191006161357001371590000459452376749653022,2019-10-22,5405,2,18,1,1,1,NaN,NaN,...,0.0,3759 - DEPAKENE 250MG 25'S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
850133,35191006161357001371590000459452376749653022,2019-10-22,5405,3,18,1,1,1,NaN,NaN,...,0.0,3759 - DEPAKENE 250MG 25'S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
850134,35191006161357001371590000459452376749653022,2019-10-22,5405,4,18,1,1,1,NaN,NaN,...,0.0,3759 - DEPAKENE 250MG 25'S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278870,35201206161357001371590000459452944477807768,2020-12-02,5405,2,935916,1,1,1,NaN,NaN,...,0.0,82296 - ATORVASTATINA 40MG 30S EMS,7896004729442.0,UN,30049069.0,NaN,NaN,NaN,NaN,dfe
1278871,35201206161357001371590000459452944477807768,2020-12-02,5405,3,935916,1,1,1,NaN,NaN,...,0.0,82296 - ATORVASTATINA 40MG 30S EMS,7896004729442.0,UN,30049069.0,NaN,NaN,NaN,NaN,dfe
1082981,35201206161357001371590000162453848713824403,2020-12-07,5405,18,935916,1,1,1,NaN,NaN,...,0.0,4684 - ATORVASTATINA 40MG 3,7896004729442.0,UN,30049069.0,NaN,NaN,NaN,NaN,dfe
1082982,35201206161357001371590000162453848713824403,2020-12-07,5405,19,935916,1,1,1,NaN,NaN,...,0.0,4684 - ATORVASTATINA 40MG 3,7896004729442.0,UN,30049069.0,NaN,NaN,NaN,NaN,dfe
1082983,35201206161357001371590000162453848713824403,2020-12-07,5405,20,935916,1,1,1,NaN,NaN,...,0.0,4684 - ATORVASTATINA 40MG 3,7896004729442.0,UN,30049069.0,NaN,NaN,NaN,NaN,dfe

In [5]:
# Separação do dataframe em dois diferentes para tratamento 
# e geração dos arquivos
cods = list(tabela_2['COD_ITEM'].unique())
l = len(cods)
cods_p1 = cods[:int(l/2)]
cods_p2 = cods[int(l/2):]

In [6]:
tabela_2_1 = tabela_2[tabela_2['COD_ITEM'].isin(cods_p1)]
tabela_2_2 = tabela_2[tabela_2['COD_ITEM'].isin(cods_p2)]

In [7]:
# Visualização do primeiro dataframe
tabela_2_1

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_EFD,ICMS_TOT,...,Valor ICMS Operação,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Valor Base Cálculo ICMS Substituição Tributária,FONTE
19554,35191027849963000110550010005851251005832739,2019-10-16,1403,6,18,0,1,3,3.0,18.7236,...,0.0,DEPAKENE 250MG 25'S ABB C1,7891158000942,UN,30049099.0,1300100.0,2.784996e+13,6.161357e+12,NaN,entrada_sp
20711,35191027849963000110550010005864571005846114,2019-10-17,1403,6,18,0,1,2,2.0,12.4830,...,0.0,DEPAKENE 250MG 25'S ABB C1,7891158000942,UN,30049099.0,1300100.0,2.784996e+13,6.161357e+12,NaN,entrada_sp
850132,35191006161357001371590000459452376749653022,2019-10-22,5405,2,18,1,1,1,NaN,NaN,...,0.0,3759 - DEPAKENE 250MG 25'S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
850133,35191006161357001371590000459452376749653022,2019-10-22,5405,3,18,1,1,1,NaN,NaN,...,0.0,3759 - DEPAKENE 250MG 25'S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
850134,35191006161357001371590000459452376749653022,2019-10-22,5405,4,18,1,1,1,NaN,NaN,...,0.0,3759 - DEPAKENE 250MG 25'S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900591,35201106161357001371590000162453829714741625,2020-11-28,5405,2,196006,1,1,1,NaN,NaN,...,0.0,39059 - ESC D COLG PRO CUIDA,7891024034590.0,UN,96032100.0,NaN,NaN,NaN,NaN,dfe
1056476,35201106161357001371590000459452936736637761,2020-11-30,5405,1,196006,1,1,1,NaN,NaN,...,0.0,45369 - ESC D COLG PRO CUIDA,7891024034590.0,UN,96032100.0,NaN,NaN,NaN,NaN,dfe
350622,35201227849963000110550010010019721009986165,2020-12-02,1403,77,196006,0,1,2,2.0,3.4224,...,0.0,Esc D Colg Pro Cuidado C/2,NaN,UN,96032100.0,2005800.0,2.784996e+13,6.161357e+12,NaN,entrada_sp
935517,35201206161357001371590000460833867937993617,2020-12-26,5405,4,196006,1,1,1,NaN,NaN,...,0.0,3945 - ESC D COLG PRO CUIDADO C/2,7891024034590.0,UN,96032100.0,NaN,NaN,NaN,NaN,dfe
368887,35201271605265006283550010000019521010234914,2020-12-29,1403,131,196006,0,1,1,1.0,1.7316,...,0.0,Esc D Colg Pro Cuidado C/2,NaN,UN,96032100.0,2005800.0,7.160527e+13,6.161357e+12,NaN,entrada_sp

In [8]:
# Visualização dos segundo dataframe
tabela_2_2

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_EFD,ICMS_TOT,...,Valor ICMS Operação,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Valor Base Cálculo ICMS Substituição Tributária,FONTE
811125,35191106161357001371590001294192941779826503,2019-11-06,5405,1,196014,1,1,1,NaN,NaN,...,0.0,33160 - ESC D COLG PERIOGARD,7891024019610.0,UN,96032100.0,NaN,NaN,NaN,NaN,dfe
52971,35191127849963000110550010006172341006153074,2019-11-19,1403,35,196014,0,1,1,1.0,3.402,...,0.0,Esc D Colg Periogard Ex Macia,NaN,UN,96032100.0,2005800.0,2.784996e+13,6.161357e+12,NaN,entrada_sp
733499,35191206161357001371590000459452460308502623,2019-12-19,5405,5,196014,1,1,1,NaN,NaN,...,0.0,300 - ESC D COLG PERIOGARD,7891024019610.0,UN,96032100.0,NaN,NaN,NaN,NaN,dfe
88805,35191227849963000110550010006528381006507701,2019-12-21,1403,17,196014,0,1,1,1.0,3.402,...,0.0,Esc D Colg Periogard Ex Macia,NaN,UN,96032100.0,2005800.0,2.784996e+13,6.161357e+12,NaN,entrada_sp
511466,35191206161357001371590000460833141663249088,2019-12-26,5405,3,196014,1,1,1,NaN,NaN,...,0.0,2844 - ESC D COLG PERIOGARD,7891024019610.0,UN,96032100.0,NaN,NaN,NaN,NaN,dfe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278870,35201206161357001371590000459452944477807768,2020-12-02,5405,2,935916,1,1,1,NaN,NaN,...,0.0,82296 - ATORVASTATINA 40MG 30S EMS,7896004729442.0,UN,30049069.0,NaN,NaN,NaN,NaN,dfe
1278871,35201206161357001371590000459452944477807768,2020-12-02,5405,3,935916,1,1,1,NaN,NaN,...,0.0,82296 - ATORVASTATINA 40MG 30S EMS,7896004729442.0,UN,30049069.0,NaN,NaN,NaN,NaN,dfe
1082981,35201206161357001371590000162453848713824403,2020-12-07,5405,18,935916,1,1,1,NaN,NaN,...,0.0,4684 - ATORVASTATINA 40MG 3,7896004729442.0,UN,30049069.0,NaN,NaN,NaN,NaN,dfe
1082982,35201206161357001371590000162453848713824403,2020-12-07,5405,19,935916,1,1,1,NaN,NaN,...,0.0,4684 - ATORVASTATINA 40MG 3,7896004729442.0,UN,30049069.0,NaN,NaN,NaN,NaN,dfe
1082983,35201206161357001371590000162453848713824403,2020-12-07,5405,20,935916,1,1,1,NaN,NaN,...,0.0,4684 - ATORVASTATINA 40MG 3,7896004729442.0,UN,30049069.0,NaN,NaN,NaN,NaN,dfe

In [9]:
# Adição das informações necessárias ao dataframe 1
tabela_2_1['QTD_INI'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['ICMS_INI'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['QTD_ent1_devolv_ent'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['ICMS_TOT'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['ICMS_TOT_0'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['ICMS_TOT_ent_unit'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['ULT_ICMS_TOT_ent_unit'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['ICMS_TOT_1'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['qtd_saida_1_devolv_saida'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['ICMS_SAIDA_UNI'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['ULT_ICMS_SAIDA_UNI'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['ICMS_SAIDA'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['ICMS_TOT_PCAT'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['VLR_CONFR_UNIT'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['ULT_VLR_CONFR_UNIT'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['VLR_CONFR_1'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['QTD_SALDO'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['ICMS_TOT_SALDO'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['VLR_RESSARCIMENTO'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['VLR_COMPLEMENTO'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['COD_LEGAL_PCAT'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['VLR_CONFR_PCAT'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['SALDO_FINAL_MES_QTD'] = [np.nan]*tabela_2_1.shape[0]
tabela_2_1['SALDO_FINAL_MES_ICMS'] = [np.nan]*tabela_2_1.shape[0]


tabela_2_1_final = tabela_2_1[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM',
                          'COD_ITEM', 'IND_OPER', 'SUB_TIPO', 'QTD_CAT',
                          'QTD_INI', 'ICMS_INI', 'QTD_ent1_devolv_ent',
                          'ICMS_TOT_0', 'ICMS_TOT_ent_unit','ULT_ICMS_TOT_ent_unit',
                          'ICMS_TOT_1', 'qtd_saida_1_devolv_saida','ICMS_SAIDA_UNI',
                          'ULT_ICMS_SAIDA_UNI', 'ICMS_SAIDA', 'ICMS_TOT_PCAT',
                          'VL_CONFR_0', 'VLR_CONFR_UNIT', 'ULT_VLR_CONFR_UNIT',
                          'VLR_CONFR_1', 'QTD_SALDO', 'ICMS_TOT_SALDO', 'VLR_RESSARCIMENTO',
                          'VLR_COMPLEMENTO', 'COD_LEGAL', 'COD_LEGAL_PCAT', 'VLR_CONFR_PCAT',
                          'SALDO_FINAL_MES_QTD', 'SALDO_FINAL_MES_ICMS','ALIQUOTA',
                          'VALOR', 'Valor Base Cálculo ICMS ST Retido Operação Anterior',
                          'Valor Complementar', 'Valor ICMS Substituição Tributária',
                          'Valor ICMS Operação', 'ICMS_TOT']]
tabela_2_1_final

C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['QTD_INI'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['ICMS_INI'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['QTD_ent1_devolv_ent'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['ICMS_TOT'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['ICMS_TOT_0'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['ICMS_TOT_ent_unit'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['ULT_ICMS_TOT_ent_unit'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['ICMS_TOT_1'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['qtd_saida_1_devolv_saida'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['ICMS_SAIDA_UNI'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['ULT_ICMS_SAIDA_UNI'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['ICMS_SAIDA'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['ICMS_TOT_PCAT'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['VLR_CONFR_UNIT'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['ULT_VLR_CONFR_UNIT'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['VLR_CONFR_1'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['QTD_SALDO'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['ICMS_TOT_SALDO'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['VLR_RESSARCIMENTO'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['VLR_COMPLEMENTO'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['COD_LEGAL_PCAT'] = [np.nan]*tabela_2_1.shape[0]

C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['VLR_CONFR_PCAT'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['SALDO_FINAL_MES_QTD'] = [np.nan]*tabela_2_1.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\604258699.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1['SALDO_FINAL_MES_ICMS'] = [np.nan]*tabela_2_1.shape[0]

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,VLR_CONFR_PCAT,SALDO_FINAL_MES_QTD,SALDO_FINAL_MES_ICMS,ALIQUOTA,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT
19554,35191027849963000110550010005851251005832739,2019-10-16,1403,6,18,0,1,3,NaN,NaN,...,NaN,NaN,NaN,18.0,46.35,51.03,52.99,0.0,0.0,NaN
20711,35191027849963000110550010005864571005846114,2019-10-17,1403,6,18,0,1,2,NaN,NaN,...,NaN,NaN,NaN,18.0,30.90,34.02,35.33,0.0,0.0,NaN
850132,35191006161357001371590000459452376749653022,2019-10-22,5405,2,18,1,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,19.72,0.00,NaN,0.0,0.0,NaN
850133,35191006161357001371590000459452376749653022,2019-10-22,5405,3,18,1,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,19.72,0.00,NaN,0.0,0.0,NaN
850134,35191006161357001371590000459452376749653022,2019-10-22,5405,4,18,1,1,1,NaN,NaN,...,NaN,NaN,NaN,18.0,19.72,0.00,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900591,35201106161357001371590000162453829714741625,2020-11-28,5405,2,196006,1,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,10.99,0.00,NaN,0.0,0.0,NaN
1056476,35201106161357001371590000459452936736637761,2020-11-30,5405,1,196006,1,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,10.99,0.00,NaN,0.0,0.0,NaN
350622,35201227849963000110550010010019721009986165,2020-12-02,1403,77,196006,0,1,2,NaN,NaN,...,NaN,NaN,NaN,12.0,18.48,28.16,0.36,0.0,0.0,NaN
935517,35201206161357001371590000460833867937993617,2020-12-26,5405,4,196006,1,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,10.99,0.00,NaN,0.0,0.0,NaN
368887,35201271605265006283550010000019521010234914,2020-12-29,1403,131,196006,0,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,9.35,13.31,1.12,0.0,0.0,NaN

In [10]:
# Adição das informações necessárias ao dataframe 2
tabela_2_2['QTD_INI'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['ICMS_INI'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['QTD_ent1_devolv_ent'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['ICMS_TOT'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['ICMS_TOT_0'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['ICMS_TOT_ent_unit'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['ULT_ICMS_TOT_ent_unit'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['ICMS_TOT_1'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['qtd_saida_1_devolv_saida'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['ICMS_SAIDA_UNI'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['ULT_ICMS_SAIDA_UNI'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['ICMS_SAIDA'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['ICMS_TOT_PCAT'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['VLR_CONFR_UNIT'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['ULT_VLR_CONFR_UNIT'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['VLR_CONFR_1'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['QTD_SALDO'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['ICMS_TOT_SALDO'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['VLR_RESSARCIMENTO'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['VLR_COMPLEMENTO'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['COD_LEGAL_PCAT'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['VLR_CONFR_PCAT'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['SALDO_FINAL_MES_QTD'] = [np.nan]*tabela_2_2.shape[0]
tabela_2_2['SALDO_FINAL_MES_ICMS'] = [np.nan]*tabela_2_2.shape[0]


tabela_2_2_final = tabela_2_2[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM',
                          'COD_ITEM', 'IND_OPER', 'SUB_TIPO', 'QTD_CAT',
                          'QTD_INI', 'ICMS_INI', 'QTD_ent1_devolv_ent',
                          'ICMS_TOT_0', 'ICMS_TOT_ent_unit','ULT_ICMS_TOT_ent_unit',
                          'ICMS_TOT_1', 'qtd_saida_1_devolv_saida','ICMS_SAIDA_UNI',
                          'ULT_ICMS_SAIDA_UNI', 'ICMS_SAIDA', 'ICMS_TOT_PCAT',
                          'VL_CONFR_0', 'VLR_CONFR_UNIT', 'ULT_VLR_CONFR_UNIT',
                          'VLR_CONFR_1', 'QTD_SALDO', 'ICMS_TOT_SALDO', 'VLR_RESSARCIMENTO',
                          'VLR_COMPLEMENTO', 'COD_LEGAL', 'COD_LEGAL_PCAT', 'VLR_CONFR_PCAT',
                          'SALDO_FINAL_MES_QTD', 'SALDO_FINAL_MES_ICMS','ALIQUOTA',
                          'VALOR', 'Valor Base Cálculo ICMS ST Retido Operação Anterior',
                          'Valor Complementar', 'Valor ICMS Substituição Tributária',
                          'Valor ICMS Operação', 'ICMS_TOT']]
tabela_2_2_final

C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['QTD_INI'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['ICMS_INI'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['QTD_ent1_devolv_ent'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['ICMS_TOT'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['ICMS_TOT_0'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['ICMS_TOT_ent_unit'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['ULT_ICMS_TOT_ent_unit'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['ICMS_TOT_1'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['qtd_saida_1_devolv_saida'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['ICMS_SAIDA_UNI'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['ULT_ICMS_SAIDA_UNI'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['ICMS_SAIDA'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['ICMS_TOT_PCAT'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['VLR_CONFR_UNIT'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['ULT_VLR_CONFR_UNIT'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['VLR_CONFR_1'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['QTD_SALDO'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['ICMS_TOT_SALDO'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['VLR_RESSARCIMENTO'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['VLR_COMPLEMENTO'] = [np.nan]*tabela_2_2.shape[0]

C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['COD_LEGAL_PCAT'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['VLR_CONFR_PCAT'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['SALDO_FINAL_MES_QTD'] = [np.nan]*tabela_2_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3453732909.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2['SALDO_FINAL_MES_ICMS'] = [np.nan]*tabela_2_2.shape[0]

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,VLR_CONFR_PCAT,SALDO_FINAL_MES_QTD,SALDO_FINAL_MES_ICMS,ALIQUOTA,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT
811125,35191106161357001371590001294192941779826503,2019-11-06,5405,1,196014,1,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,26.29,0.0,NaN,0.0,0.0,NaN
52971,35191127849963000110550010006172341006153074,2019-11-19,1403,35,196014,0,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,18.37,0.0,28.35,0.0,0.0,NaN
733499,35191206161357001371590000459452460308502623,2019-12-19,5405,5,196014,1,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,26.29,0.0,NaN,0.0,0.0,NaN
88805,35191227849963000110550010006528381006507701,2019-12-21,1403,17,196014,0,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,18.37,0.0,28.35,0.0,0.0,NaN
511466,35191206161357001371590000460833141663249088,2019-12-26,5405,3,196014,1,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,26.29,0.0,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278870,35201206161357001371590000459452944477807768,2020-12-02,5405,2,935916,1,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,35.47,0.0,NaN,0.0,0.0,NaN
1278871,35201206161357001371590000459452944477807768,2020-12-02,5405,3,935916,1,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,35.47,0.0,NaN,0.0,0.0,NaN
1082981,35201206161357001371590000162453848713824403,2020-12-07,5405,18,935916,1,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,45.60,0.0,NaN,0.0,0.0,NaN
1082982,35201206161357001371590000162453848713824403,2020-12-07,5405,19,935916,1,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,45.60,0.0,NaN,0.0,0.0,NaN
1082983,35201206161357001371590000162453848713824403,2020-12-07,5405,20,935916,1,1,1,NaN,NaN,...,NaN,NaN,NaN,12.0,45.60,0.0,NaN,0.0,0.0,NaN

In [11]:
# Geração da sheet2 do dataframe 1
tabela_2_1_sheet_2 = tabela_2_1[['DATA', 'COD_ITEM', 'IND_OPER','SUB_TIPO', 'QTD_CAT', 'ICMS_TOT_0']]
tabela_2_1_sheet_2['ESPECIE_OPER'] = [np.nan]*tabela_2_1_sheet_2.shape[0]
tabela_2_1_sheet_2['SALDO'] = [np.nan]*tabela_2_1_sheet_2.shape[0]
tabela_2_1_sheet_2['SALDO_MIN'] = [np.nan]*tabela_2_1_sheet_2.shape[0]
tabela_2_1_sheet_2['QTD_INI'] = [np.nan]*tabela_2_1_sheet_2.shape[0]
tabela_2_1_sheet_2['VALOR_UNIT'] = [np.nan]*tabela_2_1_sheet_2.shape[0]

tabela_2_1_sheet_2_final = tabela_2_1_sheet_2[['DATA', 'COD_ITEM', 'IND_OPER', 'SUB_TIPO', 'ESPECIE_OPER',
                                           'QTD_CAT', 'ICMS_TOT_0', 'SALDO','SALDO_MIN',
                                          'QTD_INI', 'VALOR_UNIT']]

tabela_2_1_sheet_2_final

C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3897520463.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1_sheet_2['ESPECIE_OPER'] = [np.nan]*tabela_2_1_sheet_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3897520463.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1_sheet_2['SALDO'] = [np.nan]*tabela_2_1_sheet_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3897520463.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1_sheet_2['SALDO_MIN'] = [np.nan]*tabela_2_1_sheet_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3897520463.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1_sheet_2['QTD_INI'] = [np.nan]*tabela_2_1_sheet_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\3897520463.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_1_sheet_2['VALOR_UNIT'] = [np.nan]*tabela_2_1_sheet_2.shape[0]

,DATA,COD_ITEM,IND_OPER,SUB_TIPO,ESPECIE_OPER,QTD_CAT,ICMS_TOT_0,SALDO,SALDO_MIN,QTD_INI,VALOR_UNIT
19554,2019-10-16,18,0,1,NaN,3,NaN,NaN,NaN,NaN,NaN
20711,2019-10-17,18,0,1,NaN,2,NaN,NaN,NaN,NaN,NaN
850132,2019-10-22,18,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
850133,2019-10-22,18,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
850134,2019-10-22,18,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
900591,2020-11-28,196006,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
1056476,2020-11-30,196006,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
350622,2020-12-02,196006,0,1,NaN,2,NaN,NaN,NaN,NaN,NaN
935517,2020-12-26,196006,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
368887,2020-12-29,196006,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN

In [12]:
# Geração da sheet2 do dataframe 2
tabela_2_2_sheet_2 = tabela_2_2[['DATA', 'COD_ITEM', 'IND_OPER','SUB_TIPO', 'QTD_CAT', 'ICMS_TOT_0']]
tabela_2_2_sheet_2['ESPECIE_OPER'] = [np.nan]*tabela_2_2_sheet_2.shape[0]
tabela_2_2_sheet_2['SALDO'] = [np.nan]*tabela_2_2_sheet_2.shape[0]
tabela_2_2_sheet_2['SALDO_MIN'] = [np.nan]*tabela_2_2_sheet_2.shape[0]
tabela_2_2_sheet_2['QTD_INI'] = [np.nan]*tabela_2_2_sheet_2.shape[0]
tabela_2_2_sheet_2['VALOR_UNIT'] = [np.nan]*tabela_2_2_sheet_2.shape[0]

tabela_2_2_sheet_2_final = tabela_2_2_sheet_2[['DATA', 'COD_ITEM', 'IND_OPER', 'SUB_TIPO', 'ESPECIE_OPER',
                                           'QTD_CAT', 'ICMS_TOT_0', 'SALDO','SALDO_MIN',
                                          'QTD_INI', 'VALOR_UNIT']]

tabela_2_2_sheet_2_final

C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\2176833075.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2_sheet_2['ESPECIE_OPER'] = [np.nan]*tabela_2_2_sheet_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\2176833075.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2_sheet_2['SALDO'] = [np.nan]*tabela_2_2_sheet_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\2176833075.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2_sheet_2['SALDO_MIN'] = [np.nan]*tabela_2_2_sheet_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\2176833075.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2_sheet_2['QTD_INI'] = [np.nan]*tabela_2_2_sheet_2.shape[0]
C:\Users\vinic\AppData\Local\Temp\ipykernel_20836\2176833075.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2_2_sheet_2['VALOR_UNIT'] = [np.nan]*tabela_2_2_sheet_2.shape[0]

,DATA,COD_ITEM,IND_OPER,SUB_TIPO,ESPECIE_OPER,QTD_CAT,ICMS_TOT_0,SALDO,SALDO_MIN,QTD_INI,VALOR_UNIT
811125,2019-11-06,196014,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
52971,2019-11-19,196014,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN
733499,2019-12-19,196014,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
88805,2019-12-21,196014,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN
511466,2019-12-26,196014,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1278870,2020-12-02,935916,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
1278871,2020-12-02,935916,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
1082981,2020-12-07,935916,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
1082982,2020-12-07,935916,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN
1082983,2020-12-07,935916,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN

In [13]:
# Geração do arquivo final referente ao dataframe 1
path = f'Loja_{loja}/ficha_3_loja_{loja}_p1_v1.xlsx'
with pd.ExcelWriter(path, engine='xlsxwriter') as writer:
    tabela_2_1_final.to_excel(writer, sheet_name='ficha3', index=False)
    tabela_2_1_sheet_2_final.to_excel(writer, sheet_name='qtde', index=False)

In [14]:
# Geração do arquivo final referente ao dataframe 2
path = f'Loja_{loja}/ficha_3_loja_{loja}_p2_v1.xlsx'
with pd.ExcelWriter(path, engine='xlsxwriter') as writer:
    tabela_2_2_final.to_excel(writer, sheet_name='ficha3', index=False)
    tabela_2_2_sheet_2_final.to_excel(writer, sheet_name='qtde', index=False)