In [1]:
# Importação das bibliotecas necessárias
import pandas as pd
import numpy as np
import csv
from sqlalchemy import create_engine
import math
from datetime import datetime
import sys
from time import time

In [2]:
# Definicção de qual loja irá rodar o script
start=time()
loja = 63

In [3]:
# Estabelecimento de conexão com o banco de dados
# para extração das informações das tabelas necessárias

database_config = {
    "host": "cat42.cohe0l2miaal.us-east-1.rds.amazonaws.com",
    "user": "master",
    "password": "dms191411",
    "database": "cat"
}

# Create a connection to the MySQL database
engine = create_engine(f"mysql+pymysql://{database_config['user']}:{database_config['password']}@{database_config['host']}/{database_config['database']}")

In [4]:
# Leitura da tabela 1 gerada em etapa anterior
tabela_1 = pd.read_csv(f'Loja_{loja}/loja_{loja}_tabela_1.csv')
tabela_1['Código Produto ou Serviço'] = tabela_1['Código Produto ou Serviço'].astype(str)
tabela_1.head()

C:\Users\vinic\AppData\Local\Temp\ipykernel_10996\1837343450.py:2: DtypeWarning: Columns (4,9,10,11,13) have mixed types. Specify dtype option on import or set low_memory=False.
  tabela_1 = pd.read_csv(f'Loja_{loja}/loja_{loja}_tabela_1.csv')

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
0,0,35161071605265000242550020000012421120688434,2016-10-05,1,15867,1411.0,"1,0000","22,16",NaN,NaN,NaN,"23,76",Tylenol Crianca 60ml,7896212409457,UN,30049045.0,1300101.0,7.160527e+13,NaN,entrada_oprprp
1,1,35161071605265000242550020000012431120699280,2016-10-05,1,113423,1411.0,"1,0000","15,11",NaN,NaN,NaN,"12,3",Nausicalm 30S U.Q,7896006203100,UN,30044090.0,1300301.0,7.160527e+13,NaN,entrada_oprprp
2,2,35161071605265000242550020000012441120712143,2016-10-06,1,140186,1411.0,"1,0000","27,61",NaN,NaN,NaN,"56,77",Meloxicam Leg 15mg 10S,7894916140706,UN,30049099.0,1300200.0,7.160527e+13,NaN,entrada_oprprp
3,3,35161071605265000242550020000012451120712680,2016-10-06,1,153239,1411.0,"2,0000","104,62",NaN,NaN,NaN,"195,5",Clor Fluoxetina Mcg 20mg 28S,7898559950135,UN,30039099.0,1300200.0,7.160527e+13,NaN,entrada_oprprp
4,4,35161071605265000242550020000012451120712680,2016-10-06,3,120659,1411.0,"1,0000","68,39",NaN,NaN,NaN,"109,1",Risperidona Euro 1mg 30S C1,7891317448653,UN,30049069.0,1300200.0,7.160527e+13,NaN,entrada_oprprp

In [5]:
tabela_1[tabela_1['Tipo'] == 'dfe']

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
390271,0,35200471605265000242590003258560691056044865,2020-04-17,2,229765,5405.0,"1,0000","7,99",NaN,NaN,NaN,NaN,0 - ALCOOL GEL 70% CONCA,7898623355811.0,UN,NaN,NaN,NaN,NaN,dfe
390272,1,35200471605265000242590003258560691056044865,2020-04-17,5,143248,5405.0,"1,0000","2,75",NaN,NaN,NaN,NaN,0 - DIPIRONA GREENPH 500MG 10S,NaN,UN,NaN,NaN,NaN,NaN,dfe
390273,2,35200471605265000242590003258560691056044865,2020-04-17,4,219006,5405.0,"1,0000","6,75",NaN,NaN,NaN,NaN,0 - LORASLIV 10MG 12S VITAMEDIC,7898049790180.0,UN,NaN,NaN,NaN,NaN,dfe
390274,3,35200471605265000242590003258560691056044865,2020-04-17,1,104828,5405.0,"1,0000","10,59",NaN,NaN,NaN,NaN,0 - MAL DEXCL+BETA CIMED,7896523207988.0,UN,NaN,NaN,NaN,NaN,dfe
390275,4,35200471605265000242590003258560691056044865,2020-04-17,3,117903,5405.0,"1,0000","0,98",NaN,NaN,NaN,NaN,0 - MAXALGINA GTS 10ML NATULAB,7898133130403.0,UN,NaN,NaN,NaN,NaN,dfe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304663,914392,35180571605265000242590003258550396640418602,2018-05-22,3,825356,5405.0,"1,0000","37,98",NaN,NaN,NaN,NaN,ZYXEM 5MG 10.S FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe
1304664,914393,35170771605265000242590003258560080883246321,2017-07-04,2,911511,5405.0,"1,0000","48,35",NaN,NaN,NaN,NaN,ZYXEN GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe
1304665,914394,35170871605265000242590003258550131415829759,2017-08-21,1,911511,5405.0,"1,0000","48,93",NaN,NaN,NaN,NaN,ZYXEN GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe
1304666,914395,35171171605265000242590003258560207423060090,2017-11-01,2,911511,5405.0,"1,0000","48,93",NaN,NaN,NaN,NaN,ZYXEN GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe
1304667,914396,35171271605265000242590003519330163549903999,2017-12-02,3,911511,5405.0,"1,0000","51,81",NaN,NaN,NaN,NaN,ZYXEN GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe

In [6]:
# Leitura do arquivo da complementar 
#complementar = pd.read_excel(f'Loja_{loja}/complementar_loja_{loja}_v2.xlsx')
#complementar['Produto'] = complementar['Produto'].astype(str)
#complementar['Item NFE Origem'] = complementar['Item NFE Origem'].astype(int)
#complementar

In [7]:
# Leitura da complementar Mauricio

complementar = pd.read_excel(f'Loja_{loja}/NFC_loja_{loja}.xlsx')
complementar

,NFref1,Item,cEAN,Produto,Quantidade,Valor Unitário,vPMC,cProdAnvisa,ST Retido - Base de Cálculo,Aliquota,ICMS ST Retido - Val
0,35190927849963000110550010005707161005688899,1,7898133130403,117903,0,0,0,NaN,"27,78",0,5
1,35190927849963000110550010005710201005691899,1,7891142165770,793950,0,0,0,NaN,"11,44",0,"2,06"
2,35190927849963000110550010005710201005691899,2,7891142202833,187591,0,0,0,NaN,"5,16",0,"0,93"
3,35190927849963000110550010005710201005691899,3,7891158000898,26,0,0,0,1.055303e+12,"7,08",0,"1,27"
4,35190927849963000110550010005710201005691899,4,7891317000127,160085,0,0,0,1.004311e+12,"4,6",0,"0,55"
...,...,...,...,...,...,...,...,...,...,...,...
90156,35201227849963000110550010010282941010247255,16,7896006215929,178509,0,0,0,NaN,"8,67",0,"1,04"
90157,35201227849963000110550010010282941010247255,20,7896658002922,22962,0,0,"20,68",1.057302e+12,"55,87",0,"10,06"
90158,35201227849963000110550010010282941010247255,21,7896676432602,764704,0,0,0,1.029803e+12,"20,48",0,"1,43"
90159,35201227849963000110550010010282941010247255,25,7899095238619,205799,0,0,"75,6",1.542302e+12,"88,66",0,"10,64"
90160,35201227849963000110550010010282941010247255,26,7899095238671,205781,0,0,"38,16",1.542302e+12,"44,76",0,"5,37"

In [8]:
# Leitura da tabela da efd_mod55 para um data frame

query = f'SELECT * FROM tabela_efds_modelo55 WHERE LOJA = {loja}'

efd = pd.read_sql(query, engine)
efd

,ID,LOJA,DATA_EFD,DATA_ENTRADA,DATA_SAIDA,CHAVE_ORIGINAL,COD_DO_ITEM,CODPROF,CFOP,DESC_PROD,QUANTI_EFDS,EAN,NCM,ICMS,CEST
0,6397620,63,01-2020,02/01/2020,04/01/2020,35200171605265000323550020000033801163719826,1,168799,1409,Saxenda 6mg/Ml C/3,1,,30043929,18,13.003.01
1,6397621,63,01-2020,07/01/2020,07/01/2020,35200171605265000323550020000033821163973913,1,139360,1409,NESINA 25MG 30'S,1,7896641809170,30049099,18,13.001.01
2,6397622,63,01-2020,08/01/2020,08/01/2020,35200171605265000323550020000033841164048886,1,85175,1409,ASPIRINA PREV 100MG 30'S BAYER,2,7891106001946,30049024,18,13.001.01
3,6397623,63,01-2020,08/01/2020,08/01/2020,35200171605265000323550020000033841164048886,2,126011,1409,PRADAXA 150MG 30'S BOEHRINGER,1,7896026304702,30049059,18,13.001.00
4,6397624,63,01-2020,08/01/2020,09/01/2020,35200171605265000323550020000033861164063529,1,60426,1409,PROLOPA 200/50 30'S ROCHE,1,7896226500515,30049049,18,13.001.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143293,6541272,63,12-2020,,,35201271605265000242550030000000041420285330,,,,,,,,,
143294,6541273,63,12-2020,,,35201271605265000242550020000060621184489660,,,,,,,,,
143295,6541274,63,12-2020,,,35201271605265000242550020000060731184816878,,,,,,,,,
143296,6541275,63,12-2020,,,35201271605265000242550030000000011418319255,,,,,,,,,
143297,6541276,63,12-2020,,,35201271605265000242550030000000031417008536,,,,,,,,,

In [9]:
# Leitura da tabela da efd_mod59 para um data frame

query = f'SELECT * FROM tabela_efds_modelo59 WHERE LOJA = {loja}'

efd_mod59 = pd.read_sql(query, engine)
efd_mod59

,ID,LOJA,PERIODO,REG,COD_MOD,COD_SIT,NUM_CFE,DT_DOC,VL_CFE,VL_PIS,VL_COFINS,CNPJ_CPF,NR_SAT,CHV_CFE,VL_DESC,VL_MERC,VL_OUT_DA,VL_ICMS,VL_PIS_ST,VL_COFINS_ST
0,4665457,63,01-2020,C800,59,0,66028,02/01/2020,"9,87",,,,325856,35200171605265000242590003258560660289566448,0,"9,87",0,0,,
1,4665458,63,01-2020,C800,59,0,66029,02/01/2020,"19,77",,,,325856,35200171605265000242590003258560660298471411,0,"19,77",0,0,,
2,4665459,63,01-2020,C800,59,0,66030,02/01/2020,"36,15",,,,325856,35200171605265000242590003258560660303338770,"44,18","80,33",0,0,,
3,4665460,63,01-2020,C800,59,0,66031,02/01/2020,"14,9",,,,325856,35200171605265000242590003258560660319052927,"4,35","19,25",0,0,,
4,4665461,63,01-2020,C800,59,0,66032,02/01/2020,"84,08",,,,325856,35200171605265000242590003258560660320033248,"24,06","108,14",0,"0,66",,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115618,4781075,63,12-2020,C800,59,0,86099,31/12/2020,"13,64",,,,672151,35201271605265000242590006721510860996669777,"1,51","15,15",0,0,,
115619,4781076,63,12-2020,C800,59,0,86100,31/12/2020,"31,2",,,,672151,35201271605265000242590006721510861001443930,"22,39","53,59",0,0,,
115620,4781077,63,12-2020,C800,59,0,86101,31/12/2020,"16,97",,,,672151,35201271605265000242590006721510861012724978,"0,32","17,29",0,0,,
115621,4781078,63,12-2020,C800,59,0,86102,31/12/2020,"12,55",,,,672151,35201271605265000242590006721510861026890220,"47,2","59,75",0,0,,
115622,4781079,63,12-2020,C800,59,0,86103,31/12/2020,"23,88",,,,672151,35201271605265000242590006721510861033824696,"5,96","29,84",0,0,,

In [10]:
efd_mod59['PERIODO'] = pd.to_datetime(efd_mod59['PERIODO'], format='%m-%Y')
efd_mod59['PERIODO'].unique()

array(['2020-01-01T00:00:00.000000000', '2020-02-01T00:00:00.000000000',
       '2020-03-01T00:00:00.000000000', '2020-04-01T00:00:00.000000000',
       '2020-05-01T00:00:00.000000000', '2020-06-01T00:00:00.000000000',
       '2020-07-01T00:00:00.000000000', '2020-08-01T00:00:00.000000000',
       '2020-09-01T00:00:00.000000000', '2019-10-01T00:00:00.000000000',
       '2020-10-01T00:00:00.000000000', '2019-11-01T00:00:00.000000000',
       '2020-11-01T00:00:00.000000000', '2019-12-01T00:00:00.000000000',
       '2020-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [11]:
efd['CODPROF'] = efd['CODPROF'].astype(str)

In [12]:
# Retirada dos valores negativos de base de calculo da complementar
complementar['ICMS ST Retido-Base de Cálculo'] = complementar['ST Retido - Base de Cálculo'].astype(str).str.replace('.', '').str.replace(',', '.').astype(float)
#complementar['ICMS ST Retido-Base de Cálculo'] = complementar['ICMS ST Retido-Base de Cálculo'].astype(float)
complementar['ICMS ST Retido- Valor'] = complementar['ICMS ST Retido - Val'].astype(str).str.replace('.', '').str.replace(',', '.').astype(float)
#complementar['ICMS ST Retido- Valor'] = complementar['ICMS ST Retido- Valor'].astype(float)
complementar_final = complementar[complementar['ICMS ST Retido-Base de Cálculo'] >= 0]
complementar_final

C:\Users\vinic\AppData\Local\Temp\ipykernel_10996\3037602660.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  complementar['ICMS ST Retido-Base de Cálculo'] = complementar['ST Retido - Base de Cálculo'].astype(str).str.replace('.', '').str.replace(',', '.').astype(float)
C:\Users\vinic\AppData\Local\Temp\ipykernel_10996\3037602660.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  complementar['ICMS ST Retido- Valor'] = complementar['ICMS ST Retido - Val'].astype(str).str.replace('.', '').str.replace(',', '.').astype(float)

,NFref1,Item,cEAN,Produto,Quantidade,Valor Unitário,vPMC,cProdAnvisa,ST Retido - Base de Cálculo,Aliquota,ICMS ST Retido - Val,ICMS ST Retido-Base de Cálculo,ICMS ST Retido- Valor
0,35190927849963000110550010005707161005688899,1,7898133130403,117903,0,0,0,NaN,"27,78",0,5,27.78,5.00
1,35190927849963000110550010005710201005691899,1,7891142165770,793950,0,0,0,NaN,"11,44",0,"2,06",11.44,2.06
2,35190927849963000110550010005710201005691899,2,7891142202833,187591,0,0,0,NaN,"5,16",0,"0,93",5.16,0.93
3,35190927849963000110550010005710201005691899,3,7891158000898,26,0,0,0,1.055303e+12,"7,08",0,"1,27",7.08,1.27
4,35190927849963000110550010005710201005691899,4,7891317000127,160085,0,0,0,1.004311e+12,"4,6",0,"0,55",4.60,0.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90156,35201227849963000110550010010282941010247255,16,7896006215929,178509,0,0,0,NaN,"8,67",0,"1,04",8.67,1.04
90157,35201227849963000110550010010282941010247255,20,7896658002922,22962,0,0,"20,68",1.057302e+12,"55,87",0,"10,06",55.87,10.06
90158,35201227849963000110550010010282941010247255,21,7896676432602,764704,0,0,0,1.029803e+12,"20,48",0,"1,43",20.48,1.43
90159,35201227849963000110550010010282941010247255,25,7899095238619,205799,0,0,"75,6",1.542302e+12,"88,66",0,"10,64",88.66,10.64
90160,35201227849963000110550010010282941010247255,26,7899095238671,205781,0,0,"38,16",1.542302e+12,"44,76",0,"5,37",44.76,5.37

In [13]:
# Formatação da coluna de data da tabela 1

tabela_1['Data Emissão'] = pd.to_datetime(tabela_1['Data Emissão'],format='%Y-%m-%d')
tabela_1.head()

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
0,0,35161071605265000242550020000012421120688434,2016-10-05,1,15867,1411.0,"1,0000","22,16",NaN,NaN,NaN,"23,76",Tylenol Crianca 60ml,7896212409457,UN,30049045.0,1300101.0,7.160527e+13,NaN,entrada_oprprp
1,1,35161071605265000242550020000012431120699280,2016-10-05,1,113423,1411.0,"1,0000","15,11",NaN,NaN,NaN,"12,3",Nausicalm 30S U.Q,7896006203100,UN,30044090.0,1300301.0,7.160527e+13,NaN,entrada_oprprp
2,2,35161071605265000242550020000012441120712143,2016-10-06,1,140186,1411.0,"1,0000","27,61",NaN,NaN,NaN,"56,77",Meloxicam Leg 15mg 10S,7894916140706,UN,30049099.0,1300200.0,7.160527e+13,NaN,entrada_oprprp
3,3,35161071605265000242550020000012451120712680,2016-10-06,1,153239,1411.0,"2,0000","104,62",NaN,NaN,NaN,"195,5",Clor Fluoxetina Mcg 20mg 28S,7898559950135,UN,30039099.0,1300200.0,7.160527e+13,NaN,entrada_oprprp
4,4,35161071605265000242550020000012451120712680,2016-10-06,3,120659,1411.0,"1,0000","68,39",NaN,NaN,NaN,"109,1",Risperidona Euro 1mg 30S C1,7891317448653,UN,30049069.0,1300200.0,7.160527e+13,NaN,entrada_oprprp

In [14]:
# Formatação da coluna Valor Produto ou Serviço para o tipo correto

tabela_1['Valor Produto ou Serviço'] = tabela_1['Valor Produto ou Serviço'].str.replace('.', '').str.replace(',', '.').astype(float)
tabela_1.head()

C:\Users\vinic\AppData\Local\Temp\ipykernel_10996\3894326555.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tabela_1['Valor Produto ou Serviço'] = tabela_1['Valor Produto ou Serviço'].str.replace('.', '').str.replace(',', '.').astype(float)

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
0,0,35161071605265000242550020000012421120688434,2016-10-05,1,15867,1411.0,"1,0000",22.16,NaN,NaN,NaN,"23,76",Tylenol Crianca 60ml,7896212409457,UN,30049045.0,1300101.0,7.160527e+13,NaN,entrada_oprprp
1,1,35161071605265000242550020000012431120699280,2016-10-05,1,113423,1411.0,"1,0000",15.11,NaN,NaN,NaN,"12,3",Nausicalm 30S U.Q,7896006203100,UN,30044090.0,1300301.0,7.160527e+13,NaN,entrada_oprprp
2,2,35161071605265000242550020000012441120712143,2016-10-06,1,140186,1411.0,"1,0000",27.61,NaN,NaN,NaN,"56,77",Meloxicam Leg 15mg 10S,7894916140706,UN,30049099.0,1300200.0,7.160527e+13,NaN,entrada_oprprp
3,3,35161071605265000242550020000012451120712680,2016-10-06,1,153239,1411.0,"2,0000",104.62,NaN,NaN,NaN,"195,5",Clor Fluoxetina Mcg 20mg 28S,7898559950135,UN,30039099.0,1300200.0,7.160527e+13,NaN,entrada_oprprp
4,4,35161071605265000242550020000012451120712680,2016-10-06,3,120659,1411.0,"1,0000",68.39,NaN,NaN,NaN,"109,1",Risperidona Euro 1mg 30S C1,7891317448653,UN,30049069.0,1300200.0,7.160527e+13,NaN,entrada_oprprp

In [15]:
# Preenchimento da coluna IND_OPER da tabela 1

tabela_1['IND_OPER'] = np.where((tabela_1['Tipo'] == 'dfe') | (tabela_1['Tipo'] == 'saida_nfe'),
                            1, 0)

tabela_1.head()

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo,IND_OPER
0,0,35161071605265000242550020000012421120688434,2016-10-05,1,15867,1411.0,"1,0000",22.16,NaN,NaN,...,"23,76",Tylenol Crianca 60ml,7896212409457,UN,30049045.0,1300101.0,7.160527e+13,NaN,entrada_oprprp,0
1,1,35161071605265000242550020000012431120699280,2016-10-05,1,113423,1411.0,"1,0000",15.11,NaN,NaN,...,"12,3",Nausicalm 30S U.Q,7896006203100,UN,30044090.0,1300301.0,7.160527e+13,NaN,entrada_oprprp,0
2,2,35161071605265000242550020000012441120712143,2016-10-06,1,140186,1411.0,"1,0000",27.61,NaN,NaN,...,"56,77",Meloxicam Leg 15mg 10S,7894916140706,UN,30049099.0,1300200.0,7.160527e+13,NaN,entrada_oprprp,0
3,3,35161071605265000242550020000012451120712680,2016-10-06,1,153239,1411.0,"2,0000",104.62,NaN,NaN,...,"195,5",Clor Fluoxetina Mcg 20mg 28S,7898559950135,UN,30039099.0,1300200.0,7.160527e+13,NaN,entrada_oprprp,0
4,4,35161071605265000242550020000012451120712680,2016-10-06,3,120659,1411.0,"1,0000",68.39,NaN,NaN,...,"109,1",Risperidona Euro 1mg 30S C1,7891317448653,UN,30049069.0,1300200.0,7.160527e+13,NaN,entrada_oprprp,0

In [16]:
tabela_1['Tipo'].value_counts()

dfe               914397
entrada_sp        387640
saida_nfe           7487
entrada_oprprp      2162
entrada_outras       469
Name: Tipo, dtype: int64

In [17]:
# Preenchimento da coluna bc_complementar_total_complementar

#bc_df = complementar_final[['Chave Acesso NFe', 'Item NFE Origem', 'ICMS ST Retido-Base de Cálculo', 'Produto', 'vPMC']]
#merged_df = pd.merge(tabela_1, bc_df, left_on=['Chave Acesso NFe', 'Número Item'],
#                    right_on=['Chave Acesso NFe', 'Item NFE Origem'], how='left')

bc_df = complementar_final[['NFref1', 'Item', 'ICMS ST Retido-Base de Cálculo', 'Produto', 'vPMC']]
merged_df = pd.merge(tabela_1, bc_df, left_on=['Chave Acesso NFe', 'Número Item'],
                     right_on=['NFref1', 'Item'], how='left')


merged_df = merged_df.drop('Unnamed: 0', axis=1)
merged_df = merged_df.drop_duplicates()
merged_df

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo,IND_OPER,NFref1,Item,ICMS ST Retido-Base de Cálculo,Produto,vPMC
0,35161071605265000242550020000012421120688434,2016-10-05,1,15867,1411.0,"1,0000",22.16,NaN,NaN,NaN,...,1300101.0,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
1,35161071605265000242550020000012431120699280,2016-10-05,1,113423,1411.0,"1,0000",15.11,NaN,NaN,NaN,...,1300301.0,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
2,35161071605265000242550020000012441120712143,2016-10-06,1,140186,1411.0,"1,0000",27.61,NaN,NaN,NaN,...,1300200.0,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
3,35161071605265000242550020000012451120712680,2016-10-06,1,153239,1411.0,"2,0000",104.62,NaN,NaN,NaN,...,1300200.0,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
4,35161071605265000242550020000012451120712680,2016-10-06,3,120659,1411.0,"1,0000",68.39,NaN,NaN,NaN,...,1300200.0,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312150,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927.0,"1,0000",34.43,NaN,NaN,NaN,...,2804100.0,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN
1312151,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927.0,"2,0000",2.34,NaN,NaN,NaN,...,2806200.0,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN
1312152,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927.0,"2,0000",7.54,NaN,NaN,NaN,...,NaN,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN
1312153,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927.0,"5,0000",18.85,NaN,NaN,NaN,...,NaN,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN
1312154,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409.0,"2,0000",153.26,NaN,NaN,NaN,...,0.0,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN

In [18]:
# Preenchimento da coluna bc_complementar_total_item_original

merged_df['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = merged_df['Valor Base Cálculo ICMS ST Retido Operação Anterior'].str.replace('.', '').str.replace(',', '.').astype(float).fillna(0)
merged_df['Valor ICMS Operação'] = merged_df['Valor ICMS Operação'].str.replace('.', '').str.replace(',', '.').astype(float).fillna(0)

merged_df['bc_complementar_total_item_original'] = merged_df['ICMS ST Retido-Base de Cálculo'] 
merged_df

C:\Users\vinic\AppData\Local\Temp\ipykernel_10996\4191433314.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged_df['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = merged_df['Valor Base Cálculo ICMS ST Retido Operação Anterior'].str.replace('.', '').str.replace(',', '.').astype(float).fillna(0)
C:\Users\vinic\AppData\Local\Temp\ipykernel_10996\4191433314.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged_df['Valor ICMS Operação'] = merged_df['Valor ICMS Operação'].str.replace('.', '').str.replace(',', '.').astype(float).fillna(0)

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo,IND_OPER,NFref1,Item,ICMS ST Retido-Base de Cálculo,Produto,vPMC,bc_complementar_total_item_original
0,35161071605265000242550020000012421120688434,2016-10-05,1,15867,1411.0,"1,0000",22.16,0.0,NaN,NaN,...,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN,NaN
1,35161071605265000242550020000012431120699280,2016-10-05,1,113423,1411.0,"1,0000",15.11,0.0,NaN,NaN,...,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN,NaN
2,35161071605265000242550020000012441120712143,2016-10-06,1,140186,1411.0,"1,0000",27.61,0.0,NaN,NaN,...,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN,NaN
3,35161071605265000242550020000012451120712680,2016-10-06,1,153239,1411.0,"2,0000",104.62,0.0,NaN,NaN,...,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN,NaN
4,35161071605265000242550020000012451120712680,2016-10-06,3,120659,1411.0,"1,0000",68.39,0.0,NaN,NaN,...,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312150,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927.0,"1,0000",34.43,0.0,NaN,NaN,...,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN,NaN
1312151,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927.0,"2,0000",2.34,0.0,NaN,NaN,...,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN,NaN
1312152,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927.0,"2,0000",7.54,0.0,NaN,NaN,...,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN,NaN
1312153,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927.0,"5,0000",18.85,0.0,NaN,NaN,...,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN,NaN
1312154,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409.0,"2,0000",153.26,0.0,NaN,NaN,...,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
efd['DATA_SAIDA'] = efd['DATA_SAIDA'].replace('', np.nan)
efd['DATA_SAIDA'] = pd.to_datetime(efd['DATA_SAIDA'], format='%d/%m/%Y')
efd

,ID,LOJA,DATA_EFD,DATA_ENTRADA,DATA_SAIDA,CHAVE_ORIGINAL,COD_DO_ITEM,CODPROF,CFOP,DESC_PROD,QUANTI_EFDS,EAN,NCM,ICMS,CEST
0,6397620,63,01-2020,02/01/2020,2020-01-04,35200171605265000323550020000033801163719826,1,168799,1409,Saxenda 6mg/Ml C/3,1,,30043929,18,13.003.01
1,6397621,63,01-2020,07/01/2020,2020-01-07,35200171605265000323550020000033821163973913,1,139360,1409,NESINA 25MG 30'S,1,7896641809170,30049099,18,13.001.01
2,6397622,63,01-2020,08/01/2020,2020-01-08,35200171605265000323550020000033841164048886,1,85175,1409,ASPIRINA PREV 100MG 30'S BAYER,2,7891106001946,30049024,18,13.001.01
3,6397623,63,01-2020,08/01/2020,2020-01-08,35200171605265000323550020000033841164048886,2,126011,1409,PRADAXA 150MG 30'S BOEHRINGER,1,7896026304702,30049059,18,13.001.00
4,6397624,63,01-2020,08/01/2020,2020-01-09,35200171605265000323550020000033861164063529,1,60426,1409,PROLOPA 200/50 30'S ROCHE,1,7896226500515,30049049,18,13.001.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143293,6541272,63,12-2020,,NaT,35201271605265000242550030000000041420285330,,,,,,,,,
143294,6541273,63,12-2020,,NaT,35201271605265000242550020000060621184489660,,,,,,,,,
143295,6541274,63,12-2020,,NaT,35201271605265000242550020000060731184816878,,,,,,,,,
143296,6541275,63,12-2020,,NaT,35201271605265000242550030000000011418319255,,,,,,,,,
143297,6541276,63,12-2020,,NaT,35201271605265000242550030000000031417008536,,,,,,,,,

In [20]:
efd['COD_DO_ITEM'] = efd['COD_DO_ITEM'].astype(str)
merged_df['Número Item'] = merged_df['Número Item'].astype(str)

In [21]:
efd['CHAVE_ORIGINAL'] = efd['CHAVE_ORIGINAL'].astype(str)
merged_df['Chave Acesso NFe'] = merged_df['Chave Acesso NFe'].astype(str)

In [22]:
efd[['CHAVE_ORIGINAL','DATA_SAIDA', 'COD_DO_ITEM',
                                  'CFOP', 'CODPROF',
                                 'DESC_PROD', 'EAN', 'NCM']].dtypes

CHAVE_ORIGINAL            object
DATA_SAIDA        datetime64[ns]
COD_DO_ITEM               object
CFOP                      object
CODPROF                   object
DESC_PROD                 object
EAN                       object
NCM                       object
dtype: object

In [23]:
#Preenchimento das colunas referentes a informações da efd
merged = pd.merge(merged_df, efd[['CHAVE_ORIGINAL','DATA_SAIDA', 'COD_DO_ITEM',
                                  'CFOP', 'CODPROF', 'QUANTI_EFDS',
                                 'DESC_PROD', 'EAN', 'NCM']],
                 left_on=['Chave Acesso NFe', 'Número Item'],
                 right_on=['CHAVE_ORIGINAL', 'COD_DO_ITEM'],
                 how='left')

merged

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,bc_complementar_total_item_original,CHAVE_ORIGINAL,DATA_SAIDA,COD_DO_ITEM,CFOP,CODPROF,QUANTI_EFDS,DESC_PROD,EAN,NCM
0,35161071605265000242550020000012421120688434,2016-10-05,1,15867,1411.0,"1,0000",22.16,0.0,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,35161071605265000242550020000012431120699280,2016-10-05,1,113423,1411.0,"1,0000",15.11,0.0,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35161071605265000242550020000012441120712143,2016-10-06,1,140186,1411.0,"1,0000",27.61,0.0,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,35161071605265000242550020000012451120712680,2016-10-06,1,153239,1411.0,"2,0000",104.62,0.0,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,35161071605265000242550020000012451120712680,2016-10-06,3,120659,1411.0,"1,0000",68.39,0.0,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312147,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927.0,"1,0000",34.43,0.0,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1312148,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927.0,"2,0000",2.34,0.0,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1312149,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927.0,"2,0000",7.54,0.0,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1312150,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927.0,"5,0000",18.85,0.0,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1312151,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409.0,"2,0000",153.26,0.0,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
merged['CHAVE_ITEM'] = merged['Chave Acesso NFe'].astype(str) + '-' + merged['Número Item'].astype(str)

duplicate_mask = merged['CHAVE_ITEM'].duplicated(keep=False)
duplicate_df = merged[duplicate_mask]
duplicate_df

Empty DataFrame
Columns: [Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, Código GTIN, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, IND_OPER, NFref1, Item, ICMS ST Retido-Base de Cálculo, Produto, vPMC, bc_complementar_total_item_original, CHAVE_ORIGINAL, DATA_SAIDA, COD_DO_ITEM, CFOP, CODPROF, QUANTI_EFDS, DESC_PROD, EAN, NCM, CHAVE_ITEM]
Index: []

[0 rows x 36 columns]

In [25]:
merged['Tipo'].value_counts()

dfe               914397
entrada_sp        387640
saida_nfe           7487
entrada_oprprp      2162
entrada_outras       466
Name: Tipo, dtype: int64

In [26]:
merged['Produto'] = np.where((merged['Tipo'] == 'entrada_oprprp') | (merged['Tipo'] == 'saida_nfe') | (merged['Tipo'] == 'dfe'),
                               merged['Código Produto ou Serviço'], merged['CODPROF'])

merged

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,CHAVE_ORIGINAL,DATA_SAIDA,COD_DO_ITEM,CFOP,CODPROF,QUANTI_EFDS,DESC_PROD,EAN,NCM,CHAVE_ITEM
0,35161071605265000242550020000012421120688434,2016-10-05,1,15867,1411.0,"1,0000",22.16,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161071605265000242550020000012421120688434-1
1,35161071605265000242550020000012431120699280,2016-10-05,1,113423,1411.0,"1,0000",15.11,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161071605265000242550020000012431120699280-1
2,35161071605265000242550020000012441120712143,2016-10-06,1,140186,1411.0,"1,0000",27.61,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161071605265000242550020000012441120712143-1
3,35161071605265000242550020000012451120712680,2016-10-06,1,153239,1411.0,"2,0000",104.62,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161071605265000242550020000012451120712680-1
4,35161071605265000242550020000012451120712680,2016-10-06,3,120659,1411.0,"1,0000",68.39,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161071605265000242550020000012451120712680-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312147,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927.0,"1,0000",34.43,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-15
1312148,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927.0,"2,0000",2.34,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-21
1312149,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927.0,"2,0000",7.54,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-36
1312150,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927.0,"5,0000",18.85,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-37
1312151,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409.0,"2,0000",153.26,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060731184816878-1

In [27]:
merged['Produto'].isnull().sum()

246141

In [28]:
merged['Tipo'].value_counts()

dfe               914397
entrada_sp        387640
saida_nfe           7487
entrada_oprprp      2162
entrada_outras       466
Name: Tipo, dtype: int64

In [29]:
merged = merged[merged['Produto'].notnull()]
merged['Tipo'].value_counts()

dfe               914397
entrada_sp        141658
saida_nfe           7487
entrada_oprprp      2162
entrada_outras       307
Name: Tipo, dtype: int64

In [30]:
# Leitura para um dataframe da tabela de produtos
# do banco de dados

query = 'SELECT * FROM tabela_produtos_P2'
produtos = pd.read_sql(query, engine)
produtos

,ID,ANVISA,NCM,CEST,CODIGO_DO_PRODUTO,DESCRICAO,ALIQUOTA,MVA_ANTES,MVA_DEPOIS,DT_VALIDA
0,205639,1704.90.20,17049020,,13268,VICK PAST MENTOL PROCT,18,38.48,0.0,
1,205640,1704.90.20,17049020,,25114,VICK PAST CEREJA PROCT,,,0.0,
2,205641,1404.90.90,96162000,,30007,BUCHA M.BONI R.8405,,,0.0,
3,205642,1704.90.20,17049020,,78857,VICK PAST LIMAO 24X5 PROCT,,,0.0,
4,205643,1704.90.20,17049020,,119636,REDOXITOS SUPLEMENT VITAMINA C,18,39.19,0.0,
...,...,...,...,...,...,...,...,...,...,...
13706,219345,,61099000,,PROUNIFOR00000002-0000039,CAMISA,,,,
13707,219346,,61099000,,PROUNIFOR00000002-0000063,CAMISA,,,,
13708,219347,,61099000,,PROUNIFOR00000002-0000064,CAMISA,,,,
13709,219348,,96151900,,PROUNIFOR00000004-0000001,PRESILHA PARA CABELO,,,,
13710,219349,,62019900,,PROUNIFOR00000006-0000007,JALECO,,,,

In [31]:
cods = efd['CODPROF'].unique()
notas = efd_mod59['CHV_CFE'].unique()

saidas = merged.loc[(merged['Tipo'] == 'dfe') | (merged['Tipo'] == 'saida_nfe')]

mask = (
    (saidas['Data Emissão'] >= '2019-10-01') &
    (saidas['Produto'].isin(cods)) &
    (saidas['Chave Acesso NFe'].isin(notas))
)

inverted_mask = (
    (saidas['Data Emissão'] >= '2019-10-01') &
    ((~saidas['Produto'].isin(cods)) | (~saidas['Chave Acesso NFe'].isin(notas)))
    
)

saida_in_efd = saidas[mask]
saidas_not_efd = saidas[inverted_mask]
saidas_not_efd = saidas_not_efd[saidas_not_efd['Data Emissão'] >= '2019-10-01']

In [32]:
saidas_not_efd['Tipo'].value_counts()

dfe          6060
saida_nfe    1853
Name: Tipo, dtype: int64

In [33]:
efds_codigos = efd['CODPROF'].unique()

merged = merged[merged['Produto'].isin(efds_codigos)]
merged

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,CHAVE_ORIGINAL,DATA_SAIDA,COD_DO_ITEM,CFOP,CODPROF,QUANTI_EFDS,DESC_PROD,EAN,NCM,CHAVE_ITEM
0,35161071605265000242550020000012421120688434,2016-10-05,1,15867,1411.0,"1,0000",22.16,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161071605265000242550020000012421120688434-1
2,35161071605265000242550020000012441120712143,2016-10-06,1,140186,1411.0,"1,0000",27.61,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161071605265000242550020000012441120712143-1
4,35161071605265000242550020000012451120712680,2016-10-06,3,120659,1411.0,"1,0000",68.39,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161071605265000242550020000012451120712680-3
6,35161071605265000242550020000012461120716224,2016-10-06,1,812743,1411.0,"1,0000",11.31,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161071605265000242550020000012461120716224-1
7,35161071605265000242550020000012471120716914,2016-10-06,1,104752,1411.0,"1,0000",9.20,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161071605265000242550020000012471120716914-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312147,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927.0,"1,0000",34.43,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-15
1312148,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927.0,"2,0000",2.34,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-21
1312149,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927.0,"2,0000",7.54,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-36
1312150,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927.0,"5,0000",18.85,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-37
1312151,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409.0,"2,0000",153.26,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060731184816878-1

In [34]:
merged['Tipo'].value_counts()

dfe               840099
entrada_sp        141658
saida_nfe           5401
entrada_oprprp      1949
entrada_outras       307
Name: Tipo, dtype: int64

In [35]:
mask1 = ~((merged['Tipo'] == 'dfe') & ~merged['Chave Acesso NFe'].isin(efd_mod59['CHV_CFE']))

mask2 = ~((merged['Tipo'].isin(['entrada_sp', 'entrada_outras', 'entrada_oprprp'])) & (merged['CHAVE_ORIGINAL'].isnull()))

filtered_merged = merged[mask1 & mask2]

filtered_merged['Tipo'].value_counts()

dfe               320324
entrada_sp        141658
saida_nfe           5401
entrada_oprprp       696
entrada_outras       307
Name: Tipo, dtype: int64

In [36]:
# Preenchimento da coluna Aliquota

filtered_merged['Produto'] = filtered_merged['Produto'].astype(str)

df_merged = pd.merge(filtered_merged, produtos[['CODIGO_DO_PRODUTO', 'ALIQUOTA']],
                    left_on=['Produto'], right_on=['CODIGO_DO_PRODUTO'],
                    how='left')
df_merged

C:\Users\vinic\AppData\Local\Temp\ipykernel_10996\2250434347.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_merged['Produto'] = filtered_merged['Produto'].astype(str)

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,COD_DO_ITEM,CFOP,CODPROF,QUANTI_EFDS,DESC_PROD,EAN,NCM,CHAVE_ITEM,CODIGO_DO_PRODUTO,ALIQUOTA
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202.0,"1,0000",3.85,0.69,NaN,NaN,...,3,1202,899765,1,SORO FISIOL ADV 100ML,7896230301122,25010090,35191071605265000242550020000049781157967795-3,899765,12
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202.0,"1,0000",4.26,0.77,NaN,NaN,...,4,1202,853770,30,VALDA FRIENDS S/A 25G,,21069060,35191071605265000242550020000049781157967795-4,853770,
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411.0,"1,0000",8.99,0.00,NaN,NaN,...,1,1411,216705,25,Benegrip Multi Dia 4'S,,30045090,35191071605265000242550020000049781157967795-1,216705,18
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411.0,"1,0000",8.99,0.00,NaN,NaN,...,2,1411,216705,25,Benegrip Multi Dia 4'S,,30045090,35191071605265000242550020000049781157967795-2,216705,18
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411.0,"1,0000",20.49,0.00,NaN,NaN,...,1,1411,69898,1,SAL DE FRUTA TRADICIONAL 100G,7896015560300,30049029,35191071605265000242550020000049831158044089-1,69898,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927.0,"1,0000",34.43,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-15,93864,18
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927.0,"2,0000",2.34,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-21,223891,
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927.0,"2,0000",7.54,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-36,225649,
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927.0,"5,0000",18.85,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-37,225656,
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409.0,"2,0000",153.26,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060731184816878-1,155002,12

In [37]:
df_merged['Tipo'].value_counts()

dfe               320324
entrada_sp        141658
saida_nfe           5401
entrada_oprprp       696
entrada_outras       307
Name: Tipo, dtype: int64

In [38]:
cobol = pd.read_excel('COBOL_CADASTRO_PRODUTOS.xlsx')
cobol

,PRODUTO DESCRIÇÃO,CODIGO,CLASSIFICAÇÃO,PREÇO MAXIMO.,CURVA,UN,NCM,ST,ICMS,Bas,...,PMC,IVA-E,IVA-I,CATEGORIA,LISTA,PIS,COFIN,IPI,Codigo Ean,CEST
0,-ALLURE F 50ML,819847,PCP,175.01,DI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,3.145891e+12,NaN
1,-ANIMALE F 50ML,787234,PCP,107.19,DI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,3.608941e+12,NaN
2,-CAROLINA HERRERA F 100,814707,PCP,200.08,DI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,8.411061e+12,NaN
3,-ETERNITY M 50ML,786756,PCP,171.50,CI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,8.830011e+10,NaN
4,NaN,786970,PCP,85.75,CI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,3.349668e+12,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38960,ZYSERTIN 50MG 30'S ZYDUS C1,63511,ETC,60.68,DI,UN,30049039.0,ST,18,NaN,...,NaN,34.64,34.64,SIMILAR,POSITIVO,NaN,NaN,NaN,7.898910e+12,NaN
38961,ZYVALPREX 250MG 20'S ZYDUS C1,63495,ETC,33.93,CI,UN,30049079.0,ST,18,NaN,...,23.25,34.64,34.64,SIMILAR,POSITIVO,NaN,NaN,NaN,7.898928e+12,NaN
38962,ZYVALPREX 500MG 20'S ZYDUS C1,63503,ETC,67.86,DI,UN,30049099.0,ST,18,NaN,...,NaN,34.64,34.64,SIMILAR,POSITIVO,NaN,NaN,NaN,7.898928e+12,NaN
38963,ZYXEM 5MG 10'S,825356,ETC,64.44,CC,UN,30049069.0,ST,18,NaN,...,NaN,34.06,34.06,REFERENCIA,NEGATIVO,NaN,NaN,NaN,7.896672e+12,NaN
38964,ZYXEM GTS 20ML,911511,ETC,76.45,BC,UN,30049069.0,ST,18,NaN,...,16.16,35.72,35.72,SIMILAR,NEGATIVO,NaN,NaN,NaN,5.413787e+12,NaN

In [39]:
cobol['CODIGO'] = cobol['CODIGO'].astype(str)
merged = df_merged.merge(cobol[['CODIGO', 'NCM']],
                        left_on='Produto', 
                        right_on='CODIGO',
                        how='left')

merged

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,CODPROF,QUANTI_EFDS,DESC_PROD,EAN,NCM_x,CHAVE_ITEM,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202.0,"1,0000",3.85,0.69,NaN,NaN,...,899765,1,SORO FISIOL ADV 100ML,7896230301122,25010090,35191071605265000242550020000049781157967795-3,899765,12,899765,33079000.0
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202.0,"1,0000",4.26,0.77,NaN,NaN,...,853770,30,VALDA FRIENDS S/A 25G,,21069060,35191071605265000242550020000049781157967795-4,853770,,853770,21069060.0
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411.0,"1,0000",8.99,0.00,NaN,NaN,...,216705,25,Benegrip Multi Dia 4'S,,30045090,35191071605265000242550020000049781157967795-1,216705,18,216705,30045090.0
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411.0,"1,0000",8.99,0.00,NaN,NaN,...,216705,25,Benegrip Multi Dia 4'S,,30045090,35191071605265000242550020000049781157967795-2,216705,18,216705,30045090.0
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411.0,"1,0000",20.49,0.00,NaN,NaN,...,69898,1,SAL DE FRUTA TRADICIONAL 100G,7896015560300,30049029,35191071605265000242550020000049831158044089-1,69898,18,69898,30049029.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927.0,"1,0000",34.43,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-15,93864,18,93864,19011010.0
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927.0,"2,0000",2.34,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-21,223891,,223891,17049020.0
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927.0,"2,0000",7.54,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-36,225649,,225649,8013200.0
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927.0,"5,0000",18.85,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-37,225656,,225656,8013200.0
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409.0,"2,0000",153.26,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060731184816878-1,155002,12,155002,30049079.0

In [40]:
merged['CHAVE_ITEM'] = merged['Chave Acesso NFe'].astype(str) + '-' + merged['Número Item'].astype(str)

duplicate_mask = merged['CHAVE_ITEM'].duplicated(keep=False)
duplicate_df = merged[duplicate_mask]
duplicate_df

Empty DataFrame
Columns: [Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, Código GTIN, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, IND_OPER, NFref1, Item, ICMS ST Retido-Base de Cálculo, Produto, vPMC, bc_complementar_total_item_original, CHAVE_ORIGINAL, DATA_SAIDA, COD_DO_ITEM, CFOP, CODPROF, QUANTI_EFDS, DESC_PROD, EAN, NCM_x, CHAVE_ITEM, CODIGO_DO_PRODUTO, ALIQUOTA, CODIGO, NCM_y]
Index: []

[0 rows x 40 columns]

In [41]:
df_merged = merged.drop_duplicates()
df_merged

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,CODPROF,QUANTI_EFDS,DESC_PROD,EAN,NCM_x,CHAVE_ITEM,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202.0,"1,0000",3.85,0.69,NaN,NaN,...,899765,1,SORO FISIOL ADV 100ML,7896230301122,25010090,35191071605265000242550020000049781157967795-3,899765,12,899765,33079000.0
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202.0,"1,0000",4.26,0.77,NaN,NaN,...,853770,30,VALDA FRIENDS S/A 25G,,21069060,35191071605265000242550020000049781157967795-4,853770,,853770,21069060.0
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411.0,"1,0000",8.99,0.00,NaN,NaN,...,216705,25,Benegrip Multi Dia 4'S,,30045090,35191071605265000242550020000049781157967795-1,216705,18,216705,30045090.0
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411.0,"1,0000",8.99,0.00,NaN,NaN,...,216705,25,Benegrip Multi Dia 4'S,,30045090,35191071605265000242550020000049781157967795-2,216705,18,216705,30045090.0
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411.0,"1,0000",20.49,0.00,NaN,NaN,...,69898,1,SAL DE FRUTA TRADICIONAL 100G,7896015560300,30049029,35191071605265000242550020000049831158044089-1,69898,18,69898,30049029.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927.0,"1,0000",34.43,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-15,93864,18,93864,19011010.0
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927.0,"2,0000",2.34,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-21,223891,,223891,17049020.0
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927.0,"2,0000",7.54,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-36,225649,,225649,8013200.0
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927.0,"5,0000",18.85,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-37,225656,,225656,8013200.0
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409.0,"2,0000",153.26,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060731184816878-1,155002,12,155002,30049079.0

In [42]:
df = df_merged.copy()
df['QUANTI_EFDS'].isnull().sum()

325725

In [43]:
df = df.drop_duplicates()
df

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,CODPROF,QUANTI_EFDS,DESC_PROD,EAN,NCM_x,CHAVE_ITEM,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202.0,"1,0000",3.85,0.69,NaN,NaN,...,899765,1,SORO FISIOL ADV 100ML,7896230301122,25010090,35191071605265000242550020000049781157967795-3,899765,12,899765,33079000.0
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202.0,"1,0000",4.26,0.77,NaN,NaN,...,853770,30,VALDA FRIENDS S/A 25G,,21069060,35191071605265000242550020000049781157967795-4,853770,,853770,21069060.0
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411.0,"1,0000",8.99,0.00,NaN,NaN,...,216705,25,Benegrip Multi Dia 4'S,,30045090,35191071605265000242550020000049781157967795-1,216705,18,216705,30045090.0
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411.0,"1,0000",8.99,0.00,NaN,NaN,...,216705,25,Benegrip Multi Dia 4'S,,30045090,35191071605265000242550020000049781157967795-2,216705,18,216705,30045090.0
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411.0,"1,0000",20.49,0.00,NaN,NaN,...,69898,1,SAL DE FRUTA TRADICIONAL 100G,7896015560300,30049029,35191071605265000242550020000049831158044089-1,69898,18,69898,30049029.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927.0,"1,0000",34.43,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-15,93864,18,93864,19011010.0
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927.0,"2,0000",2.34,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-21,223891,,223891,17049020.0
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927.0,"2,0000",7.54,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-36,225649,,225649,8013200.0
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927.0,"5,0000",18.85,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-37,225656,,225656,8013200.0
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409.0,"2,0000",153.26,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060731184816878-1,155002,12,155002,30049079.0

In [44]:
df[df['ALIQUOTA'].isnull()]['Produto'].unique()

array(['PRORECELE00000001', 'PROMATHIG00000026-0000001',
       'PROMATHIG00000022-0000002', 'PROIMPEXP00000024-0000013', '1',
       '64', '2', '3', 'PROMATHIG00000022-0000001',
       'PROMATESC00000042-0000008', 'PROIMPEXP00000024-0000021',
       'PROMATESC00000005-0000005', 'PROMATHIG00000029-0000001', '5',
       '54', 'PROMATHIG00000033-0000011', 'PROMATPRO00228148',
       'PROMATHIG00000097-0000001', 'PROIMPEXP00000002-0000003',
       'PROCONBEN00000935-0000001', 'PROCONBEN00000026-0000001',
       'PROCONBEN00000066-0000001', 'PROCONBEN00000042-0000007',
       'PROCONBEN00000026-0000008', 'PROIMPEXP00000008-0000005',
       'PROMATUCO00006224-0000001', 'PROMATUCO00006227-0000001',
       'PROMATUCO00006220-0000001', 'PROMATUCO00006230-0000001',
       'PROMATESC00000092-0000001', 'PROMATESC00000032-0000006',
       'PROMATINF00000116-0000001', 'PROMATINF00000117-0000001', '10',
       '56', 'PROMATUCO00006223-0000001', '52'], dtype=object)

In [45]:
df = df.drop_duplicates()
df

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,CODPROF,QUANTI_EFDS,DESC_PROD,EAN,NCM_x,CHAVE_ITEM,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202.0,"1,0000",3.85,0.69,NaN,NaN,...,899765,1,SORO FISIOL ADV 100ML,7896230301122,25010090,35191071605265000242550020000049781157967795-3,899765,12,899765,33079000.0
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202.0,"1,0000",4.26,0.77,NaN,NaN,...,853770,30,VALDA FRIENDS S/A 25G,,21069060,35191071605265000242550020000049781157967795-4,853770,,853770,21069060.0
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411.0,"1,0000",8.99,0.00,NaN,NaN,...,216705,25,Benegrip Multi Dia 4'S,,30045090,35191071605265000242550020000049781157967795-1,216705,18,216705,30045090.0
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411.0,"1,0000",8.99,0.00,NaN,NaN,...,216705,25,Benegrip Multi Dia 4'S,,30045090,35191071605265000242550020000049781157967795-2,216705,18,216705,30045090.0
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411.0,"1,0000",20.49,0.00,NaN,NaN,...,69898,1,SAL DE FRUTA TRADICIONAL 100G,7896015560300,30049029,35191071605265000242550020000049831158044089-1,69898,18,69898,30049029.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927.0,"1,0000",34.43,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-15,93864,18,93864,19011010.0
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927.0,"2,0000",2.34,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-21,223891,,223891,17049020.0
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927.0,"2,0000",7.54,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-36,225649,,225649,8013200.0
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927.0,"5,0000",18.85,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-37,225656,,225656,8013200.0
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409.0,"2,0000",153.26,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201271605265000242550020000060731184816878-1,155002,12,155002,30049079.0

In [46]:
df.columns

Index(['Chave Acesso NFe', 'Data Emissão', 'Número Item',
       'Código Produto ou Serviço', 'Código CFOP (04 Posições)',
       'Quantidade Comercial', 'Valor Produto ou Serviço',
       'Valor ICMS Operação', 'Valor ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS ST Retido Operação Anterior',
       'Descrição Produto', 'Código GTIN', 'Unidade Comercial', 'Código NCM',
       'Código CEST', 'Número CNPJ Emitente', 'Número CNPJ Destinatário',
       'Tipo', 'IND_OPER', 'NFref1', 'Item', 'ICMS ST Retido-Base de Cálculo',
       'Produto', 'vPMC', 'bc_complementar_total_item_original',
       'CHAVE_ORIGINAL', 'DATA_SAIDA', 'COD_DO_ITEM', 'CFOP', 'CODPROF',
       'QUANTI_EFDS', 'DESC_PROD', 'EAN', 'NCM_x', 'CHAVE_ITEM',
       'CODIGO_DO_PRODUTO', 'ALIQUOTA', 'CODIGO', 'NCM_y'],
      dtype='object')

In [47]:
# Preenchimento da coluna ICMS_TOT
df['Valor ICMS Substituição Tributária'] = df['Valor ICMS Substituição Tributária'].str.replace('.','').str.replace(',','.').astype(float).fillna(0)
df['Valor ICMS Operação'] = df['Valor ICMS Operação'].astype(float).fillna(0)
df['ALIQUOTA'] = df['ALIQUOTA'].astype(str).replace('', np.nan).fillna(0).astype(float)



df['ICMS_TOT'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
    np.maximum(df['Valor ICMS Operação'].fillna(0) + df['Valor ICMS Substituição Tributária'].fillna(0), (df['Valor Base Cálculo ICMS ST Retido Operação Anterior'] + df['bc_complementar_total_item_original'].fillna(0)) * df['ALIQUOTA']/100),
                         np.nan)

df

C:\Users\vinic\AppData\Local\Temp\ipykernel_10996\3385035984.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Valor ICMS Substituição Tributária'] = df['Valor ICMS Substituição Tributária'].str.replace('.','').str.replace(',','.').astype(float).fillna(0)

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,QUANTI_EFDS,DESC_PROD,EAN,NCM_x,CHAVE_ITEM,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y,ICMS_TOT
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202.0,"1,0000",3.85,0.69,0.0,NaN,...,1,SORO FISIOL ADV 100ML,7896230301122,25010090,35191071605265000242550020000049781157967795-3,899765,12.0,899765,33079000.0,NaN
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202.0,"1,0000",4.26,0.77,0.0,NaN,...,30,VALDA FRIENDS S/A 25G,,21069060,35191071605265000242550020000049781157967795-4,853770,0.0,853770,21069060.0,NaN
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411.0,"1,0000",8.99,0.00,0.0,NaN,...,25,Benegrip Multi Dia 4'S,,30045090,35191071605265000242550020000049781157967795-1,216705,18.0,216705,30045090.0,NaN
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411.0,"1,0000",8.99,0.00,0.0,NaN,...,25,Benegrip Multi Dia 4'S,,30045090,35191071605265000242550020000049781157967795-2,216705,18.0,216705,30045090.0,NaN
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411.0,"1,0000",20.49,0.00,0.0,NaN,...,1,SAL DE FRUTA TRADICIONAL 100G,7896015560300,30049029,35191071605265000242550020000049831158044089-1,69898,18.0,69898,30049029.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927.0,"1,0000",34.43,0.00,0.0,NaN,...,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-15,93864,18.0,93864,19011010.0,NaN
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927.0,"2,0000",2.34,0.00,0.0,NaN,...,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-21,223891,0.0,223891,17049020.0,NaN
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927.0,"2,0000",7.54,0.00,0.0,NaN,...,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-36,225649,0.0,225649,8013200.0,NaN
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927.0,"5,0000",18.85,0.00,0.0,NaN,...,NaN,NaN,NaN,NaN,35201271605265000242550020000060701184663425-37,225656,0.0,225656,8013200.0,NaN
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409.0,"2,0000",153.26,0.00,0.0,NaN,...,NaN,NaN,NaN,NaN,35201271605265000242550020000060731184816878-1,155002,12.0,155002,30049079.0,NaN

In [48]:
df['ICMS_TOT'].sum()

1122238.9605

In [49]:
df['Produto'].isnull().sum()

0

# Geração da Tabela 2

In [50]:
# Geração da coluna CHV_DOC
tabela_2 = pd.DataFrame()

tabela_2['CHV_DOC'] = df['Chave Acesso NFe']
tabela_2

                                             CHV_DOC
0       35191071605265000242550020000049781157967795
1       35191071605265000242550020000049781157967795
2       35191071605265000242550020000049781157967795
3       35191071605265000242550020000049781157967795
4       35191071605265000242550020000049831158044089
...                                              ...
468381  35201271605265000242550020000060701184663425
468382  35201271605265000242550020000060701184663425
468383  35201271605265000242550020000060701184663425
468384  35201271605265000242550020000060701184663425
468385  35201271605265000242550020000060731184816878

[468386 rows x 1 columns]

In [51]:
# Geração da coluna DATA

tabela_2['DATA'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                            df['DATA_SAIDA'], df['Data Emissão'])
tabela_2

                                             CHV_DOC       DATA
0       35191071605265000242550020000049781157967795 2019-10-01
1       35191071605265000242550020000049781157967795 2019-10-01
2       35191071605265000242550020000049781157967795 2019-10-01
3       35191071605265000242550020000049781157967795 2019-10-01
4       35191071605265000242550020000049831158044089 2019-10-02
...                                              ...        ...
468381  35201271605265000242550020000060701184663425 2020-12-29
468382  35201271605265000242550020000060701184663425 2020-12-29
468383  35201271605265000242550020000060701184663425 2020-12-29
468384  35201271605265000242550020000060701184663425 2020-12-29
468385  35201271605265000242550020000060731184816878 2020-12-31

[468386 rows x 2 columns]

In [52]:
# Geração da coluna NUM_ITEM

tabela_2['NUM_ITEM'] = df['Número Item']
tabela_2

                                             CHV_DOC       DATA NUM_ITEM
0       35191071605265000242550020000049781157967795 2019-10-01        3
1       35191071605265000242550020000049781157967795 2019-10-01        4
2       35191071605265000242550020000049781157967795 2019-10-01        1
3       35191071605265000242550020000049781157967795 2019-10-01        2
4       35191071605265000242550020000049831158044089 2019-10-02        1
...                                              ...        ...      ...
468381  35201271605265000242550020000060701184663425 2020-12-29       15
468382  35201271605265000242550020000060701184663425 2020-12-29       21
468383  35201271605265000242550020000060701184663425 2020-12-29       36
468384  35201271605265000242550020000060701184663425 2020-12-29       37
468385  35201271605265000242550020000060731184816878 2020-12-31        1

[468386 rows x 3 columns]

In [53]:
# Preenchimento da coluna COD_ITEM

tabela_2['COD_ITEM'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['CODPROF'], df['Código Produto ou Serviço'])

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898
...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002

In [54]:
teste = tabela_2.copy()
teste['Valid'] = tabela_2['COD_ITEM'] == df['Produto']
teste['Valid'].value_counts()

True    468386
Name: Valid, dtype: int64

In [55]:
# Preenchimento da coluna CFOP

tabela_2['CFOP'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['CFOP'], df['Código CFOP (04 Posições)'])

tabela_2['CFOP'] = tabela_2['CFOP'].astype(str).str.replace(r'\.0$', '', regex=True)

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411
...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409

In [56]:
# Preenchimento da coluna Entr_PCAT

cfops = ['5405', '5409', '1411', '5403', '5411', '5401', '1403', '1409']

# Assuming 'Código CFOP (04 Posições)' is the column you want to check against cfops
tabela_2['Entr_PCAT'] = tabela_2['CFOP'].isin(cfops).astype(int)
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202,0
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202,0
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411,1
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411,1
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411,1
...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927,0
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927,0
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927,0
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927,0
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409,1

In [57]:
# Preenchimento das colunas QTD_NOTA, QTD_CAT e FATOR_CONV

tabela_2['QTD_NOTA'] = df['Quantidade Comercial'].str.replace(',', '').astype(float) / 10000
tabela_2['QTD_CAT'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                                df['QUANTI_EFDS'], df['Quantidade Comercial'].str.replace(',', '').astype(float) / 10000)

tabela_2['QTD_NOTA'] = tabela_2['QTD_NOTA'].astype(str).str.replace(r'\.0$', '', regex=True)
tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].astype(str).str.replace(r'\.0$', '', regex=True)
tabela_2['QTD_EFD'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                                df['QUANTI_EFDS'], np.nan)

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202,0,1,1,NaN
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202,0,1,1,NaN
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411,1,1,1,NaN
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411,1,1,1,NaN
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927,0,1,1,NaN
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927,0,2,2,NaN
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927,0,2,2,NaN
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927,0,5,5,NaN
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409,1,2,2,NaN

In [58]:
# Preenchimento da coluna ICMS_TOT 

tabela_2['ICMS_TOT'] = df['ICMS_TOT']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202,0,1,1,NaN,NaN
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202,0,1,1,NaN,NaN
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411,1,1,1,NaN,NaN
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411,1,1,1,NaN,NaN
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411,1,1,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927,0,1,1,NaN,NaN
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927,0,2,2,NaN,NaN
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927,0,2,2,NaN,NaN
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927,0,5,5,NaN,NaN
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409,1,2,2,NaN,NaN

In [59]:
df['CFOP'].unique()

array(['1202', '1411', '2949', '1403', '1102', '1409', '1556', '1407',
       '1152', '1949', '1209', '1910', '1128', nan], dtype=object)

In [60]:
# Preenchimento da coluna DESCRICAO

tabela_2['DESCRICAO'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['DESC_PROD'], df['Descrição Produto'])

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202,0,1,1,NaN,NaN,Soro Fisiol Adv 100ml
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202,0,1,1,NaN,NaN,Valda Friends S/A 25g
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411,1,1,1,NaN,NaN,Sal De Fruta Tradicional 100g
...,...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927,0,1,1,NaN,NaN,Leite Aptamil 3 800gr
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927,0,2,2,NaN,NaN,Pastilha Tic-Tac M.Crush Und
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927,0,2,2,NaN,NaN,Castanha De Caju Conlife 50g
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927,0,5,5,NaN,NaN,Castanha Do Para Conlife 50g
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409,1,2,2,NaN,NaN,Quetiapina 50mg 30S Euro C1

In [61]:
# Preenchimento da coluna CODIGO_BARRA

# tabela_2['CODIGO_BARRA'] = df['Código GTIN']
tabela_2['CODIGO_BARRA'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['EAN'], df['Código GTIN'])

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202,0,1,1,NaN,NaN,Soro Fisiol Adv 100ml,SEM GTIN
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202,0,1,1,NaN,NaN,Valda Friends S/A 25g,SEM GTIN
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S,SEM GTIN
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S,SEM GTIN
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411,1,1,1,NaN,NaN,Sal De Fruta Tradicional 100g,SEM GTIN
...,...,...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927,0,1,1,NaN,NaN,Leite Aptamil 3 800gr,7891025107910
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927,0,2,2,NaN,NaN,Pastilha Tic-Tac M.Crush Und,0000078940017
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927,0,2,2,NaN,NaN,Castanha De Caju Conlife 50g,7898623355347
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927,0,5,5,NaN,NaN,Castanha Do Para Conlife 50g,7898623355354
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409,1,2,2,NaN,NaN,Quetiapina 50mg 30S Euro C1,7891317134303

In [62]:
df.columns

Index(['Chave Acesso NFe', 'Data Emissão', 'Número Item',
       'Código Produto ou Serviço', 'Código CFOP (04 Posições)',
       'Quantidade Comercial', 'Valor Produto ou Serviço',
       'Valor ICMS Operação', 'Valor ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS ST Retido Operação Anterior',
       'Descrição Produto', 'Código GTIN', 'Unidade Comercial', 'Código NCM',
       'Código CEST', 'Número CNPJ Emitente', 'Número CNPJ Destinatário',
       'Tipo', 'IND_OPER', 'NFref1', 'Item', 'ICMS ST Retido-Base de Cálculo',
       'Produto', 'vPMC', 'bc_complementar_total_item_original',
       'CHAVE_ORIGINAL', 'DATA_SAIDA', 'COD_DO_ITEM', 'CFOP', 'CODPROF',
       'QUANTI_EFDS', 'DESC_PROD', 'EAN', 'NCM_x', 'CHAVE_ITEM',
       'CODIGO_DO_PRODUTO', 'ALIQUOTA', 'CODIGO', 'NCM_y', 'ICMS_TOT'],
      dtype='object')

In [63]:
# Preenchimento da coluna UNIDADE

tabela_2['UNIDADE'] = df['Unidade Comercial']

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202,0,1,1,NaN,NaN,Soro Fisiol Adv 100ml,SEM GTIN,UN
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202,0,1,1,NaN,NaN,Valda Friends S/A 25g,SEM GTIN,UN
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S,SEM GTIN,UN
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S,SEM GTIN,UN
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411,1,1,1,NaN,NaN,Sal De Fruta Tradicional 100g,SEM GTIN,UN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927,0,1,1,NaN,NaN,Leite Aptamil 3 800gr,7891025107910,UN
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927,0,2,2,NaN,NaN,Pastilha Tic-Tac M.Crush Und,0000078940017,UN
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927,0,2,2,NaN,NaN,Castanha De Caju Conlife 50g,7898623355347,UN
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927,0,5,5,NaN,NaN,Castanha Do Para Conlife 50g,7898623355354,UN
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409,1,2,2,NaN,NaN,Quetiapina 50mg 30S Euro C1,7891317134303,UN

In [64]:
# Preenchimento da coluna N C M

df['N C M'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['NCM_x'], df['Código NCM'])
    

tabela_2['N C M'] = np.where(df['N C M'].notnull(),
                               df['N C M'], df['NCM_y'])
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202,0,1,1,NaN,NaN,Soro Fisiol Adv 100ml,SEM GTIN,UN,25010090.0
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202,0,1,1,NaN,NaN,Valda Friends S/A 25g,SEM GTIN,UN,21069060.0
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S,SEM GTIN,UN,30045090.0
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S,SEM GTIN,UN,30045090.0
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411,1,1,1,NaN,NaN,Sal De Fruta Tradicional 100g,SEM GTIN,UN,30049029.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927,0,1,1,NaN,NaN,Leite Aptamil 3 800gr,7891025107910,UN,19011010.0
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927,0,2,2,NaN,NaN,Pastilha Tic-Tac M.Crush Und,0000078940017,UN,17049020.0
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927,0,2,2,NaN,NaN,Castanha De Caju Conlife 50g,7898623355347,UN,8013200.0
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927,0,5,5,NaN,NaN,Castanha Do Para Conlife 50g,7898623355354,UN,8013200.0
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409,1,2,2,NaN,NaN,Quetiapina 50mg 30S Euro C1,7891317134303,UN,30049079.0

In [65]:
# Preenchimento da coluna ALIQUOTA

tabela_2['ALIQUOTA'] = df['ALIQUOTA']
tabela_2['ALIQUOTA'] = df['ALIQUOTA'].astype(str).str.replace(r'\.0$','', regex=True)
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202,0,1,1,NaN,NaN,Soro Fisiol Adv 100ml,SEM GTIN,UN,25010090.0,12
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202,0,1,1,NaN,NaN,Valda Friends S/A 25g,SEM GTIN,UN,21069060.0,0
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S,SEM GTIN,UN,30045090.0,18
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S,SEM GTIN,UN,30045090.0,18
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411,1,1,1,NaN,NaN,Sal De Fruta Tradicional 100g,SEM GTIN,UN,30049029.0,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927,0,1,1,NaN,NaN,Leite Aptamil 3 800gr,7891025107910,UN,19011010.0,18
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927,0,2,2,NaN,NaN,Pastilha Tic-Tac M.Crush Und,0000078940017,UN,17049020.0,0
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927,0,2,2,NaN,NaN,Castanha De Caju Conlife 50g,7898623355347,UN,8013200.0,0
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927,0,5,5,NaN,NaN,Castanha Do Para Conlife 50g,7898623355354,UN,8013200.0,0
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409,1,2,2,NaN,NaN,Quetiapina 50mg 30S Euro C1,7891317134303,UN,30049079.0,12

In [66]:
# Preenchimento da coluna CEST

tabela_2['CEST'] = df['Código CEST']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA,CEST
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202,0,1,1,NaN,NaN,Soro Fisiol Adv 100ml,SEM GTIN,UN,25010090.0,12,NaN
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202,0,1,1,NaN,NaN,Valda Friends S/A 25g,SEM GTIN,UN,21069060.0,0,2804100.0
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S,SEM GTIN,UN,30045090.0,18,1300101.0
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S,SEM GTIN,UN,30045090.0,18,1300101.0
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411,1,1,1,NaN,NaN,Sal De Fruta Tradicional 100g,SEM GTIN,UN,30049029.0,18,1300301.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927,0,1,1,NaN,NaN,Leite Aptamil 3 800gr,7891025107910,UN,19011010.0,18,2804100.0
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927,0,2,2,NaN,NaN,Pastilha Tic-Tac M.Crush Und,0000078940017,UN,17049020.0,0,2806200.0
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927,0,2,2,NaN,NaN,Castanha De Caju Conlife 50g,7898623355347,UN,8013200.0,0,NaN
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927,0,5,5,NaN,NaN,Castanha Do Para Conlife 50g,7898623355354,UN,8013200.0,0,NaN
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409,1,2,2,NaN,NaN,Quetiapina 50mg 30S Euro C1,7891317134303,UN,30049079.0,12,0.0

In [67]:
# Preenchimento das colunas CNPJ EMITENTE e CNPJ DESTINATARIO

tabela_2['CNPJ EMITENTE'] = df['Número CNPJ Emitente']
tabela_2['CNPJ DESTINATARIO'] = df['Número CNPJ Destinatário']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202,0,1,1,NaN,NaN,Soro Fisiol Adv 100ml,SEM GTIN,UN,25010090.0,12,NaN,7.160527e+13,0.000000e+00
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202,0,1,1,NaN,NaN,Valda Friends S/A 25g,SEM GTIN,UN,21069060.0,0,2804100.0,7.160527e+13,0.000000e+00
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S,SEM GTIN,UN,30045090.0,18,1300101.0,7.160527e+13,0.000000e+00
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S,SEM GTIN,UN,30045090.0,18,1300101.0,7.160527e+13,0.000000e+00
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411,1,1,1,NaN,NaN,Sal De Fruta Tradicional 100g,SEM GTIN,UN,30049029.0,18,1300301.0,7.160527e+13,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927,0,1,1,NaN,NaN,Leite Aptamil 3 800gr,7891025107910,UN,19011010.0,18,2804100.0,7.160527e+13,7.160527e+13
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927,0,2,2,NaN,NaN,Pastilha Tic-Tac M.Crush Und,0000078940017,UN,17049020.0,0,2806200.0,7.160527e+13,7.160527e+13
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927,0,2,2,NaN,NaN,Castanha De Caju Conlife 50g,7898623355347,UN,8013200.0,0,NaN,7.160527e+13,7.160527e+13
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927,0,5,5,NaN,NaN,Castanha Do Para Conlife 50g,7898623355354,UN,8013200.0,0,NaN,7.160527e+13,7.160527e+13
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409,1,2,2,NaN,NaN,Quetiapina 50mg 30S Euro C1,7891317134303,UN,30049079.0,12,0.0,7.160527e+13,7.160527e+13

In [68]:
# Preenchimento da coluna IND_OPER

tabela_2['IND_OPER'] = df['IND_OPER']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202,0,1,1,NaN,NaN,Soro Fisiol Adv 100ml,SEM GTIN,UN,25010090.0,12,NaN,7.160527e+13,0.000000e+00,0
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202,0,1,1,NaN,NaN,Valda Friends S/A 25g,SEM GTIN,UN,21069060.0,0,2804100.0,7.160527e+13,0.000000e+00,0
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S,SEM GTIN,UN,30045090.0,18,1300101.0,7.160527e+13,0.000000e+00,0
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S,SEM GTIN,UN,30045090.0,18,1300101.0,7.160527e+13,0.000000e+00,0
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411,1,1,1,NaN,NaN,Sal De Fruta Tradicional 100g,SEM GTIN,UN,30049029.0,18,1300301.0,7.160527e+13,0.000000e+00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927,0,1,1,NaN,NaN,Leite Aptamil 3 800gr,7891025107910,UN,19011010.0,18,2804100.0,7.160527e+13,7.160527e+13,1
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927,0,2,2,NaN,NaN,Pastilha Tic-Tac M.Crush Und,0000078940017,UN,17049020.0,0,2806200.0,7.160527e+13,7.160527e+13,1
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927,0,2,2,NaN,NaN,Castanha De Caju Conlife 50g,7898623355347,UN,8013200.0,0,NaN,7.160527e+13,7.160527e+13,1
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927,0,5,5,NaN,NaN,Castanha Do Para Conlife 50g,7898623355354,UN,8013200.0,0,NaN,7.160527e+13,7.160527e+13,1
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409,1,2,2,NaN,NaN,Quetiapina 50mg 30S Euro C1,7891317134303,UN,30049079.0,12,0.0,7.160527e+13,7.160527e+13,1

In [69]:
tabela_2['VALOR'] = df['Valor Produto ou Serviço']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER,VALOR
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202,0,1,1,NaN,NaN,Soro Fisiol Adv 100ml,SEM GTIN,UN,25010090.0,12,NaN,7.160527e+13,0.000000e+00,0,3.85
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202,0,1,1,NaN,NaN,Valda Friends S/A 25g,SEM GTIN,UN,21069060.0,0,2804100.0,7.160527e+13,0.000000e+00,0,4.26
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S,SEM GTIN,UN,30045090.0,18,1300101.0,7.160527e+13,0.000000e+00,0,8.99
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411,1,1,1,NaN,NaN,Benegrip Multi Dia 4S,SEM GTIN,UN,30045090.0,18,1300101.0,7.160527e+13,0.000000e+00,0,8.99
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411,1,1,1,NaN,NaN,Sal De Fruta Tradicional 100g,SEM GTIN,UN,30049029.0,18,1300301.0,7.160527e+13,0.000000e+00,0,20.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927,0,1,1,NaN,NaN,Leite Aptamil 3 800gr,7891025107910,UN,19011010.0,18,2804100.0,7.160527e+13,7.160527e+13,1,34.43
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927,0,2,2,NaN,NaN,Pastilha Tic-Tac M.Crush Und,0000078940017,UN,17049020.0,0,2806200.0,7.160527e+13,7.160527e+13,1,2.34
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927,0,2,2,NaN,NaN,Castanha De Caju Conlife 50g,7898623355347,UN,8013200.0,0,NaN,7.160527e+13,7.160527e+13,1,7.54
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927,0,5,5,NaN,NaN,Castanha Do Para Conlife 50g,7898623355354,UN,8013200.0,0,NaN,7.160527e+13,7.160527e+13,1,18.85
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409,1,2,2,NaN,NaN,Quetiapina 50mg 30S Euro C1,7891317134303,UN,30049079.0,12,0.0,7.160527e+13,7.160527e+13,1,153.26

In [70]:
df.columns

Index(['Chave Acesso NFe', 'Data Emissão', 'Número Item',
       'Código Produto ou Serviço', 'Código CFOP (04 Posições)',
       'Quantidade Comercial', 'Valor Produto ou Serviço',
       'Valor ICMS Operação', 'Valor ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS ST Retido Operação Anterior',
       'Descrição Produto', 'Código GTIN', 'Unidade Comercial', 'Código NCM',
       'Código CEST', 'Número CNPJ Emitente', 'Número CNPJ Destinatário',
       'Tipo', 'IND_OPER', 'NFref1', 'Item', 'ICMS ST Retido-Base de Cálculo',
       'Produto', 'vPMC', 'bc_complementar_total_item_original',
       'CHAVE_ORIGINAL', 'DATA_SAIDA', 'COD_DO_ITEM', 'CFOP', 'CODPROF',
       'QUANTI_EFDS', 'DESC_PROD', 'EAN', 'NCM_x', 'CHAVE_ITEM',
       'CODIGO_DO_PRODUTO', 'ALIQUOTA', 'CODIGO', 'NCM_y', 'ICMS_TOT',
       'N C M'],
      dtype='object')

In [71]:
tabela_2['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = df['Valor Base Cálculo ICMS ST Retido Operação Anterior']
tabela_2['Valor Base Cálculo ICMS Substituição Tributária'] = df['Valor Base Cálculo ICMS Substituição Tributária']
tabela_2['Valor Complementar'] = df['bc_complementar_total_item_original']
tabela_2['Valor ICMS Operação'] = df['Valor ICMS Operação']
tabela_2['Valor ICMS Substituição Tributária'] = df['Valor ICMS Substituição Tributária']
tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].replace('nan', np.nan)
tabela_2['FONTE'] = df['Tipo']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202,0,1,1,NaN,NaN,...,7.160527e+13,0.000000e+00,0,3.85,0.0,NaN,NaN,0.69,0.0,entrada_oprprp
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202,0,1,1,NaN,NaN,...,7.160527e+13,0.000000e+00,0,4.26,0.0,NaN,NaN,0.77,0.0,entrada_oprprp
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411,1,1,1,NaN,NaN,...,7.160527e+13,0.000000e+00,0,8.99,0.0,NaN,NaN,0.00,0.0,entrada_oprprp
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411,1,1,1,NaN,NaN,...,7.160527e+13,0.000000e+00,0,8.99,0.0,NaN,NaN,0.00,0.0,entrada_oprprp
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411,1,1,1,NaN,NaN,...,7.160527e+13,0.000000e+00,0,20.49,0.0,NaN,NaN,0.00,0.0,entrada_oprprp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927,0,1,1,NaN,NaN,...,7.160527e+13,7.160527e+13,1,34.43,0.0,NaN,NaN,0.00,0.0,saida_nfe
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927,0,2,2,NaN,NaN,...,7.160527e+13,7.160527e+13,1,2.34,0.0,NaN,NaN,0.00,0.0,saida_nfe
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927,0,2,2,NaN,NaN,...,7.160527e+13,7.160527e+13,1,7.54,0.0,NaN,NaN,0.00,0.0,saida_nfe
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927,0,5,5,NaN,NaN,...,7.160527e+13,7.160527e+13,1,18.85,0.0,NaN,NaN,0.00,0.0,saida_nfe
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409,1,2,2,NaN,NaN,...,7.160527e+13,7.160527e+13,1,153.26,0.0,NaN,NaN,0.00,0.0,saida_nfe

In [72]:
#tabela_2.rename(columns={'QTD_NOTA': 'QTD'}, inplace=True)

In [73]:
tabela_2 = tabela_2[tabela_2['DATA'] >= '2019-10-01']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE
0,35191071605265000242550020000049781157967795,2019-10-01,3,899765,1202,0,1,1,NaN,NaN,...,7.160527e+13,0.000000e+00,0,3.85,0.0,NaN,NaN,0.69,0.0,entrada_oprprp
1,35191071605265000242550020000049781157967795,2019-10-01,4,853770,1202,0,1,1,NaN,NaN,...,7.160527e+13,0.000000e+00,0,4.26,0.0,NaN,NaN,0.77,0.0,entrada_oprprp
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411,1,1,1,NaN,NaN,...,7.160527e+13,0.000000e+00,0,8.99,0.0,NaN,NaN,0.00,0.0,entrada_oprprp
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411,1,1,1,NaN,NaN,...,7.160527e+13,0.000000e+00,0,8.99,0.0,NaN,NaN,0.00,0.0,entrada_oprprp
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411,1,1,1,NaN,NaN,...,7.160527e+13,0.000000e+00,0,20.49,0.0,NaN,NaN,0.00,0.0,entrada_oprprp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468381,35201271605265000242550020000060701184663425,2020-12-29,15,93864,5927,0,1,1,NaN,NaN,...,7.160527e+13,7.160527e+13,1,34.43,0.0,NaN,NaN,0.00,0.0,saida_nfe
468382,35201271605265000242550020000060701184663425,2020-12-29,21,223891,5927,0,2,2,NaN,NaN,...,7.160527e+13,7.160527e+13,1,2.34,0.0,NaN,NaN,0.00,0.0,saida_nfe
468383,35201271605265000242550020000060701184663425,2020-12-29,36,225649,5927,0,2,2,NaN,NaN,...,7.160527e+13,7.160527e+13,1,7.54,0.0,NaN,NaN,0.00,0.0,saida_nfe
468384,35201271605265000242550020000060701184663425,2020-12-29,37,225656,5927,0,5,5,NaN,NaN,...,7.160527e+13,7.160527e+13,1,18.85,0.0,NaN,NaN,0.00,0.0,saida_nfe
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409,1,2,2,NaN,NaN,...,7.160527e+13,7.160527e+13,1,153.26,0.0,NaN,NaN,0.00,0.0,saida_nfe

In [74]:
tabela_2 = tabela_2[tabela_2['Entr_PCAT'] == 1]

In [75]:
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411,1,1,1,NaN,NaN,...,7.160527e+13,0.000000e+00,0,8.99,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411,1,1,1,NaN,NaN,...,7.160527e+13,0.000000e+00,0,8.99,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411,1,1,1,NaN,NaN,...,7.160527e+13,0.000000e+00,0,20.49,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
5,35191071605265000242550020000049841158075089,2019-10-03,1,135673,1411,1,1,1,NaN,NaN,...,7.160527e+13,0.000000e+00,0,221.71,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
6,35191071605265000242550020000049891158086516,2019-10-03,1,185702,1411,1,1,1,NaN,NaN,...,7.160527e+13,0.000000e+00,0,161.73,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468328,35201271605265000242550020000060371183368450,2020-12-07,1,860932,5409,1,2,2,NaN,NaN,...,7.160527e+13,7.160527e+13,1,27.34,0.0,NaN,NaN,0.0,0.0,saida_nfe
468329,35201271605265000242550020000060411183631595,2020-12-10,1,915082,5409,1,12,12,NaN,NaN,...,7.160527e+13,7.160527e+13,1,23.16,0.0,NaN,NaN,0.0,0.0,saida_nfe
468334,35201271605265000242550020000060431183641471,2020-12-10,1,141192,5409,1,4,4,NaN,NaN,...,7.160527e+13,7.160527e+13,1,25.80,0.0,NaN,NaN,0.0,0.0,saida_nfe
468335,35201271605265000242550020000060621184489660,2020-12-24,1,34348,5409,1,18,18,NaN,NaN,...,7.160527e+13,7.160527e+13,1,175.32,0.0,NaN,NaN,0.0,0.0,saida_nfe
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409,1,2,2,NaN,NaN,...,7.160527e+13,7.160527e+13,1,153.26,0.0,NaN,NaN,0.0,0.0,saida_nfe

In [76]:
df_2 = pd.read_excel('CFOP_e_template.xlsx', sheet_name='Tb_CFOP')

tabela_2['CFOP'] = tabela_2['CFOP'].astype(int)
df_2['CFOP'] = df_2['CFOP'].astype(int)
# Adição da informação do sub-tipo à tabela principal

df_new = tabela_2.join(df_2.set_index('CFOP'), lsuffix='_orig', rsuffix='_externo', on='CFOP')
df_new['DATA'] = pd.to_datetime(df_new['DATA'], format='%Y-%m-%d')
df_new = df_new.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER'])
df_new['ALIQUOTA'] = df_new['ALIQUOTA'].astype(float)
# Preenchimento da coluna VL_CONFR

mask = (df_new['IND_OPER'] == 1) & (df_new['SINAL'] == 1) & \
       (df_new['CFOP'] != 5409) 

# Calculate the values using NumPy operations
values = np.where(mask, df_new['VALOR'] * (df_new['ALIQUOTA'] / 100), np.nan)

# Assign the calculated values to the 'vl_confr' column
        
df_new['VL_CONFR'] = values

df_new

C:\Users\vinic\AppData\Local\Temp\ipykernel_10996\1709694777.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['CFOP'] = tabela_2['CFOP'].astype(int)

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE,Válido para Ressarcimento?,SINAL,VL_CONFR
331951,35191071605265000242590006721510276134773095,2019-10-10,2,100073,5405,1,1,1,NaN,NaN,...,70.52,0.00,NaN,NaN,0.0,0.0,dfe,S,1,12.6936
6582,35191027849963000110550010005828591005810118,2019-10-12,8,100073,1403,1,1,1,1,11.8242,...,55.69,63.62,NaN,2.07,0.0,0.0,entrada_sp,S,1,NaN
168353,35191071605265000242590006721510284038381069,2019-10-15,1,100073,5405,1,1,1,NaN,NaN,...,70.52,0.00,NaN,NaN,0.0,0.0,dfe,S,1,12.6936
8064,35191027849963000110550010005867621005849152,2019-10-17,74,100073,1403,1,1,1,1,11.8242,...,55.69,63.62,NaN,2.07,0.0,0.0,entrada_sp,S,1,NaN
259339,35191071605265000242590006721510291586880241,2019-10-18,1,100073,5405,1,1,1,NaN,NaN,...,70.52,0.00,NaN,NaN,0.0,0.0,dfe,S,1,12.6936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186491,35201071605265000242590006721510777681464509,2020-10-06,2,99234,5405,1,1,1,NaN,NaN,...,4.49,0.00,NaN,NaN,0.0,0.0,dfe,S,1,1.1225
385205,35201171605265000242590003258560733924203426,2020-11-03,17,99234,5405,1,1,1,NaN,NaN,...,4.49,0.00,NaN,NaN,0.0,0.0,dfe,S,1,1.1225
128313,35201127849963000110550010009730541009697470,2020-11-06,3,99234,1403,1,1,1,1,1.3875,...,3.41,1.88,NaN,3.67,0.0,0.0,entrada_sp,S,1,NaN
451020,35201271605265000242590006721510840529542122,2020-12-18,9,99234,5405,1,1,1,NaN,NaN,...,4.04,0.00,NaN,NaN,0.0,0.0,dfe,S,1,1.0100
140074,35201227849963000110550010010232531010197279,2020-12-20,50,99234,1403,1,1,1,1,1.4075,...,3.46,1.88,NaN,3.75,0.0,0.0,entrada_sp,S,1,NaN

In [77]:
tabela_2['SUB_TIPO'] = df_new['SINAL']
tabela_2['VL_CONFR_0'] = df_new['VL_CONFR']
tabela_2

C:\Users\vinic\AppData\Local\Temp\ipykernel_10996\4163718643.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['SUB_TIPO'] = df_new['SINAL']
C:\Users\vinic\AppData\Local\Temp\ipykernel_10996\4163718643.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['VL_CONFR_0'] = df_new['VL_CONFR']

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,IND_OPER,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE,SUB_TIPO,VL_CONFR_0
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411,1,1,1,NaN,NaN,...,0,8.99,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411,1,1,1,NaN,NaN,...,0,8.99,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411,1,1,1,NaN,NaN,...,0,20.49,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN
5,35191071605265000242550020000049841158075089,2019-10-03,1,135673,1411,1,1,1,NaN,NaN,...,0,221.71,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN
6,35191071605265000242550020000049891158086516,2019-10-03,1,185702,1411,1,1,1,NaN,NaN,...,0,161.73,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468328,35201271605265000242550020000060371183368450,2020-12-07,1,860932,5409,1,2,2,NaN,NaN,...,1,27.34,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN
468329,35201271605265000242550020000060411183631595,2020-12-10,1,915082,5409,1,12,12,NaN,NaN,...,1,23.16,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN
468334,35201271605265000242550020000060431183641471,2020-12-10,1,141192,5409,1,4,4,NaN,NaN,...,1,25.80,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN
468335,35201271605265000242550020000060621184489660,2020-12-24,1,34348,5409,1,18,18,NaN,NaN,...,1,175.32,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409,1,2,2,NaN,NaN,...,1,153.26,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN

In [78]:
tabela_2['ALIQUOTA'] = tabela_2['ALIQUOTA'].astype(str).replace('', np.nan).fillna(0).astype(float)

C:\Users\vinic\AppData\Local\Temp\ipykernel_10996\4205437014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['ALIQUOTA'] = tabela_2['ALIQUOTA'].astype(str).replace('', np.nan).fillna(0).astype(float)

In [79]:
# Preenchimento da coluna COD_LEGAL
conditions = [
    tabela_2['CFOP'] == 5927,
    tabela_2['CFOP'] == 5409,
    (tabela_2['IND_OPER'] == 0) & (tabela_2['SUB_TIPO'] == 1),
    (tabela_2['IND_OPER'] == 1) & (tabela_2['SUB_TIPO'] == -1)
]

choices = [2, 0, np.nan, np.nan]

# If none of the conditions are met, the default choice is 1
default_choice = 1

# Use numpy.select to set values for 'COD_LEGAL'
tabela_2['COD_LEGAL'] = np.select(conditions, choices, default=default_choice)

C:\Users\vinic\AppData\Local\Temp\ipykernel_10996\2235767169.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['COD_LEGAL'] = np.select(conditions, choices, default=default_choice)

In [80]:
tabela_2[(tabela_2['IND_OPER'] == 0) & (tabela_2['SUB_TIPO'] == 1)]['COD_LEGAL']

1003     NaN
1004     NaN
1005     NaN
1006     NaN
1007     NaN
          ..
142654   NaN
142655   NaN
142658   NaN
142659   NaN
142660   NaN
Name: COD_LEGAL, Length: 128322, dtype: float64

In [81]:
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE,SUB_TIPO,VL_CONFR_0,COD_LEGAL
2,35191071605265000242550020000049781157967795,2019-10-01,1,216705,1411,1,1,1,NaN,NaN,...,8.99,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN,1.0
3,35191071605265000242550020000049781157967795,2019-10-01,2,216705,1411,1,1,1,NaN,NaN,...,8.99,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN,1.0
4,35191071605265000242550020000049831158044089,2019-10-02,1,69898,1411,1,1,1,NaN,NaN,...,20.49,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN,1.0
5,35191071605265000242550020000049841158075089,2019-10-03,1,135673,1411,1,1,1,NaN,NaN,...,221.71,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN,1.0
6,35191071605265000242550020000049891158086516,2019-10-03,1,185702,1411,1,1,1,NaN,NaN,...,161.73,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468328,35201271605265000242550020000060371183368450,2020-12-07,1,860932,5409,1,2,2,NaN,NaN,...,27.34,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN,0.0
468329,35201271605265000242550020000060411183631595,2020-12-10,1,915082,5409,1,12,12,NaN,NaN,...,23.16,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN,0.0
468334,35201271605265000242550020000060431183641471,2020-12-10,1,141192,5409,1,4,4,NaN,NaN,...,25.80,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN,0.0
468335,35201271605265000242550020000060621184489660,2020-12-24,1,34348,5409,1,18,18,NaN,NaN,...,175.32,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN,0.0
468385,35201271605265000242550020000060731184816878,2020-12-31,1,155002,5409,1,2,2,NaN,NaN,...,153.26,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN,0.0

In [82]:
tabela_2['QTD_NOTA'] = tabela_2['QTD_NOTA'].astype(int)
tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].astype(int)
tabela_2['CHECAGEM'] = tabela_2['QTD_CAT']/tabela_2['QTD_NOTA']

C:\Users\vinic\AppData\Local\Temp\ipykernel_10996\2132809093.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['QTD_NOTA'] = tabela_2['QTD_NOTA'].astype(int)
C:\Users\vinic\AppData\Local\Temp\ipykernel_10996\2132809093.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].astype(int)
C:\Users\vinic\AppData\Local\Temp\ipykernel_10996\2132809093.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['CHECAGEM'] = tabela_2['QTD_CAT']/tabela_2['QTD_NOTA']

In [83]:
pivot_table = tabela_2[(tabela_2['FONTE'] == 'entrada_sp') | (tabela_2['FONTE'] == 'entrada_outras')].pivot_table(index='COD_ITEM', values='CHECAGEM', aggfunc='nunique').reset_index()
pivot_table

     COD_ITEM  CHECAGEM
0      100073         1
1       10009         1
2      100263         1
3      100388         1
4       10041         1
...       ...       ...
5819    98962         1
5820    98970         1
5821    99036         1
5822    99150         1
5823    99234         1

[5824 rows x 2 columns]

In [84]:
cod_items_with_multiple_values = pivot_table[pivot_table['CHECAGEM'] > 1]['COD_ITEM']
if cod_items_with_multiple_values.shape[0] > 0:
    print('Erro encontrado: Fator de conversão errado, favor verificar')
    sys.exit()

In [85]:
pivot_table[pivot_table['CHECAGEM'] > 1]['COD_ITEM'].unique()

array([], dtype=object)

In [86]:
tabela_2_filt = tabela_2[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM',
                    'IND_OPER', 'SUB_TIPO', 'QTD_CAT', 'QTD_EFD', 'ICMS_TOT','VL_CONFR_0', 'COD_LEGAL',
                    'ALIQUOTA', 'VALOR', 'Valor Base Cálculo ICMS ST Retido Operação Anterior',
                    'Valor Complementar', 'Valor ICMS Substituição Tributária', 'Valor ICMS Operação', 
                    'DESCRICAO', 'CODIGO_BARRA', 'UNIDADE', 'N C M','CEST', 'CNPJ EMITENTE', 'CNPJ DESTINATARIO',
                    'Valor Base Cálculo ICMS Substituição Tributária', 'FONTE']]
tabela_2_filt

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_EFD,ICMS_TOT,...,Valor ICMS Operação,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Valor Base Cálculo ICMS Substituição Tributária,FONTE
2,35191071605265000242550020000049781157967795,2019-10-01,1411,1,216705,0,-1,1,NaN,NaN,...,0.0,Benegrip Multi Dia 4S,SEM GTIN,UN,30045090.0,1300101.0,7.160527e+13,0.000000e+00,NaN,entrada_oprprp
3,35191071605265000242550020000049781157967795,2019-10-01,1411,2,216705,0,-1,1,NaN,NaN,...,0.0,Benegrip Multi Dia 4S,SEM GTIN,UN,30045090.0,1300101.0,7.160527e+13,0.000000e+00,NaN,entrada_oprprp
4,35191071605265000242550020000049831158044089,2019-10-02,1411,1,69898,0,-1,1,NaN,NaN,...,0.0,Sal De Fruta Tradicional 100g,SEM GTIN,UN,30049029.0,1300301.0,7.160527e+13,0.000000e+00,NaN,entrada_oprprp
5,35191071605265000242550020000049841158075089,2019-10-03,1411,1,135673,0,-1,1,NaN,NaN,...,0.0,Esogastro Ibp 20mg 84S,SEM GTIN,UN,30049099.0,1300301.0,7.160527e+13,0.000000e+00,NaN,entrada_oprprp
6,35191071605265000242550020000049891158086516,2019-10-03,1411,1,185702,0,-1,1,NaN,NaN,...,0.0,Dexilant 60mg 60S Takeda,SEM GTIN,UN,30039033.0,0.0,7.160527e+13,0.000000e+00,NaN,entrada_oprprp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468328,35201271605265000242550020000060371183368450,2020-12-07,5409,1,860932,1,1,2,NaN,NaN,...,0.0,Levoid 88mcg 30S Ache,7896658008801,UN,30043981.0,1300300.0,7.160527e+13,7.160527e+13,NaN,saida_nfe
468329,35201271605265000242550020000060411183631595,2020-12-10,5409,1,915082,1,1,12,NaN,NaN,...,0.0,Fenobarbital U.Q 100mg 30S C1,7896006237372,UN,30049069.0,1300200.0,7.160527e+13,7.160527e+13,NaN,saida_nfe
468334,35201271605265000242550020000060431183641471,2020-12-10,5409,1,141192,1,1,4,NaN,NaN,...,0.0,Alprazolam Leg 2mg 30S B1,7894916149143,UN,30049064.0,1300200.0,7.160527e+13,7.160527e+13,NaN,saida_nfe
468335,35201271605265000242550020000060621184489660,2020-12-24,5409,1,34348,1,1,18,NaN,NaN,...,0.0,Ceftriaxona Eur 1g Im 1ml,7891317007836,UN,30042059.0,1300200.0,7.160527e+13,7.160527e+13,NaN,saida_nfe
468385,35201271605265000242550020000060731184816878,2020-12-31,5409,1,155002,1,1,2,NaN,NaN,...,0.0,Quetiapina 50mg 30S Euro C1,7891317134303,UN,30049079.0,0.0,7.160527e+13,7.160527e+13,NaN,saida_nfe

In [87]:
tabela_2['ICMS_TOT'].sum()

1032957.7784999999

In [88]:
# Salvamento do arquivo da tabela 2

tabela_2_filt.to_csv(f'Loja_{loja}/loja_{loja}_tabela_2_vteste.csv')

In [89]:
engine.dispose()

In [90]:
end = time()

print(end-start)

87.89526343345642