In [3]:
# Importação das bibliotecas necessárias

import pandas as pd
import numpy as np
import glob
import os
import re
import psycopg2
from datetime import datetime
import locale

In [4]:
# Estabelecimento de conexão com o banco de dados
# para extração das informações das tabelas necessárias

connection = psycopg2.connect(
        user="cat",
        password="5pM2h0MBQu9JHkxHud2A",
        host="177.11.49.194",
        port="3361",
        database="cat"
    )

In [5]:
# Definição da loja a ser utilizada

loja = 28

In [6]:
# Importação das planilhas necessárias para
# gerar os documentos da 000, 0150, 0200, 1050 e 1100

planilha1 = pd.read_excel(f'Loja_{loja}/ficha_3_loja_{loja}_p1_v1.xlsb', sheet_name='ficha3', engine='pyxlsb')
planilha2 = pd.read_excel(f'Loja_{loja}/ficha_3_loja_{loja}_p2_v1.xlsb', sheet_name='ficha3', engine='pyxlsb')

planilha = pd.concat([planilha1, planilha2])
planilha = planilha.reset_index()
planilha['DATA'] = pd.to_datetime(planilha['DATA'], format='%Y-%m-%d')
planilha

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,VLR_CONFR_PCAT,SALDO_FINAL_MES_QTD,SALDO_FINAL_MES_ICMS,ALIQUOTA,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT
0,0,35191027849963000110550010005851251005832739,2019-10-16,1403,6,18,0,1,3,0.0,...,NaN,NaN,NaN,18.0,46.35,51.03,52.99,0.0,0.0,18.7236
1,1,35191027849963000110550010005864571005846114,2019-10-17,1403,6,18,0,1,2,NaN,...,NaN,NaN,NaN,18.0,30.90,34.02,35.33,0.0,0.0,12.4830
2,2,35191006161357001371590000459452376749653022,2019-10-22,5405,2,18,1,1,1,NaN,...,6.244000,NaN,NaN,18.0,19.72,0.00,NaN,0.0,0.0,0.0000
3,3,35191006161357001371590000459452376749653022,2019-10-22,5405,3,18,1,1,1,NaN,...,6.245000,NaN,NaN,18.0,19.72,0.00,NaN,0.0,0.0,0.0000
4,4,35191006161357001371590000459452376749653022,2019-10-22,5405,4,18,1,1,1,NaN,...,6.246667,NaN,NaN,18.0,19.72,0.00,NaN,0.0,0.0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337657,575708,35201206161357001371590000459452944477807768,2020-12-02,5405,2,935916,1,1,1,NaN,...,17.871644,NaN,NaN,12.0,35.47,0.00,NaN,0.0,0.0,0.0000
1337658,575709,35201206161357001371590000459452944477807768,2020-12-02,5405,3,935916,1,1,1,NaN,...,17.871655,NaN,NaN,12.0,35.47,0.00,NaN,0.0,0.0,0.0000
1337659,575710,35201206161357001371590000162453848713824403,2020-12-07,5405,18,935916,1,1,1,NaN,...,17.871667,NaN,NaN,12.0,45.60,0.00,NaN,0.0,0.0,0.0000
1337660,575711,35201206161357001371590000162453848713824403,2020-12-07,5405,19,935916,1,1,1,NaN,...,17.871678,NaN,NaN,12.0,45.60,0.00,NaN,0.0,0.0,0.0000
1337661,575712,35201206161357001371590000162453848713824403,2020-12-07,5405,20,935916,1,1,1,NaN,...,17.871690,141.0,2519.91,12.0,45.60,0.00,NaN,0.0,0.0,0.0000

In [7]:
tabela_2 = pd.read_csv(f'Loja_{loja}/loja_{loja}_tabela_2_v1.csv')
tabela_2 = tabela_2.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                           ascending=[True, True, True, False])
tabela_2

C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\2603824844.py:1: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  tabela_2 = pd.read_csv(f'Loja_{loja}/loja_{loja}_tabela_2_v1.csv')

,Unnamed: 0,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_EFD,...,Valor ICMS Operação,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Valor Base Cálculo ICMS Substituição Tributária,FONTE
19554,50180,35191027849963000110550010005851251005832739,2019-10-16,1403,6,18,0,1,3,3.0,...,0.0,DEPAKENE 250MG 25'S ABB C1,7891158000942,UN,30049099.0,1300100.0,2.784996e+13,6.161357e+12,NaN,entrada_sp
20711,51428,35191027849963000110550010005864571005846114,2019-10-17,1403,6,18,0,1,2,2.0,...,0.0,DEPAKENE 250MG 25'S ABB C1,7891158000942,UN,30049099.0,1300100.0,2.784996e+13,6.161357e+12,NaN,entrada_sp
850132,997644,35191006161357001371590000459452376749653022,2019-10-22,5405,2,18,1,1,1,NaN,...,0.0,3759 - DEPAKENE 250MG 25'S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
850133,997645,35191006161357001371590000459452376749653022,2019-10-22,5405,3,18,1,1,1,NaN,...,0.0,3759 - DEPAKENE 250MG 25'S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
850134,997646,35191006161357001371590000459452376749653022,2019-10-22,5405,4,18,1,1,1,NaN,...,0.0,3759 - DEPAKENE 250MG 25'S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278870,1520082,35201206161357001371590000459452944477807768,2020-12-02,5405,2,935916,1,1,1,NaN,...,0.0,82296 - ATORVASTATINA 40MG 30S EMS,7896004729442.0,UN,30049069.0,NaN,NaN,NaN,NaN,dfe
1278871,1520083,35201206161357001371590000459452944477807768,2020-12-02,5405,3,935916,1,1,1,NaN,...,0.0,82296 - ATORVASTATINA 40MG 30S EMS,7896004729442.0,UN,30049069.0,NaN,NaN,NaN,NaN,dfe
1082981,1278198,35201206161357001371590000162453848713824403,2020-12-07,5405,18,935916,1,1,1,NaN,...,0.0,4684 - ATORVASTATINA 40MG 3,7896004729442.0,UN,30049069.0,NaN,NaN,NaN,NaN,dfe
1082982,1278199,35201206161357001371590000162453848713824403,2020-12-07,5405,19,935916,1,1,1,NaN,...,0.0,4684 - ATORVASTATINA 40MG 3,7896004729442.0,UN,30049069.0,NaN,NaN,NaN,NaN,dfe
1082983,1278200,35201206161357001371590000162453848713824403,2020-12-07,5405,20,935916,1,1,1,NaN,...,0.0,4684 - ATORVASTATINA 40MG 3,7896004729442.0,UN,30049069.0,NaN,NaN,NaN,NaN,dfe

In [8]:
planilha['DESCRICAO'] = tabela_2['DESCRICAO']
planilha['CODIGO_BARRA'] = tabela_2['CODIGO_BARRA']
planilha['UNIDADE'] = tabela_2['UNIDADE']
planilha['N C M'] = tabela_2['N C M']
planilha['CEST'] = tabela_2['CEST']
planilha['CNPJ EMITENTE'] = tabela_2['CNPJ EMITENTE']
planilha['CNPJ DESTINATARIO'] = tabela_2['CNPJ DESTINATARIO']

In [9]:
planilha.head()

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO
0,0,35191027849963000110550010005851251005832739,2019-10-16,1403,6,18,0,1,3,0.0,...,0.0,0.0,18.7236,Clor Oxibutinina Ems 120ml Xpe,SEM GTIN,UN,30049099.0,1300201.0,6.161357e+12,0.0
1,1,35191027849963000110550010005864571005846114,2019-10-17,1403,6,18,0,1,2,NaN,...,0.0,0.0,12.4830,Aradois 25mg 30S Biolab Sanus,SEM GTIN,UN,30049069.0,1300300.0,6.161357e+12,0.0
2,2,35191006161357001371590000459452376749653022,2019-10-22,5405,2,18,1,1,1,NaN,...,0.0,0.0,0.0000,Aciclovir Sand 400mg 30S,SEM GTIN,UN,30049069.0,1300200.0,6.161357e+12,0.0
3,3,35191006161357001371590000459452376749653022,2019-10-22,5405,3,18,1,1,1,NaN,...,0.0,0.0,0.0000,Ivermectina 6mg 4S Vitamedic,SEM GTIN,UN,30049059.0,1300200.0,6.161357e+12,0.0
4,4,35191006161357001371590000459452376749653022,2019-10-22,5405,4,18,1,1,1,NaN,...,0.0,0.0,0.0000,Esc D Condor Lilica+Gel D,SEM GTIN,UN,96032100.0,2005800.0,6.161357e+12,0.0

In [10]:
planilha['DESCRICAO'] = planilha['DESCRICAO'].str.replace('"', "'")

In [11]:
planilha['N C M'] = pd.to_numeric(planilha['N C M'])
planilha['N C M'] = planilha['N C M'].astype(str).str.replace(r'\.0$', '', regex=True)

planilha['CEST'] = pd.to_numeric(planilha['CEST'])
planilha['CEST'] = planilha['CEST'].astype('Int64').astype(str).replace('<NA>', np.nan)
planilha['CEST'] = planilha['CEST'].astype(str).str.replace(r'\.0$', '', regex=True)

planilha['CNPJ EMITENTE'] = pd.to_numeric(planilha['CNPJ EMITENTE'])
planilha['CNPJ EMITENTE'] = planilha['CNPJ EMITENTE'].astype('Int64').astype(str).replace('<NA>', np.nan)

planilha['QTD_CAT'] = planilha['QTD_CAT'].astype(str) + ',000'

planilha['COD_LEGAL_PCAT'] = pd.to_numeric(planilha['COD_LEGAL_PCAT'])
planilha['COD_LEGAL_PCAT'] = planilha['COD_LEGAL_PCAT'].astype('Int64').astype(str).replace('<NA>', np.nan)

planilha['CFOP'] = pd.to_numeric(planilha['CFOP'])
planilha['CFOP'] = planilha['CFOP'].astype('Int64').astype(str).replace('<NA>', np.nan)

planilha['UNIDADE'] = planilha['UNIDADE'].str.strip()

def format_number(value):
    return '{:,.2f}'.format(value).replace(',', '.')

planilha

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO
0,0,35191027849963000110550010005851251005832739,2019-10-16,1403,6,18,0,1,"3,000",0.0,...,0.0,0.0,18.7236,Clor Oxibutinina Ems 120ml Xpe,SEM GTIN,UN,30049099,1300201,6161357001371,0.000000e+00
1,1,35191027849963000110550010005864571005846114,2019-10-17,1403,6,18,0,1,"2,000",NaN,...,0.0,0.0,12.4830,Aradois 25mg 30S Biolab Sanus,SEM GTIN,UN,30049069,1300300,6161357001371,0.000000e+00
2,2,35191006161357001371590000459452376749653022,2019-10-22,5405,2,18,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Aciclovir Sand 400mg 30S,SEM GTIN,UN,30049069,1300200,6161357001371,0.000000e+00
3,3,35191006161357001371590000459452376749653022,2019-10-22,5405,3,18,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Ivermectina 6mg 4S Vitamedic,SEM GTIN,UN,30049059,1300200,6161357001371,0.000000e+00
4,4,35191006161357001371590000459452376749653022,2019-10-22,5405,4,18,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Esc D Condor Lilica+Gel D,SEM GTIN,UN,96032100,2005800,6161357001371,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337657,575708,35201206161357001371590000459452944477807768,2020-12-02,5405,2,935916,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Clor Metilfenidato Ems 10mg 60,7896004754161,UN,30049069,1300201,6161357001371,6.161357e+12
1337658,575709,35201206161357001371590000459452944477807768,2020-12-02,5405,3,935916,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Entresto 24+26mg 28S Novartis,7896261020269,UN,30049069,1300101,6161357001371,6.161357e+12
1337659,575710,35201206161357001371590000162453848713824403,2020-12-07,5405,18,935916,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Klassis Tx+ Serum 30g,7897129304484,UN,33049990,2001500,6161357001371,6.161357e+12
1337660,575711,35201206161357001371590000162453848713824403,2020-12-07,5405,19,935916,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Nutriol Lc Hid S/Perf 200ml,3282770205817,UN,33049910,0,6161357001371,6.161357e+12
1337661,575712,35201206161357001371590000162453848713824403,2020-12-07,5405,20,935916,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Restiva 5mg Ades Trans C/2,7898586630314,UN,30039034,1300100,6161357001371,6.161357e+12

In [12]:
#query = f'SELECT * FROM tabela_efds_modelo55 WHERE LOJA = {loja}'

#efd = pd.read_sql_query(query, connection)
#efd

In [13]:
planilha = planilha.drop_duplicates()
planilha

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO
0,0,35191027849963000110550010005851251005832739,2019-10-16,1403,6,18,0,1,"3,000",0.0,...,0.0,0.0,18.7236,Clor Oxibutinina Ems 120ml Xpe,SEM GTIN,UN,30049099,1300201,6161357001371,0.000000e+00
1,1,35191027849963000110550010005864571005846114,2019-10-17,1403,6,18,0,1,"2,000",NaN,...,0.0,0.0,12.4830,Aradois 25mg 30S Biolab Sanus,SEM GTIN,UN,30049069,1300300,6161357001371,0.000000e+00
2,2,35191006161357001371590000459452376749653022,2019-10-22,5405,2,18,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Aciclovir Sand 400mg 30S,SEM GTIN,UN,30049069,1300200,6161357001371,0.000000e+00
3,3,35191006161357001371590000459452376749653022,2019-10-22,5405,3,18,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Ivermectina 6mg 4S Vitamedic,SEM GTIN,UN,30049059,1300200,6161357001371,0.000000e+00
4,4,35191006161357001371590000459452376749653022,2019-10-22,5405,4,18,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Esc D Condor Lilica+Gel D,SEM GTIN,UN,96032100,2005800,6161357001371,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337657,575708,35201206161357001371590000459452944477807768,2020-12-02,5405,2,935916,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Clor Metilfenidato Ems 10mg 60,7896004754161,UN,30049069,1300201,6161357001371,6.161357e+12
1337658,575709,35201206161357001371590000459452944477807768,2020-12-02,5405,3,935916,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Entresto 24+26mg 28S Novartis,7896261020269,UN,30049069,1300101,6161357001371,6.161357e+12
1337659,575710,35201206161357001371590000162453848713824403,2020-12-07,5405,18,935916,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Klassis Tx+ Serum 30g,7897129304484,UN,33049990,2001500,6161357001371,6.161357e+12
1337660,575711,35201206161357001371590000162453848713824403,2020-12-07,5405,19,935916,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Nutriol Lc Hid S/Perf 200ml,3282770205817,UN,33049910,0,6161357001371,6.161357e+12
1337661,575712,35201206161357001371590000162453848713824403,2020-12-07,5405,20,935916,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Restiva 5mg Ades Trans C/2,7898586630314,UN,30039034,1300100,6161357001371,6.161357e+12

In [14]:
planilha['CODIGO_BARRA'] = np.where(pd.notnull(planilha['CODIGO_BARRA']), planilha['CODIGO_BARRA'].astype(str).str.replace(r'\.0$', '', regex=True),
                                   np.nan)
planilha

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO
0,0,35191027849963000110550010005851251005832739,2019-10-16,1403,6,18,0,1,"3,000",0.0,...,0.0,0.0,18.7236,Clor Oxibutinina Ems 120ml Xpe,SEM GTIN,UN,30049099,1300201,6161357001371,0.000000e+00
1,1,35191027849963000110550010005864571005846114,2019-10-17,1403,6,18,0,1,"2,000",NaN,...,0.0,0.0,12.4830,Aradois 25mg 30S Biolab Sanus,SEM GTIN,UN,30049069,1300300,6161357001371,0.000000e+00
2,2,35191006161357001371590000459452376749653022,2019-10-22,5405,2,18,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Aciclovir Sand 400mg 30S,SEM GTIN,UN,30049069,1300200,6161357001371,0.000000e+00
3,3,35191006161357001371590000459452376749653022,2019-10-22,5405,3,18,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Ivermectina 6mg 4S Vitamedic,SEM GTIN,UN,30049059,1300200,6161357001371,0.000000e+00
4,4,35191006161357001371590000459452376749653022,2019-10-22,5405,4,18,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Esc D Condor Lilica+Gel D,SEM GTIN,UN,96032100,2005800,6161357001371,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337657,575708,35201206161357001371590000459452944477807768,2020-12-02,5405,2,935916,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Clor Metilfenidato Ems 10mg 60,7896004754161,UN,30049069,1300201,6161357001371,6.161357e+12
1337658,575709,35201206161357001371590000459452944477807768,2020-12-02,5405,3,935916,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Entresto 24+26mg 28S Novartis,7896261020269,UN,30049069,1300101,6161357001371,6.161357e+12
1337659,575710,35201206161357001371590000162453848713824403,2020-12-07,5405,18,935916,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Klassis Tx+ Serum 30g,7897129304484,UN,33049990,2001500,6161357001371,6.161357e+12
1337660,575711,35201206161357001371590000162453848713824403,2020-12-07,5405,19,935916,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Nutriol Lc Hid S/Perf 200ml,3282770205817,UN,33049910,0,6161357001371,6.161357e+12
1337661,575712,35201206161357001371590000162453848713824403,2020-12-07,5405,20,935916,1,1,"1,000",NaN,...,0.0,0.0,0.0000,Restiva 5mg Ades Trans C/2,7898586630314,UN,30039034,1300100,6161357001371,6.161357e+12

In [15]:
mes_ano = []
for date in planilha['DATA']:
    mes_ano.append(str(date)[5:7] + str(date)[0:4])

planilha['Data'] = mes_ano
planilha['Data'].unique()

array(['102019', '112019', '122019', '012020', '022020', '032020',
       '042020', '052020', '062020', '072020', '082020', '092020',
       '102020', '112020', '122020'], dtype=object)

In [16]:
planilha.replace('nan', np.nan, inplace=True)

In [17]:
planilha['DATA'].astype(str).iloc[0][8:]

'16'

In [18]:
planilha

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,Valor ICMS Operação,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Data
0,0,35191027849963000110550010005851251005832739,2019-10-16,1403,6,18,0,1,"3,000",0.0,...,0.0,18.7236,Clor Oxibutinina Ems 120ml Xpe,SEM GTIN,UN,30049099,1300201,6161357001371,0.000000e+00,102019
1,1,35191027849963000110550010005864571005846114,2019-10-17,1403,6,18,0,1,"2,000",NaN,...,0.0,12.4830,Aradois 25mg 30S Biolab Sanus,SEM GTIN,UN,30049069,1300300,6161357001371,0.000000e+00,102019
2,2,35191006161357001371590000459452376749653022,2019-10-22,5405,2,18,1,1,"1,000",NaN,...,0.0,0.0000,Aciclovir Sand 400mg 30S,SEM GTIN,UN,30049069,1300200,6161357001371,0.000000e+00,102019
3,3,35191006161357001371590000459452376749653022,2019-10-22,5405,3,18,1,1,"1,000",NaN,...,0.0,0.0000,Ivermectina 6mg 4S Vitamedic,SEM GTIN,UN,30049059,1300200,6161357001371,0.000000e+00,102019
4,4,35191006161357001371590000459452376749653022,2019-10-22,5405,4,18,1,1,"1,000",NaN,...,0.0,0.0000,Esc D Condor Lilica+Gel D,SEM GTIN,UN,96032100,2005800,6161357001371,0.000000e+00,102019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337657,575708,35201206161357001371590000459452944477807768,2020-12-02,5405,2,935916,1,1,"1,000",NaN,...,0.0,0.0000,Clor Metilfenidato Ems 10mg 60,7896004754161,UN,30049069,1300201,6161357001371,6.161357e+12,122020
1337658,575709,35201206161357001371590000459452944477807768,2020-12-02,5405,3,935916,1,1,"1,000",NaN,...,0.0,0.0000,Entresto 24+26mg 28S Novartis,7896261020269,UN,30049069,1300101,6161357001371,6.161357e+12,122020
1337659,575710,35201206161357001371590000162453848713824403,2020-12-07,5405,18,935916,1,1,"1,000",NaN,...,0.0,0.0000,Klassis Tx+ Serum 30g,7897129304484,UN,33049990,2001500,6161357001371,6.161357e+12,122020
1337660,575711,35201206161357001371590000162453848713824403,2020-12-07,5405,19,935916,1,1,"1,000",NaN,...,0.0,0.0000,Nutriol Lc Hid S/Perf 200ml,3282770205817,UN,33049910,0,6161357001371,6.161357e+12,122020
1337661,575712,35201206161357001371590000162453848713824403,2020-12-07,5405,20,935916,1,1,"1,000",NaN,...,0.0,0.0000,Restiva 5mg Ades Trans C/2,7898586630314,UN,30039034,1300100,6161357001371,6.161357e+12,122020

In [19]:
planilha

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,Valor ICMS Operação,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Data
0,0,35191027849963000110550010005851251005832739,2019-10-16,1403,6,18,0,1,"3,000",0.0,...,0.0,18.7236,Clor Oxibutinina Ems 120ml Xpe,SEM GTIN,UN,30049099,1300201,6161357001371,0.000000e+00,102019
1,1,35191027849963000110550010005864571005846114,2019-10-17,1403,6,18,0,1,"2,000",NaN,...,0.0,12.4830,Aradois 25mg 30S Biolab Sanus,SEM GTIN,UN,30049069,1300300,6161357001371,0.000000e+00,102019
2,2,35191006161357001371590000459452376749653022,2019-10-22,5405,2,18,1,1,"1,000",NaN,...,0.0,0.0000,Aciclovir Sand 400mg 30S,SEM GTIN,UN,30049069,1300200,6161357001371,0.000000e+00,102019
3,3,35191006161357001371590000459452376749653022,2019-10-22,5405,3,18,1,1,"1,000",NaN,...,0.0,0.0000,Ivermectina 6mg 4S Vitamedic,SEM GTIN,UN,30049059,1300200,6161357001371,0.000000e+00,102019
4,4,35191006161357001371590000459452376749653022,2019-10-22,5405,4,18,1,1,"1,000",NaN,...,0.0,0.0000,Esc D Condor Lilica+Gel D,SEM GTIN,UN,96032100,2005800,6161357001371,0.000000e+00,102019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337657,575708,35201206161357001371590000459452944477807768,2020-12-02,5405,2,935916,1,1,"1,000",NaN,...,0.0,0.0000,Clor Metilfenidato Ems 10mg 60,7896004754161,UN,30049069,1300201,6161357001371,6.161357e+12,122020
1337658,575709,35201206161357001371590000459452944477807768,2020-12-02,5405,3,935916,1,1,"1,000",NaN,...,0.0,0.0000,Entresto 24+26mg 28S Novartis,7896261020269,UN,30049069,1300101,6161357001371,6.161357e+12,122020
1337659,575710,35201206161357001371590000162453848713824403,2020-12-07,5405,18,935916,1,1,"1,000",NaN,...,0.0,0.0000,Klassis Tx+ Serum 30g,7897129304484,UN,33049990,2001500,6161357001371,6.161357e+12,122020
1337660,575711,35201206161357001371590000162453848713824403,2020-12-07,5405,19,935916,1,1,"1,000",NaN,...,0.0,0.0000,Nutriol Lc Hid S/Perf 200ml,3282770205817,UN,33049910,0,6161357001371,6.161357e+12,122020
1337661,575712,35201206161357001371590000162453848713824403,2020-12-07,5405,20,935916,1,1,"1,000",NaN,...,0.0,0.0000,Restiva 5mg Ades Trans C/2,7898586630314,UN,30039034,1300100,6161357001371,6.161357e+12,122020

In [20]:
planilha['CEST'] = planilha['CEST'].replace('0', pd.NA)

# Second, add leading '0' to values with length equal to 6
planilha.loc[planilha['CEST'].str.len() == 6, 'CEST'] = '0' + planilha['CEST']

planilha['CEST']

0          1300201
1          1300300
2          1300200
3          1300200
4          2005800
            ...
1337657    1300201
1337658    1300101
1337659    2001500
1337660       <NA>
1337661    1300100
Name: CEST, Length: 1337662, dtype: object

In [21]:
planilha['N C M'] = planilha['N C M'].apply(lambda x: str(x).zfill(8) if len(str(x)) < 8 else str(x))
planilha

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,Valor ICMS Operação,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Data
0,0,35191027849963000110550010005851251005832739,2019-10-16,1403,6,18,0,1,"3,000",0.0,...,0.0,18.7236,Clor Oxibutinina Ems 120ml Xpe,SEM GTIN,UN,30049099,1300201,6161357001371,0.000000e+00,102019
1,1,35191027849963000110550010005864571005846114,2019-10-17,1403,6,18,0,1,"2,000",NaN,...,0.0,12.4830,Aradois 25mg 30S Biolab Sanus,SEM GTIN,UN,30049069,1300300,6161357001371,0.000000e+00,102019
2,2,35191006161357001371590000459452376749653022,2019-10-22,5405,2,18,1,1,"1,000",NaN,...,0.0,0.0000,Aciclovir Sand 400mg 30S,SEM GTIN,UN,30049069,1300200,6161357001371,0.000000e+00,102019
3,3,35191006161357001371590000459452376749653022,2019-10-22,5405,3,18,1,1,"1,000",NaN,...,0.0,0.0000,Ivermectina 6mg 4S Vitamedic,SEM GTIN,UN,30049059,1300200,6161357001371,0.000000e+00,102019
4,4,35191006161357001371590000459452376749653022,2019-10-22,5405,4,18,1,1,"1,000",NaN,...,0.0,0.0000,Esc D Condor Lilica+Gel D,SEM GTIN,UN,96032100,2005800,6161357001371,0.000000e+00,102019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337657,575708,35201206161357001371590000459452944477807768,2020-12-02,5405,2,935916,1,1,"1,000",NaN,...,0.0,0.0000,Clor Metilfenidato Ems 10mg 60,7896004754161,UN,30049069,1300201,6161357001371,6.161357e+12,122020
1337658,575709,35201206161357001371590000459452944477807768,2020-12-02,5405,3,935916,1,1,"1,000",NaN,...,0.0,0.0000,Entresto 24+26mg 28S Novartis,7896261020269,UN,30049069,1300101,6161357001371,6.161357e+12,122020
1337659,575710,35201206161357001371590000162453848713824403,2020-12-07,5405,18,935916,1,1,"1,000",NaN,...,0.0,0.0000,Klassis Tx+ Serum 30g,7897129304484,UN,33049990,2001500,6161357001371,6.161357e+12,122020
1337660,575711,35201206161357001371590000162453848713824403,2020-12-07,5405,19,935916,1,1,"1,000",NaN,...,0.0,0.0000,Nutriol Lc Hid S/Perf 200ml,3282770205817,UN,33049910,<NA>,6161357001371,6.161357e+12,122020
1337661,575712,35201206161357001371590000162453848713824403,2020-12-07,5405,20,935916,1,1,"1,000",NaN,...,0.0,0.0000,Restiva 5mg Ades Trans C/2,7898586630314,UN,30039034,1300100,6161357001371,6.161357e+12,122020

In [22]:
planilha.columns

Index(['index', 'CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM', 'IND_OPER',
       'SUB_TIPO', 'QTD_CAT', 'QTD_INI', 'ICMS_INI', 'QTD_ent1_devolv_ent',
       'ICMS_TOT_0', 'ICMS_TOT_ent_unit', 'ULT_ICMS_TOT_ent_unit',
       'ICMS_TOT_1', 'qtd_saida_1_devolv_saida', 'ICMS_SAIDA_UNI',
       'ULT_ICMS_SAIDA_UNI', 'ICMS_SAIDA', 'ICMS_TOT_PCAT', 'VL_CONFR_0',
       'VLR_CONFR_UNIT', 'ULT_VLR_CONFR_UNIT', 'VLR_CONFR_1', 'QTD_SALDO',
       'ICMS_TOT_SALDO', 'VLR_RESSARCIMENTO', 'VLR_COMPLEMENTO', 'COD_LEGAL',
       'COD_LEGAL_PCAT', 'VLR_CONFR_PCAT', 'SALDO_FINAL_MES_QTD',
       'SALDO_FINAL_MES_ICMS', 'ALIQUOTA', 'VALOR',
       'Valor Base Cálculo ICMS ST Retido Operação Anterior',
       'Valor Complementar', 'Valor ICMS Substituição Tributária',
       'Valor ICMS Operação', 'ICMS_TOT', 'DESCRICAO', 'CODIGO_BARRA',
       'UNIDADE', 'N C M', 'CEST', 'CNPJ EMITENTE', 'CNPJ DESTINATARIO',
       'Data'],
      dtype='object')

In [23]:
planilha[planilha['CODIGO_BARRA'] == 'SEM GTIN      ']

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,Valor ICMS Operação,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Data
0,0,35191027849963000110550010005851251005832739,2019-10-16,1403,6,18,0,1,"3,000",0.0,...,0.00,18.7236,Clor Oxibutinina Ems 120ml Xpe,SEM GTIN,UN,30049099,1300201,6161357001371,0.000000e+00,102019
1,1,35191027849963000110550010005864571005846114,2019-10-17,1403,6,18,0,1,"2,000",NaN,...,0.00,12.4830,Aradois 25mg 30S Biolab Sanus,SEM GTIN,UN,30049069,1300300,6161357001371,0.000000e+00,102019
2,2,35191006161357001371590000459452376749653022,2019-10-22,5405,2,18,1,1,"1,000",NaN,...,0.00,0.0000,Aciclovir Sand 400mg 30S,SEM GTIN,UN,30049069,1300200,6161357001371,0.000000e+00,102019
3,3,35191006161357001371590000459452376749653022,2019-10-22,5405,3,18,1,1,"1,000",NaN,...,0.00,0.0000,Ivermectina 6mg 4S Vitamedic,SEM GTIN,UN,30049059,1300200,6161357001371,0.000000e+00,102019
4,4,35191006161357001371590000459452376749653022,2019-10-22,5405,4,18,1,1,"1,000",NaN,...,0.00,0.0000,Esc D Condor Lilica+Gel D,SEM GTIN,UN,96032100,2005800,6161357001371,0.000000e+00,102019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337348,575399,35200106161357001371590003258520839634277364,2020-01-03,5405,3,933713,1,1,"1,000",NaN,...,0.00,0.0000,Azelan Gel Derm 30g Leo Pharma,SEM GTIN,UN,30049029,1300101,6161357001371,6.161357e+12,012020
1337364,575415,35200461940292000137550320003075361102736345,2020-04-04,1403,7,933713,0,1,"2,000",NaN,...,19.81,28.8648,Azelan Cr Derm 30g,SEM GTIN,UN,30049029,1300101,6161357001371,6.161357e+12,042020
1337499,575550,35200306161357001371590000459452582860780042,2020-03-27,5405,1,935502,1,1,"1,000",NaN,...,0.00,0.0000,"Rexulti 0,5mg 30S C1",SEM GTIN,UN,30049069,1300401,6161357001371,6.161357e+12,032020
1337502,575553,35200406161357001371590000460833400229433786,2020-04-12,5405,7,935502,1,1,"1,000",NaN,...,0.00,0.0000,Xigduo Xr 5mg/1000mg 10x6S,SEM GTIN,UN,30049059,1300101,6161357001371,6.161357e+12,042020
1337627,575678,35200827849963000110550010008713251008684256,2020-08-05,1403,12,935528,0,1,"1,000",NaN,...,0.00,28.8450,Icaden Creme 20g Leo Pharma,SEM GTIN,UN,30049061,1300101,6161357001371,6.161357e+12,082020

In [24]:
planilha['CODIGO_BARRA'] = planilha['CODIGO_BARRA'].replace('SEM GTIN      ', np.nan)
planilha

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,Valor ICMS Operação,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Data
0,0,35191027849963000110550010005851251005832739,2019-10-16,1403,6,18,0,1,"3,000",0.0,...,0.0,18.7236,Clor Oxibutinina Ems 120ml Xpe,NaN,UN,30049099,1300201,6161357001371,0.000000e+00,102019
1,1,35191027849963000110550010005864571005846114,2019-10-17,1403,6,18,0,1,"2,000",NaN,...,0.0,12.4830,Aradois 25mg 30S Biolab Sanus,NaN,UN,30049069,1300300,6161357001371,0.000000e+00,102019
2,2,35191006161357001371590000459452376749653022,2019-10-22,5405,2,18,1,1,"1,000",NaN,...,0.0,0.0000,Aciclovir Sand 400mg 30S,NaN,UN,30049069,1300200,6161357001371,0.000000e+00,102019
3,3,35191006161357001371590000459452376749653022,2019-10-22,5405,3,18,1,1,"1,000",NaN,...,0.0,0.0000,Ivermectina 6mg 4S Vitamedic,NaN,UN,30049059,1300200,6161357001371,0.000000e+00,102019
4,4,35191006161357001371590000459452376749653022,2019-10-22,5405,4,18,1,1,"1,000",NaN,...,0.0,0.0000,Esc D Condor Lilica+Gel D,NaN,UN,96032100,2005800,6161357001371,0.000000e+00,102019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337657,575708,35201206161357001371590000459452944477807768,2020-12-02,5405,2,935916,1,1,"1,000",NaN,...,0.0,0.0000,Clor Metilfenidato Ems 10mg 60,7896004754161,UN,30049069,1300201,6161357001371,6.161357e+12,122020
1337658,575709,35201206161357001371590000459452944477807768,2020-12-02,5405,3,935916,1,1,"1,000",NaN,...,0.0,0.0000,Entresto 24+26mg 28S Novartis,7896261020269,UN,30049069,1300101,6161357001371,6.161357e+12,122020
1337659,575710,35201206161357001371590000162453848713824403,2020-12-07,5405,18,935916,1,1,"1,000",NaN,...,0.0,0.0000,Klassis Tx+ Serum 30g,7897129304484,UN,33049990,2001500,6161357001371,6.161357e+12,122020
1337660,575711,35201206161357001371590000162453848713824403,2020-12-07,5405,19,935916,1,1,"1,000",NaN,...,0.0,0.0000,Nutriol Lc Hid S/Perf 200ml,3282770205817,UN,33049910,<NA>,6161357001371,6.161357e+12,122020
1337661,575712,35201206161357001371590000162453848713824403,2020-12-07,5405,20,935916,1,1,"1,000",NaN,...,0.0,0.0000,Restiva 5mg Ades Trans C/2,7898586630314,UN,30039034,1300100,6161357001371,6.161357e+12,122020

In [25]:
list(planilha['CODIGO_BARRA'].unique())

[nan,
 '7891268402025 ',
 '7891142200181 ',
 '7899547524772 ',
 '7896006209690 ',
 '7896253902146 ',
 '7891268107609 ',
 '7896641805776 ',
 '7891268107500 ',
 '7896382706240 ',
 '7891317000714 ',
 '7896026301428 ',
 '7894916550048 ',
 '7896070600607 ',
 '7897595619372 ',
 '7898148291120 ',
 '7896004716732 ',
 '7896212424269 ',
 '7896006200994 ',
 '7896112401582 ',
 '7896026304719 ',
 '7896261020269 ',
 '7896226503721 ',
 '7891268106503 ',
 '7899706124829 ',
 '7896548114612 ',
 '7898148297542 ',
 '7891317476526 ',
 '7896181925224 ',
 '7891268118070 ',
 '7896676416879 ',
 '0789126840652 ',
 '7891317193164 ',
 '7896112140931 ',
 '7898216371037 ',
 '7894916143400 ',
 '7891317001070 ',
 '7896658023361 ',
 '7896261010222 ',
 '7891800197518 ',
 '7891317191740 ',
 '7891010504755 ',
 '7896004710860 ',
 '7899674017079 ',
 '7891134004018 ',
 '7896255767149 ',
 '7896012878859 ',
 '7896641808630 ',
 '7897595901323 ',
 '7896112115151 ',
 '7894916148252 ',
 '7891142115492 ',
 '7897930760424 ',
 '7891317488833 ',
 '7896714265766 ',
 '7896512901392 ',
 '7898216368969 ',
 '7896422504379 ',
 '7896422508049 ',
 '7896181916628 ',
 '7896181914303 ',
 '7896094901582 ',
 '7896015511159 ',
 '7896004710891 ',
 '7896261000223 ',
 '7896422507950 ',
 '7896004711041 ',
 '7896261006553 ',
 '7896112486886 ',
 '7891463000378 ',
 '7891800002829 ',
 '7898941911850 ',
 '7899547513042 ',
 '7896006261308 ',
 '7891317001438 ',
 '7896181924739 ',
 '7896641808982 ',
 '7899095238299 ',
 '7899706149570 ',
 '7891010247324 ',
 '7896637023047 ',
 '7896012802045 ',
 '7891150055780 ',
 '7898623351578 ',
 '7896007549306 ',
 '7894916143042 ',
 '7894916146401 ',
 '7896714207551 ',
 '7896317910261 ',
 '7898040320928 ',
 '7896015516581 ',
 '7896004722177 ',
 '7891058034092 ',
 '7895858010362 ',
 '7894916141604 ',
 '7891317430368 ',
 '7898029552203 ',
 '7897322709710 ',
 '7891058024314 ',
 '7896422506267 ',
 '7898087340132 ',
 '7896422513951 ',
 '7891058016999 ',
 '7891317444921 ',
 '7896637022729 ',
 '7894916208154 ',
 '7894916146425 ',
 '7896261012929 ',
 '7891721019845 ',
 '7896226506371 ',
 '7898029558809 ',
 '7898029558816 ',
 '7896862990770 ',
 '7896641808609 ',
 '7891721000133 ',
 '7891721201813 ',
 '7894916147705 ',
 '7898040321079 ',
 '7896006290100 ',
 '7891058017507 ',
 '7501007454856 ',
 '7896641809170 ',
 '7896422507059 ',
 '7899470801322 ',
 '7898569765019 ',
 '7894164002597 ',
 '7894916146111 ',
 '7898917592359 ',
 '7898623353909 ',
 '7894916550031 ',
 '7896714223971 ',
 '7897316802861 ',
 '7896094207844 ',
 '7896226506388 ',
 '7896548197738 ',
 '7896261003828 ',
 '7896714221380 ',
 '7896206402853 ',
 '7898148298587 ',
 '7896523207988 ',
 '7898075313032 ',
 '7896006207436 ',
 '7891268118087 ',
 '7894916141734 ',
 '7896261000216 ',
 '7898148291267 ',
 '7896714212098 ',
 '7896006276159 ',
 '7897572000896 ',
 '7895296213042 ',
 '7896261009554 ',
 '7894916145145 ',
 '7896523227191 ',
 '7896226500362 ',
 '7896255700030 ',
 '0742832304740 ',
 '7896422511902 ',
 '7896261007758 ',
 '7891317448653 ',
 '7896862990664 ',
 '7896523210827 ',
 '7891045040426 ',
 '7896006262510 ',
 '7898133130403 ',
 '7898148290550 ',
 '7891106006279 ',
 '7895296365017 ',
 '7896255716963 ',
 '7896181915171 ',
 '7891142136626 ',
 '7897337705837 ',
 '7896269900150 ',
 '7896714200064 ',
 '7896714221847 ',
 '7898623352179 ',
 '7891024036570 ',
 '7612412054606 ',
 '7896523214351 ',
 '7896112401230 ',
 '7895296055024 ',
 '7899095256934 ',
 '7896212479603 ',
 '7895296112130 ',
 '7896112148685 ',
 '7896012878101 ',
 '7898148301720 ',
 '7896523224534 ',
 '7898216362431 ',
 '7891721027468 ',
 '7896523215549 ',
 '7896523215235 ',
 '7891317421465 ',
 '7896658001666 ',
 '7894164000050 ',
 '7896862970802 ',
 '7899095239630 ',
 '7897848502840 ',
 '7898148290772 ',
 '7896658006043 ',
 '7898148291533 ',
 '7895296132039 ',
 '7897322709475 ',
 '7891268100211 ',
 '7896015518875 ',
 '7897595901521 ',
 '7896181920397 ',
 '7896094919396 ',
 '7896206407902 ',
 '7896658026904 ',
 '7899547501483 ',
 '7891010785550 ',
 '7897595903273 ',
 '7896523227108 ',
 '7898148295012 ',
 '7896658001123 ',
 '7891317455569 ',
 '7894916140829 ',
 '7897851250530 ',
 '7895296420020 ',
 '7898148300754 ',
 '7895296087032 ',
 '7896523213569 ',
 '7894916140508 ',
 '7896422506236 ',
 '7891317431358 ',
 '7896714234564 ',
 '7897137903747 ',
 '7896422514262 ',
 '7898623354241 ',
 '7897316800300 ',
 '7896015560300 ',
 '7894916512022 ',
 '7896422505338 ',
 '7896714205779 ',
 '0768455107896 ',
 '7898623351790 ',
 '7896255716949 ',
 '7896023743009 ',
 '7895296262040 ',
 '7896422515511 ',
 '7896523212685 ',
 '7896641801792 ',
 '7891317490003 ',
 '7895296188012 ',
 '7896422518161 ',
 '7891058017002 ',
 '7896094912472 ',
 '7896422508742 ',
 '7896006237167 ',
 '7891317001063 ',
 '7896112158981 ',
 '7898037080460 ',
 '7896523208022 ',
 '7891317002497 ',
 '7897595900715 ',
 '7891721029394 ',
 '7896658001925 ',
 '7898087340125 ',
 '7897595901781 ',
 '7896269900808 ',
 '7891721020940 ',
 '7897316804421 ',
 '7894916149181 ',
 '7896676402827 ',
 '7896261009011 ',
 '7891721020148 ',
 '7895800456484 ',
 '7896637022408 ',
 '7891317000677 ',
 '7894916140393 ',
 '7896212423781 ',
 '7896548140581 ',
 '7891158104688 ',
 '7896179850026 ',
 '7891317445720 ',
 '7896714205861 ',
 '7896226102542 ',
 '7898133135606 ',
 '7891317004330 ',
 '7897851250165 ',
 '7896004733241 ',
 '7895296286022 ',
 '7896658002700 ',
 '7899095200456 ',
 '7895296277051 ',
 '7896015528829 ',
 '7896202902012 ',
 '7896658005763 ',
 '7891058020323 ',
 '7898148291298 ',
 '7896523209845 ',
 '7896004812168 ',
 '7898100243792 ',
 '7896422517003 ',
 '7895296232081 ',
 '7896382706721 ',
 '7896181920854 ',
 '7896094919440 ',
 '7891317446819 ',
 '7896004711201 ',
 '7896523210759 ',
 '7895296211352 ',
 '7897595620613 ',
 '7896179850019 ',
 '7898133136481 ',
 '7896241296523 ',
 '7896112401551 ',
 '7897411610620 ',
 '7891317435936 ',
 '7896261012936 ',
 '7891317439644 ',
 '7898919602391 ',
 '7891317430146 ',
 '7891317446963 ',
 '7896658018121 ',
 '7898569760267 ',
 '7896006215929 ',
 '7895296444026 ',
 '7896004752228 ',
 '7896658016479 ',
 '7898040321253 ',
 '7896714215976 ',
 '7896261016262 ',
 '7899596504824 ',
 '7896714210018 ',
 '7898049792351 ',
 '7894916503808 ',
 '7898906376410 ',
 '3337875597388 ',
 '7894916143004 ',
 '7898927111045 ',
 '7896094201637 ',
 '7896637023627 ',
 '7898074615212 ',
 '7898074614178 ',
 '7896070601055 ',
 '7896382700576 ',
 '7896206402983 ',
 '7896015523398 ',
 '7899337000202 ',
 '8470001840899 ',
 '7891150056589 ',
 '7896004717999 ',
 '0020800750158 ',
 '7895858015824 ',
 '7891150056572 ',
 '7896422504454 ',
 '7896014140459 ',
 '7896000705976 ',
 '7896004713762 ',
 '7896206402211 ',
 '7896004713588 ',
 '7896523214658 ',
 '7891045013635 ',
 '7891045013628 ',
 '7896261020306 ',
 '7896026306188 ',
 '7895296087087 ',
 '7898569765071 ',
 '7896006254799 ',
 '7896212479573 ',
 '7896269900075 ',
 '7891317496753 ',
 '7898636190577 ',
 '7898029551787 ',
 '7896181911999 ',
 '7898074618442 ',
 '7897848501065 ',
 '7899547511031 ',
 '7894916141536 ',
 '7896317910230 ',
 '7896004739588 ',
 '7894916143011 ',
 '7896641805929 ',
 '7891058001155 ',
 '7895296199049 ',
 '7896331704808 ',
 '7896004720838 ',
 '7896862918460 ',
 '7896206402778 ',
 '7897337714488 ',
 '7894916148023 ',
 '7896261013735 ',
 '7896070601697 ',
 '7899547533248 ',
 '7895296388016 ',
 '7896261011106 ',
 '7898216361595 ',
 '7891721201783 ',
 '7897595901767 ',
 '7896641806483 ',
 '7891058021931 ',
 '7506339305111 ',
 '7896241241394 ',
 '7896422506366 ',
 '7896422506359 ',
 '0650240006364 ',
 '7793100111143 ',
 '7899026420595 ',
 '7896094908673 ',
 '7896212429745 ',
 '7891058487096 ',
 '7891058059149 ',
 '7897322702032 ',
 '7891150024793 ',
 '7898587764902 ',
 '7896714203782 ',
 '7891721019890 ',
 '7896422517447 ',
 '7896004700502 ',
 '7894916500746 ',
 '7891268116908 ',
 '7898586630192 ',
 '7898945030427 ',
 '7898216366309 ',
 '7896658005091 ',
 '7896007547210 ',
 '7897411610095 ',
 '7898414852420 ',
 '7891010034511 ',
 '7506306241183 ',
 '7896714224688 ',
 '7898940257713 ',
 '7896331705362 ',
 '7896331706208 ',
 '7896046381004 ',
 '7898158693709 ',
 '7896422507295 ',
 '7897076910905 ',
 '7896026300315 ',
 '7898108611777 ',
 '4005808369621 ',
 '7891317124038 ',
 '7897595620637 ',
 '7896227800010 ',
 '7896422506625 ',
 '7891106001946 ',
 '7896641805943 ',
 '7896212478750 ',
 '7896523210773 ',
 '7891317472009 ',
 '7896422514651 ',
 '7896004732640 ',
 '3337872413520',
 '7891142130822',
 '7898095341039',
 '7897322710761',
 '7897322709468',
 '7891142115430',
 '7896094901148',
 '7896094906594',
 '7896179850125',
 '7891106006316',
 '7896641807534',
 '7891045006743',
 '7896015556990',
 '7896070600201',
 '7896261000223',
 '7896658008115',
 '7896658001864',
 '7896026300223',
 '7891721002038',
 '7891106905886',
 '7896658003172',
 '7896026304917',
 '7891268104004',
 '7896070600669',
 '7896070601932',
 '7896658002076',
 '7896181907497',
 '7896181908890',
 '7896181915072',
 '7898040320928',
 '7896658012402',
 '7896658005121',
 '7894916509510',
 '7896658005763',
 '7891058061562',
 '7896016801655',
 '7896206402211',
 '7896261000025',
 '7795320050127',
 '7897129303654',
 '7898916010052',
 '7891058019365',
 '7896261005723',
 '7896658002205',
 '5702191008753',
 '7898040321253',
 '7891058018382',
 '7795320008821',
 '7896026305310',
 '7896637022842',
 '7896637023658',
 '7891058464073',
 '7891058011499',
 '7896658003042',
 '7898906376410',
 '4260085521234',
 '5702191007985',
 '7896658017582',
 '7894916509305',
 '7891721020506',
 '7891721000911',
 '7897572005433',
 '7896658003394',
 '7896658008740',
 '7896658008764',
 '7896658014215',
 '7896422501491',
 '7896255716970',
 '7896255700054',
 '7896112466215',
 '7896658015380',
 '7896422510219',
 '7890282800015',
 '7896658006913',
 '7896261014244',
 '7896112416463',
 '7896658015106',
 '7896658004018',
 '7896006255000',
 '7897129301186',
 '7896472501823',
 '7891058011550',
 '7890282800701',
 '7896261006553',
 '7898040322120',
 '7897129300059',
 '7896658028366',
 '7896658013072',
 '7897572001923',
 '7891045000987',
 '7891106904582',
 '7898040320683',
 '7896658006401',
 '7891142142795',
 '7897460400166',
 '7896070601055',
 '7891991002202',
 '742832304740',
 '7896523200576',
 '7898133130403',
 '7891042102424',
 '7899596504824',
 '7896230301146',
 '7896012800836',
 '7891268107609',
 '7896094200234',
 '7896015510022',
 '7896015510015',
 '7896676400175',
 '7896006290100',
 '7896006225010',
 '7894916201353',
 '7891158000966',
 '7896255762595',
 '7896255762618',
 '7896637022767',
 '7896185909084',
 '5702157150809',
 '7898168007039',
 '7891268116250',
 '7891142165770',
 '7896180300152',
 '7896015516956',
 '7896676416909',
 '7892953001905',
 '7896206402990',
 '7897595901842',
 '7897595902085',
 '7896261005372',
 '7896006224297',
 '7896185998316',
 '7896094206298',
 '7891106903967',
 '7896676402544',
 '7896676402575',
 '7896006290483',
 '7896226102504',
 '7891317462031',
 '7896422517041',
 '7891317469283',
 '7891317422042',
 '7891317461089',
 '7897595614384',
 '7894916144605',
 '7895296193016',
 '7897076907615',
 '7891317421991',
 '7891317444921',
 '7898148290376',
 '7899547521214',
 '7899547501469',
 '7896006225928',
 '7898146821848',
 '7891317001438',
 '7896004712581',
 '7896006216766',
 '7891317007829',
 '7896006225744',
 '7894916144674',
 '7896422514651',
 '7895296213042',
 '7896523209647',
 '8902220108677',
 '7894916140683',
 '7894916141567',
 '7891317472139',
 '7897076909121',
 '7891317456559',
 '7896422506304',
 '7894916141550',
 '7895296014014',
 '7896714217321',
 '7891317464523',
 '7896006207436',
 '7896112114574',
 '7896006237167',
 '7899547514315',
 '7895296043069',
 '7897076911780',
 '7897076911766',
 '7891317414221',
 '7891317414139',
 '7894916140867',
 '7896422507257',
 '7896714202693',
 '7897595619372',
 '7897595604774',
 '7896422507400',
 '7891317484330',
 '7891317476465',
 '7896422511902',
 '7897076911827',
 '7895296089098',
 '7896004730394',
 '7896004738949',
 '7891317134303',
 '7891317448653',
 '7899547504743',
 '7891317434342',
 '7891317434328',
 '7891317434335',
 '7894916143066',
 '7896422506830',
 '7898148297542',
 '7891317464899',
 '7896676408010',
 '7894916146852',
 '7891317002442',
 '7891317002503',
 '7896241241394',
 '7896241241462',
 '7891721000133',
 '7896181920410',
 '7896261012608',
 '7896317910308',
 '7897316805053',
 '7895858010362',
 '7897316805404',
 '7896255762205',
 '7896241231630',
 '7896112493440',
 '7891106907019',
 '7891045040426',
 '7891058002862',
 '7898040321420',
 '7896226101231',
 '7891106900591',
 '7896641805943',
 '7896180300275',
 '7896070600447',
 '7896676402827',
 '7896180300183',
 '78905016',
 '7896026170550',
 '7894916500272',
 '7896112422136',
 '7896637022439',
 '7896112425496',
 '7896015560331',
 '7896658001666',
 '7896255766135',
 '7896253900920',
 '7896714241821',
 '7899547503845',
 '7897595602114',
 '7898148290840',
 '7895296087087',
 '7897595611147',
 '7896006214984',
 '7895296092180',
 '7896523219349',
 '7895296186018',
 '7899095234192',
 '7896004723228',
 '7896523208763',
 '7898148296491',
 '7896004739588',
 '7898148295159',
 '7898148301911',
 '7891721020247',
 '7894916143028',
 '7897595602510',
 '7896181908302',
 '7898148292615',
 '7891317490003',
 '7896422505369',
 '7896714207018',
 '7897595620613',
 '7896422507844',
 '7896206407308',
 '7896206407384',
 '7899547502565',
 '7896422506274',
 '7896422525237',
 '7896422511087',
 '7896181924739',
 '7894916145688',
 '7896714225616',
 '7898945030212',
 '7896714214399',
 '7898148295340',
 '7897322703794',
 '7896422505345',
 '7896714200699',
 '7898075310369',
 '7896006240723',
 '7894916503259',
 '7897595601773',
 '7897595604163',
 '7896714239712',
 '7896004706573',
 '7896523206288',
 '7896004801216',
 '7896862912017',
 '7896004715032',
 '7896004706221',
 '7896004812168',
 '7896523219608',
 '7896112140931',
 '7896004803463',
 '7896004715247',
 '7896714200804',
 '7898945030427',
 '7896094208094',
 '7896241248287',
 '7896112448358',
 '7891106909044',
 '7891000062722',
 '7891000062760',
 '7891000109908',
 '7898941911973',
 '7898941911850',
 '7898414852604',
 '7896015529093',
 '7896015520045',
 '3662042000058',
 '7896082900054',
 '7898907312264',
 '7896641810510',
 '7896181911784',
 '7896181905295',
 '7891721013010',
 '7896070601772',
 '7894916508353',
 '7896181915171',
 '7898029552203',
 '7896261004900',
 '7896317911053',
 '7896317910292',
 '7891058260071',
 '7891721014130',
 '7896006208266',
 '7891721000614',
 '7896094206366',
 '7898029556539',
 '7891268148923',
 '7896016801587',
 '7891142177056',
 '7891142177216',
 '7891142177162',
 '7891058003579',
 '7896637023047',
 '7896206406707',
 '7896269901720',
 '7896269955204',
 '7896026302999',
 '7896094208278',
 '7896255700276',
 '7896094208933',
 '7891106907057',
 '7895858010324',
 '7897322707617',
 '7891058004347',
 '7898037080460',
 '7896026300988',
 '7891106001946',
 '7896094905825',
 '7896004817569',
 '7897595901187',
 '7896026303002',
 '7896026300308',
 '7896026300315',
 '7898029551848',
 '7896658001901',
 '7896658001925',
 '7896658001918',
 '7896658006050',
 '7891058009458',
 '7891058017149',
 '7896641806483',
 '7896070600249',
 '7896094201187',
 '7896226502809',
 '7896026306416',
 '7896006291398',
 '7896006290216',
 '7896548113059',
 '78905023',
 '7896046302047',
 '7897322702209',
 '7896016804915',
 '78905108',
 '7897322701998',
 '7891058020316',
 '7896016807213',
 '7896641804588',
 '7896641803871',
 '7891058487096',
 '7891142171719',
 '7891142171733',
 '7897322704593',
 '7896015518479',
 '7894916209908',
 '7896658000966',
 '7891035010866',
 '7891035010842',
 '7894916500746',
 '7896185989819',
 '7894916208154',
 '7896212479924',
 '7896212413560',
 '7896212415618',
 '7590002032817',
 '7590002012468',
 '7896226102542',
 '7896046300067',
 '7894916144803',
 '7898907313872',
 '7894916144216',
 '7895296087032',
 '7894916140508',
 '7896523209845',
 '7891317452230',
 '7891317435936',
 '7897076910905',
 '7896181909361',
 '7896422507950',
 '7898148291298',
 '7899547511031',
 '7895296105040',
 '7894916144025',
 '7894916143738',
 '7896004706375',
 '7899547504675',
 '7899095245686',
 '7896004709291',
 '7895296277174',
 '7895296277051',
 '7894916141499',
 '7895296128087',
 '7894916147705',
 '7896004722177',
 '7898216371020',
 '7891317421823',
 '7898049792351',
 '7891721019999',
 '7891721019845',
 '7891721019944',
 '7891317445287',
 '7896714225753',
 '7896004703480',
 '7894916140393',
 '7896004713588',
 '7896006276159',
 '7895296210324',
 '7896714223971',
 '7895296109017',
 '7891317001063',
 '7896006259732',
 '7896714203096',
 '7894916144971',
 '7898148298587',
 '7894916143127',
 '7895296210546',
 '7896523207919',
 '7894916143257',
 '7895296287012',
 '7896422512145',
 '7894916147125',
 '7896422505147',
 '7891317433642',
 '7891317446819',
 '8902220114906',
 '7891317452995',
 '7894916142847',
 '7896422519793',
 '7891721270505',
 '7896714224688',
 '7896004745626',
 '7897595606259',
 '7896004721323',
 '7896004722344',
 '7898148291533',
 '7898148297535',
 '7896422505727',
 '7896112147640',
 '7896714203492',
 '7896862910747',
 '7896004705408',
 '7898133138560',
 '7896331702057',
 '7896523216478',
 '7896523206806',
 '7896004704135',
 '7896714203768',
 '7896004702742',
 '7896714219301',
 '7896004727158',
 '7898133139420',
 '7898133130540',
 '7896523202600',
 '7896714231143',
 '7896112148685',
 '7899470800882',
 '7896004726694',
 '7893454209920',
 '7896006234524',
 '7898133136450',
 '7896112115151',
 '7894916502900',
 '7894916148252',
 '7896094208117',
 '7891106905992',
 '7896004707846',
 '7891106906043',
 '7896227800027',
 '7896227800010',
 '7891106907286',
 '7896015528300',
 '3101190521300',
 '7891058013882',
 '7898029550247',
 '7897411611016',
 '7896181907176',
 '7896094202030',
 '7896181920397',
 '7891106905916',
 '7896261012486',
 '7896070601765',
 '7896094200432',
 '7896255716956',
 '7894916501415',
 '7896241293737',
 '7891106007030',
 '7891106907064',
 '7896112421498',
 '7896015518875',
 '7896253902238',
 '7896026301428',
 '7795304000056',
 '7891058018627',
 '7896083402625',
 '7896637025096',
 '7891268404036',
 '7891058224028',
 '7896641804663',
 '7894916500548',
 '7891058001155',
 '7891058015756',
 '7896112425328',
 '7897322704944',
 '7897322702032',
 '7896015517045',
 '7896015560300',
 '7896227800034',
 '7896658004704',
 '7891058004668',
 '7896026305259',
 '7896281152018',
 '7896180302095',
 '7898148294596',
 '7894916141734',
 '7898148293490',
 '7897595603494',
 '7899547503913',
 '7898148290772',
 '7899547504842',
 ...]

In [26]:
# Geração do dataset base para geração da 1100

cols_1100 = ['CHV_DOC', 'DATA', 'NUM_ITEM', 'IND_OPER', 'COD_ITEM', 'CFOP','QTD_CAT', 'ICMS_TOT_PCAT', 'VLR_CONFR_PCAT', 'COD_LEGAL_PCAT']

df_1100 = planilha.copy()
df_1100 = df_1100[cols_1100]
df_1100['Data'] = df_1100['DATA']
df_1100['DATA'] = df_1100['DATA'].astype(str)
df_1100['DATA'] = [datetime.strptime(x, '%Y-%m-%d').strftime('%d%m%Y') for x in df_1100['DATA']]
#df_1100.rename(coluns={'Número Item': 'NUM_ITEM'}, inplace=True)


df_1100['QTD_FIN'] = df_1100['QTD_CAT']
df_1100['COD_REG'] = ['1100']*df_1100.shape[0]
df_1100 = df_1100[['COD_REG','CHV_DOC','Data','DATA','NUM_ITEM','IND_OPER','COD_ITEM','CFOP','QTD_FIN','ICMS_TOT_PCAT','VLR_CONFR_PCAT','COD_LEGAL_PCAT']]
df_1100

,COD_REG,CHV_DOC,Data,DATA,NUM_ITEM,IND_OPER,COD_ITEM,CFOP,QTD_FIN,ICMS_TOT_PCAT,VLR_CONFR_PCAT,COD_LEGAL_PCAT
0,1100,35191027849963000110550010005851251005832739,2019-10-16,16102019,6,0,18,1403,"3,000",18.7236,NaN,NaN
1,1100,35191027849963000110550010005864571005846114,2019-10-17,17102019,6,0,18,1403,"2,000",12.4830,NaN,NaN
2,1100,35191006161357001371590000459452376749653022,2019-10-22,22102019,2,1,18,5405,"1,000",NaN,6.244000,1
3,1100,35191006161357001371590000459452376749653022,2019-10-22,22102019,3,1,18,5405,"1,000",NaN,6.245000,1
4,1100,35191006161357001371590000459452376749653022,2019-10-22,22102019,4,1,18,5405,"1,000",NaN,6.246667,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1337657,1100,35201206161357001371590000459452944477807768,2020-12-02,02122020,2,1,935916,5405,"1,000",NaN,17.871644,1
1337658,1100,35201206161357001371590000459452944477807768,2020-12-02,02122020,3,1,935916,5405,"1,000",NaN,17.871655,1
1337659,1100,35201206161357001371590000162453848713824403,2020-12-07,07122020,18,1,935916,5405,"1,000",NaN,17.871667,1
1337660,1100,35201206161357001371590000162453848713824403,2020-12-07,07122020,19,1,935916,5405,"1,000",NaN,17.871678,1
1337661,1100,35201206161357001371590000162453848713824403,2020-12-07,07122020,20,1,935916,5405,"1,000",NaN,17.871690,1

In [27]:
df_1100['Data'] = df_1100['Data'].astype(str)
df_1100['Data'] = [datetime.strptime(x, '%Y-%m-%d').strftime('%m%Y') for x in df_1100['Data']]
df_1100['Data']

0          102019
1          102019
2          102019
3          102019
4          102019
            ...
1337657    122020
1337658    122020
1337659    122020
1337660    122020
1337661    122020
Name: Data, Length: 1337662, dtype: object

In [28]:
df_1100.dtypes

COD_REG            object
CHV_DOC            object
Data               object
DATA               object
NUM_ITEM            int64
IND_OPER            int64
COD_ITEM            int64
CFOP               object
QTD_FIN            object
ICMS_TOT_PCAT     float64
VLR_CONFR_PCAT    float64
COD_LEGAL_PCAT     object
dtype: object

In [29]:
df_1100['QTD_FIN'] = df_1100['QTD_FIN'].replace('nan', np.nan)
df_1100

,COD_REG,CHV_DOC,Data,DATA,NUM_ITEM,IND_OPER,COD_ITEM,CFOP,QTD_FIN,ICMS_TOT_PCAT,VLR_CONFR_PCAT,COD_LEGAL_PCAT
0,1100,35191027849963000110550010005851251005832739,102019,16102019,6,0,18,1403,"3,000",18.7236,NaN,NaN
1,1100,35191027849963000110550010005864571005846114,102019,17102019,6,0,18,1403,"2,000",12.4830,NaN,NaN
2,1100,35191006161357001371590000459452376749653022,102019,22102019,2,1,18,5405,"1,000",NaN,6.244000,1
3,1100,35191006161357001371590000459452376749653022,102019,22102019,3,1,18,5405,"1,000",NaN,6.245000,1
4,1100,35191006161357001371590000459452376749653022,102019,22102019,4,1,18,5405,"1,000",NaN,6.246667,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1337657,1100,35201206161357001371590000459452944477807768,122020,02122020,2,1,935916,5405,"1,000",NaN,17.871644,1
1337658,1100,35201206161357001371590000459452944477807768,122020,02122020,3,1,935916,5405,"1,000",NaN,17.871655,1
1337659,1100,35201206161357001371590000162453848713824403,122020,07122020,18,1,935916,5405,"1,000",NaN,17.871667,1
1337660,1100,35201206161357001371590000162453848713824403,122020,07122020,19,1,935916,5405,"1,000",NaN,17.871678,1
1337661,1100,35201206161357001371590000162453848713824403,122020,07122020,20,1,935916,5405,"1,000",NaN,17.871690,1

In [30]:
# Leitura do arquivo da 1050

arquivo_1050 = pd.read_excel(f'Loja_{loja}/1050_loja_{loja}_v1.xlsx', dtype=str)

In [31]:
mes_ano = []
for date in arquivo_1050['REF']:
    mes_ano.append(str(date)[5:7] + str(date)[0:4])
    
arquivo_1050['DATA'] = [datetime.strptime(x, '%Y%m').strftime('%m%Y') for x in arquivo_1050['REF']]
arquivo_1050

,Unnamed: 0,REF,COD_ITEM,QTD_INI,ICMS_INI,SALDO_FINAL_MES_QTD,SALDO_FINAL_MES_ICMS,DATA
0,0,201910,18,0,0,8,49.94,102019
1,1,201911,18,8,49.94,9,56.91,112019
2,2,201912,18,9,56.91,11,69.29,122019
3,3,202001,18,11,69.29,6,37.98,012020
4,4,202002,18,6,37.98,7,34.19,022020
...,...,...,...,...,...,...,...,...
124630,124630,202008,935916,192,791.04,192,791.04,082020
124631,124631,202009,935916,192,791.04,192,791.04,092020
124632,124632,202010,935916,0,0,0,0,102020
124633,124633,202011,935916,0,0,6,107.23,112020
124634,124634,202012,935916,6,107.23,141,2519.91,122020

In [32]:
for date in planilha['Data'].unique():
    print(date)

102019
112019
122019
012020
022020
032020
042020
052020
062020
072020
082020
092020
102020
112020
122020

In [33]:
# Definição de uma função para exportar os
# dataframes de cada documentação em um
# arquivo .txt com a formatação desejada

def dataframe_to_txt_with_crlf(data, path):
    with open(path, 'a', newline='', encoding='utf-8') as f:
        for index, row in data.iterrows():
            row_str = '|'.join(map(lambda x: '' if pd.isna(x) else str(x), row)) + '\r\n'
            f.write(row_str)

In [34]:
def format_number(value):
    locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')  # Set your desired locale
    formatted_value = locale.format('%.2f', value, grouping=True)
    formatted_value = str(formatted_value).replace('.', '')
    return formatted_value

In [35]:
df_0150 = pd.read_excel('registros_0000_0150.xlsx', sheet_name='0150', dtype=str)
df_0150 = df_0150[['LOJA', 'REG', 'COD_PART', 'NOME', 'COD_PAIS', 'CNPJ', 'CPF', 'COD_MUN', 'IE', 'DATA']]
df_0150

,LOJA,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,COD_MUN,IE,DATA
0,Loja 191,0150,CLI000000451,Master fórmula farmácia de manipulação ltda - me,1058,71605265000161,NaN,3550308,114031767115,20190901
1,Loja 191,0150,CLI000000451,Master fórmula farmácia de manipulação ltda - me,1058,71605265000161,NaN,3550308,114031767115,20191001
2,Loja 191,0150,CLI000000451,Master fórmula farmácia de manipulação ltda - me,1058,71605265000161,NaN,3550308,114031767115,20190901
3,Loja 191,0150,CLI000000451,Master fórmula farmácia de manipulação ltda - me,1058,71605265000161,NaN,3550308,114031767115,20191001
4,Loja 191,0150,CLI751997818,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265005716,NaN,3534401,120211912112,20200601
...,...,...,...,...,...,...,...,...,...,...
139692,Loja 98,0150,FOR753010724,MARLENE ZANON,1058,NaN,02250967814,3550308,NaN,20201201
139693,Loja 98,0150,FOR753012250,MARIA NUCELITA DE SOUSA,1058,NaN,32907008870,3550308,NaN,20201201
139694,Loja 98,0150,FOR753012458,NATAL DE ALMEIDA SOUSA,1058,NaN,00741414813,3550308,NaN,20201201
139695,Loja 98,0150,FOR753013211,CARLOS ROBERTO JUVENCIO,1058,NaN,02017356875,3550308,NaN,20201201
139696,Loja 98,0150,FOR753014089,MEIRELE COSTA DOS SANTOS,1058,NaN,81064624553,3550308,NaN,20201201

In [36]:
df_0150 = df_0150[df_0150['LOJA'] == f'Loja {loja}']
if df_0150.shape[0] == 0:
        print(f'Loja {loja} não possui 0150. Favor atualizar arquivo')
        sys.exit()
df_0150['DATA'] = df_0150['DATA'].str.slice(0, 10).astype(str)
df_0150['DATA'] = [datetime.strptime(x, '%Y%m%d').strftime('%m%Y') for x in df_0150['DATA']]
df_0150['CNPJ'] = df_0150['CNPJ'].replace('', np.nan)
df_0150['IE'] = df_0150['IE'].replace('', np.nan)
df_0150['COD_PART'] = df_0150['COD_PART'].str[3:]
df_0150

C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1599971897.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150['DATA'] = df_0150['DATA'].str.slice(0, 10).astype(str)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1599971897.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150['DATA'] = [datetime.strptime(x, '%Y%m%d').strftime('%m%Y') for x in df_0150['DATA']]
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1599971897.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150['CNPJ'] = df_0150['CNPJ'].replace('', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1599971897.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150['IE'] = df_0150['IE'].replace('', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1599971897.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150['COD_PART'] = df_0150['COD_PART'].str[3:]

,LOJA,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,COD_MUN,IE,DATA
48496,Loja 28,0150,000000309,Conde Neto & Cia Ltda,1058,06161357000804,NaN,3550308,116939809113,092019
48497,Loja 28,0150,000000311,Conde Neto & Cia Ltda,1058,06161357001029,NaN,3550308,149399539118,092019
48498,Loja 28,0150,000000314,Conde Neto & Cia Ltda,1058,06161357001371,NaN,3550308,147552748114,092019
48499,Loja 28,0150,000156500,Prevent Senior Private Operadora de Saude Ltda,1058,00461479001054,NaN,3550308,145389352117,092019
48500,Loja 28,0150,000156504,Prevent Senior Private Operadora de Saude Ltda,1058,00461479003189,NaN,3550308,142004487112,092019
...,...,...,...,...,...,...,...,...,...,...
50714,Loja 28,0150,753013954,Consumidor final,1058,NaN,06936383890,3550308,NaN,122020
50715,Loja 28,0150,753013955,Consumidor final,1058,NaN,26284700806,3550308,NaN,122020
50716,Loja 28,0150,753013956,Consumidor final,1058,NaN,34378069806,3550308,NaN,122020
50717,Loja 28,0150,753014099,Consumidor final,1058,NaN,30484107836,3550308,NaN,122020
50718,Loja 28,0150,753016891,Consumidor final,1058,NaN,33893258833,3550308,NaN,122020

In [37]:
df_0150 = df_0150[['REG', 'COD_PART', 'NOME', 'COD_PAIS', 'CNPJ', 'CPF', 'IE', 'COD_MUN', 'DATA']]
df_0150 = df_0150[df_0150['CNPJ'].notnull()]
df_0150 = df_0150.drop_duplicates()
df_0150

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
48496,0150,000000309,Conde Neto & Cia Ltda,1058,06161357000804,NaN,116939809113,3550308,092019
48497,0150,000000311,Conde Neto & Cia Ltda,1058,06161357001029,NaN,149399539118,3550308,092019
48498,0150,000000314,Conde Neto & Cia Ltda,1058,06161357001371,NaN,147552748114,3550308,092019
48499,0150,000156500,Prevent Senior Private Operadora de Saude Ltda,1058,00461479001054,NaN,145389352117,3550308,092019
48500,0150,000156504,Prevent Senior Private Operadora de Saude Ltda,1058,00461479003189,NaN,142004487112,3550308,092019
...,...,...,...,...,...,...,...,...,...
50630,0150,000007953,JULIA COSMETICOS EIRELI,1058,10328983000143,NaN,645538983114,3549904,122020
50632,0150,000355698,CONDE ATACADISTA LTDA,1058,27849963000110,NaN,234086958110,3508504,122020
50647,0150,751972176,Eletropaulo Metropolitana Eletricidade de São ...,1058,61695227000193,NaN,206165226110,3505708,122020
50649,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,122020
50655,0150,752995566,SORVETES JUNDIA INDUSTRIA E COMERCIO LTDA,1058,05058229000362,NaN,206462499110,3505708,122020

In [38]:
mask_duplicates = df_0150[df_0150['DATA'] == '112019'].duplicated(subset='CNPJ', keep='first')
# Invert the mask to keep the first occurrence of each unique 'CNPJ' value
mask_to_keep = ~mask_duplicates

# Apply the mask to the DataFrame to keep the desired rows for the current 'PERIODO'
filtered_df = df_0150[(df_0150['DATA'] == '112019') | mask_to_keep]
filtered_df

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
48794,0150,000000309,Conde Neto & Cia Ltda,1058,06161357000804,NaN,116939809113,3550308,112019
48795,0150,000000311,Conde Neto & Cia Ltda,1058,06161357001029,NaN,149399539118,3550308,112019
48796,0150,000000314,Conde Neto & Cia Ltda,1058,06161357001371,NaN,147552748114,3550308,112019
48797,0150,000156500,Prevent Senior Private Operadora de Saude Ltda,1058,00461479001054,NaN,145389352117,3550308,112019
48798,0150,000156504,Prevent Senior Private Operadora de Saude Ltda,1058,00461479003189,NaN,142004487112,3550308,112019
48799,0150,000156510,Prevent senior private op.de saude ltda,1058,00461479004150,NaN,NaN,3550308,112019
48800,0150,000156512,Prevent Senior Private Operadora de Saude Ltda,1058,00461479001992,NaN,145503067113,3550308,112019
48801,0150,000156514,Prevent Senior Private Operadora de Saude Ltda,1058,00461479003006,NaN,145389380113,3550308,112019
48802,0150,000156521,Prevent Senior Private Operadora de Saude Ltda,1058,00461479001305,NaN,145389361118,3550308,112019
48803,0150,000156531,Prevent Senior Private Operadora de Saude Ltda,1058,00461479003421,NaN,635638841110,3548708,112019
48804,0150,000161909,Congregação e Beneficiência Sefardi Paulista,1058,60958238000156,NaN,NaN,3550308,112019
48805,0150,000345410,Prevent senior private operadora de saude ltda,1058,00461479007176,NaN,NaN,3550308,112019
48806,0150,000402280,Prevent senior private opeadora de saude ltda,1058,00461479004584,NaN,NaN,3550308,112019
48807,0150,751671017,Prevent,1058,00461479000910,NaN,NaN,3550308,112019
48808,0150,751776209,Prevent senior private op.de saude,1058,00461479001216,NaN,NaN,3550308,112019
48809,0150,751776222,Prevent Senior Private Operadora de Saude Ltda,1058,00461479005122,NaN,NaN,3550308,112019
48810,0150,751872165,Conde atacadista LTDA,1058,27849963000110,NaN,234086958110,3508504,112019
48811,0150,751876460,Prevent senior private op.de saude ltda,1058,00461479005475,NaN,NaN,3550308,112019
48812,0150,751876676,Prevent senior private operadora de saude,1058,00461479002379,NaN,NaN,3550308,112019
48813,0150,751890838,Santa magigiore remocoes ltda,1058,25216400000160,NaN,NaN,3550308,112019
48814,0150,751907810,Nucleo consolacao,1058,00461479001720,NaN,NaN,3550308,112019
48815,0150,751936631,Prevent senior private op. de saude ltda,1058,00461479006870,NaN,NaN,3550308,112019
48816,0150,751950203,Prevent senior private operadora de saude ltda,1058,00461479005041,NaN,NaN,3550308,112019
48817,0150,751950421,Prevent senior private op de saude ltda,1058,00461479007257,NaN,NaN,3548500,112019
48818,0150,751952417,Uniger unidade de internacao geriatrica ltda,1058,07463596000105,NaN,NaN,3550308,112019
48819,0150,751952434,Prevent senior assite,1058,00461479008490,NaN,NaN,3550308,112019
48820,0150,751981392,Srt bar e eventos ltda,1058,11195501000197,NaN,148816386113,3550308,112019
48825,0150,000002002,Distribuidora de Medicamentos Santa Cruz Ltda,1058,61940292000137,NaN,492218057113,3534401,112019
48826,0150,000002004,DHV Distribuidora Hospitalar do Vale Ltda - EPP,1058,23276873000127,NaN,645739349118,3549904,112019
48827,0150,000002006,D.Center Distribuidora Ltda.,1058,05651966000455,NaN,639117330119,3543402,112019
48828,0150,000002016,Servimed comercial ltda,1058,44463156000184,NaN,209017636112,3506003,112019
48829,0150,000002026,Panpharma Distribuidora de Medicamentos Ltda,1058,01206820000520,NaN,407534370116,3525904,112019
48830,0150,000002029,PROFARMA Distribuidora de Produtos Farmaceutic...,1058,45453214001042,NaN,637117955110,3548906,112019
48831,0150,000002112,MRM Fazzini Facundes Transportes EPP,1058,97554090000102,NaN,645333991113,3549904,112019
48832,0150,000002156,Unilever Brasil Gelados Ltda,1058,11806723000794,NaN,675112896114,3552809,112019
48833,0150,000002580,Prevent Senior Private Operadora de Saude Ltda,1058,00461479001992,NaN,145503067113,3550308,112019
48834,0150,000002583,Prevent Senior Private Operadora de Saude Ltda,1058,00461479003006,NaN,145389380113,3550308,112019
48835,0150,000002586,Prevent Senior Private Operadora de Saude Ltda,1058,00461479001054,NaN,145389352117,3550308,112019
48836,0150,000002587,Prevent senior private op.de saude ltda,1058,00461479004150,NaN,NaN,3550308,112019
48838,0150,000007953,JULIA COSMETICOS EIRELI,1058,10328983000143,NaN,645539438119,3549904,112019
48845,0150,000355698,Conde atacadista LTDA,1058,27849963000110,NaN,234086958110,3508504,112019
48858,0150,751960600,Prevent senior assite,1058,00461479008490,NaN,NaN,3550308,112019
48861,0150,751972176,Eletropaulo Metropolitana Eletricidade de São ...,1058,61695227000193,NaN,206165226110,3505708,112019
48863,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,112019
48864,0150,752015064,R DE S QUADROS,1058,33918452000106,NaN,125019657112,3549904,112019
48932,0150,752039252,UNILEVER BRASIL LTDA,1058,61068276001682,NaN,675372587117,3552809,112019

In [39]:
filtered_df['CNPJ'].unique()

array(['06161357000804', '06161357001029', '06161357001371',
       '00461479001054', '00461479003189', '00461479004150',
       '00461479001992', '00461479003006', '00461479001305',
       '00461479003421', '60958238000156', '00461479007176',
       '00461479004584', '00461479000910', '00461479001216',
       '00461479005122', '27849963000110', '00461479005475',
       '00461479002379', '25216400000160', '00461479001720',
       '00461479006870', '00461479005041', '00461479007257',
       '07463596000105', '00461479008490', '11195501000197',
       '61940292000137', '23276873000127', '05651966000455',
       '44463156000184', '01206820000520', '45453214001042',
       '97554090000102', '11806723000794', '10328983000143',
       '61695227000193', '07259917000154', '33918452000106',
       '61068276001682'], dtype=object)

In [40]:
df_0150_final = pd.DataFrame()

# Get the unique 'PERIODO' values
unique_periodos = df_0150['DATA'].unique()

# Iterate through unique 'PERIODO' values
for periodo in unique_periodos:
    # Filter the DataFrame for the current 'PERIODO' value
    filtered_df = df_0150[df_0150['DATA'] == periodo]
    
    # Drop duplicates in the 'CNPJ' column for the current 'PERIODO'
    filtered_df = filtered_df.drop_duplicates(subset='CNPJ', keep='first')
    
    # Append the filtered results to the final DataFrame
    df_0150_final = df_0150_final.append(filtered_df, ignore_index=True)

# Reset the index of the final DataFrame
df_0150_final.reset_index(drop=True, inplace=True)
df_0150_final = df_0150_final[df_0150_final['REG'] == '0150']
df_0150_final

C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\575281542.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_0150_final = df_0150_final.append(filtered_df, ignore_index=True)

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,000000309,Conde Neto & Cia Ltda,1058,06161357000804,NaN,116939809113,3550308,092019
1,0150,000000311,Conde Neto & Cia Ltda,1058,06161357001029,NaN,149399539118,3550308,092019
2,0150,000000314,Conde Neto & Cia Ltda,1058,06161357001371,NaN,147552748114,3550308,092019
3,0150,000156500,Prevent Senior Private Operadora de Saude Ltda,1058,00461479001054,NaN,145389352117,3550308,092019
4,0150,000156504,Prevent Senior Private Operadora de Saude Ltda,1058,00461479003189,NaN,142004487112,3550308,092019
...,...,...,...,...,...,...,...,...,...
576,0150,000007953,JULIA COSMETICOS EIRELI,1058,10328983000143,NaN,645538983114,3549904,122020
577,0150,000355698,CONDE ATACADISTA LTDA,1058,27849963000110,NaN,234086958110,3508504,122020
578,0150,751972176,Eletropaulo Metropolitana Eletricidade de São ...,1058,61695227000193,NaN,206165226110,3505708,122020
579,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,122020
580,0150,752995566,SORVETES JUNDIA INDUSTRIA E COMERCIO LTDA,1058,05058229000362,NaN,206462499110,3505708,122020

In [41]:
df_0150_final = df_0150_final.drop_duplicates()
df_0150_final[df_0150_final['IE'].notnull()]

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,000000309,Conde Neto & Cia Ltda,1058,06161357000804,NaN,116939809113,3550308,092019
1,0150,000000311,Conde Neto & Cia Ltda,1058,06161357001029,NaN,149399539118,3550308,092019
2,0150,000000314,Conde Neto & Cia Ltda,1058,06161357001371,NaN,147552748114,3550308,092019
3,0150,000156500,Prevent Senior Private Operadora de Saude Ltda,1058,00461479001054,NaN,145389352117,3550308,092019
4,0150,000156504,Prevent Senior Private Operadora de Saude Ltda,1058,00461479003189,NaN,142004487112,3550308,092019
...,...,...,...,...,...,...,...,...,...
576,0150,000007953,JULIA COSMETICOS EIRELI,1058,10328983000143,NaN,645538983114,3549904,122020
577,0150,000355698,CONDE ATACADISTA LTDA,1058,27849963000110,NaN,234086958110,3508504,122020
578,0150,751972176,Eletropaulo Metropolitana Eletricidade de São ...,1058,61695227000193,NaN,206165226110,3505708,122020
579,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,122020
580,0150,752995566,SORVETES JUNDIA INDUSTRIA E COMERCIO LTDA,1058,05058229000362,NaN,206462499110,3505708,122020

In [42]:
df_cnpj_repetido = pd.DataFrame(columns=df_0150_final.columns)

dates = ['102019', '112019', '122019',
        '012020', '022020', '032020', '042020',
        '052020', '062020', '072020', '082020',
        '092020', '102020', '112020', '122020']
for date in dates:
    for cnpj in df_0150_final[df_0150_final['DATA'] == date]['CNPJ'].unique():
        if len(df_0150_final.loc[(df_0150_final['DATA'] == date) & (df_0150_final['CNPJ'] == cnpj)]) > 1:
            df = df_0150_final.loc[(df_0150_final['DATA'] == date) & (df_0150_final['CNPJ'] == cnpj)]
            df_cnpj_repetido = pd.concat([df_cnpj_repetido, df])
            
df_cnpj_repetido

Empty DataFrame
Columns: [REG, COD_PART, NOME, COD_PAIS, CNPJ, CPF, IE, COD_MUN, DATA]
Index: []

In [43]:
df_ie_repetido = pd.DataFrame(columns=df_0150_final.columns)

dates = ['102019', '112019', '122019',
        '012020', '022020', '032020', '042020',
        '052020', '062020', '072020', '082020',
        '092020', '102020', '112020', '122020']
for date in dates:
    for ie in df_0150_final[df_0150_final['DATA'] == date]['IE'].unique():
        if len(df_0150_final.loc[(df_0150_final['DATA'] == date) & (df_0150_final['IE'] == ie)]) > 1:
            df = df_0150_final.loc[(df_0150_final['DATA'] == date) & (df_0150_final['IE'] == ie)]
            df_ie_repetido = pd.concat([df_ie_repetido, df])
            
df_ie_repetido

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
329,0150,751872165,CONDE ATACADISTA LTDA,1058,27849963000110,NaN,234086958110,3508504,052020
333,0150,751992484,EDIFICIO PIAZZA DEL SOLE,1058,11511935000159,NaN,234086958110,3550308,052020

In [44]:
# Iterate through each file in the folder
df_0000 = pd.read_excel('registros_0000_0150.xlsx', sheet_name='0000', dtype=str)

df_0000['DATA'] = df_0000['DATA'].astype(str).str.slice(0, 8)
df_0000['DATA'] = [datetime.strptime(x, '%Y%m%d').strftime('%m%Y') for x in df_0000['DATA']]
df_0000['COD_VER'] = ['01'] * df_0000.shape[0]
df_0000['COD_FIN'] = ['00'] * df_0000.shape[0]
df_0000 = df_0000[['LOJA','REG', 'DATA', 'NOME', 'CNPJ', 'IE',
        'COD_MUN', 'COD_VER', 'COD_FIN']]

df_0000

,LOJA,REG,DATA,NOME,CNPJ,IE,COD_MUN,COD_VER,COD_FIN
0,Loja 191,0000,092019,Master Formula Farmacia de Manipulacao LTDA,71605265002105,543035938119,3539509,01,00
1,Loja 191,0000,102019,Master Formula Farmacia de Manipulacao LTDA,71605265002105,543035938119,3539509,01,00
2,Loja 191,0000,112019,Master Formula Farmacia de Manipulacao LTDA,71605265002105,543035938119,3539509,01,00
3,Loja 191,0000,122019,Master Formula Farmacia de Manipulacao LTDA,71605265002105,543035938119,3539509,01,00
4,Loja 191,0000,012020,Master Formula Farmacia de Manipulacao LTDA,71605265002105,543035938119,3539509,01,00
...,...,...,...,...,...,...,...,...,...
2777,Loja 98,0000,082020,Master Formula Farmacia de Manipulação LTDA,71605265037405,136948812117,3550308,01,00
2778,Loja 98,0000,092020,Master Formula Farmacia de Manipulação LTDA,71605265037405,136948812117,3550308,01,00
2779,Loja 98,0000,102020,Master Formula Farmacia de Manipulação LTDA,71605265037405,136948812117,3550308,01,00
2780,Loja 98,0000,112020,Master Formula Farmacia de Manipulação LTDA,71605265037405,136948812117,3550308,01,00
2781,Loja 98,0000,122020,Master Formula Farmacia de Manipulação LTDA,71605265037405,136948812117,3550308,01,00

In [45]:
for date in planilha['Data'].unique():
    print(date)

102019
112019
122019
012020
022020
032020
042020
052020
062020
072020
082020
092020
102020
112020
122020

In [46]:
df_0150_final['COD_MUN'] = pd.to_numeric(df_0150_final['COD_MUN'])
df_0150_final

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,000000309,Conde Neto & Cia Ltda,1058,06161357000804,NaN,116939809113,3550308,092019
1,0150,000000311,Conde Neto & Cia Ltda,1058,06161357001029,NaN,149399539118,3550308,092019
2,0150,000000314,Conde Neto & Cia Ltda,1058,06161357001371,NaN,147552748114,3550308,092019
3,0150,000156500,Prevent Senior Private Operadora de Saude Ltda,1058,00461479001054,NaN,145389352117,3550308,092019
4,0150,000156504,Prevent Senior Private Operadora de Saude Ltda,1058,00461479003189,NaN,142004487112,3550308,092019
...,...,...,...,...,...,...,...,...,...
576,0150,000007953,JULIA COSMETICOS EIRELI,1058,10328983000143,NaN,645538983114,3549904,122020
577,0150,000355698,CONDE ATACADISTA LTDA,1058,27849963000110,NaN,234086958110,3508504,122020
578,0150,751972176,Eletropaulo Metropolitana Eletricidade de São ...,1058,61695227000193,NaN,206165226110,3505708,122020
579,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,122020
580,0150,752995566,SORVETES JUNDIA INDUSTRIA E COMERCIO LTDA,1058,05058229000362,NaN,206462499110,3505708,122020

In [47]:
def fill_missing_ie(group):
    non_null_ie = group.dropna()['IE']
    if not non_null_ie.empty:
        group['IE'] = non_null_ie.iloc[0]
    elif group['IE'].isnull().all():
        group['IE'] = np.nan
    return group

# Group by 'CNPJ' and apply the custom function
df_0150_final_new = df_0150_final.groupby('CNPJ', group_keys=False).apply(fill_missing_ie)

df_0150_final_new

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,000000309,Conde Neto & Cia Ltda,1058,06161357000804,NaN,116939809113,3550308,092019
1,0150,000000311,Conde Neto & Cia Ltda,1058,06161357001029,NaN,149399539118,3550308,092019
2,0150,000000314,Conde Neto & Cia Ltda,1058,06161357001371,NaN,147552748114,3550308,092019
3,0150,000156500,Prevent Senior Private Operadora de Saude Ltda,1058,00461479001054,NaN,145389352117,3550308,092019
4,0150,000156504,Prevent Senior Private Operadora de Saude Ltda,1058,00461479003189,NaN,142004487112,3550308,092019
...,...,...,...,...,...,...,...,...,...
576,0150,000007953,JULIA COSMETICOS EIRELI,1058,10328983000143,NaN,645538983114,3549904,122020
577,0150,000355698,CONDE ATACADISTA LTDA,1058,27849963000110,NaN,234086958110,3508504,122020
578,0150,751972176,Eletropaulo Metropolitana Eletricidade de São ...,1058,61695227000193,NaN,206165226110,3505708,122020
579,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,122020
580,0150,752995566,SORVETES JUNDIA INDUSTRIA E COMERCIO LTDA,1058,05058229000362,NaN,206462499110,3505708,122020

In [48]:
df_0150_final = df_0150_final[df_0150_final['IE'].notnull()]
df_0150_final

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,000000309,Conde Neto & Cia Ltda,1058,06161357000804,NaN,116939809113,3550308,092019
1,0150,000000311,Conde Neto & Cia Ltda,1058,06161357001029,NaN,149399539118,3550308,092019
2,0150,000000314,Conde Neto & Cia Ltda,1058,06161357001371,NaN,147552748114,3550308,092019
3,0150,000156500,Prevent Senior Private Operadora de Saude Ltda,1058,00461479001054,NaN,145389352117,3550308,092019
4,0150,000156504,Prevent Senior Private Operadora de Saude Ltda,1058,00461479003189,NaN,142004487112,3550308,092019
...,...,...,...,...,...,...,...,...,...
576,0150,000007953,JULIA COSMETICOS EIRELI,1058,10328983000143,NaN,645538983114,3549904,122020
577,0150,000355698,CONDE ATACADISTA LTDA,1058,27849963000110,NaN,234086958110,3508504,122020
578,0150,751972176,Eletropaulo Metropolitana Eletricidade de São ...,1058,61695227000193,NaN,206165226110,3505708,122020
579,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,122020
580,0150,752995566,SORVETES JUNDIA INDUSTRIA E COMERCIO LTDA,1058,05058229000362,NaN,206462499110,3505708,122020

In [49]:
df_0150_final.loc[(df_0150_final['CNPJ'].notnull()) & (df_0150_final['IE'].isnull())]

Empty DataFrame
Columns: [REG, COD_PART, NOME, COD_PAIS, CNPJ, CPF, IE, COD_MUN, DATA]
Index: []

In [50]:
df_0150_final['CNPJ'] = df_0150_final['CNPJ'].apply(lambda x: str(x).zfill(14) if len(str(x)) < 14 else str(x))
df_0150_final

C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\2152152490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150_final['CNPJ'] = df_0150_final['CNPJ'].apply(lambda x: str(x).zfill(14) if len(str(x)) < 14 else str(x))

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,000000309,Conde Neto & Cia Ltda,1058,06161357000804,NaN,116939809113,3550308,092019
1,0150,000000311,Conde Neto & Cia Ltda,1058,06161357001029,NaN,149399539118,3550308,092019
2,0150,000000314,Conde Neto & Cia Ltda,1058,06161357001371,NaN,147552748114,3550308,092019
3,0150,000156500,Prevent Senior Private Operadora de Saude Ltda,1058,00461479001054,NaN,145389352117,3550308,092019
4,0150,000156504,Prevent Senior Private Operadora de Saude Ltda,1058,00461479003189,NaN,142004487112,3550308,092019
...,...,...,...,...,...,...,...,...,...
576,0150,000007953,JULIA COSMETICOS EIRELI,1058,10328983000143,NaN,645538983114,3549904,122020
577,0150,000355698,CONDE ATACADISTA LTDA,1058,27849963000110,NaN,234086958110,3508504,122020
578,0150,751972176,Eletropaulo Metropolitana Eletricidade de São ...,1058,61695227000193,NaN,206165226110,3505708,122020
579,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,122020
580,0150,752995566,SORVETES JUNDIA INDUSTRIA E COMERCIO LTDA,1058,05058229000362,NaN,206462499110,3505708,122020

In [51]:
# Função para verificar o dígito verificador de um CNPJ
def verifica_digito_verificador(cnpj):
    cnpj = [int(d) for d in str(cnpj) if d.isdigit()]  # Converte o CNPJ em uma lista de números inteiros
    if len(cnpj) != 14:
        return False  # CNPJ deve ter 14 dígitos

    # Calcula o primeiro dígito verificador
    soma = 0
    peso = [5, 4, 3, 2, 9, 8, 7, 6, 5, 4, 3, 2]
    for i in range(12):
        soma += cnpj[i] * peso[i]
    resto = soma % 11
    if resto < 2:
        digito_verificador1 = 0
    else:
        digito_verificador1 = 11 - resto

    # Calcula o segundo dígito verificador
    soma = 0
    peso.insert(0, 6)
    for i in range(13):
        soma += cnpj[i] * peso[i]
    resto = soma % 11
    if resto < 2:
        digito_verificador2 = 0
    else:
        digito_verificador2 = 11 - resto

    # Verifica se os dígitos verificadores são iguais aos dígitos originais
    return cnpj[-2] == digito_verificador1 and cnpj[-1] == digito_verificador2

# Exemplo de DataFrame
df = df_0150_final.copy()

# Aplica a função verifica_digito_verificador à coluna 'CNPJ' do DataFrame
df['Dígito_Verificador_Válido'] = df['CNPJ'].apply(verifica_digito_verificador)

# Exibe o DataFrame com a nova coluna
df

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA,Dígito_Verificador_Válido
0,0150,000000309,Conde Neto & Cia Ltda,1058,06161357000804,NaN,116939809113,3550308,092019,True
1,0150,000000311,Conde Neto & Cia Ltda,1058,06161357001029,NaN,149399539118,3550308,092019,True
2,0150,000000314,Conde Neto & Cia Ltda,1058,06161357001371,NaN,147552748114,3550308,092019,True
3,0150,000156500,Prevent Senior Private Operadora de Saude Ltda,1058,00461479001054,NaN,145389352117,3550308,092019,True
4,0150,000156504,Prevent Senior Private Operadora de Saude Ltda,1058,00461479003189,NaN,142004487112,3550308,092019,True
...,...,...,...,...,...,...,...,...,...,...
576,0150,000007953,JULIA COSMETICOS EIRELI,1058,10328983000143,NaN,645538983114,3549904,122020,True
577,0150,000355698,CONDE ATACADISTA LTDA,1058,27849963000110,NaN,234086958110,3508504,122020,True
578,0150,751972176,Eletropaulo Metropolitana Eletricidade de São ...,1058,61695227000193,NaN,206165226110,3505708,122020,True
579,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,122020,True
580,0150,752995566,SORVETES JUNDIA INDUSTRIA E COMERCIO LTDA,1058,05058229000362,NaN,206462499110,3505708,122020,True

In [52]:
df['Dígito_Verificador_Válido'].unique()

array([ True])

In [53]:
unique_cod_items = planilha[planilha['Data'] == '102019']['COD_ITEM'].unique()
arquivo_1050['COD_ITEM'] = arquivo_1050['COD_ITEM'].astype(int)
filtered = arquivo_1050[arquivo_1050['DATA'] == '102019'][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
filtered

C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\641789374.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == '102019'][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]

,Unnamed: 0,REF,COD_ITEM,QTD_INI,ICMS_INI,SALDO_FINAL_MES_QTD,SALDO_FINAL_MES_ICMS,DATA
0,0,201910,18,0,0,8,49.94,102019
15,15,201910,26,10,0,10,90.53,102019
30,30,201910,34,0,0,8,39.21,102019
45,45,201910,59,2,0,3,18.1,102019
60,60,201910,75,3,0,37,82.51,102019
...,...,...,...,...,...,...,...,...
124485,124485,201910,933713,1,10.70234747425896,2,30.11,102019
124515,124515,201910,933754,1,20.29713865846505,2,52.41,102019
124560,124560,201910,935502,3,3.374317145377135,11,13.76,102019
124575,124575,201910,935510,1,28.43367012785115,1,32.66,102019
124590,124590,201910,935528,3,84.02966565383436,3,89.85,102019

In [55]:
# Geração dos TXTs da CAT

for date in planilha['Data'].unique():
#for date in ['112019']:
    # Geração da 0000
    df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
    df_0000_['IE'] = df_0000_['IE'].str.replace('-', '')
    df_0000_ = df_0000_.drop('LOJA', axis=1)
    
    # Geração da 0150

    # df_0150 has originally 8 columns
    df_0150_ = df_0150_final[df_0150_final['DATA'] == date]
    if df_0150_.shape[0] == 0:
        print(f'Loja {loja} não possui 0150. Favor atualizar arquivo')
        sys.exit()
    df_0150_ = df_0150_[df_0150_['CNPJ'].notnull()]
    df_0150_['IE'] = df_0150_['IE'].str.replace('-', '')
    df_0150_ = df_0150_[['REG', 'COD_PART', 'NOME', 'COD_PAIS', 'CNPJ', 'CPF',
                'IE', 'COD_MUN']]
    
    # Geração da 0200
    df_0200 = planilha[planilha['Data'] == date][['COD_ITEM','DESCRICAO','CODIGO_BARRA','UNIDADE','N C M','ALIQUOTA','CEST']].drop_duplicates()
    df_0200['COD_REG'] = ['0200']*(df_0200.shape[0])
    df_0200 = df_0200[['COD_REG', 'COD_ITEM','DESCRICAO','CODIGO_BARRA','UNIDADE','N C M','ALIQUOTA','CEST']]
    df_0200['ALIQUOTA'] = df_0200['ALIQUOTA'].astype(float).astype(int)
    df_0200['CODIGO_BARRA'] = df_0200['CODIGO_BARRA'].astype(str)
    df_0200['CODIGO_BARRA'] = df_0200['CODIGO_BARRA'].replace('nan', np.nan)
    df_0200.drop_duplicates(subset='COD_ITEM', keep='first', inplace=True)
    
    # Geração da 1050
    unique_cod_items = planilha[planilha['Data'] == date]['COD_ITEM'].unique()
    arquivo_1050['COD_ITEM'] = arquivo_1050['COD_ITEM'].astype(int)
    filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
    filtered

    df_1050 = filtered[['COD_ITEM','QTD_INI', 'ICMS_INI', 'SALDO_FINAL_MES_QTD', 'SALDO_FINAL_MES_ICMS']]
    
    df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
    df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
    df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
    df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
    df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
    
    df_1050 = df_1050[['COD_REG', 'COD_ITEM', 'QTD_INI', 'ICMS_INI', 'SALDO_FINAL_MES_QTD', 'SALDO_FINAL_MES_ICMS']]
    df_1050.rename(columns={'COD_REG': 'REG'}, inplace=True)
    
    # Geração da 1100
    df_1100_ = df_1100[df_1100['Data'] == date]
    df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
    df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
    df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
    df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
    df_1100_ = df_1100_[['COD_REG','CHV_DOC','DATA','NUM_ITEM','IND_OPER','COD_ITEM','CFOP','QTD_FIN','ICMS_TOT_PCAT','VLR_CONFR_PCAT','COD_LEGAL_PCAT']]
    
    # Geração do .txt da 0000
    dataframe_to_txt_with_crlf(df_0000_, f'Loja_{loja}/CAT_Loja_{loja}/teste/0000_{date}_v1.txt')
    
    # Geração do .txt da 0150
    dataframe_to_txt_with_crlf(df_0150_, f'Loja_{loja}/CAT_Loja_{loja}/teste/0150_{date}_v1.txt')
    
    # Geração do .txt da 0200
    dataframe_to_txt_with_crlf(df_0200, f'Loja_{loja}/CAT_Loja_{loja}/teste/0200_{date}_v1.txt')
    
    # Geração do .txt da 1050
    dataframe_to_txt_with_crlf(df_1050, f'Loja_{loja}/CAT_Loja_{loja}/teste/1050_{date}_v1.txt')
    
    # Geração do .txt da 1100
    dataframe_to_txt_with_crlf(df_1100_, f'Loja_{loja}/CAT_Loja_{loja}/teste/1100_{date}_v1.txt')
    
    # Geração de um arquivo .txt único,
    # contendo todas as informações das documentações
    # da 0000, 0150, 0200, 1050 e 1100
    # dentro do formato correto

    read_files = glob.glob(f"Loja_{loja}/CAT_Loja_{loja}/teste/*{date}_v1.txt")
    
    with open(f"Loja_{loja}/CAT_Loja_{loja}/cat_loja_{loja}_{date}_v1.txt", "wb") as outfile:
        for f in read_files:
            with open(f, "rb") as infile:
                outfile.write(infile.read())

C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)

C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'

C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)

C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)

C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)

C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)

C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)

C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)

C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_18964\3608821322.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)