In [1]:
# Importação das bibliotecas necessárias
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import math
from datetime import datetime
import sys

In [2]:
# Definição de qual loja irá rodar o script

loja = 132

In [3]:
# Estabelecimento de conexão com o banco de dados
# para extração das informações das tabelas necessárias

database_config = {
    "host": "cat42.cohe0l2miaal.us-east-1.rds.amazonaws.com",
    "user": "master",
    "password": "dms191411",
    "database": "cat"
}

# Create a connection to the MySQL database
engine = create_engine(f"mysql+pymysql://{database_config['user']}:{database_config['password']}@{database_config['host']}/{database_config['database']}")

In [4]:
# Leitura da tabela 1 gerada em etapa anterior
tabela_1 = pd.read_csv(f'Loja_{loja}/loja_{loja}_tabela_1.csv')
tabela_1['Código Produto ou Serviço'] = tabela_1['Código Produto ou Serviço'].astype(str)
tabela_1.head()

C:\Users\vinic\AppData\Local\Temp\ipykernel_1860\1837343450.py:2: DtypeWarning: Columns (4,9,10,11,13) have mixed types. Specify dtype option on import or set low_memory=False.
  tabela_1 = pd.read_csv(f'Loja_{loja}/loja_{loja}_tabela_1.csv')

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
0,0,35161023164780000100550020000003731120605646,2016-10-03,2,126524,1202.0,"1,0000","11,04","1,62",NaN,NaN,NaN,Propolis Conlife Spr Geng 35ml,7898526012385,UN,15219019.0,2804100.0,2.316478e+13,NaN,entrada_oprprp
1,1,35161023164780000100550020000003731120605646,2016-10-03,1,127225,1202.0,"1,0000","11,04","1,62",NaN,NaN,NaN,Propolis Conlife Spr Mel E Rom,7898526012453,UN,15219019.0,2804100.0,2.316478e+13,NaN,entrada_oprprp
2,2,35161023164780000100550020000003751120608208,2016-10-03,1,114942,1411.0,"2,0000","106,8",NaN,NaN,NaN,"199,6",Lansoprazol Prati 30mg 14S,7898148301911,UN,30049069.0,1300200.0,2.316478e+13,NaN,entrada_oprprp
3,3,35161023164780000100550020000003761120608345,2016-10-03,1,104877,1411.0,"1,0000","14,34",NaN,NaN,NaN,"43,42",Acebrofilina Cimed Xpe Inf 120,7896523209128,UN,30049039.0,1300200.0,2.316478e+13,NaN,entrada_oprprp
4,4,35161023164780000100550020000003771120656304,2016-10-04,1,140665,1411.0,"1,0000",27,NaN,NaN,NaN,"65,68",Clor Hidroxizina Xpe 120ml Leg,7894916145718,UN,30049099.0,1300201.0,2.316478e+13,NaN,entrada_oprprp

In [5]:
tabela_1[tabela_1['Tipo'] == 'dfe']

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
371421,0,35190623164780000100590000692702190174200878,2019-06-28,1,204230,5405.0,"1,0000","24,97",NaN,NaN,NaN,NaN,0 - DESLORATADINA XPE 10,7899547505122.0,UN,NaN,NaN,NaN,NaN,dfe
371422,1,35170123164780000100590000664290577763870914,2017-01-19,1,128066,5102.0,"1,0000","89,20","16,06",NaN,NaN,NaN,100% PURE WHEY 900G BAUNILHA,NaN,UN,NaN,NaN,NaN,NaN,dfe
371423,2,35200423164780000100590004371011500600351754,2020-04-23,1,223164,5405.0,"1,0000","0,98",NaN,NaN,NaN,NaN,1108 - ABERALGINA 500MG 10ML AIRELA,7894164000050.0,UN,NaN,NaN,NaN,NaN,dfe
371424,3,35200423164780000100590004371011500624348222,2020-04-23,1,223164,5405.0,"1,0000","0,98",NaN,NaN,NaN,NaN,1108 - ABERALGINA 500MG 10ML AIRELA,7894164000050.0,UN,NaN,NaN,NaN,NaN,dfe
371425,4,35200423164780000100590004371011500931215041,2020-04-23,3,223164,5405.0,"1,0000","0,98",NaN,NaN,NaN,NaN,1108 - ABERALGINA 500MG 10ML AIRELA,7894164000050.0,UN,NaN,NaN,NaN,NaN,dfe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1361676,990255,35170923164780000100590000692701188939121228,2017-09-27,2,28571,5405.0,"1,0000","48,86",NaN,NaN,NaN,NaN,ZYRTEC 10MG 12.S GSK,NaN,UN,NaN,NaN,NaN,NaN,dfe
1361677,990256,35161023164780000100590000692700518701399265,2016-10-19,1,911511,5405.0,"1,0000","47,80",NaN,NaN,NaN,NaN,ZYXEN GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe
1361678,990257,35161123164780000100590000664290467136737032,2016-11-22,1,911511,5405.0,"1,0000","45,01",NaN,NaN,NaN,NaN,ZYXEN GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe
1361679,990258,35170223164780000100590000664290611063270300,2017-02-05,1,911511,5405.0,"1,0000","47,66",NaN,NaN,NaN,NaN,ZYXEN GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe
1361680,990259,35171123164780000100590000692701307112367477,2017-11-08,1,911511,5405.0,"1,0000","40,29",NaN,NaN,NaN,NaN,ZYXEN GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe

In [6]:
# Leitura do arquivo da complementar 
complementar = pd.read_excel(f'Loja_{loja}/complementar_loja_{loja}_v1.xlsx')
complementar['Produto'] = complementar['Produto'].astype(str)
complementar['Item NFE Origem'] = complementar['Item NFE Origem'].astype(int)
complementar

,Unnamed: 0,Chave Acesso NFe,Item NFE Origem,EAN,Produto,Quantidade Comercial,Valor Produto ou Serviço,Valor Base Cálculo ICMS ST Retido Operação Anterior,ANVISA,ICMS ST Retido-Base de Cálculo,ALIQUOTA,DESCONTO_PORCENTAGEM,ICMS ST Retido- Valor,vPMC
0,0,35190901206820000520550030097919361459775800,2,7.891268e+12,21527,1,13.06,14.65,1211003780019,14.65,18,11.98,2.64,16.64
1,1,35190901206820000520550030098021801760160118,1,7.896642e+12,107607,1,13.12,14.18,1063902430029,14.18,18,16.16,2.55,16.91
2,2,35190901206820000520550030098021801760160118,10,7.897931e+12,1230,1,26.45,29.67,1291600240039,29.67,18,11.98,5.34,33.71
3,3,35190901206820000520550030098021801760160118,12,7.896016e+12,132639,1,117.59,131.91,1010702990021,136.99,18,11.98,24.66,155.64
4,4,35190901206820000520550030098021801760160118,4,7.896642e+12,186320,1,69.00,74.56,1063902610078,74.56,18,16.16,13.42,88.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211698,289829,35201227849963000110550010010273571010237907,48,7.898623e+12,153536,"1,0000",5.01,5.81,NaN,1.34,18,NaN,0.24,42.78
211699,289830,35201227849963000110550010010273571010237907,49,7.909194e+12,237974,"2,0000",2.70,0.00,NaN,4.40,25,NaN,1.10,62.79
211700,289831,35201227849963000110550010010273571010237907,50,7.909194e+12,237768,"2,0000",2.70,0.00,NaN,4.40,25,NaN,1.10,62.79
211701,289832,35201227849963000110550010010273571010237907,51,7.909194e+12,238097,"1,0000",1.35,0.00,NaN,2.20,25,NaN,0.55,62.79
211702,289833,35201227849963000110550010010273571010237907,52,7.909194e+12,237792,"3,0000",4.05,0.00,NaN,6.59,25,NaN,1.65,62.79

In [7]:
# Leitura da complementar Mauricio

#complementar = pd.read_excel(f'Loja_{loja}/NFC_loja_{loja}.xlsx')
#complementar

In [8]:
# Leitura da tabela da efd_mod55 para um data frame

query = f'SELECT * FROM tabela_efds_modelo55 WHERE LOJA = {loja}'

efd = pd.read_sql(query, engine)
if efd.shape[0] == 0:
    print(f'Tabela modelo 55 da loja {loja} não consta no banco. Favor verificar')
    sys.exit()
efd

,ID,LOJA,DATA_EFD,DATA_ENTRADA,DATA_SAIDA,CHAVE_ORIGINAL,COD_DO_ITEM,CODPROF,CFOP,DESC_PROD,QUANTI_EFDS,EAN,NCM,ICMS,CEST
0,15832039,132,09-2019,,,35190923164780000100550020000018461157043820,,,,,,,,,
1,15832040,132,09-2019,,,35190923164780000100550020000018721157862855,,,,,,,,,
2,15832041,132,09-2019,,,35190923164780000100550020000018731157863077,,,,,,,,,
3,15832042,132,09-2019,,,35190923164780000100550020000018741157863619,,,,,,,,,
4,15832043,132,09-2019,,,35190923164780000100550020000018331156311750,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322655,17166859,132,12-2020,11/12/2020,11/12/2020,35201223164780000100550020000025281183743328,1,204834,1202,Vitacon Ferro Gotas 30ml Mcg,1,,21069030,,
322656,17166860,132,12-2020,14/12/2020,14/12/2020,35201223164780000100550020000025331183875704,1,93682,1411,NAUSICALM 20ML U.Q,1,,30044990,18,13.003.01
322657,17166861,132,12-2020,07/12/2020,07/12/2020,35201223164780000100550020000025231183329576,1,202234,1411,OLEO MINERAL 100ML CONLIFE,1,,30049099,18,13.003.01
322658,17166862,132,12-2020,07/12/2020,07/12/2020,35201223164780000100550020000025231183329576,2,237420,1411,SIMETICONA CIMED 125MG 10S,1,,30049099,18,13.003.01
322659,17166863,132,12-2020,07/12/2020,07/12/2020,35201223164780000100550020000025241183335492,1,112458,1411,ENTEROGERMINA 10FCX5ML,1,,30029099,18,13.008.01

In [9]:
# Leitura da tabela da efd_mod59 para um data frame

query = f'SELECT * FROM tabela_efds_modelo59 WHERE LOJA = {loja}'

efd_mod59 = pd.read_sql(query, engine)
if efd_mod59.shape[0] == 0:
    print(f'Tabela modelo 59 da loja {loja} não consta no banco. Favor verificar')
    sys.exit()
efd_mod59

,ID,LOJA,PERIODO,REG,COD_MOD,COD_SIT,NUM_CFE,DT_DOC,VL_CFE,VL_PIS,VL_COFINS,CNPJ_CPF,NR_SAT,CHV_CFE,VL_DESC,VL_MERC,VL_OUT_DA,VL_ICMS,VL_PIS_ST,VL_COFINS_ST
0,13200314,132,01-2020,C800,59,0,253146,01/01/2020,"9,55",,,,69270,35200123164780000100590000692702531460645812,"0,51","10,06",0,0,,
1,13200315,132,01-2020,C800,59,0,253147,01/01/2020,"13,02",,,,69270,35200123164780000100590000692702531473705762,"2,12","15,14",0,0,,
2,13200316,132,01-2020,C800,59,0,253148,01/01/2020,"73,17",,,,69270,35200123164780000100590000692702531483823938,"17,62","90,79",0,0,,
3,13200317,132,01-2020,C800,59,0,253149,01/01/2020,"4,88",,,,69270,35200123164780000100590000692702531492208884,"0,26","5,14",0,0,,
4,13200318,132,01-2020,C800,59,0,253150,01/01/2020,"2,99",,,,69270,35200123164780000100590000692702531506820301,"1,1","4,09",0,0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353109,14529728,132,12-2020,C800,59,0,5639,31/12/2020,"21,48",,,,954655,35201223164780000100590009546550056399093367,"19,18","40,66","0,00","0,62",,
353110,14529729,132,12-2020,C800,59,0,5640,31/12/2020,"28,54",,,,954655,35201223164780000100590009546550056408364160,"2,97","31,51","0,00","0,00",,
353111,14529730,132,12-2020,C800,59,0,5641,31/12/2020,"20,74",,,,954655,35201223164780000100590009546550056410114019,"12,43","33,17","0,00","0,52",,
353112,14529731,132,12-2020,C800,59,0,5642,31/12/2020,"29,88",,,,954655,35201223164780000100590009546550056428456337,"2,36","32,24","0,00","0,62",,
353113,14529732,132,12-2020,C800,59,0,5643,31/12/2020,"4,90",,,,954655,35201223164780000100590009546550056434608798,"0,00","4,90","0,00","0,88",,

In [10]:
efd_mod59['PERIODO'] = pd.to_datetime(efd_mod59['PERIODO'], format='%m-%Y')
efd_mod59['PERIODO'].unique()

array(['2020-01-01T00:00:00.000000000', '2020-02-01T00:00:00.000000000',
       '2020-03-01T00:00:00.000000000', '2020-04-01T00:00:00.000000000',
       '2020-05-01T00:00:00.000000000', '2020-06-01T00:00:00.000000000',
       '2020-07-01T00:00:00.000000000', '2020-08-01T00:00:00.000000000',
       '2019-09-01T00:00:00.000000000', '2020-09-01T00:00:00.000000000',
       '2019-10-01T00:00:00.000000000', '2020-10-01T00:00:00.000000000',
       '2019-11-01T00:00:00.000000000', '2020-11-01T00:00:00.000000000',
       '2019-12-01T00:00:00.000000000', '2020-12-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [11]:
efd['CODPROF'] = efd['CODPROF'].astype(str)

In [12]:
# Retirada dos valores negativos de base de calculo da complementar
#complementar['ICMS ST Retido-Base de Cálculo'] = complementar['ST Retido - Base de Cálculo'].astype(str).str.replace('.', '').str.replace(',', '.').astype(float)
complementar['ICMS ST Retido-Base de Cálculo'] = complementar['ICMS ST Retido-Base de Cálculo'].astype(float)
#complementar['ICMS ST Retido- Valor'] = complementar['ICMS ST Retido - Val'].astype(str).str.replace('.', '').str.replace(',', '.').astype(float)
complementar['ICMS ST Retido- Valor'] = complementar['ICMS ST Retido- Valor'].astype(float)
complementar_final = complementar[complementar['ICMS ST Retido-Base de Cálculo'] >= 0]
complementar_final

,Unnamed: 0,Chave Acesso NFe,Item NFE Origem,EAN,Produto,Quantidade Comercial,Valor Produto ou Serviço,Valor Base Cálculo ICMS ST Retido Operação Anterior,ANVISA,ICMS ST Retido-Base de Cálculo,ALIQUOTA,DESCONTO_PORCENTAGEM,ICMS ST Retido- Valor,vPMC
0,0,35190901206820000520550030097919361459775800,2,7.891268e+12,21527,1,13.06,14.65,1211003780019,14.65,18,11.98,2.64,16.64
1,1,35190901206820000520550030098021801760160118,1,7.896642e+12,107607,1,13.12,14.18,1063902430029,14.18,18,16.16,2.55,16.91
2,2,35190901206820000520550030098021801760160118,10,7.897931e+12,1230,1,26.45,29.67,1291600240039,29.67,18,11.98,5.34,33.71
3,3,35190901206820000520550030098021801760160118,12,7.896016e+12,132639,1,117.59,131.91,1010702990021,136.99,18,11.98,24.66,155.64
4,4,35190901206820000520550030098021801760160118,4,7.896642e+12,186320,1,69.00,74.56,1063902610078,74.56,18,16.16,13.42,88.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211698,289829,35201227849963000110550010010273571010237907,48,7.898623e+12,153536,"1,0000",5.01,5.81,NaN,1.34,18,NaN,0.24,42.78
211699,289830,35201227849963000110550010010273571010237907,49,7.909194e+12,237974,"2,0000",2.70,0.00,NaN,4.40,25,NaN,1.10,62.79
211700,289831,35201227849963000110550010010273571010237907,50,7.909194e+12,237768,"2,0000",2.70,0.00,NaN,4.40,25,NaN,1.10,62.79
211701,289832,35201227849963000110550010010273571010237907,51,7.909194e+12,238097,"1,0000",1.35,0.00,NaN,2.20,25,NaN,0.55,62.79
211702,289833,35201227849963000110550010010273571010237907,52,7.909194e+12,237792,"3,0000",4.05,0.00,NaN,6.59,25,NaN,1.65,62.79

In [13]:
# Formatação da coluna de data da tabela 1

tabela_1['Data Emissão'] = pd.to_datetime(tabela_1['Data Emissão'],format='%Y-%m-%d')
tabela_1.head()

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
0,0,35161023164780000100550020000003731120605646,2016-10-03,2,126524,1202.0,"1,0000","11,04","1,62",NaN,NaN,NaN,Propolis Conlife Spr Geng 35ml,7898526012385,UN,15219019.0,2804100.0,2.316478e+13,NaN,entrada_oprprp
1,1,35161023164780000100550020000003731120605646,2016-10-03,1,127225,1202.0,"1,0000","11,04","1,62",NaN,NaN,NaN,Propolis Conlife Spr Mel E Rom,7898526012453,UN,15219019.0,2804100.0,2.316478e+13,NaN,entrada_oprprp
2,2,35161023164780000100550020000003751120608208,2016-10-03,1,114942,1411.0,"2,0000","106,8",NaN,NaN,NaN,"199,6",Lansoprazol Prati 30mg 14S,7898148301911,UN,30049069.0,1300200.0,2.316478e+13,NaN,entrada_oprprp
3,3,35161023164780000100550020000003761120608345,2016-10-03,1,104877,1411.0,"1,0000","14,34",NaN,NaN,NaN,"43,42",Acebrofilina Cimed Xpe Inf 120,7896523209128,UN,30049039.0,1300200.0,2.316478e+13,NaN,entrada_oprprp
4,4,35161023164780000100550020000003771120656304,2016-10-04,1,140665,1411.0,"1,0000",27,NaN,NaN,NaN,"65,68",Clor Hidroxizina Xpe 120ml Leg,7894916145718,UN,30049099.0,1300201.0,2.316478e+13,NaN,entrada_oprprp

In [14]:
# Formatação da coluna Valor Produto ou Serviço para o tipo correto

tabela_1['Valor Produto ou Serviço'] = tabela_1['Valor Produto ou Serviço'].str.replace('.', '').str.replace(',', '.').astype(float)
tabela_1.head()

C:\Users\vinic\AppData\Local\Temp\ipykernel_1860\3894326555.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tabela_1['Valor Produto ou Serviço'] = tabela_1['Valor Produto ou Serviço'].str.replace('.', '').str.replace(',', '.').astype(float)

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
0,0,35161023164780000100550020000003731120605646,2016-10-03,2,126524,1202.0,"1,0000",11.04,"1,62",NaN,NaN,NaN,Propolis Conlife Spr Geng 35ml,7898526012385,UN,15219019.0,2804100.0,2.316478e+13,NaN,entrada_oprprp
1,1,35161023164780000100550020000003731120605646,2016-10-03,1,127225,1202.0,"1,0000",11.04,"1,62",NaN,NaN,NaN,Propolis Conlife Spr Mel E Rom,7898526012453,UN,15219019.0,2804100.0,2.316478e+13,NaN,entrada_oprprp
2,2,35161023164780000100550020000003751120608208,2016-10-03,1,114942,1411.0,"2,0000",106.80,NaN,NaN,NaN,"199,6",Lansoprazol Prati 30mg 14S,7898148301911,UN,30049069.0,1300200.0,2.316478e+13,NaN,entrada_oprprp
3,3,35161023164780000100550020000003761120608345,2016-10-03,1,104877,1411.0,"1,0000",14.34,NaN,NaN,NaN,"43,42",Acebrofilina Cimed Xpe Inf 120,7896523209128,UN,30049039.0,1300200.0,2.316478e+13,NaN,entrada_oprprp
4,4,35161023164780000100550020000003771120656304,2016-10-04,1,140665,1411.0,"1,0000",27.00,NaN,NaN,NaN,"65,68",Clor Hidroxizina Xpe 120ml Leg,7894916145718,UN,30049099.0,1300201.0,2.316478e+13,NaN,entrada_oprprp

In [15]:
# Preenchimento da coluna IND_OPER da tabela 1

tabela_1['IND_OPER'] = np.where((tabela_1['Tipo'] == 'dfe') | (tabela_1['Tipo'] == 'saida_nfe'),
                            1, 0)

tabela_1.head()

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo,IND_OPER
0,0,35161023164780000100550020000003731120605646,2016-10-03,2,126524,1202.0,"1,0000",11.04,"1,62",NaN,...,NaN,Propolis Conlife Spr Geng 35ml,7898526012385,UN,15219019.0,2804100.0,2.316478e+13,NaN,entrada_oprprp,0
1,1,35161023164780000100550020000003731120605646,2016-10-03,1,127225,1202.0,"1,0000",11.04,"1,62",NaN,...,NaN,Propolis Conlife Spr Mel E Rom,7898526012453,UN,15219019.0,2804100.0,2.316478e+13,NaN,entrada_oprprp,0
2,2,35161023164780000100550020000003751120608208,2016-10-03,1,114942,1411.0,"2,0000",106.80,NaN,NaN,...,"199,6",Lansoprazol Prati 30mg 14S,7898148301911,UN,30049069.0,1300200.0,2.316478e+13,NaN,entrada_oprprp,0
3,3,35161023164780000100550020000003761120608345,2016-10-03,1,104877,1411.0,"1,0000",14.34,NaN,NaN,...,"43,42",Acebrofilina Cimed Xpe Inf 120,7896523209128,UN,30049039.0,1300200.0,2.316478e+13,NaN,entrada_oprprp,0
4,4,35161023164780000100550020000003771120656304,2016-10-04,1,140665,1411.0,"1,0000",27.00,NaN,NaN,...,"65,68",Clor Hidroxizina Xpe 120ml Leg,7894916145718,UN,30049099.0,1300201.0,2.316478e+13,NaN,entrada_oprprp,0

In [16]:
tabela_1['Tipo'].value_counts()

dfe               990260
entrada_sp        369330
saida_nfe           2346
entrada_oprprp      1674
entrada_outras       417
Name: Tipo, dtype: int64

In [17]:
# Preenchimento da coluna bc_complementar_total_complementar

bc_df = complementar_final[['Chave Acesso NFe', 'Item NFE Origem', 'ICMS ST Retido-Base de Cálculo', 'Produto', 'vPMC']]
merged_df = pd.merge(tabela_1, bc_df, left_on=['Chave Acesso NFe', 'Número Item'],
                    right_on=['Chave Acesso NFe', 'Item NFE Origem'], how='left')

#bc_df = complementar_final[['NFref1', 'Item', 'ICMS ST Retido-Base de Cálculo', 'Produto', 'vPMC']]
#merged_df = pd.merge(tabela_1, bc_df, left_on=['Chave Acesso NFe', 'Número Item'],
#                     right_on=['NFref1', 'Item'], how='left')


merged_df = merged_df.drop('Unnamed: 0', axis=1)
merged_df = merged_df.drop_duplicates()
merged_df

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo,IND_OPER,Item NFE Origem,ICMS ST Retido-Base de Cálculo,Produto,vPMC
0,35161023164780000100550020000003731120605646,2016-10-03,2,126524,1202.0,"1,0000",11.04,"1,62",NaN,NaN,...,15219019.0,2804100.0,2.316478e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN
1,35161023164780000100550020000003731120605646,2016-10-03,1,127225,1202.0,"1,0000",11.04,"1,62",NaN,NaN,...,15219019.0,2804100.0,2.316478e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN
2,35161023164780000100550020000003751120608208,2016-10-03,1,114942,1411.0,"2,0000",106.80,NaN,NaN,NaN,...,30049069.0,1300200.0,2.316478e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN
3,35161023164780000100550020000003761120608345,2016-10-03,1,104877,1411.0,"1,0000",14.34,NaN,NaN,NaN,...,30049039.0,1300200.0,2.316478e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN
4,35161023164780000100550020000003771120656304,2016-10-04,1,140665,1411.0,"1,0000",27.00,NaN,NaN,NaN,...,30049099.0,1300201.0,2.316478e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1447440,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927.0,"1,0000",17.00,NaN,NaN,NaN,...,96190000.0,2004800.0,2.316478e+13,2.316478e+13,saida_nfe,1,NaN,NaN,NaN,NaN
1447441,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927.0,"1,0000",9.19,NaN,NaN,NaN,...,96190000.0,2004800.0,2.316478e+13,2.316478e+13,saida_nfe,1,NaN,NaN,NaN,NaN
1447442,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927.0,"1,0000",5.58,NaN,NaN,NaN,...,96190000.0,2004800.0,2.316478e+13,2.316478e+13,saida_nfe,1,NaN,NaN,NaN,NaN
1447443,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927.0,"1,0000",7.80,NaN,NaN,NaN,...,96190000.0,2004800.0,2.316478e+13,2.316478e+13,saida_nfe,1,NaN,NaN,NaN,NaN
1447444,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927.0,"1,0000",27.50,NaN,NaN,NaN,...,30042029.0,1300200.0,2.316478e+13,2.316478e+13,saida_nfe,1,NaN,NaN,NaN,NaN

In [18]:
# Preenchimento da coluna bc_complementar_total_item_original

merged_df['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = merged_df['Valor Base Cálculo ICMS ST Retido Operação Anterior'].str.replace('.', '').str.replace(',', '.').astype(float).fillna(0)
merged_df['Valor ICMS Operação'] = merged_df['Valor ICMS Operação'].str.replace('.', '').str.replace(',', '.').astype(float).fillna(0)

merged_df['bc_complementar_total_item_original'] = merged_df['ICMS ST Retido-Base de Cálculo'] 
merged_df

C:\Users\vinic\AppData\Local\Temp\ipykernel_1860\4191433314.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged_df['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = merged_df['Valor Base Cálculo ICMS ST Retido Operação Anterior'].str.replace('.', '').str.replace(',', '.').astype(float).fillna(0)
C:\Users\vinic\AppData\Local\Temp\ipykernel_1860\4191433314.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged_df['Valor ICMS Operação'] = merged_df['Valor ICMS Operação'].str.replace('.', '').str.replace(',', '.').astype(float).fillna(0)

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo,IND_OPER,Item NFE Origem,ICMS ST Retido-Base de Cálculo,Produto,vPMC,bc_complementar_total_item_original
0,35161023164780000100550020000003731120605646,2016-10-03,2,126524,1202.0,"1,0000",11.04,1.62,NaN,NaN,...,2804100.0,2.316478e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
1,35161023164780000100550020000003731120605646,2016-10-03,1,127225,1202.0,"1,0000",11.04,1.62,NaN,NaN,...,2804100.0,2.316478e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
2,35161023164780000100550020000003751120608208,2016-10-03,1,114942,1411.0,"2,0000",106.80,0.00,NaN,NaN,...,1300200.0,2.316478e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
3,35161023164780000100550020000003761120608345,2016-10-03,1,104877,1411.0,"1,0000",14.34,0.00,NaN,NaN,...,1300200.0,2.316478e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
4,35161023164780000100550020000003771120656304,2016-10-04,1,140665,1411.0,"1,0000",27.00,0.00,NaN,NaN,...,1300201.0,2.316478e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1447440,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927.0,"1,0000",17.00,0.00,NaN,NaN,...,2004800.0,2.316478e+13,2.316478e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN
1447441,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927.0,"1,0000",9.19,0.00,NaN,NaN,...,2004800.0,2.316478e+13,2.316478e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN
1447442,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927.0,"1,0000",5.58,0.00,NaN,NaN,...,2004800.0,2.316478e+13,2.316478e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN
1447443,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927.0,"1,0000",7.80,0.00,NaN,NaN,...,2004800.0,2.316478e+13,2.316478e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN
1447444,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927.0,"1,0000",27.50,0.00,NaN,NaN,...,1300200.0,2.316478e+13,2.316478e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN

In [19]:
efd['DATA_SAIDA'] = efd['DATA_SAIDA'].replace('', np.nan)
efd['DATA_SAIDA'] = pd.to_datetime(efd['DATA_SAIDA'], format='%d/%m/%Y')
efd

,ID,LOJA,DATA_EFD,DATA_ENTRADA,DATA_SAIDA,CHAVE_ORIGINAL,COD_DO_ITEM,CODPROF,CFOP,DESC_PROD,QUANTI_EFDS,EAN,NCM,ICMS,CEST
0,15832039,132,09-2019,,NaT,35190923164780000100550020000018461157043820,,,,,,,,,
1,15832040,132,09-2019,,NaT,35190923164780000100550020000018721157862855,,,,,,,,,
2,15832041,132,09-2019,,NaT,35190923164780000100550020000018731157863077,,,,,,,,,
3,15832042,132,09-2019,,NaT,35190923164780000100550020000018741157863619,,,,,,,,,
4,15832043,132,09-2019,,NaT,35190923164780000100550020000018331156311750,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322655,17166859,132,12-2020,11/12/2020,2020-12-11,35201223164780000100550020000025281183743328,1,204834,1202,Vitacon Ferro Gotas 30ml Mcg,1,,21069030,,
322656,17166860,132,12-2020,14/12/2020,2020-12-14,35201223164780000100550020000025331183875704,1,93682,1411,NAUSICALM 20ML U.Q,1,,30044990,18,13.003.01
322657,17166861,132,12-2020,07/12/2020,2020-12-07,35201223164780000100550020000025231183329576,1,202234,1411,OLEO MINERAL 100ML CONLIFE,1,,30049099,18,13.003.01
322658,17166862,132,12-2020,07/12/2020,2020-12-07,35201223164780000100550020000025231183329576,2,237420,1411,SIMETICONA CIMED 125MG 10S,1,,30049099,18,13.003.01
322659,17166863,132,12-2020,07/12/2020,2020-12-07,35201223164780000100550020000025241183335492,1,112458,1411,ENTEROGERMINA 10FCX5ML,1,,30029099,18,13.008.01

In [20]:
efd['COD_DO_ITEM'] = efd['COD_DO_ITEM'].astype(str)
merged_df['Número Item'] = merged_df['Número Item'].astype(str)

In [21]:
efd['CHAVE_ORIGINAL'] = efd['CHAVE_ORIGINAL'].astype(str)
merged_df['Chave Acesso NFe'] = merged_df['Chave Acesso NFe'].astype(str)

In [22]:
efd[['CHAVE_ORIGINAL','DATA_SAIDA', 'COD_DO_ITEM',
                                  'CFOP', 'CODPROF',
                                 'DESC_PROD', 'EAN', 'NCM']].dtypes

CHAVE_ORIGINAL            object
DATA_SAIDA        datetime64[ns]
COD_DO_ITEM               object
CFOP                      object
CODPROF                   object
DESC_PROD                 object
EAN                       object
NCM                       object
dtype: object

In [23]:
#Preenchimento das colunas referentes a informações da efd
merged = pd.merge(merged_df, efd[['CHAVE_ORIGINAL','DATA_SAIDA', 'COD_DO_ITEM',
                                  'CFOP', 'CODPROF', 'QUANTI_EFDS',
                                 'DESC_PROD', 'EAN', 'NCM']],
                 left_on=['Chave Acesso NFe', 'Número Item'],
                 right_on=['CHAVE_ORIGINAL', 'COD_DO_ITEM'],
                 how='left')

merged = merged.drop_duplicates()
merged

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,bc_complementar_total_item_original,CHAVE_ORIGINAL,DATA_SAIDA,COD_DO_ITEM,CFOP,CODPROF,QUANTI_EFDS,DESC_PROD,EAN,NCM
0,35161023164780000100550020000003731120605646,2016-10-03,2,126524,1202.0,"1,0000",11.04,1.62,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,35161023164780000100550020000003731120605646,2016-10-03,1,127225,1202.0,"1,0000",11.04,1.62,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35161023164780000100550020000003751120608208,2016-10-03,1,114942,1411.0,"2,0000",106.80,0.00,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,35161023164780000100550020000003761120608345,2016-10-03,1,104877,1411.0,"1,0000",14.34,0.00,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,35161023164780000100550020000003771120656304,2016-10-04,1,140665,1411.0,"1,0000",27.00,0.00,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525167,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927.0,"1,0000",17.00,0.00,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1525168,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927.0,"1,0000",9.19,0.00,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1525169,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927.0,"1,0000",5.58,0.00,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1525170,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927.0,"1,0000",7.80,0.00,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1525171,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927.0,"1,0000",27.50,0.00,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
merged['CHAVE_ITEM'] = merged['Chave Acesso NFe'].astype(str) + '-' + merged['Número Item'].astype(str)
merged = merged.drop_duplicates(subset='CHAVE_ITEM', keep='first')

In [25]:
merged['CHAVE_ITEM'] = merged['Chave Acesso NFe'].astype(str) + '-' + merged['Número Item'].astype(str)

duplicate_mask = merged['CHAVE_ITEM'].duplicated(keep=False)
duplicate_df = merged[duplicate_mask]
if duplicate_df.shape[0] > 0:
    print('Erro encontrado: combinação Chave-Item duplicada. Por favor verificar')
    sys.exit()

In [26]:
merged['Tipo'].value_counts()

dfe               990260
entrada_sp        369330
saida_nfe           2346
entrada_oprprp      1674
entrada_outras       417
Name: Tipo, dtype: int64

In [27]:
merged['Produto'] = np.where((merged['Tipo'] == 'entrada_oprprp') | (merged['Tipo'] == 'saida_nfe') | (merged['Tipo'] == 'dfe'),
                               merged['Código Produto ou Serviço'], merged['CODPROF'])

merged

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,CHAVE_ORIGINAL,DATA_SAIDA,COD_DO_ITEM,CFOP,CODPROF,QUANTI_EFDS,DESC_PROD,EAN,NCM,CHAVE_ITEM
0,35161023164780000100550020000003731120605646,2016-10-03,2,126524,1202.0,"1,0000",11.04,1.62,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161023164780000100550020000003731120605646-2
1,35161023164780000100550020000003731120605646,2016-10-03,1,127225,1202.0,"1,0000",11.04,1.62,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161023164780000100550020000003731120605646-1
2,35161023164780000100550020000003751120608208,2016-10-03,1,114942,1411.0,"2,0000",106.80,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161023164780000100550020000003751120608208-1
3,35161023164780000100550020000003761120608345,2016-10-03,1,104877,1411.0,"1,0000",14.34,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161023164780000100550020000003761120608345-1
4,35161023164780000100550020000003771120656304,2016-10-04,1,140665,1411.0,"1,0000",27.00,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161023164780000100550020000003771120656304-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525167,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927.0,"1,0000",17.00,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-10
1525168,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927.0,"1,0000",9.19,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-12
1525169,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927.0,"1,0000",5.58,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-15
1525170,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927.0,"1,0000",7.80,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-18
1525171,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927.0,"1,0000",27.50,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000231335479192-1

In [28]:
merged['Produto'].isnull().sum()

209238

In [29]:
merged['Tipo'].value_counts()

dfe               990260
entrada_sp        369330
saida_nfe           2346
entrada_oprprp      1674
entrada_outras       417
Name: Tipo, dtype: int64

In [30]:
merged = merged[merged['Produto'].notnull()]
merged['Tipo'].value_counts()

dfe               990260
entrada_sp        160152
saida_nfe           2346
entrada_oprprp      1674
entrada_outras       357
Name: Tipo, dtype: int64

In [31]:
# Leitura para um dataframe da tabela de produtos
# do banco de dados

query = 'SELECT * FROM tabela_produtos_P2'
produtos = pd.read_sql(query, engine)
produtos

,ID,ANVISA,NCM,CEST,CODIGO_DO_PRODUTO,DESCRICAO,ALIQUOTA,MVA_ANTES,MVA_DEPOIS,DT_VALIDA
0,219350,,2106.90.90,,5900,VALDA TABLETES POTE 200UNI (L),0,0,,
1,219351,,1704.90.20,,26526,VICK PAST CEREJA 24X5 PROCT,0,0,,
2,219352,,1704.90.20,,78840,VICK PAST LIMAO 24X5 PROCT,0,0,,
3,219353,,2106.90.60,,84236,VALDA DIET SACHE 12X12G,0,0,,
4,219354,,2106.90.50,,96313,TRIDENT TRAD MELANCIA CX 21,0,0,,
...,...,...,...,...,...,...,...,...,...,...
14505,233855,,21050010,,243295,Jundia Miniskimo Cx12,18,70,,
14506,233856,,30049099,,754028,GELMAX EFV ABAC 100X5G EMS OTC,18,35.72,,
14507,233857,,30049079,,93666,MONTELUCASTE SODIO 10MG 30'S,7,273.95,,
14508,233858,,30049045,,79160,Paracetamol Ems Sache 50x5 Lim,7,298.8,,
14509,233859,1023511190144.0,3004.90.69,13.002.00,935916,ATORVASTATINA 40MG 30S EMS,12,273.95,,2018-04-01

In [32]:
cods = efd['CODPROF'].unique()
notas = efd_mod59['CHV_CFE'].unique()

saidas = merged.loc[(merged['Tipo'] == 'dfe') | (merged['Tipo'] == 'saida_nfe')]

mask = (
    (saidas['Data Emissão'] >= '2019-10-01') &
    (saidas['Produto'].isin(cods)) &
    (saidas['Chave Acesso NFe'].isin(notas))
)

inverted_mask = (
    (saidas['Data Emissão'] >= '2019-10-01') &
    ((~saidas['Produto'].isin(cods)) | (~saidas['Chave Acesso NFe'].isin(notas)))
    
)

saida_in_efd = saidas[mask]
saidas_not_efd = saidas[inverted_mask]
saidas_not_efd = saidas_not_efd[saidas_not_efd['Data Emissão'] >= '2019-10-01']

In [33]:
saidas_not_efd['Tipo'].value_counts()

dfe          4221
saida_nfe     643
Name: Tipo, dtype: int64

In [34]:
efd['CODPROF'] = efd['CODPROF'].astype(str)
merged['Produto'] = merged['Produto'].astype(str)
efds_codigos = efd['CODPROF'].unique()

#mask = ~((merged['Tipo'].isin(['entrada_sp', 'entrada_outras', 'entrada_oprprp'])) & ~(merged['Produto'].isin(efds_codigos)))
#merged = merged[mask]

merged = merged[merged['Produto'].isin(efds_codigos)]
merged

C:\Users\vinic\AppData\Local\Temp\ipykernel_1860\2979105960.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Produto'] = merged['Produto'].astype(str)

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,CHAVE_ORIGINAL,DATA_SAIDA,COD_DO_ITEM,CFOP,CODPROF,QUANTI_EFDS,DESC_PROD,EAN,NCM,CHAVE_ITEM
0,35161023164780000100550020000003731120605646,2016-10-03,2,126524,1202.0,"1,0000",11.04,1.62,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161023164780000100550020000003731120605646-2
1,35161023164780000100550020000003731120605646,2016-10-03,1,127225,1202.0,"1,0000",11.04,1.62,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161023164780000100550020000003731120605646-1
2,35161023164780000100550020000003751120608208,2016-10-03,1,114942,1411.0,"2,0000",106.80,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161023164780000100550020000003751120608208-1
4,35161023164780000100550020000003771120656304,2016-10-04,1,140665,1411.0,"1,0000",27.00,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161023164780000100550020000003771120656304-1
5,35161023164780000100550020000003781120663553,2016-10-04,1,129312,1411.0,"1,0000",7.48,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35161023164780000100550020000003781120663553-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525167,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927.0,"1,0000",17.00,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-10
1525168,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927.0,"1,0000",9.19,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-12
1525169,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927.0,"1,0000",5.58,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-15
1525170,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927.0,"1,0000",7.80,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-18
1525171,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927.0,"1,0000",27.50,0.00,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000231335479192-1

In [35]:
merged['Tipo'].value_counts()

dfe               881522
entrada_sp        160152
entrada_oprprp      1465
saida_nfe           1259
entrada_outras       357
Name: Tipo, dtype: int64

In [36]:
merged[(merged['Tipo'] == 'saida_nfe') & (merged['Chave Acesso NFe'].isin(efd['CHAVE_ORIGINAL']))]

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,CHAVE_ORIGINAL,DATA_SAIDA,COD_DO_ITEM,CFOP,CODPROF,QUANTI_EFDS,DESC_PROD,EAN,NCM,CHAVE_ITEM
1524488,35190923164780000100550020000018331156311750,2019-09-03,1,187096,5409.0,"1,0000",25.28,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35190923164780000100550020000018331156311750-1
1524489,35190923164780000100550020000018401156796120,2019-09-11,1,135798,5409.0,"2,0000",95.46,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35190923164780000100550020000018401156796120-1
1524491,35190923164780000100550020000018461157043820,2019-09-14,1,785527,5927.0,"4,0000",9.28,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35190923164780000100550020000018461157043820-1
1524492,35190923164780000100550020000018461157043820,2019-09-14,2,785535,5927.0,"6,0000",13.56,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35190923164780000100550020000018461157043820-2
1524494,35190923164780000100550020000018541157355157,2019-09-20,1,200832,5409.0,"1,0000",92.06,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35190923164780000100550020000018541157355157-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525167,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927.0,"1,0000",17.00,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-10
1525168,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927.0,"1,0000",9.19,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-12
1525169,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927.0,"1,0000",5.58,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-15
1525170,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927.0,"1,0000",7.80,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-18
1525171,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927.0,"1,0000",27.50,0.0,NaN,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000231335479192-1

In [37]:
mask1 = ~((merged['Tipo'] == 'dfe') & ~(merged['Chave Acesso NFe'].isin(efd_mod59['CHV_CFE'])))

mask2 = ~((merged['Tipo'].isin(['entrada_sp', 'entrada_outras', 'entrada_oprprp', 'saida_nfe'])) & ~(merged['Chave Acesso NFe'].isin(efd['CHAVE_ORIGINAL'])))

filtered_merged = merged[mask1 & mask2]

filtered_merged['Tipo'].value_counts()

dfe               360168
entrada_sp        160152
entrada_oprprp       648
saida_nfe            422
entrada_outras       357
Name: Tipo, dtype: int64

In [38]:
merged[merged['Chave Acesso NFe'] == '35191071605265000242590003519330857932120272']['Produto']

Series([], Name: Produto, dtype: object)

In [39]:
# Preenchimento da coluna Aliquota

filtered_merged['Produto'] = filtered_merged['Produto'].astype(str)

df_merged = pd.merge(filtered_merged, produtos[['CODIGO_DO_PRODUTO', 'ALIQUOTA']],
                    left_on=['Produto'], right_on=['CODIGO_DO_PRODUTO'],
                    how='left')
df_merged

C:\Users\vinic\AppData\Local\Temp\ipykernel_1860\2250434347.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_merged['Produto'] = filtered_merged['Produto'].astype(str)

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,COD_DO_ITEM,CFOP,CODPROF,QUANTI_EFDS,DESC_PROD,EAN,NCM,CHAVE_ITEM,CODIGO_DO_PRODUTO,ALIQUOTA
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411.0,"1,0000",125.65,0.0,NaN,NaN,...,1,1411,158154,1,SYMBICORT SPRAY 6/200MG 120 DOSES,7896206407902,30049059,35190923164780000100550020000018301156237469-1,158154,18
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411.0,"1,0000",14.98,0.0,NaN,NaN,...,1,1411,72785,1,BUSCOPAN COMPOSTO 20'S BOEHRIN,7896026301428,30044990,35190923164780000100550020000018311156237741-1,72785,18
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411.0,"1,0000",14.98,0.0,NaN,NaN,...,1,1411,72785,1,BUSCOPAN COMPOSTO 20'S BOEHRIN,7896026301428,30044990,35190923164780000100550020000018321156267761-1,72785,18
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411.0,"1,0000",5.42,0.0,NaN,NaN,...,2,1411,117903,1,MAXALGINA GTS 10ML NATULAB,7898133130403,30049069,35190923164780000100550020000018321156267761-2,117903,18
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411.0,"1,0000",5.42,0.0,NaN,NaN,...,3,1411,117903,1,MAXALGINA GTS 10ML NATULAB,7898133130403,30049069,35190923164780000100550020000018321156267761-3,117903,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927.0,"1,0000",17.00,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-10,139592,18
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927.0,"1,0000",9.19,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-12,161042,18
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927.0,"1,0000",5.58,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-15,201319,18
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927.0,"1,0000",7.80,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-18,219246,18
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927.0,"1,0000",27.50,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000231335479192-1,800458,12

In [40]:
df_merged['Tipo'].value_counts()

dfe               360168
entrada_sp        160152
entrada_oprprp       648
saida_nfe            422
entrada_outras       357
Name: Tipo, dtype: int64

In [41]:
cobol = pd.read_excel('COBOL_CADASTRO_PRODUTOS.xlsx')
cobol

,PRODUTO DESCRIÇÃO,CODIGO,CLASSIFICAÇÃO,PREÇO MAXIMO.,CURVA,UN,NCM,ST,ICMS,Bas,...,PMC,IVA-E,IVA-I,CATEGORIA,LISTA,PIS,COFIN,IPI,Codigo Ean,CEST
0,-ALLURE F 50ML,819847,PCP,175.01,DI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,3.145891e+12,NaN
1,-ANIMALE F 50ML,787234,PCP,107.19,DI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,3.608941e+12,NaN
2,-CAROLINA HERRERA F 100,814707,PCP,200.08,DI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,8.411061e+12,NaN
3,-ETERNITY M 50ML,786756,PCP,171.50,CI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,8.830011e+10,NaN
4,NaN,786970,PCP,85.75,CI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,3.349668e+12,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38960,ZYSERTIN 50MG 30'S ZYDUS C1,63511,ETC,60.68,DI,UN,30049039.0,ST,18,NaN,...,NaN,34.64,34.64,SIMILAR,POSITIVO,NaN,NaN,NaN,7.898910e+12,NaN
38961,ZYVALPREX 250MG 20'S ZYDUS C1,63495,ETC,33.93,CI,UN,30049079.0,ST,18,NaN,...,23.25,34.64,34.64,SIMILAR,POSITIVO,NaN,NaN,NaN,7.898928e+12,NaN
38962,ZYVALPREX 500MG 20'S ZYDUS C1,63503,ETC,67.86,DI,UN,30049099.0,ST,18,NaN,...,NaN,34.64,34.64,SIMILAR,POSITIVO,NaN,NaN,NaN,7.898928e+12,NaN
38963,ZYXEM 5MG 10'S,825356,ETC,64.44,CC,UN,30049069.0,ST,18,NaN,...,NaN,34.06,34.06,REFERENCIA,NEGATIVO,NaN,NaN,NaN,7.896672e+12,NaN
38964,ZYXEM GTS 20ML,911511,ETC,76.45,BC,UN,30049069.0,ST,18,NaN,...,16.16,35.72,35.72,SIMILAR,NEGATIVO,NaN,NaN,NaN,5.413787e+12,NaN

In [42]:
cobol['CODIGO'] = cobol['CODIGO'].astype(str)
merged = df_merged.merge(cobol[['CODIGO', 'NCM']],
                        left_on='Produto', 
                        right_on='CODIGO',
                        how='left')

merged

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,CODPROF,QUANTI_EFDS,DESC_PROD,EAN,NCM_x,CHAVE_ITEM,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411.0,"1,0000",125.65,0.0,NaN,NaN,...,158154,1,SYMBICORT SPRAY 6/200MG 120 DOSES,7896206407902,30049059,35190923164780000100550020000018301156237469-1,158154,18,158154,30049099.0
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411.0,"1,0000",14.98,0.0,NaN,NaN,...,72785,1,BUSCOPAN COMPOSTO 20'S BOEHRIN,7896026301428,30044990,35190923164780000100550020000018311156237741-1,72785,18,72785,30044990.0
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411.0,"1,0000",14.98,0.0,NaN,NaN,...,72785,1,BUSCOPAN COMPOSTO 20'S BOEHRIN,7896026301428,30044990,35190923164780000100550020000018321156267761-1,72785,18,72785,30044990.0
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411.0,"1,0000",5.42,0.0,NaN,NaN,...,117903,1,MAXALGINA GTS 10ML NATULAB,7898133130403,30049069,35190923164780000100550020000018321156267761-2,117903,18,117903,30049099.0
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411.0,"1,0000",5.42,0.0,NaN,NaN,...,117903,1,MAXALGINA GTS 10ML NATULAB,7898133130403,30049069,35190923164780000100550020000018321156267761-3,117903,18,117903,30049099.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927.0,"1,0000",17.00,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-10,139592,18,139592,96190000.0
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927.0,"1,0000",9.19,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-12,161042,18,161042,96190000.0
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927.0,"1,0000",5.58,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-15,201319,18,201319,96190000.0
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927.0,"1,0000",7.80,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-18,219246,18,219246,96190000.0
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927.0,"1,0000",27.50,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000231335479192-1,800458,12,800458,30042029.0

In [43]:
merged['CHAVE_ITEM'] = merged['Chave Acesso NFe'].astype(str) + '-' + merged['Número Item'].astype(str)

duplicate_mask = merged['CHAVE_ITEM'].duplicated(keep=False)
duplicate_df = merged[duplicate_mask]
duplicate_df

Empty DataFrame
Columns: [Chave Acesso NFe, Data Emissão, Número Item, Código Produto ou Serviço, Código CFOP (04 Posições), Quantidade Comercial, Valor Produto ou Serviço, Valor ICMS Operação, Valor ICMS Substituição Tributária, Valor Base Cálculo ICMS Substituição Tributária, Valor Base Cálculo ICMS ST Retido Operação Anterior, Descrição Produto, Código GTIN, Unidade Comercial, Código NCM, Código CEST, Número CNPJ Emitente, Número CNPJ Destinatário, Tipo, IND_OPER, Item NFE Origem, ICMS ST Retido-Base de Cálculo, Produto, vPMC, bc_complementar_total_item_original, CHAVE_ORIGINAL, DATA_SAIDA, COD_DO_ITEM, CFOP, CODPROF, QUANTI_EFDS, DESC_PROD, EAN, NCM_x, CHAVE_ITEM, CODIGO_DO_PRODUTO, ALIQUOTA, CODIGO, NCM_y]
Index: []

[0 rows x 39 columns]

In [44]:
df_merged = merged.drop_duplicates()
df_merged

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,CODPROF,QUANTI_EFDS,DESC_PROD,EAN,NCM_x,CHAVE_ITEM,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411.0,"1,0000",125.65,0.0,NaN,NaN,...,158154,1,SYMBICORT SPRAY 6/200MG 120 DOSES,7896206407902,30049059,35190923164780000100550020000018301156237469-1,158154,18,158154,30049099.0
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411.0,"1,0000",14.98,0.0,NaN,NaN,...,72785,1,BUSCOPAN COMPOSTO 20'S BOEHRIN,7896026301428,30044990,35190923164780000100550020000018311156237741-1,72785,18,72785,30044990.0
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411.0,"1,0000",14.98,0.0,NaN,NaN,...,72785,1,BUSCOPAN COMPOSTO 20'S BOEHRIN,7896026301428,30044990,35190923164780000100550020000018321156267761-1,72785,18,72785,30044990.0
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411.0,"1,0000",5.42,0.0,NaN,NaN,...,117903,1,MAXALGINA GTS 10ML NATULAB,7898133130403,30049069,35190923164780000100550020000018321156267761-2,117903,18,117903,30049099.0
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411.0,"1,0000",5.42,0.0,NaN,NaN,...,117903,1,MAXALGINA GTS 10ML NATULAB,7898133130403,30049069,35190923164780000100550020000018321156267761-3,117903,18,117903,30049099.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927.0,"1,0000",17.00,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-10,139592,18,139592,96190000.0
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927.0,"1,0000",9.19,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-12,161042,18,161042,96190000.0
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927.0,"1,0000",5.58,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-15,201319,18,201319,96190000.0
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927.0,"1,0000",7.80,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-18,219246,18,219246,96190000.0
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927.0,"1,0000",27.50,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000231335479192-1,800458,12,800458,30042029.0

In [45]:
df = df_merged.copy()
df['QUANTI_EFDS'].isnull().sum()

360602

In [46]:
df = df.drop_duplicates()
df

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,CODPROF,QUANTI_EFDS,DESC_PROD,EAN,NCM_x,CHAVE_ITEM,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411.0,"1,0000",125.65,0.0,NaN,NaN,...,158154,1,SYMBICORT SPRAY 6/200MG 120 DOSES,7896206407902,30049059,35190923164780000100550020000018301156237469-1,158154,18,158154,30049099.0
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411.0,"1,0000",14.98,0.0,NaN,NaN,...,72785,1,BUSCOPAN COMPOSTO 20'S BOEHRIN,7896026301428,30044990,35190923164780000100550020000018311156237741-1,72785,18,72785,30044990.0
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411.0,"1,0000",14.98,0.0,NaN,NaN,...,72785,1,BUSCOPAN COMPOSTO 20'S BOEHRIN,7896026301428,30044990,35190923164780000100550020000018321156267761-1,72785,18,72785,30044990.0
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411.0,"1,0000",5.42,0.0,NaN,NaN,...,117903,1,MAXALGINA GTS 10ML NATULAB,7898133130403,30049069,35190923164780000100550020000018321156267761-2,117903,18,117903,30049099.0
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411.0,"1,0000",5.42,0.0,NaN,NaN,...,117903,1,MAXALGINA GTS 10ML NATULAB,7898133130403,30049069,35190923164780000100550020000018321156267761-3,117903,18,117903,30049099.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927.0,"1,0000",17.00,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-10,139592,18,139592,96190000.0
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927.0,"1,0000",9.19,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-12,161042,18,161042,96190000.0
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927.0,"1,0000",5.58,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-15,201319,18,201319,96190000.0
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927.0,"1,0000",7.80,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-18,219246,18,219246,96190000.0
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927.0,"1,0000",27.50,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000231335479192-1,800458,12,800458,30042029.0

In [47]:
df[df['ALIQUOTA'].isnull()]['Produto'].unique()

array(['PROMATINF00000010-0000003', '3', 'PROMATINF00000080-0000001',
       '32', 'PROMATINF00000010-0000001', 'PROBENPVA00000136-0000002',
       'PROMATINF00000093-0000001', 'PROMATINF00000075-0000001',
       'PROMATINF00000099-0000001', '1', 'PRORECELE00000001',
       'PROMATHIG00000031-0000001', 'PROMATHIG00000029-0000001',
       'PROMATHIG00000022-0000002', '2', '63', '42',
       'PROMATHIG00000027-0000008', 'PROIMPEXP00000002-0000003',
       'PROMATESC00000010-0000003', 'PROMATHIG00000038-0000001',
       'PROIMPEXP00000024-0000013', 'PROMATESC00000003-0000003',
       'PROMATESC00000040-0000010', 'PROIMPEXP00000001-0000015',
       'PROMATHIG00000014-0000001', 'PROCONBEN00000072-0000002',
       'PROIMPEXP00000024-0000002', 'PROMATESC00000012-0000002', '53',
       '55', 'PROIMPEXP00000036-0000001', 'PROIMPEXP00000024-0000021',
       'PROIMPEXP00000001-0000017', 'PROMATPRO00228148',
       'PROIMPEXP00000001-0000019', '7', 'PROCONBEN00000042-0000007',
       'PROMATESC00000011-0000002', 'PROMATHIG00000045-0000001',
       'PROMATHIG00000054-0000001', '54', '64', '4', '9',
       'PROMATESC00000108-0000001', 'PROMATESC00000103-0000001', '239467',
       'PROMATUCO00006242-0000001', 'PROMATESC00000102-0000001',
       'PROMATESC00000098-0000001', 'PROCONBEN00000874-0000001',
       'PROMATESC00000113-0000001', 'PROMATESC00000111-0000001',
       'PROCONBEN00000042-0000001', 'PROCONBEN00000070-0000001',
       'PROMATESC00000099-0000001'], dtype=object)

In [48]:
df = df.drop_duplicates()
df

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,CODPROF,QUANTI_EFDS,DESC_PROD,EAN,NCM_x,CHAVE_ITEM,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411.0,"1,0000",125.65,0.0,NaN,NaN,...,158154,1,SYMBICORT SPRAY 6/200MG 120 DOSES,7896206407902,30049059,35190923164780000100550020000018301156237469-1,158154,18,158154,30049099.0
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411.0,"1,0000",14.98,0.0,NaN,NaN,...,72785,1,BUSCOPAN COMPOSTO 20'S BOEHRIN,7896026301428,30044990,35190923164780000100550020000018311156237741-1,72785,18,72785,30044990.0
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411.0,"1,0000",14.98,0.0,NaN,NaN,...,72785,1,BUSCOPAN COMPOSTO 20'S BOEHRIN,7896026301428,30044990,35190923164780000100550020000018321156267761-1,72785,18,72785,30044990.0
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411.0,"1,0000",5.42,0.0,NaN,NaN,...,117903,1,MAXALGINA GTS 10ML NATULAB,7898133130403,30049069,35190923164780000100550020000018321156267761-2,117903,18,117903,30049099.0
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411.0,"1,0000",5.42,0.0,NaN,NaN,...,117903,1,MAXALGINA GTS 10ML NATULAB,7898133130403,30049069,35190923164780000100550020000018321156267761-3,117903,18,117903,30049099.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927.0,"1,0000",17.00,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-10,139592,18,139592,96190000.0
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927.0,"1,0000",9.19,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-12,161042,18,161042,96190000.0
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927.0,"1,0000",5.58,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-15,201319,18,201319,96190000.0
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927.0,"1,0000",7.80,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-18,219246,18,219246,96190000.0
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927.0,"1,0000",27.50,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35201223164780000100550030000000231335479192-1,800458,12,800458,30042029.0

In [49]:
df.columns

Index(['Chave Acesso NFe', 'Data Emissão', 'Número Item',
       'Código Produto ou Serviço', 'Código CFOP (04 Posições)',
       'Quantidade Comercial', 'Valor Produto ou Serviço',
       'Valor ICMS Operação', 'Valor ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS ST Retido Operação Anterior',
       'Descrição Produto', 'Código GTIN', 'Unidade Comercial', 'Código NCM',
       'Código CEST', 'Número CNPJ Emitente', 'Número CNPJ Destinatário',
       'Tipo', 'IND_OPER', 'Item NFE Origem', 'ICMS ST Retido-Base de Cálculo',
       'Produto', 'vPMC', 'bc_complementar_total_item_original',
       'CHAVE_ORIGINAL', 'DATA_SAIDA', 'COD_DO_ITEM', 'CFOP', 'CODPROF',
       'QUANTI_EFDS', 'DESC_PROD', 'EAN', 'NCM_x', 'CHAVE_ITEM',
       'CODIGO_DO_PRODUTO', 'ALIQUOTA', 'CODIGO', 'NCM_y'],
      dtype='object')

In [50]:
# Preenchimento da coluna ICMS_TOT
df['Valor ICMS Substituição Tributária'] = df['Valor ICMS Substituição Tributária'].str.replace('.','').str.replace(',','.').astype(float).fillna(0)
df['Valor ICMS Operação'] = df['Valor ICMS Operação'].astype(float).fillna(0)
df['ALIQUOTA'] = df['ALIQUOTA'].astype(str).replace('', np.nan).fillna(0).astype(float)



df['ICMS_TOT'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
    np.maximum(df['Valor ICMS Operação'].fillna(0) + df['Valor ICMS Substituição Tributária'].fillna(0), (df['Valor Base Cálculo ICMS ST Retido Operação Anterior'] + df['bc_complementar_total_item_original'].fillna(0)) * df['ALIQUOTA']/100),
                         np.nan)

df

C:\Users\vinic\AppData\Local\Temp\ipykernel_1860\3385035984.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Valor ICMS Substituição Tributária'] = df['Valor ICMS Substituição Tributária'].str.replace('.','').str.replace(',','.').astype(float).fillna(0)

,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,...,QUANTI_EFDS,DESC_PROD,EAN,NCM_x,CHAVE_ITEM,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y,ICMS_TOT
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411.0,"1,0000",125.65,0.0,0.0,NaN,...,1,SYMBICORT SPRAY 6/200MG 120 DOSES,7896206407902,30049059,35190923164780000100550020000018301156237469-1,158154,18.0,158154,30049099.0,NaN
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411.0,"1,0000",14.98,0.0,0.0,NaN,...,1,BUSCOPAN COMPOSTO 20'S BOEHRIN,7896026301428,30044990,35190923164780000100550020000018311156237741-1,72785,18.0,72785,30044990.0,NaN
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411.0,"1,0000",14.98,0.0,0.0,NaN,...,1,BUSCOPAN COMPOSTO 20'S BOEHRIN,7896026301428,30044990,35190923164780000100550020000018321156267761-1,72785,18.0,72785,30044990.0,NaN
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411.0,"1,0000",5.42,0.0,0.0,NaN,...,1,MAXALGINA GTS 10ML NATULAB,7898133130403,30049069,35190923164780000100550020000018321156267761-2,117903,18.0,117903,30049099.0,NaN
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411.0,"1,0000",5.42,0.0,0.0,NaN,...,1,MAXALGINA GTS 10ML NATULAB,7898133130403,30049069,35190923164780000100550020000018321156267761-3,117903,18.0,117903,30049099.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927.0,"1,0000",17.00,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-10,139592,18.0,139592,96190000.0,NaN
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927.0,"1,0000",9.19,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-12,161042,18.0,161042,96190000.0,NaN
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927.0,"1,0000",5.58,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-15,201319,18.0,201319,96190000.0,NaN
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927.0,"1,0000",7.80,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,35201223164780000100550030000000221334823836-18,219246,18.0,219246,96190000.0,NaN
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927.0,"1,0000",27.50,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,35201223164780000100550030000000231335479192-1,800458,12.0,800458,30042029.0,NaN

In [51]:
df['ICMS_TOT'].sum()

948433.9683

In [52]:
df['Produto'].isnull().sum()

0

# Geração da Tabela 2

In [53]:
# Geração da coluna CHV_DOC
tabela_2 = pd.DataFrame()

tabela_2['CHV_DOC'] = df['Chave Acesso NFe']
tabela_2

                                             CHV_DOC
0       35190923164780000100550020000018301156237469
1       35190923164780000100550020000018311156237741
2       35190923164780000100550020000018321156267761
3       35190923164780000100550020000018321156267761
4       35190923164780000100550020000018321156267761
...                                              ...
521742  35201223164780000100550030000000221334823836
521743  35201223164780000100550030000000221334823836
521744  35201223164780000100550030000000221334823836
521745  35201223164780000100550030000000221334823836
521746  35201223164780000100550030000000231335479192

[521747 rows x 1 columns]

In [54]:
# Geração da coluna DATA

tabela_2['DATA'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                            df['DATA_SAIDA'], df['Data Emissão'])
tabela_2

                                             CHV_DOC       DATA
0       35190923164780000100550020000018301156237469 2019-09-01
1       35190923164780000100550020000018311156237741 2019-09-01
2       35190923164780000100550020000018321156267761 2019-09-02
3       35190923164780000100550020000018321156267761 2019-09-02
4       35190923164780000100550020000018321156267761 2019-09-02
...                                              ...        ...
521742  35201223164780000100550030000000221334823836 2020-12-31
521743  35201223164780000100550030000000221334823836 2020-12-31
521744  35201223164780000100550030000000221334823836 2020-12-31
521745  35201223164780000100550030000000221334823836 2020-12-31
521746  35201223164780000100550030000000231335479192 2020-12-31

[521747 rows x 2 columns]

In [55]:
# Geração da coluna NUM_ITEM

tabela_2['NUM_ITEM'] = df['Número Item']
tabela_2

                                             CHV_DOC       DATA NUM_ITEM
0       35190923164780000100550020000018301156237469 2019-09-01        1
1       35190923164780000100550020000018311156237741 2019-09-01        1
2       35190923164780000100550020000018321156267761 2019-09-02        1
3       35190923164780000100550020000018321156267761 2019-09-02        2
4       35190923164780000100550020000018321156267761 2019-09-02        3
...                                              ...        ...      ...
521742  35201223164780000100550030000000221334823836 2020-12-31       10
521743  35201223164780000100550030000000221334823836 2020-12-31       12
521744  35201223164780000100550030000000221334823836 2020-12-31       15
521745  35201223164780000100550030000000221334823836 2020-12-31       18
521746  35201223164780000100550030000000231335479192 2020-12-31        1

[521747 rows x 3 columns]

In [56]:
# Preenchimento da coluna COD_ITEM

tabela_2['COD_ITEM'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['CODPROF'], df['Código Produto ou Serviço'])

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903
...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458

In [57]:
teste = tabela_2.copy()
teste['Valid'] = tabela_2['COD_ITEM'] == df['Produto']
teste['Valid'].value_counts()

True    521747
Name: Valid, dtype: int64

In [58]:
# Preenchimento da coluna CFOP

tabela_2['CFOP'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['CFOP'], df['Código CFOP (04 Posições)'])

tabela_2['CFOP'] = tabela_2['CFOP'].astype(str).str.replace(r'\.0$', '', regex=True)

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411
...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927

In [59]:
# Preenchimento da coluna Entr_PCAT

cfops = ['5405', '5409', '1411', '5403', '5411', '5401', '1403', '1409']

# Assuming 'Código CFOP (04 Posições)' is the column you want to check against cfops
tabela_2['Entr_PCAT'] = tabela_2['CFOP'].isin(cfops).astype(int)
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411,1
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411,1
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411,1
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411,1
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411,1
...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927,0
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927,0
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927,0
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927,0
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927,0

In [60]:
# Preenchimento das colunas QTD_NOTA, QTD_CAT e FATOR_CONV

tabela_2['QTD_NOTA'] = df['Quantidade Comercial'].str.replace(',', '').astype(float) / 10000
tabela_2['QTD_CAT'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                                df['QUANTI_EFDS'], df['Quantidade Comercial'].str.replace(',', '').astype(float) / 10000)

tabela_2['QTD_NOTA'] = tabela_2['QTD_NOTA'].astype(str).str.replace(r'\.0$', '', regex=True)
tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].astype(str).str.replace(r'\.0$', '', regex=True)
tabela_2['QTD_EFD'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                                df['QUANTI_EFDS'], np.nan)

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411,1,1,1,NaN
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411,1,1,1,NaN
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411,1,1,1,NaN
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411,1,1,1,NaN
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927,0,1,1,NaN
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927,0,1,1,NaN
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927,0,1,1,NaN
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927,0,1,1,NaN
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927,0,1,1,NaN

In [61]:
# Preenchimento da coluna ICMS_TOT 

tabela_2['ICMS_TOT'] = df['ICMS_TOT']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411,1,1,1,NaN,NaN
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411,1,1,1,NaN,NaN
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411,1,1,1,NaN,NaN
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411,1,1,1,NaN,NaN
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411,1,1,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927,0,1,1,NaN,NaN
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927,0,1,1,NaN,NaN
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927,0,1,1,NaN,NaN
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927,0,1,1,NaN,NaN
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927,0,1,1,NaN,NaN

In [62]:
df['CFOP'].unique()

array(['1411', '1202', nan, '2407', '2406', '2556', '2949', '1403',
       '1102', '1556', '1407', '1605', '1409', '1152', '1602', '1949',
       '1910'], dtype=object)

In [63]:
# Preenchimento da coluna DESCRICAO

tabela_2['DESCRICAO'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['DESC_PROD'], df['Descrição Produto'])

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411,1,1,1,NaN,NaN,Symbicort Spray 6/200mcg 120ds
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab
...,...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927,0,1,1,NaN,NaN,FR PLENIT PROTECTPLUS P/M 8UN
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA G 8UN
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927,0,1,1,NaN,NaN,FR LE BLUE BABY SNOOPY G 18
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA EG 7UN
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927,0,1,1,NaN,NaN,CLARITROMICINA EMS 500MG 10S

In [64]:
# Preenchimento da coluna CODIGO_BARRA

# tabela_2['CODIGO_BARRA'] = df['Código GTIN']
tabela_2['CODIGO_BARRA'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['EAN'], df['Código GTIN'])

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411,1,1,1,NaN,NaN,Symbicort Spray 6/200mcg 120ds,SEM GTIN
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin,SEM GTIN
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin,SEM GTIN
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab,SEM GTIN
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab,SEM GTIN
...,...,...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927,0,1,1,NaN,NaN,FR PLENIT PROTECTPLUS P/M 8UN,7896007547128
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA G 8UN,7898623351592
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927,0,1,1,NaN,NaN,FR LE BLUE BABY SNOOPY G 18,7898623353909
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA EG 7UN,7898623354623
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927,0,1,1,NaN,NaN,CLARITROMICINA EMS 500MG 10S,7896004701172

In [65]:
df.columns

Index(['Chave Acesso NFe', 'Data Emissão', 'Número Item',
       'Código Produto ou Serviço', 'Código CFOP (04 Posições)',
       'Quantidade Comercial', 'Valor Produto ou Serviço',
       'Valor ICMS Operação', 'Valor ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS ST Retido Operação Anterior',
       'Descrição Produto', 'Código GTIN', 'Unidade Comercial', 'Código NCM',
       'Código CEST', 'Número CNPJ Emitente', 'Número CNPJ Destinatário',
       'Tipo', 'IND_OPER', 'Item NFE Origem', 'ICMS ST Retido-Base de Cálculo',
       'Produto', 'vPMC', 'bc_complementar_total_item_original',
       'CHAVE_ORIGINAL', 'DATA_SAIDA', 'COD_DO_ITEM', 'CFOP', 'CODPROF',
       'QUANTI_EFDS', 'DESC_PROD', 'EAN', 'NCM_x', 'CHAVE_ITEM',
       'CODIGO_DO_PRODUTO', 'ALIQUOTA', 'CODIGO', 'NCM_y', 'ICMS_TOT'],
      dtype='object')

In [66]:
# Preenchimento da coluna UNIDADE

tabela_2['UNIDADE'] = df['Unidade Comercial']

tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411,1,1,1,NaN,NaN,Symbicort Spray 6/200mcg 120ds,SEM GTIN,UN
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin,SEM GTIN,UN
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin,SEM GTIN,UN
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab,SEM GTIN,UN
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab,SEM GTIN,UN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927,0,1,1,NaN,NaN,FR PLENIT PROTECTPLUS P/M 8UN,7896007547128,UN
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA G 8UN,7898623351592,UN
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927,0,1,1,NaN,NaN,FR LE BLUE BABY SNOOPY G 18,7898623353909,UN
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA EG 7UN,7898623354623,UN
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927,0,1,1,NaN,NaN,CLARITROMICINA EMS 500MG 10S,7896004701172,UN

In [67]:
# Preenchimento da coluna N C M

df['N C M'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['NCM_x'], df['Código NCM'])
    

tabela_2['N C M'] = np.where(df['N C M'].notnull(),
                               df['N C M'], df['NCM_y'])
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411,1,1,1,NaN,NaN,Symbicort Spray 6/200mcg 120ds,SEM GTIN,UN,30049099.0
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin,SEM GTIN,UN,30044990.0
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin,SEM GTIN,UN,30044990.0
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab,SEM GTIN,UN,30044990.0
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab,SEM GTIN,UN,30044990.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927,0,1,1,NaN,NaN,FR PLENIT PROTECTPLUS P/M 8UN,7896007547128,UN,96190000.0
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA G 8UN,7898623351592,UN,96190000.0
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927,0,1,1,NaN,NaN,FR LE BLUE BABY SNOOPY G 18,7898623353909,UN,96190000.0
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA EG 7UN,7898623354623,UN,96190000.0
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927,0,1,1,NaN,NaN,CLARITROMICINA EMS 500MG 10S,7896004701172,UN,30042029.0

In [68]:
# Preenchimento da coluna ALIQUOTA

tabela_2['ALIQUOTA'] = df['ALIQUOTA']
tabela_2['ALIQUOTA'] = df['ALIQUOTA'].astype(str).str.replace(r'\.0$','', regex=True)
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411,1,1,1,NaN,NaN,Symbicort Spray 6/200mcg 120ds,SEM GTIN,UN,30049099.0,18
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin,SEM GTIN,UN,30044990.0,18
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin,SEM GTIN,UN,30044990.0,18
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab,SEM GTIN,UN,30044990.0,18
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab,SEM GTIN,UN,30044990.0,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927,0,1,1,NaN,NaN,FR PLENIT PROTECTPLUS P/M 8UN,7896007547128,UN,96190000.0,18
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA G 8UN,7898623351592,UN,96190000.0,18
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927,0,1,1,NaN,NaN,FR LE BLUE BABY SNOOPY G 18,7898623353909,UN,96190000.0,18
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA EG 7UN,7898623354623,UN,96190000.0,18
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927,0,1,1,NaN,NaN,CLARITROMICINA EMS 500MG 10S,7896004701172,UN,30042029.0,12

In [69]:
# Preenchimento da coluna CEST

tabela_2['CEST'] = df['Código CEST']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA,CEST
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411,1,1,1,NaN,NaN,Symbicort Spray 6/200mcg 120ds,SEM GTIN,UN,30049099.0,18,1300100.0
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin,SEM GTIN,UN,30044990.0,18,1300101.0
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin,SEM GTIN,UN,30044990.0,18,1300101.0
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab,SEM GTIN,UN,30044990.0,18,1300301.0
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab,SEM GTIN,UN,30044990.0,18,1300301.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927,0,1,1,NaN,NaN,FR PLENIT PROTECTPLUS P/M 8UN,7896007547128,UN,96190000.0,18,2004800.0
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA G 8UN,7898623351592,UN,96190000.0,18,2004800.0
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927,0,1,1,NaN,NaN,FR LE BLUE BABY SNOOPY G 18,7898623353909,UN,96190000.0,18,2004800.0
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA EG 7UN,7898623354623,UN,96190000.0,18,2004800.0
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927,0,1,1,NaN,NaN,CLARITROMICINA EMS 500MG 10S,7896004701172,UN,30042029.0,12,1300200.0

In [70]:
# Preenchimento das colunas CNPJ EMITENTE e CNPJ DESTINATARIO

tabela_2['CNPJ EMITENTE'] = df['Número CNPJ Emitente']
tabela_2['CNPJ DESTINATARIO'] = df['Número CNPJ Destinatário']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411,1,1,1,NaN,NaN,Symbicort Spray 6/200mcg 120ds,SEM GTIN,UN,30049099.0,18,1300100.0,2.316478e+13,0.000000e+00
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin,SEM GTIN,UN,30044990.0,18,1300101.0,2.316478e+13,0.000000e+00
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin,SEM GTIN,UN,30044990.0,18,1300101.0,2.316478e+13,0.000000e+00
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab,SEM GTIN,UN,30044990.0,18,1300301.0,2.316478e+13,0.000000e+00
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab,SEM GTIN,UN,30044990.0,18,1300301.0,2.316478e+13,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927,0,1,1,NaN,NaN,FR PLENIT PROTECTPLUS P/M 8UN,7896007547128,UN,96190000.0,18,2004800.0,2.316478e+13,2.316478e+13
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA G 8UN,7898623351592,UN,96190000.0,18,2004800.0,2.316478e+13,2.316478e+13
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927,0,1,1,NaN,NaN,FR LE BLUE BABY SNOOPY G 18,7898623353909,UN,96190000.0,18,2004800.0,2.316478e+13,2.316478e+13
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA EG 7UN,7898623354623,UN,96190000.0,18,2004800.0,2.316478e+13,2.316478e+13
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927,0,1,1,NaN,NaN,CLARITROMICINA EMS 500MG 10S,7896004701172,UN,30042029.0,12,1300200.0,2.316478e+13,2.316478e+13

In [71]:
# Preenchimento da coluna IND_OPER

tabela_2['IND_OPER'] = df['IND_OPER']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411,1,1,1,NaN,NaN,Symbicort Spray 6/200mcg 120ds,SEM GTIN,UN,30049099.0,18,1300100.0,2.316478e+13,0.000000e+00,0
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin,SEM GTIN,UN,30044990.0,18,1300101.0,2.316478e+13,0.000000e+00,0
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin,SEM GTIN,UN,30044990.0,18,1300101.0,2.316478e+13,0.000000e+00,0
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab,SEM GTIN,UN,30044990.0,18,1300301.0,2.316478e+13,0.000000e+00,0
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab,SEM GTIN,UN,30044990.0,18,1300301.0,2.316478e+13,0.000000e+00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927,0,1,1,NaN,NaN,FR PLENIT PROTECTPLUS P/M 8UN,7896007547128,UN,96190000.0,18,2004800.0,2.316478e+13,2.316478e+13,1
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA G 8UN,7898623351592,UN,96190000.0,18,2004800.0,2.316478e+13,2.316478e+13,1
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927,0,1,1,NaN,NaN,FR LE BLUE BABY SNOOPY G 18,7898623353909,UN,96190000.0,18,2004800.0,2.316478e+13,2.316478e+13,1
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA EG 7UN,7898623354623,UN,96190000.0,18,2004800.0,2.316478e+13,2.316478e+13,1
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927,0,1,1,NaN,NaN,CLARITROMICINA EMS 500MG 10S,7896004701172,UN,30042029.0,12,1300200.0,2.316478e+13,2.316478e+13,1

In [72]:
tabela_2['VALOR'] = df['Valor Produto ou Serviço']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER,VALOR
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411,1,1,1,NaN,NaN,Symbicort Spray 6/200mcg 120ds,SEM GTIN,UN,30049099.0,18,1300100.0,2.316478e+13,0.000000e+00,0,125.65
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin,SEM GTIN,UN,30044990.0,18,1300101.0,2.316478e+13,0.000000e+00,0,14.98
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411,1,1,1,NaN,NaN,Buscopan Composto 20S Boehrin,SEM GTIN,UN,30044990.0,18,1300101.0,2.316478e+13,0.000000e+00,0,14.98
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab,SEM GTIN,UN,30044990.0,18,1300301.0,2.316478e+13,0.000000e+00,0,5.42
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411,1,1,1,NaN,NaN,Maxalgina Gts 10ml Natulab,SEM GTIN,UN,30044990.0,18,1300301.0,2.316478e+13,0.000000e+00,0,5.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927,0,1,1,NaN,NaN,FR PLENIT PROTECTPLUS P/M 8UN,7896007547128,UN,96190000.0,18,2004800.0,2.316478e+13,2.316478e+13,1,17.00
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA G 8UN,7898623351592,UN,96190000.0,18,2004800.0,2.316478e+13,2.316478e+13,1,9.19
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927,0,1,1,NaN,NaN,FR LE BLUE BABY SNOOPY G 18,7898623353909,UN,96190000.0,18,2004800.0,2.316478e+13,2.316478e+13,1,5.58
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927,0,1,1,NaN,NaN,FR CONCARE GERIATRICA EG 7UN,7898623354623,UN,96190000.0,18,2004800.0,2.316478e+13,2.316478e+13,1,7.80
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927,0,1,1,NaN,NaN,CLARITROMICINA EMS 500MG 10S,7896004701172,UN,30042029.0,12,1300200.0,2.316478e+13,2.316478e+13,1,27.50

In [73]:
df.columns

Index(['Chave Acesso NFe', 'Data Emissão', 'Número Item',
       'Código Produto ou Serviço', 'Código CFOP (04 Posições)',
       'Quantidade Comercial', 'Valor Produto ou Serviço',
       'Valor ICMS Operação', 'Valor ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS ST Retido Operação Anterior',
       'Descrição Produto', 'Código GTIN', 'Unidade Comercial', 'Código NCM',
       'Código CEST', 'Número CNPJ Emitente', 'Número CNPJ Destinatário',
       'Tipo', 'IND_OPER', 'Item NFE Origem', 'ICMS ST Retido-Base de Cálculo',
       'Produto', 'vPMC', 'bc_complementar_total_item_original',
       'CHAVE_ORIGINAL', 'DATA_SAIDA', 'COD_DO_ITEM', 'CFOP', 'CODPROF',
       'QUANTI_EFDS', 'DESC_PROD', 'EAN', 'NCM_x', 'CHAVE_ITEM',
       'CODIGO_DO_PRODUTO', 'ALIQUOTA', 'CODIGO', 'NCM_y', 'ICMS_TOT',
       'N C M'],
      dtype='object')

In [74]:
tabela_2['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = df['Valor Base Cálculo ICMS ST Retido Operação Anterior']
tabela_2['Valor Base Cálculo ICMS Substituição Tributária'] = df['Valor Base Cálculo ICMS Substituição Tributária']
tabela_2['Valor Complementar'] = df['bc_complementar_total_item_original']
tabela_2['Valor ICMS Operação'] = df['Valor ICMS Operação']
tabela_2['Valor ICMS Substituição Tributária'] = df['Valor ICMS Substituição Tributária']
tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].replace('nan', np.nan)
tabela_2['FONTE'] = df['Tipo']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE
0,35190923164780000100550020000018301156237469,2019-09-01,1,158154,1411,1,1,1,NaN,NaN,...,2.316478e+13,0.000000e+00,0,125.65,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
1,35190923164780000100550020000018311156237741,2019-09-01,1,72785,1411,1,1,1,NaN,NaN,...,2.316478e+13,0.000000e+00,0,14.98,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
2,35190923164780000100550020000018321156267761,2019-09-02,1,72785,1411,1,1,1,NaN,NaN,...,2.316478e+13,0.000000e+00,0,14.98,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
3,35190923164780000100550020000018321156267761,2019-09-02,2,117903,1411,1,1,1,NaN,NaN,...,2.316478e+13,0.000000e+00,0,5.42,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
4,35190923164780000100550020000018321156267761,2019-09-02,3,117903,1411,1,1,1,NaN,NaN,...,2.316478e+13,0.000000e+00,0,5.42,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927,0,1,1,NaN,NaN,...,2.316478e+13,2.316478e+13,1,17.00,0.0,NaN,NaN,0.0,0.0,saida_nfe
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927,0,1,1,NaN,NaN,...,2.316478e+13,2.316478e+13,1,9.19,0.0,NaN,NaN,0.0,0.0,saida_nfe
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927,0,1,1,NaN,NaN,...,2.316478e+13,2.316478e+13,1,5.58,0.0,NaN,NaN,0.0,0.0,saida_nfe
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927,0,1,1,NaN,NaN,...,2.316478e+13,2.316478e+13,1,7.80,0.0,NaN,NaN,0.0,0.0,saida_nfe
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927,0,1,1,NaN,NaN,...,2.316478e+13,2.316478e+13,1,27.50,0.0,NaN,NaN,0.0,0.0,saida_nfe

In [75]:
#tabela_2.rename(columns={'QTD_NOTA': 'QTD'}, inplace=True)

In [76]:
tabela_2 = tabela_2[tabela_2['DATA'] >= '2019-10-01']
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE
43,35191023164780000100550020000018751157965885,2019-10-01,1,812644,1411,1,1,1,NaN,NaN,...,2.316478e+13,0.000000e+00,0,21.10,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
44,35191023164780000100550020000018771158020579,2019-10-02,1,805093,1411,1,1,1,NaN,NaN,...,2.316478e+13,0.000000e+00,0,10.90,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
45,35191023164780000100550020000018781158103269,2019-10-03,1,818641,1411,1,1,1,NaN,NaN,...,2.316478e+13,0.000000e+00,0,61.90,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
46,35191023164780000100550020000018791158112265,2019-10-03,1,83626,1411,1,1,1,NaN,NaN,...,2.316478e+13,0.000000e+00,0,8.97,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
47,35191023164780000100550020000018801158181900,2019-10-04,1,210609,1411,1,3,3,NaN,NaN,...,2.316478e+13,0.000000e+00,0,44.31,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521742,35201223164780000100550030000000221334823836,2020-12-31,10,139592,5927,0,1,1,NaN,NaN,...,2.316478e+13,2.316478e+13,1,17.00,0.0,NaN,NaN,0.0,0.0,saida_nfe
521743,35201223164780000100550030000000221334823836,2020-12-31,12,161042,5927,0,1,1,NaN,NaN,...,2.316478e+13,2.316478e+13,1,9.19,0.0,NaN,NaN,0.0,0.0,saida_nfe
521744,35201223164780000100550030000000221334823836,2020-12-31,15,201319,5927,0,1,1,NaN,NaN,...,2.316478e+13,2.316478e+13,1,5.58,0.0,NaN,NaN,0.0,0.0,saida_nfe
521745,35201223164780000100550030000000221334823836,2020-12-31,18,219246,5927,0,1,1,NaN,NaN,...,2.316478e+13,2.316478e+13,1,7.80,0.0,NaN,NaN,0.0,0.0,saida_nfe
521746,35201223164780000100550030000000231335479192,2020-12-31,1,800458,5927,0,1,1,NaN,NaN,...,2.316478e+13,2.316478e+13,1,27.50,0.0,NaN,NaN,0.0,0.0,saida_nfe

In [77]:
tabela_2 = tabela_2[tabela_2['Entr_PCAT'] == 1]

In [78]:
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE
43,35191023164780000100550020000018751157965885,2019-10-01,1,812644,1411,1,1,1,NaN,NaN,...,2.316478e+13,0.000000e+00,0,21.10,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
44,35191023164780000100550020000018771158020579,2019-10-02,1,805093,1411,1,1,1,NaN,NaN,...,2.316478e+13,0.000000e+00,0,10.90,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
45,35191023164780000100550020000018781158103269,2019-10-03,1,818641,1411,1,1,1,NaN,NaN,...,2.316478e+13,0.000000e+00,0,61.90,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
46,35191023164780000100550020000018791158112265,2019-10-03,1,83626,1411,1,1,1,NaN,NaN,...,2.316478e+13,0.000000e+00,0,8.97,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
47,35191023164780000100550020000018801158181900,2019-10-04,1,210609,1411,1,3,3,NaN,NaN,...,2.316478e+13,0.000000e+00,0,44.31,0.0,NaN,NaN,0.0,0.0,entrada_oprprp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521724,35201223164780000100550030000000081338755976,2020-12-15,1,238402,5409,1,1,1,NaN,NaN,...,2.316478e+13,2.316478e+13,1,1.09,0.0,NaN,NaN,0.0,0.0,saida_nfe
521726,35201223164780000100550030000000171332857741,2020-12-23,1,242016,5409,1,1,1,NaN,NaN,...,2.316478e+13,2.316478e+13,1,21.66,0.0,NaN,NaN,0.0,0.0,saida_nfe
521727,35201223164780000100550030000000201333513111,2020-12-28,1,70771,5409,1,1,1,NaN,NaN,...,2.316478e+13,2.316478e+13,1,6.70,0.0,NaN,NaN,0.0,0.0,saida_nfe
521728,35201223164780000100550030000000201333513111,2020-12-28,3,184598,5409,1,1,1,NaN,NaN,...,2.316478e+13,2.316478e+13,1,121.05,0.0,NaN,NaN,0.0,0.0,saida_nfe
521729,35201223164780000100550030000000201333513111,2020-12-28,2,161067,5409,1,1,1,NaN,NaN,...,2.316478e+13,2.316478e+13,1,18.27,0.0,NaN,NaN,0.0,0.0,saida_nfe

In [79]:
df_2 = pd.read_excel('CFOP_e_template.xlsx', sheet_name='Tb_CFOP')

tabela_2['CFOP'] = tabela_2['CFOP'].astype(int)
df_2['CFOP'] = df_2['CFOP'].astype(int)
# Adição da informação do sub-tipo à tabela principal

df_new = tabela_2.join(df_2.set_index('CFOP'), lsuffix='_orig', rsuffix='_externo', on='CFOP')
df_new['DATA'] = pd.to_datetime(df_new['DATA'], format='%Y-%m-%d')
df_new = df_new.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER'])
df_new['ALIQUOTA'] = df_new['ALIQUOTA'].astype(float)
# Preenchimento da coluna VL_CONFR

mask = (df_new['IND_OPER'] == 1) & (df_new['SINAL'] == 1) & \
       (df_new['CFOP'] != 5409) 

# Calculate the values using NumPy operations
values = np.where(mask, df_new['VALOR'] * (df_new['ALIQUOTA'] / 100), np.nan)

# Assign the calculated values to the 'vl_confr' column
        
df_new['VL_CONFR'] = values

df_new

C:\Users\vinic\AppData\Local\Temp\ipykernel_1860\1709694777.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['CFOP'] = tabela_2['CFOP'].astype(int)

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE,Válido para Ressarcimento?,SINAL,VL_CONFR
417343,35191123164780000100590000692702351284192477,2019-11-09,1,100073,5405,1,1,1,NaN,NaN,...,70.52,0.00,NaN,NaN,0.0,0.0,dfe,S,1,12.6936
364494,35191123164780000100590000692702407137688914,2019-11-27,1,100073,5405,1,1,1,NaN,NaN,...,70.52,0.00,NaN,NaN,0.0,0.0,dfe,S,1,12.6936
29590,35191127849963000110550010006275341006255608,2019-11-29,16,100073,1403,1,1,1,1,13.6044,...,55.69,63.72,NaN,11.86,0.0,0.0,entrada_sp,S,1,NaN
30550,35191205651966000455550240007709141550590020,2019-12-12,7,100073,1403,1,2,2,2,29.7936,...,121.96,131.16,NaN,34.36,0.0,0.0,entrada_sp,S,1,NaN
54605,35200227849963000110550010006979551006957190,2020-02-14,6,100073,1403,1,1,1,1,13.6098,...,55.71,63.85,NaN,11.76,0.0,0.0,entrada_sp,S,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158678,35201227849963000110550010010271611010236139,2020-12-29,61,99234,1403,1,2,2,2,2.8175,...,6.92,3.76,NaN,7.51,0.0,0.0,entrada_sp,S,1,NaN
237126,35201223164780000100590009546550055991879054,2020-12-30,7,99234,5405,1,1,1,NaN,NaN,...,4.49,0.00,NaN,NaN,0.0,0.0,dfe,S,1,1.1225
507144,35201223164780000100590009386930214211266742,2020-12-30,2,99234,5405,1,1,1,NaN,NaN,...,4.49,0.00,NaN,NaN,0.0,0.0,dfe,S,1,1.1225
507145,35201223164780000100590009386930218244049174,2020-12-31,4,99234,5405,1,1,1,NaN,NaN,...,4.49,0.00,NaN,NaN,0.0,0.0,dfe,S,1,1.1225
507146,35201223164780000100590009386930219916802298,2020-12-31,3,99234,5405,1,1,1,NaN,NaN,...,4.49,0.00,NaN,NaN,0.0,0.0,dfe,S,1,1.1225

In [80]:
tabela_2['SUB_TIPO'] = df_new['SINAL']
tabela_2['VL_CONFR_0'] = df_new['VL_CONFR']
tabela_2

C:\Users\vinic\AppData\Local\Temp\ipykernel_1860\4163718643.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['SUB_TIPO'] = df_new['SINAL']
C:\Users\vinic\AppData\Local\Temp\ipykernel_1860\4163718643.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['VL_CONFR_0'] = df_new['VL_CONFR']

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,IND_OPER,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE,SUB_TIPO,VL_CONFR_0
43,35191023164780000100550020000018751157965885,2019-10-01,1,812644,1411,1,1,1,NaN,NaN,...,0,21.10,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN
44,35191023164780000100550020000018771158020579,2019-10-02,1,805093,1411,1,1,1,NaN,NaN,...,0,10.90,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN
45,35191023164780000100550020000018781158103269,2019-10-03,1,818641,1411,1,1,1,NaN,NaN,...,0,61.90,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN
46,35191023164780000100550020000018791158112265,2019-10-03,1,83626,1411,1,1,1,NaN,NaN,...,0,8.97,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN
47,35191023164780000100550020000018801158181900,2019-10-04,1,210609,1411,1,3,3,NaN,NaN,...,0,44.31,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521724,35201223164780000100550030000000081338755976,2020-12-15,1,238402,5409,1,1,1,NaN,NaN,...,1,1.09,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN
521726,35201223164780000100550030000000171332857741,2020-12-23,1,242016,5409,1,1,1,NaN,NaN,...,1,21.66,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN
521727,35201223164780000100550030000000201333513111,2020-12-28,1,70771,5409,1,1,1,NaN,NaN,...,1,6.70,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN
521728,35201223164780000100550030000000201333513111,2020-12-28,3,184598,5409,1,1,1,NaN,NaN,...,1,121.05,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN
521729,35201223164780000100550030000000201333513111,2020-12-28,2,161067,5409,1,1,1,NaN,NaN,...,1,18.27,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN

In [81]:
tabela_2['ALIQUOTA'] = tabela_2['ALIQUOTA'].astype(str).replace('', np.nan).fillna(0).astype(float)

C:\Users\vinic\AppData\Local\Temp\ipykernel_1860\4205437014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['ALIQUOTA'] = tabela_2['ALIQUOTA'].astype(str).replace('', np.nan).fillna(0).astype(float)

In [82]:
# Preenchimento da coluna COD_LEGAL
conditions = [
    tabela_2['CFOP'] == 5927,
    tabela_2['CFOP'] == 5409,
    (tabela_2['IND_OPER'] == 0) & (tabela_2['SUB_TIPO'] == 1),
    (tabela_2['IND_OPER'] == 1) & (tabela_2['SUB_TIPO'] == -1)
]

choices = [2, 0, np.nan, np.nan]

# If none of the conditions are met, the default choice is 1
default_choice = 1

# Use numpy.select to set values for 'COD_LEGAL'
tabela_2['COD_LEGAL'] = np.select(conditions, choices, default=default_choice)

C:\Users\vinic\AppData\Local\Temp\ipykernel_1860\2235767169.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['COD_LEGAL'] = np.select(conditions, choices, default=default_choice)

In [83]:
tabela_2[(tabela_2['IND_OPER'] == 0) & (tabela_2['SUB_TIPO'] == 1)]['COD_LEGAL']

1499     NaN
1500     NaN
1501     NaN
1502     NaN
1503     NaN
          ..
161146   NaN
161147   NaN
161148   NaN
161149   NaN
161150   NaN
Name: COD_LEGAL, Length: 137535, dtype: float64

In [84]:
tabela_2

,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,QTD_CAT,QTD_EFD,ICMS_TOT,...,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,Valor Complementar,Valor ICMS Operação,Valor ICMS Substituição Tributária,FONTE,SUB_TIPO,VL_CONFR_0,COD_LEGAL
43,35191023164780000100550020000018751157965885,2019-10-01,1,812644,1411,1,1,1,NaN,NaN,...,21.10,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN,1.0
44,35191023164780000100550020000018771158020579,2019-10-02,1,805093,1411,1,1,1,NaN,NaN,...,10.90,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN,1.0
45,35191023164780000100550020000018781158103269,2019-10-03,1,818641,1411,1,1,1,NaN,NaN,...,61.90,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN,1.0
46,35191023164780000100550020000018791158112265,2019-10-03,1,83626,1411,1,1,1,NaN,NaN,...,8.97,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN,1.0
47,35191023164780000100550020000018801158181900,2019-10-04,1,210609,1411,1,3,3,NaN,NaN,...,44.31,0.0,NaN,NaN,0.0,0.0,entrada_oprprp,-1,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521724,35201223164780000100550030000000081338755976,2020-12-15,1,238402,5409,1,1,1,NaN,NaN,...,1.09,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN,0.0
521726,35201223164780000100550030000000171332857741,2020-12-23,1,242016,5409,1,1,1,NaN,NaN,...,21.66,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN,0.0
521727,35201223164780000100550030000000201333513111,2020-12-28,1,70771,5409,1,1,1,NaN,NaN,...,6.70,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN,0.0
521728,35201223164780000100550030000000201333513111,2020-12-28,3,184598,5409,1,1,1,NaN,NaN,...,121.05,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN,0.0
521729,35201223164780000100550030000000201333513111,2020-12-28,2,161067,5409,1,1,1,NaN,NaN,...,18.27,0.0,NaN,NaN,0.0,0.0,saida_nfe,1,NaN,0.0

In [85]:
tabela_2['QTD_NOTA'] = tabela_2['QTD_NOTA'].astype(int)
tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].astype(int)
tabela_2['CHECAGEM'] = tabela_2['QTD_CAT']/tabela_2['QTD_NOTA']

C:\Users\vinic\AppData\Local\Temp\ipykernel_1860\2132809093.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['QTD_NOTA'] = tabela_2['QTD_NOTA'].astype(int)
C:\Users\vinic\AppData\Local\Temp\ipykernel_1860\2132809093.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].astype(int)
C:\Users\vinic\AppData\Local\Temp\ipykernel_1860\2132809093.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['CHECAGEM'] = tabela_2['QTD_CAT']/tabela_2['QTD_NOTA']

In [86]:
pivot_table = tabela_2[(tabela_2['FONTE'] == 'entrada_sp') | (tabela_2['FONTE'] == 'entrada_outras')].pivot_table(index='COD_ITEM', values='CHECAGEM', aggfunc='nunique').reset_index()
pivot_table

     COD_ITEM  CHECAGEM
0      100073         1
1      100388         1
2       10041         1
3      100412         1
4      100693         1
...       ...       ...
5125    98947         1
5126    98962         1
5127    98970         1
5128    99036         1
5129    99234         1

[5130 rows x 2 columns]

In [87]:
cod_items_with_multiple_values = pivot_table[pivot_table['CHECAGEM'] > 1]['COD_ITEM']
if cod_items_with_multiple_values.shape[0] > 0:
    print('Erro encontrado: Fator de conversão errado, favor verificar')
    sys.exit()

In [88]:
pivot_table[pivot_table['CHECAGEM'] > 1]['COD_ITEM'].unique()

array([], dtype=object)

In [89]:
tabela_2_filt = tabela_2[['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM',
                    'IND_OPER', 'SUB_TIPO', 'QTD_CAT', 'QTD_EFD', 'ICMS_TOT','VL_CONFR_0', 'COD_LEGAL',
                    'ALIQUOTA', 'VALOR', 'Valor Base Cálculo ICMS ST Retido Operação Anterior',
                    'Valor Complementar', 'Valor ICMS Substituição Tributária', 'Valor ICMS Operação', 
                    'DESCRICAO', 'CODIGO_BARRA', 'UNIDADE', 'N C M','CEST', 'CNPJ EMITENTE', 'CNPJ DESTINATARIO',
                    'Valor Base Cálculo ICMS Substituição Tributária', 'FONTE']]
tabela_2_filt

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_EFD,ICMS_TOT,...,Valor ICMS Operação,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Valor Base Cálculo ICMS Substituição Tributária,FONTE
43,35191023164780000100550020000018751157965885,2019-10-01,1411,1,812644,0,-1,1,NaN,NaN,...,0.0,Betametasona Prati 120ml,SEM GTIN,UN,30043999.0,1300200.0,2.316478e+13,0.000000e+00,NaN,entrada_oprprp
44,35191023164780000100550020000018771158020579,2019-10-02,1411,1,805093,0,-1,1,NaN,NaN,...,0.0,Tint Cor Ton 6.0 Kit Basico,SEM GTIN,UN,33059000.0,2801400.0,2.316478e+13,0.000000e+00,NaN,entrada_oprprp
45,35191023164780000100550020000018781158103269,2019-10-03,1411,1,818641,0,-1,1,NaN,NaN,...,0.0,Umckan 825mg Sol.20ml Farmoqui,SEM GTIN,UN,30049099.0,1300301.0,2.316478e+13,0.000000e+00,NaN,entrada_oprprp
46,35191023164780000100550020000018791158112265,2019-10-03,1411,1,83626,0,-1,1,NaN,NaN,...,0.0,Torsilax 12S Neo Quimica,SEM GTIN,UN,30049049.0,1300301.0,2.316478e+13,0.000000e+00,NaN,entrada_oprprp
47,35191023164780000100550020000018801158181900,2019-10-04,1411,1,210609,0,-1,3,NaN,NaN,...,0.0,Citr.Sildenafila 50mg 4S Prat,SEM GTIN,UN,30049099.0,1300200.0,2.316478e+13,0.000000e+00,NaN,entrada_oprprp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521724,35201223164780000100550030000000081338755976,2020-12-15,5409,1,238402,1,1,1,NaN,NaN,...,0.0,DIPIRONA FARMACE 500MG 10ML,7898166040847,UN,30049099.0,1300200.0,2.316478e+13,2.316478e+13,NaN,saida_nfe
521726,35201223164780000100550030000000171332857741,2020-12-23,5409,1,242016,1,1,1,NaN,NaN,...,0.0,CLOR DOXICICLINA PHAR 100MG 15S,7898216365166,UN,30042099.0,1300200.0,2.316478e+13,2.316478e+13,NaN,saida_nfe
521727,35201223164780000100550030000000201333513111,2020-12-28,5409,1,70771,1,1,1,NaN,NaN,...,0.0,GARDENAL 4% GTS 20ML MEDLEY C1,7896070601932,UN,30049069.0,1300100.0,2.316478e+13,2.316478e+13,NaN,saida_nfe
521728,35201223164780000100550030000000201333513111,2020-12-28,5409,3,184598,1,1,1,NaN,NaN,...,0.0,DONAREN RETARD 150MG 30S C1,7896637023627,UN,30049069.0,1300100.0,2.316478e+13,2.316478e+13,NaN,saida_nfe
521729,35201223164780000100550030000000201333513111,2020-12-28,5409,2,161067,1,1,1,NaN,NaN,...,0.0,BESIL.ANLOD+LOSAR 5+100MG 30S,7896004749327,UN,30049069.0,1300200.0,2.316478e+13,2.316478e+13,NaN,saida_nfe

In [90]:
tabela_2['ICMS_TOT'].sum()

850894.491

In [91]:
# Salvamento do arquivo da tabela 2

tabela_2_filt.to_csv(f'Loja_{loja}/loja_{loja}_tabela_2_v1.csv')

In [92]:
engine.dispose()