In [1]:
# Importação das bibliotecas necessárias
import pandas as pd
import numpy as np
import csv
from sqlalchemy import create_engine
import math
from datetime import datetime

In [2]:
# Estabelecimento de conexão com o banco de dados
# para extração das informações das tabelas necessárias

database_config = {
    "host": "cat42.cohe0l2miaal.us-east-1.rds.amazonaws.com",
    "user": "master",
    "password": "dms191411",
    "database": "cat"
}

# Create a connection to the MySQL database
engine = create_engine(f"mysql+pymysql://{database_config['user']}:{database_config['password']}@{database_config['host']}/{database_config['database']}")

In [3]:
# Leitura da tabela 1 gerada em etapa anterior
tabela_1 = pd.read_csv('Loja_44/loja_44_tabela_1.csv')
tabela_1['Código Produto ou Serviço'] = tabela_1['Código Produto ou Serviço'].astype(str)
tabela_1.head()

C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\2235653354.py:2: DtypeWarning: Columns (4,9,10,11,13) have mixed types. Specify dtype option on import or set low_memory=False.
  tabela_1 = pd.read_csv('Loja_44/loja_44_tabela_1.csv')

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
0,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000","153,78",NaN,NaN,NaN,345,"Clor Tansulosina 0,4mg 30S Eu",7898146826768,UN,30049079.0,1300200.0,7.160527e+13,NaN,entrada_oprprp
1,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000","23,91",NaN,NaN,NaN,"50,53",Clor Hidroxizina 25mg 30S Leg,7894916146111,UN,30049099.0,1300201.0,7.160527e+13,NaN,entrada_oprprp
2,2,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411.0,"1,0000","33,2",NaN,NaN,NaN,"36,05",Acheflan Cr 30g Ache,7896658006432,UN,30049099.0,NaN,7.160527e+13,NaN,entrada_oprprp
3,3,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411.0,"1,0000","32,22",NaN,NaN,NaN,"78,31",Clor Ranit.Leg Xpe 120ml,7894916143738,UN,30049059.0,1300200.0,7.160527e+13,NaN,entrada_oprprp
4,4,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411.0,"1,0000","43,26",NaN,NaN,NaN,"64,69",Besil.Anlodip.Prati 5mg 30S,7899547504835,UN,30049069.0,1300200.0,7.160527e+13,NaN,entrada_oprprp

In [4]:
tabela_1.shape

(1334984, 20)

In [5]:
tabela_1[tabela_1['Tipo'] == 'dfe']

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
420912,0,35190671605265000595590003114260766029763165,2019-06-04,1,785683,5405.0,"1,0000","16,55",NaN,NaN,NaN,NaN,0 - AZUKON MR 30MG 30'S TORRENT,8902220106079.0,UN,NaN,NaN,NaN,NaN,dfe
420913,1,35190671605265000595590003114260766029763165,2019-06-04,2,785683,5405.0,"1,0000","16,55",NaN,NaN,NaN,NaN,0 - AZUKON MR 30MG 30'S TORRENT,8902220106079.0,UN,NaN,NaN,NaN,NaN,dfe
420914,2,35190671605265000595590003114260766029763165,2019-06-04,3,785683,5405.0,"1,0000","16,55",NaN,NaN,NaN,NaN,0 - AZUKON MR 30MG 30'S TORRENT,8902220106079.0,UN,NaN,NaN,NaN,NaN,dfe
420915,3,35190571605265000595590003114220630492382414,2019-05-24,1,74104,5405.0,"1,0000","4,94",NaN,NaN,NaN,NaN,0 - CLOR METFOR.PRATI 850MG 30'S,7898148291298.0,UN,NaN,NaN,NaN,NaN,dfe
420916,4,35190571605265000595590003114220630492382414,2019-05-24,3,193318,5102.0,"1,0000","35,90","6,46",NaN,NaN,NaN,0 - GLUCERNA SR BAUNILHA,7891158102127.0,UN,NaN,NaN,NaN,NaN,dfe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1327702,906790,35190271605265000595590002229250358121290007,2019-02-12,4,911511,5405.0,"1,0000","57,05",NaN,NaN,NaN,NaN,ZYXEM GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe
1327703,906791,35161171605265000595590002229190053825529145,2016-11-14,6,911511,5405.0,"1,0000","54,95",NaN,NaN,NaN,NaN,ZYXEN GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe
1327704,906792,35170671605265000595590002229190198005357941,2017-06-01,1,911511,5405.0,"1,0000","57,57",NaN,NaN,NaN,NaN,ZYXEN GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe
1327705,906793,35171071605265000595590003114260116350393795,2017-10-08,2,911511,5405.0,"1,0000","57,57",NaN,NaN,NaN,NaN,ZYXEN GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe
1327706,906794,35180371605265000595590003114260268849313765,2018-03-13,2,911511,5405.0,"1,0000","55,48",NaN,NaN,NaN,NaN,ZYXEN GTS 20ML FARMALAB,NaN,UN,NaN,NaN,NaN,NaN,dfe

In [6]:
# Leitura do arquivo da complementar com valores dos produtos
# MVA
#mva_complementar = pd.read_excel('Loja_44/mva_resultado_final_loja_44.xlsx')
#mva_complementar

In [7]:
# Leitura do arquivo da complementar com valores dos produtos
# PMC
#pmc_complementar = pd.read_excel('Loja_44/pmc_resultado_6_loja_44.xlsx')
#pmc_complementar

In [8]:
# Leitura da complementar Mauricio

complementar = pd.read_excel('Loja_44/NFC_loja_044.xlsx')
complementar

,NFref1,Item,cEAN,Produto,Quantidade,Valor Unitário,vPMC,cProdAnvisa,ST Retido - Base de Cálculo,Aliquota,ICMS ST Retido - Val
0,35190927849963000110550010005707591005689329,1,7892840808440,785543,0,0,0,NaN,"11,12",0,2
1,35190927849963000110550010005707591005689329,3,7896301802923,200048,0,0,0,NaN,"14,13",0,"2,54"
2,35190927849963000110550010005707591005689329,4,7896523200576,2006,0,0,0,1.438101e+12,"1867,2",0,"336,1"
3,35190927849963000110550010005707591005689329,5,7899596504824,125955,0,0,0,NaN,"280,31",0,"70,08"
4,35190927849963000110550010005708361005690069,1,7891142142290,71043,0,0,0,NaN,"4,51",0,"0,81"
...,...,...,...,...,...,...,...,...,...,...,...
91601,35201227849963000110550010010278781010243092,10,7896006215929,178509,0,0,0,NaN,"7,43",0,"0,89"
91602,35201227849963000110550010010278781010243092,13,7896070600201,17129,0,0,0,1.130003e+12,"5,23",0,"0,94"
91603,35201227849963000110550010010278781010243092,14,7896676400175,8854,0,0,0,1.029802e+12,"53,67",0,"9,66"
91604,35201227849963000110550010010278781010243092,16,7899095238671,205781,0,0,"38,16",1.542302e+12,"44,76",0,"5,37"
91605,35201227849963000110550010010278781010243092,18,8902220108721,127530,0,0,0,1.052500e+12,"127,81",0,"15,34"

In [9]:
# Extração das colunas necessárias
#mva = mva_complementar[['Chave Acesso NFe', 'Item NFE Origem', 'Produto', 'Quantidade Comercial', 'Valor Produto ou Serviço',
                       #'ICMS ST Retido-Base de Cálculo', 'ALIQUOTA', 'ICMS ST Retido- Valor']]
#mva

In [10]:
# Extração das colunas necessárias
#pmc = pmc_complementar[['Chave Acesso NFe', 'Item NFE Origem', 'CODPROF', 'Quantidade Comercial', 'Valor Produto ou Serviço',
                       #'ICMS ST Retido-Base de Cálculo', 'ALIQUOTA', 'ICMS ST Retido- Valor']]

#pmc

In [11]:
# Renomeação de colunas necessárias para que
# a concatenação dos arquivos da complementar esteja correta
#pmc.rename(columns={'CODPROF': 'Produto'}, inplace=True)

In [12]:
# Geração do dataframe completo da complementar
#complementar = pd.concat([mva, pmc])
#complementar

In [13]:
# Leitura da tabela da efd_mod55 para um data frame

query = 'SELECT * FROM tabela_efds_modelo55 WHERE LOJA = 44'

efd = pd.read_sql(query, engine)
efd

,ID,LOJA,DATA_EFD,DATA_ENTRADA,DATA_SAIDA,CHAVE_ORIGINAL,COD_DO_ITEM,CODPROF,CFOP,DESC_PROD,QUANTI_EFDS,EAN,NCM,FATOR,ICMS,CEST
0,1159617,44,01-2020,09/01/2020,15/01/2020,35200171605265000242550020000052631164184284,1,184812,1409,Brintellix 10mg 60'S C1,1,,30049069,1,,
1,1159618,44,01-2020,27/01/2020,27/01/2020,35200171605265000404550020000039561165263676,1,750547,1409,LEXAPRO 10MG 28'S LUNDBECK C1,1,5702157150809,30049059,1,18,13.001.00
2,1159619,44,01-2020,13/01/2020,13/01/2020,35200171605265000595550020000038721164385051,1,176883,1202,Cartidres 30'S MCG,2,7898623352575,21069030,1,,
3,1159620,44,01-2020,30/01/2020,30/01/2020,35200171605265004159550020000001871165527919,1,895755,1409,GALVUS MET 50/1000MG 56'S NOV,1,7896261016262,30049069,1,18,13.001.00
4,1159621,44,01-2020,15/01/2020,21/01/2020,35200171605265004230550020000001161164563671,1,126532,1409,"EXFORGE HCT 160/12,5/5MG 28'S",1,7896261015586,30049069,1,18,13.001.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144947,1304564,44,12-2020,03/12/2020,03/12/2020,35201271605265000595550020000046051183194751,1,141028,1411,DROSPIREN.+ETINIL.3MG 63'S LEG,1,,30066000,1,12,13.002.00
144948,1304565,44,12-2020,06/12/2020,06/12/2020,35201271605265000595550020000046091183312613,1,43570,1411,SERINGA BD 3ML AG30X7 UNIDADE,400,,90183219,100,12,13.015.00
144949,1304566,44,12-2020,01/12/2020,01/12/2020,35201271605265000595550020000045981182969192,1,150284,1411,LEITE NAN 1 SUPREME 800G,1,,19011010,1,18/18,17.014.00
144950,1304567,44,12-2020,05/12/2020,05/12/2020,35201271605265000595550020000046081183309097,1,213728,1411,Biod Sensibio Ar 40ml,1,,34012010,1,18,20.036.00
144951,1304568,44,12-2020,07/12/2020,07/12/2020,35201271605265000595550020000046101183336211,1,166306,1411,Fr Pampers Confortsec Mega P50,1,,96190000,1,18,20.047.00

In [14]:
# Leitura da tabela da efd_mod59 para um data frame

query = 'SELECT * FROM tabela_efds_modelo59 WHERE LOJA = 44'

efd_mod59 = pd.read_sql(query, engine)
efd_mod59

,ID,LOJA,PERIODO,REG,COD_MOD,COD_SIT,NUM_CFE,DT_DOC,VL_CFE,VL_PIS,VL_COFINS,CNPJ_CPF,NR_SAT,CHV_CFE,VL_DESC,VL_MERC,VL_OUT_DA,VL_ICMS,VL_PIS_ST,VL_COFINS_ST
0,191053,44,01-2020,C800,59,0,43798,01/01/2020,"98,89",,,,222925,35200171605265000595590002229250437983119510,"22,34","121,23",0,0,,
1,191054,44,01-2020,C800,59,0,43799,01/01/2020,"9,97",,,,222925,35200171605265000595590002229250437990858943,0,"9,97",0,0,,
2,191055,44,01-2020,C800,59,0,43800,01/01/2020,"11,64",,,,222925,35200171605265000595590002229250438008334916,"18,33","29,97",0,0,,
3,191056,44,01-2020,C800,59,0,43801,06/01/2020,"32,99",,,,222925,35200171605265000595590002229250438011935992,0,"32,99",0,0,,
4,191057,44,01-2020,C800,59,0,43802,06/01/2020,"100,98",,,,222925,35200171605265000595590002229250438024792680,41,"141,98",0,0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95521,286574,44,12-2020,C800,59,0,171210,31/12/2020,"1,95",,,,311426,35201271605265000595590003114261712101454247,"6,56","8,51",0,0,,
95522,286575,44,12-2020,C800,59,0,171211,31/12/2020,"5,98",,,,311426,35201271605265000595590003114261712118267437,0,"5,98",0,0,,
95523,286576,44,12-2020,C800,59,0,171212,31/12/2020,"14,14",,,,311426,35201271605265000595590003114261712120261599,"7,29","21,43",0,0,,
95524,286577,44,12-2020,C800,59,0,171213,31/12/2020,"59,22",,,,311426,35201271605265000595590003114261712138109055,"13,69","72,91",0,0,,
95525,286578,44,12-2020,C800,59,0,171214,31/12/2020,"625,07",,,,311426,35201271605265000595590003114261712148251385,"252,81","877,88",0,"18,88",,

In [15]:
efd_mod59['PERIODO'] = pd.to_datetime(efd_mod59['PERIODO'], format='%m-%Y')
efd_mod59['PERIODO'].unique()

array(['2020-01-01T00:00:00.000000000', '2020-02-01T00:00:00.000000000',
       '2020-03-01T00:00:00.000000000', '2020-04-01T00:00:00.000000000',
       '2020-05-01T00:00:00.000000000', '2020-06-01T00:00:00.000000000',
       '2020-07-01T00:00:00.000000000', '2020-08-01T00:00:00.000000000',
       '2020-09-01T00:00:00.000000000', '2019-10-01T00:00:00.000000000',
       '2020-10-01T00:00:00.000000000', '2019-11-01T00:00:00.000000000',
       '2020-11-01T00:00:00.000000000', '2019-12-01T00:00:00.000000000',
       '2020-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [16]:
efd['CODPROF'] = efd['CODPROF'].astype(str)

In [17]:
# Leitura da tabela de conversão para um dataframe

query = 'SELECT * FROM tabela_fator_conversao'
fator_conversao = pd.read_sql(query, engine)
fator_conversao

,ID,CODIGO_PRODUTO,DESCRICAO,UNIMED,FATOR,NCM,PRODUTO_ST
0,1,0.2503-CP,ESPATULA PLAST COMPEL LISA N.10 LARANJA,UN,1,3926.90.90,Não
1,2,0000000000030-CP,ANEL VEDACAO P/VASO C/GUIA,UN,1,4006.90.00,Não
2,3,0000000000080-CP,BLOCO DE ESPUMA 6X13X22CM,UN,1,3921.13.90,Não
3,4,0000000000101-CP,"MT CABO PP 2X2,5MM",UN,1,3926.90.90,Não
4,5,0000000000102-CP,ROLO FITA ISOLANTE WURTH. 20MT.,UN,1,3926.90.90,Não
...,...,...,...,...,...,...,...
36836,36837,257014,RESFEDRYL 5S,,40,,
36837,36838,262501,PACOQUINHA OK CHIPS UN,,50,,
36838,36839,268219,CORISTINA D PRO 4S,,50,,
36839,36840,270611,MILMUNE MEL/LIM ECOFI 5G,,50,,
36840,36841,275651,SAL DE ANDREWS S/SABOR 5G GSK,,50,,

In [18]:
# Retirada dos valores negativos de base de calculo da complementar
complementar['ST Retido - Base de Cálculo'] = complementar['ST Retido - Base de Cálculo'].str.replace('.', '').str.replace(',','.').astype(float)
complementar['ICMS ST Retido - Val'] = complementar['ICMS ST Retido - Val'].str.replace('.', '').str.replace(',','.').astype(float)
complementar_final = complementar[complementar['ST Retido - Base de Cálculo'] >= 0]
complementar_final

C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\3409262947.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  complementar['ST Retido - Base de Cálculo'] = complementar['ST Retido - Base de Cálculo'].str.replace('.', '').str.replace(',','.').astype(float)
C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\3409262947.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  complementar['ICMS ST Retido - Val'] = complementar['ICMS ST Retido - Val'].str.replace('.', '').str.replace(',','.').astype(float)

,NFref1,Item,cEAN,Produto,Quantidade,Valor Unitário,vPMC,cProdAnvisa,ST Retido - Base de Cálculo,Aliquota,ICMS ST Retido - Val
0,35190927849963000110550010005707591005689329,1,7892840808440,785543,0,0,0,NaN,11.12,0,2.00
1,35190927849963000110550010005707591005689329,3,7896301802923,200048,0,0,0,NaN,14.13,0,2.54
2,35190927849963000110550010005707591005689329,4,7896523200576,2006,0,0,0,1.438101e+12,1867.20,0,336.10
3,35190927849963000110550010005707591005689329,5,7899596504824,125955,0,0,0,NaN,280.31,0,70.08
4,35190927849963000110550010005708361005690069,1,7891142142290,71043,0,0,0,NaN,4.51,0,0.81
...,...,...,...,...,...,...,...,...,...,...,...
91601,35201227849963000110550010010278781010243092,10,7896006215929,178509,0,0,0,NaN,7.43,0,0.89
91602,35201227849963000110550010010278781010243092,13,7896070600201,17129,0,0,0,1.130003e+12,5.23,0,0.94
91603,35201227849963000110550010010278781010243092,14,7896676400175,8854,0,0,0,1.029802e+12,53.67,0,9.66
91604,35201227849963000110550010010278781010243092,16,7899095238671,205781,0,0,"38,16",1.542302e+12,44.76,0,5.37
91605,35201227849963000110550010010278781010243092,18,8902220108721,127530,0,0,0,1.052500e+12,127.81,0,15.34

In [19]:
# Formatação da coluna de data da tabela 1

tabela_1['Data Emissão'] = pd.to_datetime(tabela_1['Data Emissão'],format='%Y-%m-%d')
tabela_1.head()

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
0,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000","153,78",NaN,NaN,NaN,345,"Clor Tansulosina 0,4mg 30S Eu",7898146826768,UN,30049079.0,1300200.0,7.160527e+13,NaN,entrada_oprprp
1,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000","23,91",NaN,NaN,NaN,"50,53",Clor Hidroxizina 25mg 30S Leg,7894916146111,UN,30049099.0,1300201.0,7.160527e+13,NaN,entrada_oprprp
2,2,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411.0,"1,0000","33,2",NaN,NaN,NaN,"36,05",Acheflan Cr 30g Ache,7896658006432,UN,30049099.0,NaN,7.160527e+13,NaN,entrada_oprprp
3,3,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411.0,"1,0000","32,22",NaN,NaN,NaN,"78,31",Clor Ranit.Leg Xpe 120ml,7894916143738,UN,30049059.0,1300200.0,7.160527e+13,NaN,entrada_oprprp
4,4,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411.0,"1,0000","43,26",NaN,NaN,NaN,"64,69",Besil.Anlodip.Prati 5mg 30S,7899547504835,UN,30049069.0,1300200.0,7.160527e+13,NaN,entrada_oprprp

In [20]:
# Formatação da coluna Valor Produto ou Serviço para o tipo correto

tabela_1['Valor Produto ou Serviço'] = tabela_1['Valor Produto ou Serviço'].str.replace('.', '').str.replace(',', '.').astype(float)
tabela_1.head()

C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\3894326555.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tabela_1['Valor Produto ou Serviço'] = tabela_1['Valor Produto ou Serviço'].str.replace('.', '').str.replace(',', '.').astype(float)

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,Valor Base Cálculo ICMS Substituição Tributária,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo
0,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000",153.78,NaN,NaN,NaN,345,"Clor Tansulosina 0,4mg 30S Eu",7898146826768,UN,30049079.0,1300200.0,7.160527e+13,NaN,entrada_oprprp
1,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000",23.91,NaN,NaN,NaN,"50,53",Clor Hidroxizina 25mg 30S Leg,7894916146111,UN,30049099.0,1300201.0,7.160527e+13,NaN,entrada_oprprp
2,2,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411.0,"1,0000",33.20,NaN,NaN,NaN,"36,05",Acheflan Cr 30g Ache,7896658006432,UN,30049099.0,NaN,7.160527e+13,NaN,entrada_oprprp
3,3,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411.0,"1,0000",32.22,NaN,NaN,NaN,"78,31",Clor Ranit.Leg Xpe 120ml,7894916143738,UN,30049059.0,1300200.0,7.160527e+13,NaN,entrada_oprprp
4,4,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411.0,"1,0000",43.26,NaN,NaN,NaN,"64,69",Besil.Anlodip.Prati 5mg 30S,7899547504835,UN,30049069.0,1300200.0,7.160527e+13,NaN,entrada_oprprp

In [21]:
# Preenchimento da coluna IND_OPER da tabela 1

tabela_1['IND_OPER'] = np.where((tabela_1['Tipo'] == 'dfe') | (tabela_1['Tipo'] == 'saida_nfe'),
                            1, 0)

tabela_1.head()

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,Valor Base Cálculo ICMS ST Retido Operação Anterior,Descrição Produto,Código GTIN,Unidade Comercial,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo,IND_OPER
0,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000",153.78,NaN,NaN,...,345,"Clor Tansulosina 0,4mg 30S Eu",7898146826768,UN,30049079.0,1300200.0,7.160527e+13,NaN,entrada_oprprp,0
1,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000",23.91,NaN,NaN,...,"50,53",Clor Hidroxizina 25mg 30S Leg,7894916146111,UN,30049099.0,1300201.0,7.160527e+13,NaN,entrada_oprprp,0
2,2,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411.0,"1,0000",33.20,NaN,NaN,...,"36,05",Acheflan Cr 30g Ache,7896658006432,UN,30049099.0,NaN,7.160527e+13,NaN,entrada_oprprp,0
3,3,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411.0,"1,0000",32.22,NaN,NaN,...,"78,31",Clor Ranit.Leg Xpe 120ml,7894916143738,UN,30049059.0,1300200.0,7.160527e+13,NaN,entrada_oprprp,0
4,4,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411.0,"1,0000",43.26,NaN,NaN,...,"64,69",Besil.Anlodip.Prati 5mg 30S,7899547504835,UN,30049069.0,1300200.0,7.160527e+13,NaN,entrada_oprprp,0

In [22]:
tabela_1['Tipo'].value_counts()

dfe               906795
entrada_sp        417718
saida_nfe           7277
entrada_oprprp      2844
entrada_outras       350
Name: Tipo, dtype: int64

In [23]:
complementar_final.head()

,NFref1,Item,cEAN,Produto,Quantidade,Valor Unitário,vPMC,cProdAnvisa,ST Retido - Base de Cálculo,Aliquota,ICMS ST Retido - Val
0,35190927849963000110550010005707591005689329,1,7892840808440,785543,0,0,0,NaN,11.12,0,2.00
1,35190927849963000110550010005707591005689329,3,7896301802923,200048,0,0,0,NaN,14.13,0,2.54
2,35190927849963000110550010005707591005689329,4,7896523200576,2006,0,0,0,1.438101e+12,1867.20,0,336.10
3,35190927849963000110550010005707591005689329,5,7899596504824,125955,0,0,0,NaN,280.31,0,70.08
4,35190927849963000110550010005708361005690069,1,7891142142290,71043,0,0,0,NaN,4.51,0,0.81

In [24]:
# Preenchimento da coluna bc_complementar_total_complementar

bc_df = complementar_final[['NFref1', 'Item', 'ST Retido - Base de Cálculo', 'Produto']]
merged_df = pd.merge(tabela_1, bc_df, left_on=['Chave Acesso NFe', 'Número Item'],
                     right_on=['NFref1', 'Item'], how='left')


merged_df

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,Código NCM,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo,IND_OPER,NFref1,Item,ST Retido - Base de Cálculo,Produto
0,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000",153.78,NaN,NaN,...,30049079.0,1300200.0,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN
1,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000",23.91,NaN,NaN,...,30049099.0,1300201.0,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN
2,2,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411.0,"1,0000",33.20,NaN,NaN,...,30049099.0,NaN,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN
3,3,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411.0,"1,0000",32.22,NaN,NaN,...,30049059.0,1300200.0,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN
4,4,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411.0,"1,0000",43.26,NaN,NaN,...,30049069.0,1300200.0,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334979,7272,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927.0,"1,0000",59.63,NaN,NaN,...,30049067.0,1300300.0,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN
1334980,7273,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927.0,"5,0000",22.54,NaN,NaN,...,30049069.0,1300301.0,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN
1334981,7274,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927.0,"4,0000",9.92,NaN,NaN,...,30049045.0,1300401.0,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN
1334982,7275,35201271605265000595550030000000481561083132,2020-12-29,7,199166,5927.0,"8,0000",11.60,NaN,NaN,...,33049990.0,2001500.0,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN
1334983,7276,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927.0,"1,0000",29.73,NaN,NaN,...,21069030.0,NaN,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN

In [25]:
merged_df['Tipo'].value_counts()

dfe               906795
entrada_sp        417718
saida_nfe           7277
entrada_oprprp      2844
entrada_outras       350
Name: Tipo, dtype: int64

In [26]:
# Preenchimento da coluna bc_complementar_total_item_original

merged_df['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = merged_df['Valor Base Cálculo ICMS ST Retido Operação Anterior'].str.replace('.', '').str.replace(',', '.').astype(float).fillna(0)
merged_df['Valor ICMS Operação'] = merged_df['Valor ICMS Operação'].str.replace('.', '').str.replace(',', '.').astype(float).fillna(0)

merged_df['bc_complementar_total_item_original'] = merged_df['ST Retido - Base de Cálculo'] 
merged_df

C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\868562705.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged_df['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = merged_df['Valor Base Cálculo ICMS ST Retido Operação Anterior'].str.replace('.', '').str.replace(',', '.').astype(float).fillna(0)
C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\868562705.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged_df['Valor ICMS Operação'] = merged_df['Valor ICMS Operação'].str.replace('.', '').str.replace(',', '.').astype(float).fillna(0)

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,Código CEST,Número CNPJ Emitente,Número CNPJ Destinatário,Tipo,IND_OPER,NFref1,Item,ST Retido - Base de Cálculo,Produto,bc_complementar_total_item_original
0,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000",153.78,0.0,NaN,...,1300200.0,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
1,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000",23.91,0.0,NaN,...,1300201.0,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
2,2,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411.0,"1,0000",33.20,0.0,NaN,...,NaN,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
3,3,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411.0,"1,0000",32.22,0.0,NaN,...,1300200.0,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
4,4,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411.0,"1,0000",43.26,0.0,NaN,...,1300200.0,7.160527e+13,NaN,entrada_oprprp,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334979,7272,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927.0,"1,0000",59.63,0.0,NaN,...,1300300.0,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN
1334980,7273,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927.0,"5,0000",22.54,0.0,NaN,...,1300301.0,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN
1334981,7274,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927.0,"4,0000",9.92,0.0,NaN,...,1300401.0,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN
1334982,7275,35201271605265000595550030000000481561083132,2020-12-29,7,199166,5927.0,"8,0000",11.60,0.0,NaN,...,2001500.0,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN
1334983,7276,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927.0,"1,0000",29.73,0.0,NaN,...,NaN,7.160527e+13,7.160527e+13,saida_nfe,1,NaN,NaN,NaN,NaN,NaN

In [27]:
efd['DATA_SAIDA'] = pd.to_datetime(efd['DATA_SAIDA'], format='%d/%m/%Y')
efd

,ID,LOJA,DATA_EFD,DATA_ENTRADA,DATA_SAIDA,CHAVE_ORIGINAL,COD_DO_ITEM,CODPROF,CFOP,DESC_PROD,QUANTI_EFDS,EAN,NCM,FATOR,ICMS,CEST
0,1159617,44,01-2020,09/01/2020,2020-01-15,35200171605265000242550020000052631164184284,1,184812,1409,Brintellix 10mg 60'S C1,1,,30049069,1,,
1,1159618,44,01-2020,27/01/2020,2020-01-27,35200171605265000404550020000039561165263676,1,750547,1409,LEXAPRO 10MG 28'S LUNDBECK C1,1,5702157150809,30049059,1,18,13.001.00
2,1159619,44,01-2020,13/01/2020,2020-01-13,35200171605265000595550020000038721164385051,1,176883,1202,Cartidres 30'S MCG,2,7898623352575,21069030,1,,
3,1159620,44,01-2020,30/01/2020,2020-01-30,35200171605265004159550020000001871165527919,1,895755,1409,GALVUS MET 50/1000MG 56'S NOV,1,7896261016262,30049069,1,18,13.001.00
4,1159621,44,01-2020,15/01/2020,2020-01-21,35200171605265004230550020000001161164563671,1,126532,1409,"EXFORGE HCT 160/12,5/5MG 28'S",1,7896261015586,30049069,1,18,13.001.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144947,1304564,44,12-2020,03/12/2020,2020-12-03,35201271605265000595550020000046051183194751,1,141028,1411,DROSPIREN.+ETINIL.3MG 63'S LEG,1,,30066000,1,12,13.002.00
144948,1304565,44,12-2020,06/12/2020,2020-12-06,35201271605265000595550020000046091183312613,1,43570,1411,SERINGA BD 3ML AG30X7 UNIDADE,400,,90183219,100,12,13.015.00
144949,1304566,44,12-2020,01/12/2020,2020-12-01,35201271605265000595550020000045981182969192,1,150284,1411,LEITE NAN 1 SUPREME 800G,1,,19011010,1,18/18,17.014.00
144950,1304567,44,12-2020,05/12/2020,2020-12-05,35201271605265000595550020000046081183309097,1,213728,1411,Biod Sensibio Ar 40ml,1,,34012010,1,18,20.036.00
144951,1304568,44,12-2020,07/12/2020,2020-12-07,35201271605265000595550020000046101183336211,1,166306,1411,Fr Pampers Confortsec Mega P50,1,,96190000,1,18,20.047.00

In [28]:
efd['COD_DO_ITEM'] = efd['COD_DO_ITEM'].astype(int)
merged_df['Número Item'] = merged_df['Número Item'].astype(int)

In [29]:
efd['CHAVE_ORIGINAL'] = efd['CHAVE_ORIGINAL'].astype(str)
merged_df['Chave Acesso NFe'] = merged_df['Chave Acesso NFe'].astype(str)

In [30]:
efd[['CHAVE_ORIGINAL','DATA_SAIDA', 'COD_DO_ITEM',
                                  'CFOP', 'CODPROF',
                                 'DESC_PROD', 'EAN', 'NCM']].dtypes

CHAVE_ORIGINAL            object
DATA_SAIDA        datetime64[ns]
COD_DO_ITEM                int32
CFOP                      object
CODPROF                   object
DESC_PROD                 object
EAN                       object
NCM                       object
dtype: object

In [31]:
merged_df[['Chave Acesso NFe', 'Número Item']].dtypes

Chave Acesso NFe    object
Número Item          int32
dtype: object

In [32]:
#Preenchimento das colunas referentes a informações da efd
merged = pd.merge(merged_df, efd[['CHAVE_ORIGINAL','DATA_SAIDA', 'COD_DO_ITEM',
                                  'CFOP', 'CODPROF', 'QUANTI_EFDS', 'FATOR',
                                 'DESC_PROD', 'EAN', 'NCM']],
                 left_on=['Chave Acesso NFe', 'Número Item'],
                 right_on=['CHAVE_ORIGINAL', 'COD_DO_ITEM'],
                 how='left')

merged

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,CHAVE_ORIGINAL,DATA_SAIDA,COD_DO_ITEM,CFOP,CODPROF,QUANTI_EFDS,FATOR,DESC_PROD,EAN,NCM
0,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000",153.78,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000",23.91,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411.0,"1,0000",33.20,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411.0,"1,0000",32.22,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411.0,"1,0000",43.26,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334979,7272,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927.0,"1,0000",59.63,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334980,7273,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927.0,"5,0000",22.54,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334981,7274,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927.0,"4,0000",9.92,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334982,7275,35201271605265000595550030000000481561083132,2020-12-29,7,199166,5927.0,"8,0000",11.60,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334983,7276,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927.0,"1,0000",29.73,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
merged['Tipo'].value_counts()

dfe               906795
entrada_sp        417718
saida_nfe           7277
entrada_oprprp      2844
entrada_outras       350
Name: Tipo, dtype: int64

In [34]:
merged['Produto'] = np.where((merged['Tipo'] == 'entrada_oprprp') | (merged['Tipo'] == 'saida_nfe') | (merged['Tipo'] == 'dfe'),
                               merged['Código Produto ou Serviço'], merged['CODPROF'])

merged

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,CHAVE_ORIGINAL,DATA_SAIDA,COD_DO_ITEM,CFOP,CODPROF,QUANTI_EFDS,FATOR,DESC_PROD,EAN,NCM
0,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000",153.78,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000",23.91,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411.0,"1,0000",33.20,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411.0,"1,0000",32.22,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411.0,"1,0000",43.26,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334979,7272,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927.0,"1,0000",59.63,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334980,7273,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927.0,"5,0000",22.54,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334981,7274,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927.0,"4,0000",9.92,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334982,7275,35201271605265000595550030000000481561083132,2020-12-29,7,199166,5927.0,"8,0000",11.60,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334983,7276,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927.0,"1,0000",29.73,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
merged['Produto'].isnull().sum()

274091

In [36]:
merged['Tipo'].value_counts()

dfe               906795
entrada_sp        417718
saida_nfe           7277
entrada_oprprp      2844
entrada_outras       350
Name: Tipo, dtype: int64

In [37]:
merged = merged[merged['Produto'].notnull()]
merged['Tipo'].value_counts()

dfe               906795
entrada_sp        143689
saida_nfe           7277
entrada_oprprp      2844
entrada_outras       288
Name: Tipo, dtype: int64

In [38]:
# Leitura para um dataframe da tabela de produtos
# do banco de dados

query = 'SELECT * FROM tabela_produtos_P2'
produtos = pd.read_sql(query, engine)
produtos

#produtos = pd.read_excel('Loja_44/Tabela_de_Produtos_V1.xlsx')
#produtos

,ID,ANVISA,NCM,CEST,CODIGO_DO_PRODUTO,DESCRICAO,ALIQUOTA,MVA_ANTES,MVA_DEPOIS,DT_VALIDA
0,192108,1055303150036,3004.90.99,13.001.00,18,DEPAKENE 250MG 25'S ABB C1,18,38.48,,
1,192109,1055303150052,3004.90.99,13.001.00,26,DEPAKENE 500MG 50'S ABBOTT C1,18,38.48,,
2,192110,1055303150011,3004.90.99,13.001.00,34,DEPAKENE 250MG XPE 100ML AB C1,18,38.48,,
3,192111,,94032000,,57,MODULO DUPLO MEDIC AÇO 1000X2400X300MM 2CAV,,,,
4,192112,1127800480086,3004.90.79,13.001.00,59,"NATRILIX SR 1,5MG 30'S SERVIE+",18,38.48,,
...,...,...,...,...,...,...,...,...,...,...
13526,205634,,59069100,,PROMATUCO00006233-0000001,PORTA LATAS,,,,
13527,205635,,2106.90.30,,PROMATUCO00006247-0000001,BRINDE COLAGENO SKIN ABACAXI 200G,,,,
13528,205636,,2106.90.30,,PROMATUCO00006248-0000001,BRINDE COLAGENO SKIN NEUTRO 200G,,,,
13529,205637,,2106.90.30,,PROMATUCO00006249-0000001,BRINDE COLAGENO SKIN CRANBERRY 200G,,,,
13530,205638,,85235990,,PRORECELE00000010,ONLINE CTBC CELULAR,,,,

In [39]:
cods = efd['CODPROF'].unique()
notas = efd_mod59['CHV_CFE'].unique()

saidas = merged.loc[(merged['Tipo'] == 'dfe') | (merged['Tipo'] == 'saida_nfe')]

mask = (
    (saidas['Data Emissão'] >= '2019-10-01') &
    (saidas['Produto'].isin(cods)) &
    (saidas['Chave Acesso NFe'].isin(notas))
)

inverted_mask = (
    (saidas['Data Emissão'] >= '2019-10-01') &
    ((~saidas['Produto'].isin(cods)) | (~saidas['Chave Acesso NFe'].isin(notas)))
    
)

saida_in_efd = saidas[mask]
saidas_not_efd = saidas[inverted_mask]
saidas_not_efd = saidas_not_efd[saidas_not_efd['Data Emissão'] >= '2019-10-01']

In [40]:
saidas

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,CHAVE_ORIGINAL,DATA_SAIDA,COD_DO_ITEM,CFOP,CODPROF,QUANTI_EFDS,FATOR,DESC_PROD,EAN,NCM
420912,0,35190671605265000595590003114260766029763165,2019-06-04,1,785683,5405.0,"1,0000",16.55,0.00,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420913,1,35190671605265000595590003114260766029763165,2019-06-04,2,785683,5405.0,"1,0000",16.55,0.00,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420914,2,35190671605265000595590003114260766029763165,2019-06-04,3,785683,5405.0,"1,0000",16.55,0.00,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420915,3,35190571605265000595590003114220630492382414,2019-05-24,1,74104,5405.0,"1,0000",4.94,0.00,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420916,4,35190571605265000595590003114220630492382414,2019-05-24,3,193318,5102.0,"1,0000",35.90,6.46,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334979,7272,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927.0,"1,0000",59.63,0.00,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334980,7273,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927.0,"5,0000",22.54,0.00,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334981,7274,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927.0,"4,0000",9.92,0.00,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334982,7275,35201271605265000595550030000000481561083132,2020-12-29,7,199166,5927.0,"8,0000",11.60,0.00,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334983,7276,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927.0,"1,0000",29.73,0.00,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
saida_in_efd

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,CHAVE_ORIGINAL,DATA_SAIDA,COD_DO_ITEM,CFOP,CODPROF,QUANTI_EFDS,FATOR,DESC_PROD,EAN,NCM
420919,7,35201271605265000595590002229250517705784913,2020-12-13,13,104901,5405.0,"1,0000",3.17,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420920,8,35201271605265000595590002229250517705784913,2020-12-13,14,104901,5405.0,"1,0000",3.17,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420921,9,35201271605265000595590002229250532495120260,2020-12-31,14,104901,5405.0,"1,0000",3.17,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420922,10,35201271605265000595590002229250532495120260,2020-12-31,15,104901,5405.0,"1,0000",3.17,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420923,11,35201271605265000595590002229250532495120260,2020-12-31,16,104901,5405.0,"1,0000",3.17,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1326998,906086,35200371605265000595590003114261234215256576,2020-03-06,1,192237,5405.0,"3,0000",302.13,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1326999,906087,35200671605265000595590003114261381620250234,2020-06-03,1,192237,5405.0,"3,0000",302.13,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1327349,906437,35200671605265000595590003114261380266853270,2020-06-02,1,768986,5405.0,"1,0000",79.80,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1327451,906539,35200671605265000595590003114261404594177167,2020-06-17,1,189753,5405.0,"2,0000",112.76,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1327452,906540,35201171605265000595590003114261648420778873,2020-11-17,1,189753,5405.0,"1,0000",56.38,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
saidas_not_efd['Tipo'].value_counts()

dfe          5744
saida_nfe    2270
Name: Tipo, dtype: int64

In [43]:
saidas_not_efd

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,CHAVE_ORIGINAL,DATA_SAIDA,COD_DO_ITEM,CFOP,CODPROF,QUANTI_EFDS,FATOR,DESC_PROD,EAN,NCM
420984,72,35201271605265000595590002229250519754853504,2020-12-15,2,930917,5405.0,"1,0000",3.08,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420985,73,35201271605265000595590002229250519754853504,2020-12-15,3,930917,5405.0,"1,0000",3.08,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421037,125,35201271605265000595590002229250516831269919,2020-12-12,8,43059,5405.0,"7,0000",2.80,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421038,126,35201271605265000595590002229250517611097831,2020-12-13,5,43059,5405.0,"1,0000",0.40,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421039,127,35201271605265000595590002229250517611097831,2020-12-13,6,43059,5405.0,"1,0000",0.40,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334979,7272,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927.0,"1,0000",59.63,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334980,7273,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927.0,"5,0000",22.54,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334981,7274,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927.0,"4,0000",9.92,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334982,7275,35201271605265000595550030000000481561083132,2020-12-29,7,199166,5927.0,"8,0000",11.60,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334983,7276,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927.0,"1,0000",29.73,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
efds_codigos = efd['CODPROF'].unique()

merged = merged[merged['Produto'].isin(efds_codigos)]
merged

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,CHAVE_ORIGINAL,DATA_SAIDA,COD_DO_ITEM,CFOP,CODPROF,QUANTI_EFDS,FATOR,DESC_PROD,EAN,NCM
0,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000",153.78,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000",23.91,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411.0,"1,0000",33.20,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411.0,"1,0000",32.22,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411.0,"1,0000",43.26,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334978,7271,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927.0,"2,0000",7.52,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334979,7272,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927.0,"1,0000",59.63,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334980,7273,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927.0,"5,0000",22.54,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334981,7274,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927.0,"4,0000",9.92,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334983,7276,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927.0,"1,0000",29.73,0.0,NaN,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
# Preenchimento da coluna Aliquota

merged['Produto'] = merged['Produto'].astype(str)

df_merged = pd.merge(merged, produtos[['CODIGO_DO_PRODUTO', 'ALIQUOTA']],
                    left_on=['Produto'], right_on=['CODIGO_DO_PRODUTO'],
                    how='left')
df_merged

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,COD_DO_ITEM,CFOP,CODPROF,QUANTI_EFDS,FATOR,DESC_PROD,EAN,NCM,CODIGO_DO_PRODUTO,ALIQUOTA
0,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000",153.78,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126003,12
1,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000",23.91,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,141440,12
2,2,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411.0,"1,0000",33.20,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,816108,18
3,3,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411.0,"1,0000",32.22,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140640,12
4,4,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411.0,"1,0000",43.26,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110890,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955883,7271,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927.0,"2,0000",7.52,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,831057,12
955884,7272,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927.0,"1,0000",59.63,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5447,18
955885,7273,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927.0,"5,0000",22.54,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,191759,18
955886,7274,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927.0,"4,0000",9.92,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,814111,18
955887,7276,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927.0,"1,0000",29.73,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170795,

In [46]:
df_merged['Tipo'].value_counts()

dfe               804552
entrada_sp        143689
saida_nfe           4806
entrada_oprprp      2553
entrada_outras       288
Name: Tipo, dtype: int64

In [47]:
fator_conversao

,ID,CODIGO_PRODUTO,DESCRICAO,UNIMED,FATOR,NCM,PRODUTO_ST
0,1,0.2503-CP,ESPATULA PLAST COMPEL LISA N.10 LARANJA,UN,1,3926.90.90,Não
1,2,0000000000030-CP,ANEL VEDACAO P/VASO C/GUIA,UN,1,4006.90.00,Não
2,3,0000000000080-CP,BLOCO DE ESPUMA 6X13X22CM,UN,1,3921.13.90,Não
3,4,0000000000101-CP,"MT CABO PP 2X2,5MM",UN,1,3926.90.90,Não
4,5,0000000000102-CP,ROLO FITA ISOLANTE WURTH. 20MT.,UN,1,3926.90.90,Não
...,...,...,...,...,...,...,...
36836,36837,257014,RESFEDRYL 5S,,40,,
36837,36838,262501,PACOQUINHA OK CHIPS UN,,50,,
36838,36839,268219,CORISTINA D PRO 4S,,50,,
36839,36840,270611,MILMUNE MEL/LIM ECOFI 5G,,50,,
36840,36841,275651,SAL DE ANDREWS S/SABOR 5G GSK,,50,,

In [48]:
cobol = pd.read_excel('Loja_44/COBOL_CADASTRO_PRODUTOS.xlsx')
cobol

,PRODUTO DESCRIÇÃO,CODIGO,CLASSIFICAÇÃO,PREÇO MAXIMO.,CURVA,UN,NCM,ST,ICMS,Bas,...,PMC,IVA-E,IVA-I,CATEGORIA,LISTA,PIS,COFIN,IPI,Codigo Ean,CEST
0,-ALLURE F 50ML,819847,PCP,175.01,DI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,3.145891e+12,NaN
1,-ANIMALE F 50ML,787234,PCP,107.19,DI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,3.608941e+12,NaN
2,-CAROLINA HERRERA F 100,814707,PCP,200.08,DI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,8.411061e+12,NaN
3,-ETERNITY M 50ML,786756,PCP,171.50,CI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,8.830011e+10,NaN
4,NaN,786970,PCP,85.75,CI,UN,33072010.0,ST,18,NaN,...,NaN,39.20,39.20,REFERENCIA,NEGATIVO,NaN,NaN,NaN,3.349668e+12,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38960,ZYSERTIN 50MG 30'S ZYDUS C1,63511,ETC,60.68,DI,UN,30049039.0,ST,18,NaN,...,NaN,34.64,34.64,SIMILAR,POSITIVO,NaN,NaN,NaN,7.898910e+12,NaN
38961,ZYVALPREX 250MG 20'S ZYDUS C1,63495,ETC,33.93,CI,UN,30049079.0,ST,18,NaN,...,23.25,34.64,34.64,SIMILAR,POSITIVO,NaN,NaN,NaN,7.898928e+12,NaN
38962,ZYVALPREX 500MG 20'S ZYDUS C1,63503,ETC,67.86,DI,UN,30049099.0,ST,18,NaN,...,NaN,34.64,34.64,SIMILAR,POSITIVO,NaN,NaN,NaN,7.898928e+12,NaN
38963,ZYXEM 5MG 10'S,825356,ETC,64.44,CC,UN,30049069.0,ST,18,NaN,...,NaN,34.06,34.06,REFERENCIA,NEGATIVO,NaN,NaN,NaN,7.896672e+12,NaN
38964,ZYXEM GTS 20ML,911511,ETC,76.45,BC,UN,30049069.0,ST,18,NaN,...,16.16,35.72,35.72,SIMILAR,NEGATIVO,NaN,NaN,NaN,5.413787e+12,NaN

In [49]:
cobol['CODIGO'] = cobol['CODIGO'].astype(str)
merged = df_merged.merge(cobol[['CODIGO', 'NCM']],
                        left_on='Produto', 
                        right_on='CODIGO',
                        how='left')

merged

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,CODPROF,QUANTI_EFDS,FATOR,DESC_PROD,EAN,NCM_x,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y
0,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000",153.78,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,126003,12,126003,30049079.0
1,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000",23.91,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,141440,12,141440,30049069.0
2,2,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411.0,"1,0000",33.20,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,816108,18,816108,30049099.0
3,3,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411.0,"1,0000",32.22,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,140640,12,140640,30049059.0
4,4,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411.0,"1,0000",43.26,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,110890,12,110890,30049069.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955883,7271,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927.0,"2,0000",7.52,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,831057,12,831057,30049039.0
955884,7272,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927.0,"1,0000",59.63,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5447,18,5447,30049067.0
955885,7273,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927.0,"5,0000",22.54,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,191759,18,191759,30049069.0
955886,7274,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927.0,"4,0000",9.92,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,814111,18,814111,30049045.0
955887,7276,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927.0,"1,0000",29.73,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,170795,,170795,21069030.0

In [50]:
df_merged = merged.drop_duplicates()
df_merged

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,CODPROF,QUANTI_EFDS,FATOR,DESC_PROD,EAN,NCM_x,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y
0,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000",153.78,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,126003,12,126003,30049079.0
1,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000",23.91,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,141440,12,141440,30049069.0
2,2,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411.0,"1,0000",33.20,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,816108,18,816108,30049099.0
3,3,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411.0,"1,0000",32.22,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,140640,12,140640,30049059.0
4,4,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411.0,"1,0000",43.26,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,110890,12,110890,30049069.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955883,7271,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927.0,"2,0000",7.52,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,831057,12,831057,30049039.0
955884,7272,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927.0,"1,0000",59.63,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5447,18,5447,30049067.0
955885,7273,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927.0,"5,0000",22.54,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,191759,18,191759,30049069.0
955886,7274,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927.0,"4,0000",9.92,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,814111,18,814111,30049045.0
955887,7276,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927.0,"1,0000",29.73,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,170795,,170795,21069030.0

In [51]:
fator_conversao['CODIGO_PRODUTO'] = fator_conversao['CODIGO_PRODUTO'].astype(str)
df_merged['Produto'] = df_merged['Produto'].astype(str)
df = pd.merge(df_merged, fator_conversao[['CODIGO_PRODUTO', 'FATOR']],
             left_on=['Produto'], right_on=['CODIGO_PRODUTO'],
             how='left')

df

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,FATOR_x,DESC_PROD,EAN,NCM_x,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y,CODIGO_PRODUTO,FATOR_y
0,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000",153.78,0.0,NaN,...,NaN,NaN,NaN,NaN,126003,12,126003,30049079.0,126003,1
1,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000",153.78,0.0,NaN,...,NaN,NaN,NaN,NaN,126003,12,126003,30049079.0,126003,1
2,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000",23.91,0.0,NaN,...,NaN,NaN,NaN,NaN,141440,12,141440,30049069.0,141440,1
3,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000",23.91,0.0,NaN,...,NaN,NaN,NaN,NaN,141440,12,141440,30049069.0,141440,1
4,2,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411.0,"1,0000",33.20,0.0,NaN,...,NaN,NaN,NaN,NaN,816108,18,816108,30049099.0,816108,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910044,7273,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927.0,"5,0000",22.54,0.0,NaN,...,NaN,NaN,NaN,NaN,191759,18,191759,30049069.0,191759,25
1910045,7274,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927.0,"4,0000",9.92,0.0,NaN,...,NaN,NaN,NaN,NaN,814111,18,814111,30049045.0,814111,12
1910046,7274,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927.0,"4,0000",9.92,0.0,NaN,...,NaN,NaN,NaN,NaN,814111,18,814111,30049045.0,814111,12
1910047,7276,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927.0,"1,0000",29.73,0.0,NaN,...,NaN,NaN,NaN,NaN,170795,,170795,21069030.0,170795,1
1910048,7276,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927.0,"1,0000",29.73,0.0,NaN,...,NaN,NaN,NaN,NaN,170795,,170795,21069030.0,170795,1

In [52]:
df['QUANTI_EFDS'].isnull().sum()

1621863

In [53]:
df['FATOR_y'] = df['FATOR_y'].fillna(1)
df

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,FATOR_x,DESC_PROD,EAN,NCM_x,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y,CODIGO_PRODUTO,FATOR_y
0,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000",153.78,0.0,NaN,...,NaN,NaN,NaN,NaN,126003,12,126003,30049079.0,126003,1
1,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000",153.78,0.0,NaN,...,NaN,NaN,NaN,NaN,126003,12,126003,30049079.0,126003,1
2,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000",23.91,0.0,NaN,...,NaN,NaN,NaN,NaN,141440,12,141440,30049069.0,141440,1
3,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000",23.91,0.0,NaN,...,NaN,NaN,NaN,NaN,141440,12,141440,30049069.0,141440,1
4,2,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411.0,"1,0000",33.20,0.0,NaN,...,NaN,NaN,NaN,NaN,816108,18,816108,30049099.0,816108,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910044,7273,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927.0,"5,0000",22.54,0.0,NaN,...,NaN,NaN,NaN,NaN,191759,18,191759,30049069.0,191759,25
1910045,7274,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927.0,"4,0000",9.92,0.0,NaN,...,NaN,NaN,NaN,NaN,814111,18,814111,30049045.0,814111,12
1910046,7274,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927.0,"4,0000",9.92,0.0,NaN,...,NaN,NaN,NaN,NaN,814111,18,814111,30049045.0,814111,12
1910047,7276,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927.0,"1,0000",29.73,0.0,NaN,...,NaN,NaN,NaN,NaN,170795,,170795,21069030.0,170795,1
1910048,7276,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927.0,"1,0000",29.73,0.0,NaN,...,NaN,NaN,NaN,NaN,170795,,170795,21069030.0,170795,1

In [54]:
df = df.drop_duplicates()
df

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,FATOR_x,DESC_PROD,EAN,NCM_x,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y,CODIGO_PRODUTO,FATOR_y
0,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000",153.78,0.0,NaN,...,NaN,NaN,NaN,NaN,126003,12,126003,30049079.0,126003,1
2,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000",23.91,0.0,NaN,...,NaN,NaN,NaN,NaN,141440,12,141440,30049069.0,141440,1
4,2,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411.0,"1,0000",33.20,0.0,NaN,...,NaN,NaN,NaN,NaN,816108,18,816108,30049099.0,816108,1
6,3,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411.0,"1,0000",32.22,0.0,NaN,...,NaN,NaN,NaN,NaN,140640,12,140640,30049059.0,140640,1
8,4,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411.0,"1,0000",43.26,0.0,NaN,...,NaN,NaN,NaN,NaN,110890,12,110890,30049069.0,110890,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910039,7271,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927.0,"2,0000",7.52,0.0,NaN,...,NaN,NaN,NaN,NaN,831057,12,831057,30049039.0,831057,1
1910041,7272,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927.0,"1,0000",59.63,0.0,NaN,...,NaN,NaN,NaN,NaN,5447,18,5447,30049067.0,5447,1
1910043,7273,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927.0,"5,0000",22.54,0.0,NaN,...,NaN,NaN,NaN,NaN,191759,18,191759,30049069.0,191759,25
1910045,7274,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927.0,"4,0000",9.92,0.0,NaN,...,NaN,NaN,NaN,NaN,814111,18,814111,30049045.0,814111,12
1910047,7276,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927.0,"1,0000",29.73,0.0,NaN,...,NaN,NaN,NaN,NaN,170795,,170795,21069030.0,170795,1

In [55]:
df['Valor ICMS Substituição Tributária'].unique()

array([nan, '3,5', '1,66', '1,13', '3,37', '1,26', '1,06', '2,69', '0',
       '0,32', '8,16', '2,08', '37,43', '5,35', '1,4', '0,14', '0,16',
       '1,35', '10,7', '0,68', '0,23', '0,88', '1,28', '0,92', '1,56',
       '0,18', '0,2', '1,36', '1,24', '0,93', '0,15', '0,29', '0,47',
       '0,71', '0,61', '0,57', '1,71', '1,34', '0,36', '0,39', '0,4',
       '0,64', '0,5', '0,53', '0,82', '0,67', '0,77', '1,67', '1,72',
       '1,68', '8,01', '2,93', '3,73', '2,36', '4,88', '0,45', '0,43',
       '0,59', '0,75', '3,35', '5,52', '18,66', '1,7', '4,08', '0,42',
       '5,24', '0,86', '0,7', '0,26', '0,96', '2,6', '9,73', '1,98',
       '1,84', '1,31', '3,26', '0,37', '1,41', '1,77', '0,72', '0,34',
       '1,19', '1,87', '2,83', '21,3', '1,44', '1,02', '2,68', '1,08',
       '0,22', '0,94', '3,15', '1,55', '10,64', '1,45', '3,47', '3,95',
       '2,02', '1,65', '7,12', '6,71', '2,09', '0,3', '0,31', '1,37',
       '3,46', '2,3', '0,69', '2,06', '1,25', '3,68', '1,85', '0,25',
       '5,39', '0,76', '0,8', '2,26', '13,91', '2,35', '2,42', '2,57',
       '1,5', '1,33', '2,59', '2,34', '4,26', '1,74', '1,07', '2,38',
       '1,62', '0,85', '2,25', '1,2', '1,16', '0,66', '1,1', '1,48',
       '11,39', '7,13', '2,94', '3,54', '0,41', '5,05', '4,61', '0,24',
       '2,32', '1,63', '1,03', '4,65', '0,89', '0,95', '1,42', '1,49',
       '1', '1,59', '1,95', '1,79', '1,17', '0,58', '1,14', '39,42',
       '8,31', '3,41', '4,04', '0,79', '0,13', '0,81', '0,65', '6,47',
       '2,47', '1,38', '6,18', '1,01', '1,05', '0,44', '8,98', '4,71',
       '1,46', '1,04', '1,09', '0,27', '0,35', '0,52', '1,43', '0,46',
       '3,25', '2,53', '0,19', '0,98', '8,51', '1,64', '8,87', '3,28',
       '0,62', '0,55', '16,03', '1,69', '2,81', '1,99', '9,28', '4,59',
       '0,51', '0,63', '6,75', '0,97', '0,6', '0,28', '0,33', '12,38',
       '0,07', '12,97', '0,38', '15,65', '0,78', '1,12', '2,15', '3,16',
       '5,76', '0,56', '1,32', '1,83', '5,79', '2,01', '0,21', '0,74',
       '1,22', '3,65', '1,54', '8,42', '18,23', '3,78', '0,84', '0,54',
       '5,64', '7,33', '3,12', '5,27', '3,3', '3,18', '0,73', '5,49',
       '0,49', '2,96', '0,12', '0,06', '0,09', '4,68', '0,04', '0,91',
       '4,22', '4,41', '2,13', '10,69', '5,04', '4,76', '2,78', '1,8',
       '3,23', '1,86', '2,86', '6,2', '1,21', '2,33', '0,87', '6,13',
       '2,72', '4,23', '4,7', '3,52', '2,44', '3,11', '3,96', '3,19',
       '15,15', '1,91', '15,84', '4,56', '8,36', '8,41', '2,17', '4,06',
       '6,44', '2,75', '5,7', '2,99', '3,36', '1,18', '7,4', '13,32',
       '5,44', '2,24', '2,91', '1,78', '0,9', '1,3', '2,64', '82,08',
       '23,41', '4,01', '2,71', '1,75', '4,09', '4,53', '3,91', '3,09',
       '2,41', '2,48', '0,48', '2,05', '1,39', '9,27', '7,41', '5,61',
       '2,21', '5,14', '5,92', '3,44', '2,14', '6,89', '14,8', '0,17',
       '0,11', '1,15', '0,83', '8,32', '1,23', '1,9', '5,3', '3,64',
       '16,64', '8,06', '3,75', '3,02', '3,22', '2,12', '5,8', '5,87',
       '6,49', '2,19', '2', '12,06', '3,67', '4,79', '2,63', '2,16',
       '0,99', '3,9', '10,23', '2,5', '3,1', '7,9', '4,99', '5,56', '2,4',
       '8,73', '8,12', '1,89', '10,31', '5,82', '3,7', '30,72', '122,99',
       '22,28', '0,1', '12,77', '6,6', '3,92', '13,73', '4,52', '2,2',
       '2,18', '5,07', '2,67', '14,27', '13', '13,41', '8,08', '9,78',
       '4,39', '2,45', '3,63', '8,43', '2,79', '1,73', '3,27', '6,91',
       '2,11', '6,67', '7,77', '2,54', '1,51', '1,47', '2,49', '4,77',
       '3,42', '2,07', '1,61', '2,62', '1,29', '18,55', '2,66', '7,02',
       '3,13', '2,51', '33,45', '14,6', '2,39', '1,92', '3,45', '2,82',
       '11,35', '3,48', '22,71', '4,31', '2,7', '3,6', '4,74', '6,73',
       '6,3', '4,58', '3,24', '3,84', '5,88', '10,3', '21,78', '43,53',
       '2,88', '33,62', '4,18', '4,44', '2,52', '30,93', '4,37', '5,55',
       '10,88', '6,81', '3,8', '18,76', '20,43', '2,61', '6,72', '2,56',
       '4,28', '13,62', '20,16', '2,76', '11,12', '8,49', '4,02', '10,95',
       '6,66', '40,86', '10,08', '8,94', '4,54', '1,82', '5,46', '8,88',
       '1,88', '8,97', '10,21', '1,57', '2,22', '3,21', '9,67', '12,33',
       '9,82', '8,23', '7,54', '39,75', '65,6', '12,01', '1,81', '6,09',
       '3,55', '9,07', '3,89', '13,54', '9,19', '37,08', '3', '1,97',
       '3,51', '2,31', '1,27', '7,73', '19,89', '2,04', '7,6', '12,88',
       '4,96', '2,1', '1,52', '11,25', '6,21', '11,59', '34,77', '15,41',
       '2,23', '3,76', '3,94', '1,96', '2,73', '4,11', '3,93', '2,43',
       '1,11', '12,14', '10,29', '10,56', '5,28', '4', '2,03', '2,37',
       '27,56', '7,04', '23,18', '2,87', '3,66', '7,31', '3,14', '5,23',
       '3,87', '3,86', '3,29', '6,62', '5,03', '4,1', '14,83', '5,45',
       '8,35', '6,38', '6,93', '20,1', '5,6', '2,27', '7,37', '7,14',
       '3,69', '4,48', '5,4', '15,6', '11,36', '5,84', '1,94', '7,46',
       '2,77', '9,4', '4,86', '2,55', '7,85', '1,53', '9,31', '5,51',
       '15,54', '3,03', '1,6', '11,54', '4,72', '6,85', '4,3', '6,17',
       '2,8', '3,88', '87,04', '5,78', '6,8', '5,75', '46,63', '49,23',
       '2,28', '4,8', '3,62', '18,72', '18,95', '3,07', '1,76', '14,4',
       '21,18', '3,56', '3,72', '10,39', '5,33', '13,82', '3,05', '14,37',
       '10,54', '3,32', '8,4', '1,93', '9,6', '8,38', '3,38', '7,07',
       '6,26', '14,93', '21,68', '6,1', '13,96', '3,77', '8,6', '11,31',
       '4,14', '3,33', '3,43', '5,99', '11,96', '18,05', '12,47', '3,08',
       '13,2', '7,8', '4,07', '7,25', '2,9', '2,85', '3,06', '5,74',
       '5,86', '7,16', '5,69', '3,17', '2,84', '11,72', '2,92', '7,32',
       '1,58', '4,13', '3,39', '30,4', '8,18', '5,5', '5,34', '4,92',
       '3,61', '12,89', '5,71', '13,35', '29,02', '9,08', '3,31', '3,2',
       '7,47', '4,21', '6,16', '8,46', '7,86', '9,53', '59,64', '5,95',
       '4,35', '5,97', '27,45', '4,64', '4,25', '15,09', '7,89', '9,26',
       '4,89', '12,28', '9,47', '9,33', '17,26', '5,47', '2,89', '13,43',
       '9,57', '2,65', '7,08', '12,27', '7,22', '23,22', '5,73', '11,48',
       '11,46', '4,95', '9,72', '14,31', '6,78', '23,43', '5,17', '13,06',
       '5,08', '4,66', '7,82', '5,15', '15,64', '5,67', '10,13', '9,7',
       '6,74', '29,81', '21,26', '6,77', '14,38', '6,76', '201,42',
       '4,38', '3,58', '5,02', '11,04', '8,83', '12,22', '6,06', '6,43',
       '6,34', '7,93', '5,66', '11,76', '2,95', '6,51', '7,48', '5,91',
       '12,73', '6,86', '20,39', '10,63', '10,76', '14,81', '10,62',
       '24,43', '2,58', '4,15', '74,29', '36,47', '25,55', '15,66',
       '4,83', '8,59', '16,63', '21,47', '13,27', '3,34', '8,79', '14,42',
       '6,12', '7,28', '49,12', '62,66', '25,46', '4,4', '38,19', '16,96',
       '2,97', '2,46', '7', '9,9', '15,33', '10,37', '5,32', '4,03',
       '28,72', '19,4', '14,98', '11,09', '15,96', '9,18', '6,95'],
      dtype=object)

In [56]:
# Preenchimento da coluna ICMS_TOT
df['Valor Base Cálculo ICMS Substituição Tributária'] = df['Valor Base Cálculo ICMS Substituição Tributária'].str.replace('.','').str.replace(',','.').astype(float).fillna(0)
df['Valor ICMS Substituição Tributária'] = df['Valor ICMS Substituição Tributária'].str.replace('.','').str.replace(',','.').astype(float).fillna(0)
df['Valor ICMS Operação'] = df['Valor ICMS Operação'].astype(float).fillna(0)
df['ALIQUOTA'] = df['ALIQUOTA'].astype(str).replace('', np.nan).fillna(0).astype(float)



df['ICMS_TOT'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
    np.maximum(df['Valor ICMS Operação'].fillna(0) + df['Valor ICMS Substituição Tributária'].fillna(0), (df['Valor Base Cálculo ICMS ST Retido Operação Anterior'] + df['bc_complementar_total_item_original'].fillna(0)) * df['ALIQUOTA']/100),
                         np.nan)
df

C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\2619340658.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Valor Base Cálculo ICMS Substituição Tributária'] = df['Valor Base Cálculo ICMS Substituição Tributária'].str.replace('.','').str.replace(',','.').astype(float).fillna(0)
C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\2619340658.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Valor Base Cálculo ICMS Substituição Tributária'] = df['Valor Base Cálculo ICMS Substituição Tributária'].str.replace('.','').str.replace(',','.').astype(float).fillna(0)
C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\2619340658.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Valor ICMS Substituição Tributária'] = df['Valor ICMS Substituição Tributária'].str.replace('.','').str.replace(',','.').astype(float).fillna(0)
C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\2619340658.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Valor ICMS Substituição Tributária'] = df['Valor ICMS Substituição Tributária'].str.replace('.','').str.replace(',','.').astype(float).fillna(0)
C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\2619340658.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Valor ICMS Operação'] = df['Valor ICMS Operação'].astype(float).fillna(0)
C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\2619340658.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ALIQUOTA'] = df['ALIQUOTA'].astype(str).replace('', np.nan).fillna(0).astype(float)
C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\2619340658.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ICMS_TOT'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,DESC_PROD,EAN,NCM_x,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y,CODIGO_PRODUTO,FATOR_y,ICMS_TOT
0,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000",153.78,0.0,0.0,...,NaN,NaN,NaN,126003,12.0,126003,30049079.0,126003,1,NaN
2,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000",23.91,0.0,0.0,...,NaN,NaN,NaN,141440,12.0,141440,30049069.0,141440,1,NaN
4,2,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411.0,"1,0000",33.20,0.0,0.0,...,NaN,NaN,NaN,816108,18.0,816108,30049099.0,816108,1,NaN
6,3,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411.0,"1,0000",32.22,0.0,0.0,...,NaN,NaN,NaN,140640,12.0,140640,30049059.0,140640,1,NaN
8,4,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411.0,"1,0000",43.26,0.0,0.0,...,NaN,NaN,NaN,110890,12.0,110890,30049069.0,110890,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910039,7271,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927.0,"2,0000",7.52,0.0,0.0,...,NaN,NaN,NaN,831057,12.0,831057,30049039.0,831057,1,NaN
1910041,7272,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927.0,"1,0000",59.63,0.0,0.0,...,NaN,NaN,NaN,5447,18.0,5447,30049067.0,5447,1,NaN
1910043,7273,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927.0,"5,0000",22.54,0.0,0.0,...,NaN,NaN,NaN,191759,18.0,191759,30049069.0,191759,25,NaN
1910045,7274,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927.0,"4,0000",9.92,0.0,0.0,...,NaN,NaN,NaN,814111,18.0,814111,30049045.0,814111,12,NaN
1910047,7276,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927.0,"1,0000",29.73,0.0,0.0,...,NaN,NaN,NaN,170795,0.0,170795,21069030.0,170795,1,NaN

In [57]:
df['Produto'].isnull().sum()

0

# Geração da Tabela 2

In [91]:
# GEração da coluna FONTE
tabela_2 = pd.DataFrame()

tabela_2['FONTE'] = df['Tipo']
tabela_2

                  FONTE
0        entrada_oprprp
2        entrada_oprprp
4        entrada_oprprp
6        entrada_oprprp
8        entrada_oprprp
...                 ...
1910039       saida_nfe
1910041       saida_nfe
1910043       saida_nfe
1910045       saida_nfe
1910047       saida_nfe

[955888 rows x 1 columns]

In [92]:
# Geração da coluna CHV_DOC


tabela_2['CHV_DOC'] = df['Chave Acesso NFe']
tabela_2

                  FONTE                                       CHV_DOC
0        entrada_oprprp  35161071605265000595550020000010921120660474
2        entrada_oprprp  35161071605265000595550020000010931120713770
4        entrada_oprprp  35161071605265000595550020000010951120794146
6        entrada_oprprp  35161071605265000595550020000010971120843303
8        entrada_oprprp  35161071605265000595550020000010981120929248
...                 ...                                           ...
1910039       saida_nfe  35201271605265000595550030000000481561083132
1910041       saida_nfe  35201271605265000595550030000000481561083132
1910043       saida_nfe  35201271605265000595550030000000481561083132
1910045       saida_nfe  35201271605265000595550030000000481561083132
1910047       saida_nfe  35201271605265000595550030000000481561083132

[955888 rows x 2 columns]

In [93]:
# Geração da coluna DATA

tabela_2['DATA'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                            df['DATA_SAIDA'], df['Data Emissão'])
tabela_2

,FONTE,CHV_DOC,DATA
0,entrada_oprprp,35161071605265000595550020000010921120660474,2016-10-04
2,entrada_oprprp,35161071605265000595550020000010931120713770,2016-10-06
4,entrada_oprprp,35161071605265000595550020000010951120794146,2016-10-09
6,entrada_oprprp,35161071605265000595550020000010971120843303,2016-10-11
8,entrada_oprprp,35161071605265000595550020000010981120929248,2016-10-14
...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29

In [94]:
# Geração da coluna NUM_ITEM

tabela_2['NUM_ITEM'] = df['Número Item']
tabela_2

,FONTE,CHV_DOC,DATA,NUM_ITEM
0,entrada_oprprp,35161071605265000595550020000010921120660474,2016-10-04,1
2,entrada_oprprp,35161071605265000595550020000010931120713770,2016-10-06,1
4,entrada_oprprp,35161071605265000595550020000010951120794146,2016-10-09,1
6,entrada_oprprp,35161071605265000595550020000010971120843303,2016-10-11,1
8,entrada_oprprp,35161071605265000595550020000010981120929248,2016-10-14,1
...,...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,9
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,1
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,6
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,8
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,5

In [95]:
# Preenchimento da coluna COD_ITEM

tabela_2['COD_ITEM'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['CODPROF'], df['Código Produto ou Serviço'])

tabela_2

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM
0,entrada_oprprp,35161071605265000595550020000010921120660474,2016-10-04,1,126003
2,entrada_oprprp,35161071605265000595550020000010931120713770,2016-10-06,1,141440
4,entrada_oprprp,35161071605265000595550020000010951120794146,2016-10-09,1,816108
6,entrada_oprprp,35161071605265000595550020000010971120843303,2016-10-11,1,140640
8,entrada_oprprp,35161071605265000595550020000010981120929248,2016-10-14,1,110890
...,...,...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,9,831057
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,1,5447
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,6,191759
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,8,814111
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,5,170795

In [96]:
teste = tabela_2.copy()
teste['Valid'] = tabela_2['COD_ITEM'] == df['Produto']
teste['Valid'].value_counts()

True    955888
Name: Valid, dtype: int64

In [97]:
# Preenchimento da coluna CFOP

tabela_2['CFOP'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['CFOP'], df['Código CFOP (04 Posições)'])

tabela_2['CFOP'] = tabela_2['CFOP'].astype(str).str.replace(r'\.0$', '', regex=True)
tabela_2

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP
0,entrada_oprprp,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411
2,entrada_oprprp,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411
4,entrada_oprprp,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411
6,entrada_oprprp,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411
8,entrada_oprprp,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411
...,...,...,...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927

In [98]:
# Preenchimento da coluna Entr_PCAT

cfops = ['5405', '5409', '1411', '5403', '5411', '5401', '1403', '1409']

# Assuming 'Código CFOP (04 Posições)' is the column you want to check against cfops
tabela_2['Entr_PCAT'] = tabela_2['CFOP'].isin(cfops).astype(int)
tabela_2

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT
0,entrada_oprprp,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411,1
2,entrada_oprprp,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411,1
4,entrada_oprprp,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411,1
6,entrada_oprprp,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411,1
8,entrada_oprprp,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411,1
...,...,...,...,...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927,0
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927,0
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927,0
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927,0
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927,0

In [99]:
# Preenchimento das colunas QTD_NOTA, QTD_CAT e FATOR_CONV

tabela_2['QTD_NOTA'] = df['Quantidade Comercial'].str.replace(',', '').astype(float) / 10000
tabela_2['FATOR_CONV'] = df['FATOR_y']
tabela_2['QTD_CAT'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                                df['QUANTI_EFDS'], df['Quantidade Comercial'].str.replace(',', '').astype(float) / 10000)

tabela_2['QTD_NOTA'] = tabela_2['QTD_NOTA'].astype(str).str.replace(r'\.0$', '', regex=True)
tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].astype(str).str.replace(r'\.0$', '', regex=True)

tabela_2

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,FATOR_CONV,QTD_CAT
0,entrada_oprprp,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411,1,1,1,1
2,entrada_oprprp,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411,1,1,1,1
4,entrada_oprprp,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411,1,1,1,1
6,entrada_oprprp,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411,1,1,1,1
8,entrada_oprprp,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927,0,2,1,2
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927,0,1,1,1
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927,0,5,25,5
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927,0,4,12,4
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927,0,1,1,1

In [100]:
# Preenchimento da coluna ICMS_TOT

tabela_2['ICMS_TOT'] = df['ICMS_TOT']
tabela_2

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,FATOR_CONV,QTD_CAT,ICMS_TOT
0,entrada_oprprp,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411,1,1,1,1,NaN
2,entrada_oprprp,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411,1,1,1,1,NaN
4,entrada_oprprp,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411,1,1,1,1,NaN
6,entrada_oprprp,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411,1,1,1,1,NaN
8,entrada_oprprp,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411,1,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927,0,2,1,2,NaN
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927,0,1,1,1,NaN
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927,0,5,25,5,NaN
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927,0,4,12,4,NaN
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927,0,1,1,1,NaN

In [101]:
# Preenchimento da coluna COD_LEGAL
conditions = [
    df['IND_OPER'] == 0,
    (df['IND_OPER'] == 1) & (df['CFOP'] == 5927)
]

choices = [np.nan, 2]

# If none of the conditions are met, the default choice is 1
default_choice = 1

# Use numpy.select to set values for 'COD_LEGAL'
df['COD_LEGAL'] = np.select(conditions, choices, default=default_choice)
df

C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\1180548742.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['COD_LEGAL'] = np.select(conditions, choices, default=default_choice)

,Unnamed: 0,Chave Acesso NFe,Data Emissão,Número Item,Código Produto ou Serviço,Código CFOP (04 Posições),Quantidade Comercial,Valor Produto ou Serviço,Valor ICMS Operação,Valor ICMS Substituição Tributária,...,NCM_x,CODIGO_DO_PRODUTO,ALIQUOTA,CODIGO,NCM_y,CODIGO_PRODUTO,FATOR_y,ICMS_TOT,COD_LEGAL,N C M
0,0,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411.0,"1,0000",153.78,0.0,0.0,...,NaN,126003,12.0,126003,30049079.0,126003,1,NaN,NaN,30049079.0
2,1,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411.0,"1,0000",23.91,0.0,0.0,...,NaN,141440,12.0,141440,30049069.0,141440,1,NaN,NaN,30049099.0
4,2,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411.0,"1,0000",33.20,0.0,0.0,...,NaN,816108,18.0,816108,30049099.0,816108,1,NaN,NaN,30049099.0
6,3,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411.0,"1,0000",32.22,0.0,0.0,...,NaN,140640,12.0,140640,30049059.0,140640,1,NaN,NaN,30049059.0
8,4,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411.0,"1,0000",43.26,0.0,0.0,...,NaN,110890,12.0,110890,30049069.0,110890,1,NaN,NaN,30049069.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910039,7271,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927.0,"2,0000",7.52,0.0,0.0,...,NaN,831057,12.0,831057,30049039.0,831057,1,NaN,1.0,30049039.0
1910041,7272,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927.0,"1,0000",59.63,0.0,0.0,...,NaN,5447,18.0,5447,30049067.0,5447,1,NaN,1.0,30049067.0
1910043,7273,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927.0,"5,0000",22.54,0.0,0.0,...,NaN,191759,18.0,191759,30049069.0,191759,25,NaN,1.0,30049069.0
1910045,7274,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927.0,"4,0000",9.92,0.0,0.0,...,NaN,814111,18.0,814111,30049045.0,814111,12,NaN,1.0,30049045.0
1910047,7276,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927.0,"1,0000",29.73,0.0,0.0,...,NaN,170795,0.0,170795,21069030.0,170795,1,NaN,1.0,21069030.0

In [102]:
# Preenchimento da coluna COD_LEGAL da tabela 2

tabela_2['COD_LEGAL'] = df['COD_LEGAL']
tabela_2

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,FATOR_CONV,QTD_CAT,ICMS_TOT,COD_LEGAL
0,entrada_oprprp,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411,1,1,1,1,NaN,NaN
2,entrada_oprprp,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411,1,1,1,1,NaN,NaN
4,entrada_oprprp,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411,1,1,1,1,NaN,NaN
6,entrada_oprprp,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411,1,1,1,1,NaN,NaN
8,entrada_oprprp,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411,1,1,1,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927,0,2,1,2,NaN,1.0
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927,0,1,1,1,NaN,1.0
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927,0,5,25,5,NaN,1.0
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927,0,4,12,4,NaN,1.0
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927,0,1,1,1,NaN,1.0

In [103]:
# Preenchimento da coluna DESCRICAO

tabela_2['DESCRICAO'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['DESC_PROD'], df['Descrição Produto'])

tabela_2

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,FATOR_CONV,QTD_CAT,ICMS_TOT,COD_LEGAL,DESCRICAO
0,entrada_oprprp,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411,1,1,1,1,NaN,NaN,"Clor Tansulosina 0,4mg 30S Eu"
2,entrada_oprprp,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411,1,1,1,1,NaN,NaN,Clor Hidroxizina 25mg 30S Leg
4,entrada_oprprp,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411,1,1,1,1,NaN,NaN,Acheflan Cr 30g Ache
6,entrada_oprprp,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411,1,1,1,1,NaN,NaN,Clor Ranit.Leg Xpe 120ml
8,entrada_oprprp,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411,1,1,1,1,NaN,NaN,Besil.Anlodip.Prati 5mg 30S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927,0,2,1,2,NaN,1.0,ACEBROFILINA NQ XPE INF 120ML
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927,0,1,1,1,NaN,1.0,VASOPRIL 20MG 30S BIOLAB SANU
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927,0,5,25,5,NaN,1.0,LISADOR DIP 4S
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927,0,4,12,4,NaN,1.0,SONRIDOR CAF 2S GSK OTC
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927,0,1,1,1,NaN,1.0,REDUZCON CAPS 1000MG 60S

In [104]:
# Preenchimento da coluna CODIGO_BARRA

# tabela_2['CODIGO_BARRA'] = df['Código GTIN']
tabela_2['CODIGO_BARRA'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['EAN'], df['Código GTIN'])

tabela_2

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,FATOR_CONV,QTD_CAT,ICMS_TOT,COD_LEGAL,DESCRICAO,CODIGO_BARRA
0,entrada_oprprp,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411,1,1,1,1,NaN,NaN,"Clor Tansulosina 0,4mg 30S Eu",7898146826768
2,entrada_oprprp,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411,1,1,1,1,NaN,NaN,Clor Hidroxizina 25mg 30S Leg,7894916146111
4,entrada_oprprp,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411,1,1,1,1,NaN,NaN,Acheflan Cr 30g Ache,7896658006432
6,entrada_oprprp,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411,1,1,1,1,NaN,NaN,Clor Ranit.Leg Xpe 120ml,7894916143738
8,entrada_oprprp,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411,1,1,1,1,NaN,NaN,Besil.Anlodip.Prati 5mg 30S,7899547504835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927,0,2,1,2,NaN,1.0,ACEBROFILINA NQ XPE INF 120ML,7896714214115
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927,0,1,1,1,NaN,1.0,VASOPRIL 20MG 30S BIOLAB SANU,7896112493587
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927,0,5,25,5,NaN,1.0,LISADOR DIP 4S,7896094916289
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927,0,4,12,4,NaN,1.0,SONRIDOR CAF 2S GSK OTC,7896015517106
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927,0,1,1,1,NaN,1.0,REDUZCON CAPS 1000MG 60S,7898623351769

In [105]:
df.columns

Index(['Unnamed: 0', 'Chave Acesso NFe', 'Data Emissão', 'Número Item',
       'Código Produto ou Serviço', 'Código CFOP (04 Posições)',
       'Quantidade Comercial', 'Valor Produto ou Serviço',
       'Valor ICMS Operação', 'Valor ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS ST Retido Operação Anterior',
       'Descrição Produto', 'Código GTIN', 'Unidade Comercial', 'Código NCM',
       'Código CEST', 'Número CNPJ Emitente', 'Número CNPJ Destinatário',
       'Tipo', 'IND_OPER', 'NFref1', 'Item', 'ST Retido - Base de Cálculo',
       'Produto', 'bc_complementar_total_item_original', 'CHAVE_ORIGINAL',
       'DATA_SAIDA', 'COD_DO_ITEM', 'CFOP', 'CODPROF', 'QUANTI_EFDS',
       'FATOR_x', 'DESC_PROD', 'EAN', 'NCM_x', 'CODIGO_DO_PRODUTO', 'ALIQUOTA',
       'CODIGO', 'NCM_y', 'CODIGO_PRODUTO', 'FATOR_y', 'ICMS_TOT', 'COD_LEGAL',
       'N C M'],
      dtype='object')

In [106]:
# Preenchimento da coluna UNIDADE

tabela_2['UNIDADE'] = df['Unidade Comercial']

tabela_2

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,FATOR_CONV,QTD_CAT,ICMS_TOT,COD_LEGAL,DESCRICAO,CODIGO_BARRA,UNIDADE
0,entrada_oprprp,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411,1,1,1,1,NaN,NaN,"Clor Tansulosina 0,4mg 30S Eu",7898146826768,UN
2,entrada_oprprp,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411,1,1,1,1,NaN,NaN,Clor Hidroxizina 25mg 30S Leg,7894916146111,UN
4,entrada_oprprp,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411,1,1,1,1,NaN,NaN,Acheflan Cr 30g Ache,7896658006432,UN
6,entrada_oprprp,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411,1,1,1,1,NaN,NaN,Clor Ranit.Leg Xpe 120ml,7894916143738,UN
8,entrada_oprprp,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411,1,1,1,1,NaN,NaN,Besil.Anlodip.Prati 5mg 30S,7899547504835,UN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927,0,2,1,2,NaN,1.0,ACEBROFILINA NQ XPE INF 120ML,7896714214115,UN
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927,0,1,1,1,NaN,1.0,VASOPRIL 20MG 30S BIOLAB SANU,7896112493587,UN
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927,0,5,25,5,NaN,1.0,LISADOR DIP 4S,7896094916289,UN
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927,0,4,12,4,NaN,1.0,SONRIDOR CAF 2S GSK OTC,7896015517106,UN
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927,0,1,1,1,NaN,1.0,REDUZCON CAPS 1000MG 60S,7898623351769,UN

In [107]:
# Preenchimento da coluna N C M

df['N C M'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),
                               df['NCM_x'], df['Código NCM'])
    

tabela_2['N C M'] = np.where(df['N C M'].notnull(),
                               df['N C M'], df['NCM_y'])
tabela_2

C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\3733279911.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['N C M'] = np.where((df['Tipo'] == 'entrada_sp') | (df['Tipo'] == 'entrada_outras'),

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,FATOR_CONV,QTD_CAT,ICMS_TOT,COD_LEGAL,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M
0,entrada_oprprp,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411,1,1,1,1,NaN,NaN,"Clor Tansulosina 0,4mg 30S Eu",7898146826768,UN,30049079.0
2,entrada_oprprp,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411,1,1,1,1,NaN,NaN,Clor Hidroxizina 25mg 30S Leg,7894916146111,UN,30049099.0
4,entrada_oprprp,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411,1,1,1,1,NaN,NaN,Acheflan Cr 30g Ache,7896658006432,UN,30049099.0
6,entrada_oprprp,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411,1,1,1,1,NaN,NaN,Clor Ranit.Leg Xpe 120ml,7894916143738,UN,30049059.0
8,entrada_oprprp,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411,1,1,1,1,NaN,NaN,Besil.Anlodip.Prati 5mg 30S,7899547504835,UN,30049069.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927,0,2,1,2,NaN,1.0,ACEBROFILINA NQ XPE INF 120ML,7896714214115,UN,30049039.0
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927,0,1,1,1,NaN,1.0,VASOPRIL 20MG 30S BIOLAB SANU,7896112493587,UN,30049067.0
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927,0,5,25,5,NaN,1.0,LISADOR DIP 4S,7896094916289,UN,30049069.0
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927,0,4,12,4,NaN,1.0,SONRIDOR CAF 2S GSK OTC,7896015517106,UN,30049045.0
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927,0,1,1,1,NaN,1.0,REDUZCON CAPS 1000MG 60S,7898623351769,UN,21069030.0

In [108]:
# Preenchimento da coluna ALIQUOTA

tabela_2['ALIQUOTA'] = df['ALIQUOTA']
tabela_2['ALIQUOTA'] = df['ALIQUOTA'].astype(str).str.replace(r'\.0$','', regex=True)
tabela_2

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,FATOR_CONV,QTD_CAT,ICMS_TOT,COD_LEGAL,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA
0,entrada_oprprp,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411,1,1,1,1,NaN,NaN,"Clor Tansulosina 0,4mg 30S Eu",7898146826768,UN,30049079.0,12
2,entrada_oprprp,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411,1,1,1,1,NaN,NaN,Clor Hidroxizina 25mg 30S Leg,7894916146111,UN,30049099.0,12
4,entrada_oprprp,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411,1,1,1,1,NaN,NaN,Acheflan Cr 30g Ache,7896658006432,UN,30049099.0,18
6,entrada_oprprp,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411,1,1,1,1,NaN,NaN,Clor Ranit.Leg Xpe 120ml,7894916143738,UN,30049059.0,12
8,entrada_oprprp,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411,1,1,1,1,NaN,NaN,Besil.Anlodip.Prati 5mg 30S,7899547504835,UN,30049069.0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927,0,2,1,2,NaN,1.0,ACEBROFILINA NQ XPE INF 120ML,7896714214115,UN,30049039.0,12
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927,0,1,1,1,NaN,1.0,VASOPRIL 20MG 30S BIOLAB SANU,7896112493587,UN,30049067.0,18
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927,0,5,25,5,NaN,1.0,LISADOR DIP 4S,7896094916289,UN,30049069.0,18
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927,0,4,12,4,NaN,1.0,SONRIDOR CAF 2S GSK OTC,7896015517106,UN,30049045.0,18
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927,0,1,1,1,NaN,1.0,REDUZCON CAPS 1000MG 60S,7898623351769,UN,21069030.0,0

In [109]:
# Preenchimento da coluna CEST

tabela_2['CEST'] = df['Código CEST']
tabela_2

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,FATOR_CONV,QTD_CAT,ICMS_TOT,COD_LEGAL,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA,CEST
0,entrada_oprprp,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411,1,1,1,1,NaN,NaN,"Clor Tansulosina 0,4mg 30S Eu",7898146826768,UN,30049079.0,12,1300200.0
2,entrada_oprprp,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411,1,1,1,1,NaN,NaN,Clor Hidroxizina 25mg 30S Leg,7894916146111,UN,30049099.0,12,1300201.0
4,entrada_oprprp,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411,1,1,1,1,NaN,NaN,Acheflan Cr 30g Ache,7896658006432,UN,30049099.0,18,NaN
6,entrada_oprprp,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411,1,1,1,1,NaN,NaN,Clor Ranit.Leg Xpe 120ml,7894916143738,UN,30049059.0,12,1300200.0
8,entrada_oprprp,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411,1,1,1,1,NaN,NaN,Besil.Anlodip.Prati 5mg 30S,7899547504835,UN,30049069.0,12,1300200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927,0,2,1,2,NaN,1.0,ACEBROFILINA NQ XPE INF 120ML,7896714214115,UN,30049039.0,12,1300200.0
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927,0,1,1,1,NaN,1.0,VASOPRIL 20MG 30S BIOLAB SANU,7896112493587,UN,30049067.0,18,1300300.0
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927,0,5,25,5,NaN,1.0,LISADOR DIP 4S,7896094916289,UN,30049069.0,18,1300301.0
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927,0,4,12,4,NaN,1.0,SONRIDOR CAF 2S GSK OTC,7896015517106,UN,30049045.0,18,1300401.0
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927,0,1,1,1,NaN,1.0,REDUZCON CAPS 1000MG 60S,7898623351769,UN,21069030.0,0,NaN

In [110]:
# Preenchimento das colunas CNPJ EMITENTE e CNPJ DESTINATARIO

tabela_2['CNPJ EMITENTE'] = df['Número CNPJ Emitente']
tabela_2['CNPJ DESTINATARIO'] = df['Número CNPJ Destinatário']
tabela_2

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,FATOR_CONV,QTD_CAT,ICMS_TOT,COD_LEGAL,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO
0,entrada_oprprp,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411,1,1,1,1,NaN,NaN,"Clor Tansulosina 0,4mg 30S Eu",7898146826768,UN,30049079.0,12,1300200.0,7.160527e+13,NaN
2,entrada_oprprp,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411,1,1,1,1,NaN,NaN,Clor Hidroxizina 25mg 30S Leg,7894916146111,UN,30049099.0,12,1300201.0,7.160527e+13,NaN
4,entrada_oprprp,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411,1,1,1,1,NaN,NaN,Acheflan Cr 30g Ache,7896658006432,UN,30049099.0,18,NaN,7.160527e+13,NaN
6,entrada_oprprp,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411,1,1,1,1,NaN,NaN,Clor Ranit.Leg Xpe 120ml,7894916143738,UN,30049059.0,12,1300200.0,7.160527e+13,NaN
8,entrada_oprprp,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411,1,1,1,1,NaN,NaN,Besil.Anlodip.Prati 5mg 30S,7899547504835,UN,30049069.0,12,1300200.0,7.160527e+13,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927,0,2,1,2,NaN,1.0,ACEBROFILINA NQ XPE INF 120ML,7896714214115,UN,30049039.0,12,1300200.0,7.160527e+13,7.160527e+13
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927,0,1,1,1,NaN,1.0,VASOPRIL 20MG 30S BIOLAB SANU,7896112493587,UN,30049067.0,18,1300300.0,7.160527e+13,7.160527e+13
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927,0,5,25,5,NaN,1.0,LISADOR DIP 4S,7896094916289,UN,30049069.0,18,1300301.0,7.160527e+13,7.160527e+13
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927,0,4,12,4,NaN,1.0,SONRIDOR CAF 2S GSK OTC,7896015517106,UN,30049045.0,18,1300401.0,7.160527e+13,7.160527e+13
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927,0,1,1,1,NaN,1.0,REDUZCON CAPS 1000MG 60S,7898623351769,UN,21069030.0,0,NaN,7.160527e+13,7.160527e+13

In [111]:
# Preenchimento da coluna IND_OPER

tabela_2['IND_OPER'] = df['IND_OPER']
tabela_2

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,FATOR_CONV,QTD_CAT,...,COD_LEGAL,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER
0,entrada_oprprp,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411,1,1,1,1,...,NaN,"Clor Tansulosina 0,4mg 30S Eu",7898146826768,UN,30049079.0,12,1300200.0,7.160527e+13,NaN,0
2,entrada_oprprp,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411,1,1,1,1,...,NaN,Clor Hidroxizina 25mg 30S Leg,7894916146111,UN,30049099.0,12,1300201.0,7.160527e+13,NaN,0
4,entrada_oprprp,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411,1,1,1,1,...,NaN,Acheflan Cr 30g Ache,7896658006432,UN,30049099.0,18,NaN,7.160527e+13,NaN,0
6,entrada_oprprp,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411,1,1,1,1,...,NaN,Clor Ranit.Leg Xpe 120ml,7894916143738,UN,30049059.0,12,1300200.0,7.160527e+13,NaN,0
8,entrada_oprprp,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411,1,1,1,1,...,NaN,Besil.Anlodip.Prati 5mg 30S,7899547504835,UN,30049069.0,12,1300200.0,7.160527e+13,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927,0,2,1,2,...,1.0,ACEBROFILINA NQ XPE INF 120ML,7896714214115,UN,30049039.0,12,1300200.0,7.160527e+13,7.160527e+13,1
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927,0,1,1,1,...,1.0,VASOPRIL 20MG 30S BIOLAB SANU,7896112493587,UN,30049067.0,18,1300300.0,7.160527e+13,7.160527e+13,1
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927,0,5,25,5,...,1.0,LISADOR DIP 4S,7896094916289,UN,30049069.0,18,1300301.0,7.160527e+13,7.160527e+13,1
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927,0,4,12,4,...,1.0,SONRIDOR CAF 2S GSK OTC,7896015517106,UN,30049045.0,18,1300401.0,7.160527e+13,7.160527e+13,1
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927,0,1,1,1,...,1.0,REDUZCON CAPS 1000MG 60S,7898623351769,UN,21069030.0,0,NaN,7.160527e+13,7.160527e+13,1

In [112]:
tabela_2['VALOR'] = df['Valor Produto ou Serviço']
tabela_2

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD_NOTA,FATOR_CONV,QTD_CAT,...,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,ALIQUOTA,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER,VALOR
0,entrada_oprprp,35161071605265000595550020000010921120660474,2016-10-04,1,126003,1411,1,1,1,1,...,"Clor Tansulosina 0,4mg 30S Eu",7898146826768,UN,30049079.0,12,1300200.0,7.160527e+13,NaN,0,153.78
2,entrada_oprprp,35161071605265000595550020000010931120713770,2016-10-06,1,141440,1411,1,1,1,1,...,Clor Hidroxizina 25mg 30S Leg,7894916146111,UN,30049099.0,12,1300201.0,7.160527e+13,NaN,0,23.91
4,entrada_oprprp,35161071605265000595550020000010951120794146,2016-10-09,1,816108,1411,1,1,1,1,...,Acheflan Cr 30g Ache,7896658006432,UN,30049099.0,18,NaN,7.160527e+13,NaN,0,33.20
6,entrada_oprprp,35161071605265000595550020000010971120843303,2016-10-11,1,140640,1411,1,1,1,1,...,Clor Ranit.Leg Xpe 120ml,7894916143738,UN,30049059.0,12,1300200.0,7.160527e+13,NaN,0,32.22
8,entrada_oprprp,35161071605265000595550020000010981120929248,2016-10-14,1,110890,1411,1,1,1,1,...,Besil.Anlodip.Prati 5mg 30S,7899547504835,UN,30049069.0,12,1300200.0,7.160527e+13,NaN,0,43.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927,0,2,1,2,...,ACEBROFILINA NQ XPE INF 120ML,7896714214115,UN,30049039.0,12,1300200.0,7.160527e+13,7.160527e+13,1,7.52
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927,0,1,1,1,...,VASOPRIL 20MG 30S BIOLAB SANU,7896112493587,UN,30049067.0,18,1300300.0,7.160527e+13,7.160527e+13,1,59.63
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927,0,5,25,5,...,LISADOR DIP 4S,7896094916289,UN,30049069.0,18,1300301.0,7.160527e+13,7.160527e+13,1,22.54
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927,0,4,12,4,...,SONRIDOR CAF 2S GSK OTC,7896015517106,UN,30049045.0,18,1300401.0,7.160527e+13,7.160527e+13,1,9.92
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927,0,1,1,1,...,REDUZCON CAPS 1000MG 60S,7898623351769,UN,21069030.0,0,NaN,7.160527e+13,7.160527e+13,1,29.73

In [113]:
df.columns

Index(['Unnamed: 0', 'Chave Acesso NFe', 'Data Emissão', 'Número Item',
       'Código Produto ou Serviço', 'Código CFOP (04 Posições)',
       'Quantidade Comercial', 'Valor Produto ou Serviço',
       'Valor ICMS Operação', 'Valor ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS Substituição Tributária',
       'Valor Base Cálculo ICMS ST Retido Operação Anterior',
       'Descrição Produto', 'Código GTIN', 'Unidade Comercial', 'Código NCM',
       'Código CEST', 'Número CNPJ Emitente', 'Número CNPJ Destinatário',
       'Tipo', 'IND_OPER', 'NFref1', 'Item', 'ST Retido - Base de Cálculo',
       'Produto', 'bc_complementar_total_item_original', 'CHAVE_ORIGINAL',
       'DATA_SAIDA', 'COD_DO_ITEM', 'CFOP', 'CODPROF', 'QUANTI_EFDS',
       'FATOR_x', 'DESC_PROD', 'EAN', 'NCM_x', 'CODIGO_DO_PRODUTO', 'ALIQUOTA',
       'CODIGO', 'NCM_y', 'CODIGO_PRODUTO', 'FATOR_y', 'ICMS_TOT', 'COD_LEGAL',
       'N C M'],
      dtype='object')

In [119]:
tabela_2['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = df['Valor Base Cálculo ICMS ST Retido Operação Anterior']
tabela_2['Valor Base Cálculo ICMS Substituição Tributária'] = df['Valor Base Cálculo ICMS Substituição Tributária']
tabela_2['bc_complementar_total_item_original'] = df['bc_complementar_total_item_original']
tabela_2['ST Retido - Base de Cálculo'] = df['ST Retido - Base de Cálculo']
tabela_2['Valor ICMS Operação'] = df['Valor ICMS Operação']
tabela_2['Valor ICMS Substituição Tributária'] = df['Valor ICMS Substituição Tributária']
tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].replace('nan', np.nan)
tabela_2

C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\1456676105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['Valor Base Cálculo ICMS ST Retido Operação Anterior'] = df['Valor Base Cálculo ICMS ST Retido Operação Anterior']
C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\1456676105.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['Valor Base Cálculo ICMS Substituição Tributária'] = df['Valor Base Cálculo ICMS Substituição Tributária']
C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\1456676105.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['bc_complementar_total_item_original'] = df['bc_complementar_total_item_original']
C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\1456676105.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['ST Retido - Base de Cálculo'] = df['ST Retido - Base de Cálculo']
C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\1456676105.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['Valor ICMS Operação'] = df['Valor ICMS Operação']
C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\1456676105.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['Valor ICMS Substituição Tributária'] = df['Valor ICMS Substituição Tributária']
C:\Users\vinic\AppData\Local\Temp\ipykernel_4376\1456676105.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_2['QTD_CAT'] = tabela_2['QTD_CAT'].replace('nan', np.nan)

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD,FATOR_CONV,QTD_CAT,...,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,bc_complementar_total_item_original,ST Retido - Base de Cálculo,Valor ICMS Operação,Valor ICMS Substituição Tributária
3092,entrada_oprprp,35191071605265000595550020000036691157942723,2019-10-01,1,185421,1411,1,1,1,1,...,7.160527e+13,0.000000e+00,0,26.23,0.0,0.0,NaN,NaN,0.0,0.0
3094,entrada_oprprp,35191071605265000595550020000036691157942723,2019-10-01,2,185421,1411,1,1,1,1,...,7.160527e+13,0.000000e+00,0,26.23,0.0,0.0,NaN,NaN,0.0,0.0
3096,entrada_oprprp,35191071605265000595550020000036701158027906,2019-10-02,1,89342,1411,1,1,1,1,...,7.160527e+13,0.000000e+00,0,20.49,0.0,0.0,NaN,NaN,0.0,0.0
3098,entrada_oprprp,35191071605265000595550020000036711158037542,2019-10-02,1,113753,1411,1,1,1,1,...,7.160527e+13,0.000000e+00,0,98.49,0.0,0.0,NaN,NaN,0.0,0.0
3100,entrada_oprprp,35191071605265000595550020000036721158051780,2019-10-02,1,187021,1411,1,1,1,1,...,7.160527e+13,0.000000e+00,0,26.88,0.0,0.0,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1909887,saida_nfe,35201271605265000595550030000000061551908058,2020-12-07,1,219568,5411,1,1,1,1,...,7.160527e+13,2.784996e+13,1,2.16,0.0,0.0,NaN,NaN,0.0,0.0
1909899,saida_nfe,35201271605265000595550030000000351553874144,2020-12-26,1,218099,5411,1,1,1,1,...,7.160527e+13,2.784996e+13,1,3.10,0.0,0.0,NaN,NaN,0.0,0.0
1909901,saida_nfe,35201271605265000595550030000000361551908065,2020-12-26,1,218115,5411,1,1,1,1,...,7.160527e+13,2.784996e+13,1,3.10,0.0,0.0,NaN,NaN,0.0,0.0
1909903,saida_nfe,35201271605265000595550030000000371552563425,2020-12-26,1,218115,5411,1,1,1,1,...,7.160527e+13,2.784996e+13,1,3.10,0.0,0.0,NaN,NaN,0.0,0.0
1909905,saida_nfe,35201271605265000595550030000000381561083101,2020-12-26,1,218016,5411,1,1,1,1,...,7.160527e+13,2.784996e+13,1,3.10,0.0,0.0,NaN,NaN,0.0,0.0

In [115]:
tabela_2.rename(columns={'QTD_NOTA': 'QTD'}, inplace=True)

In [116]:
tabela_2 = tabela_2[tabela_2['DATA'] >= '2019-10-01']
tabela_2

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD,FATOR_CONV,QTD_CAT,...,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,bc_complementar_total_item_original,ST Retido - Base de Cálculo,Valor ICMS Operação
3092,entrada_oprprp,35191071605265000595550020000036691157942723,2019-10-01,1,185421,1411,1,1,1,1,...,1300201.0,7.160527e+13,0.000000e+00,0,26.23,0.0,0.0,NaN,NaN,0.0
3094,entrada_oprprp,35191071605265000595550020000036691157942723,2019-10-01,2,185421,1411,1,1,1,1,...,1300201.0,7.160527e+13,0.000000e+00,0,26.23,0.0,0.0,NaN,NaN,0.0
3096,entrada_oprprp,35191071605265000595550020000036701158027906,2019-10-02,1,89342,1411,1,1,1,1,...,2801400.0,7.160527e+13,0.000000e+00,0,20.49,0.0,0.0,NaN,NaN,0.0
3098,entrada_oprprp,35191071605265000595550020000036711158037542,2019-10-02,1,113753,1411,1,1,1,1,...,1300200.0,7.160527e+13,0.000000e+00,0,98.49,0.0,0.0,NaN,NaN,0.0
3100,entrada_oprprp,35191071605265000595550020000036721158051780,2019-10-02,1,187021,1411,1,1,1,1,...,1300301.0,7.160527e+13,0.000000e+00,0,26.88,0.0,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910039,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,9,831057,5927,0,2,1,2,...,1300200.0,7.160527e+13,7.160527e+13,1,7.52,0.0,0.0,NaN,NaN,0.0
1910041,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,1,5447,5927,0,1,1,1,...,1300300.0,7.160527e+13,7.160527e+13,1,59.63,0.0,0.0,NaN,NaN,0.0
1910043,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,6,191759,5927,0,5,25,5,...,1300301.0,7.160527e+13,7.160527e+13,1,22.54,0.0,0.0,NaN,NaN,0.0
1910045,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,8,814111,5927,0,4,12,4,...,1300401.0,7.160527e+13,7.160527e+13,1,9.92,0.0,0.0,NaN,NaN,0.0
1910047,saida_nfe,35201271605265000595550030000000481561083132,2020-12-29,5,170795,5927,0,1,1,1,...,NaN,7.160527e+13,7.160527e+13,1,29.73,0.0,0.0,NaN,NaN,0.0

In [117]:
tabela_2 = tabela_2[tabela_2['Entr_PCAT'] == 1]

In [118]:
tabela_2

,FONTE,CHV_DOC,DATA,NUM_ITEM,COD_ITEM,CFOP,Entr_PCAT,QTD,FATOR_CONV,QTD_CAT,...,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,IND_OPER,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Base Cálculo ICMS Substituição Tributária,bc_complementar_total_item_original,ST Retido - Base de Cálculo,Valor ICMS Operação
3092,entrada_oprprp,35191071605265000595550020000036691157942723,2019-10-01,1,185421,1411,1,1,1,1,...,1300201.0,7.160527e+13,0.000000e+00,0,26.23,0.0,0.0,NaN,NaN,0.0
3094,entrada_oprprp,35191071605265000595550020000036691157942723,2019-10-01,2,185421,1411,1,1,1,1,...,1300201.0,7.160527e+13,0.000000e+00,0,26.23,0.0,0.0,NaN,NaN,0.0
3096,entrada_oprprp,35191071605265000595550020000036701158027906,2019-10-02,1,89342,1411,1,1,1,1,...,2801400.0,7.160527e+13,0.000000e+00,0,20.49,0.0,0.0,NaN,NaN,0.0
3098,entrada_oprprp,35191071605265000595550020000036711158037542,2019-10-02,1,113753,1411,1,1,1,1,...,1300200.0,7.160527e+13,0.000000e+00,0,98.49,0.0,0.0,NaN,NaN,0.0
3100,entrada_oprprp,35191071605265000595550020000036721158051780,2019-10-02,1,187021,1411,1,1,1,1,...,1300301.0,7.160527e+13,0.000000e+00,0,26.88,0.0,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1909887,saida_nfe,35201271605265000595550030000000061551908058,2020-12-07,1,219568,5411,1,1,1,1,...,1300100.0,7.160527e+13,2.784996e+13,1,2.16,0.0,0.0,NaN,NaN,0.0
1909899,saida_nfe,35201271605265000595550030000000351553874144,2020-12-26,1,218099,5411,1,1,1,1,...,2001200.0,7.160527e+13,2.784996e+13,1,3.10,0.0,0.0,NaN,NaN,0.0
1909901,saida_nfe,35201271605265000595550030000000361551908065,2020-12-26,1,218115,5411,1,1,1,1,...,2001200.0,7.160527e+13,2.784996e+13,1,3.10,0.0,0.0,NaN,NaN,0.0
1909903,saida_nfe,35201271605265000595550030000000371552563425,2020-12-26,1,218115,5411,1,1,1,1,...,2001200.0,7.160527e+13,2.784996e+13,1,3.10,0.0,0.0,NaN,NaN,0.0
1909905,saida_nfe,35201271605265000595550030000000381561083101,2020-12-26,1,218016,5411,1,1,1,1,...,2001200.0,7.160527e+13,2.784996e+13,1,3.10,0.0,0.0,NaN,NaN,0.0

In [120]:
df['Tipo'].value_counts()

dfe               804552
entrada_sp        143689
saida_nfe           4806
entrada_oprprp      2553
entrada_outras       288
Name: Tipo, dtype: int64

In [121]:
tabela_2['FONTE'].value_counts()

dfe               247848
entrada_sp        129226
saida_nfe           1158
entrada_oprprp       843
Name: FONTE, dtype: int64

In [122]:
tipos = []
for date in tabela_2['DATA']:
    tipos.append(type(date))
    
print(set(tipos))

{<class 'pandas._libs.tslibs.timestamps.Timestamp'>}

In [125]:
# Salvamento do arquivo da tabela 2

tabela_2.to_csv(f'Loja_44/loja_44_tabela_2_v12_1.csv')

In [124]:
tabela_2.to_excel('Loja_44/loja_44_tabela_2_v12_1.xlsx')