In [3]:
# Importação das bibliotecas necessárias

import pandas as pd
import numpy as np
import glob
import os
import re
from sqlalchemy import create_engine
from datetime import datetime
import locale

In [4]:
# Estabelecimento de conexão com o banco de dados
# para extração das informações das tabelas necessárias


database_config = {
    "host": "cat42.cohe0l2miaal.us-east-1.rds.amazonaws.com",
    "user": "master",
    "password": "dms191411",
    "database": "cat"
}

# Create a connection to the MySQL database
engine = create_engine(f"mysql+pymysql://{database_config['user']}:{database_config['password']}@{database_config['host']}/{database_config['database']}")

In [5]:
# Definição da loja a ser utilizada

loja = 100

In [6]:
# Importação das planilhas necessárias para
# gerar os documentos da 000, 0150, 0200, 1050 e 1100

planilha = pd.read_excel(f'Loja_{loja}/ficha_3_loja_{loja}_v1.xlsb', sheet_name='ficha3', engine='pyxlsb')
planilha['DATA'] = pd.to_datetime(planilha['DATA'], format='%Y-%m-%d')
template = pd.read_excel('CFOP_e_template.xlsx', sheet_name='Template 150', dtype=str)
planilha

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,VLR_CONFR_PCAT,SALDO_FINAL_MES_QTD,SALDO_FINAL_MES_ICMS,ALIQUOTA,VALOR,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT
0,35191071605265000757590005075110599441610811,2019-10-30,5405,1,18,1,1,1,2.0,10.192509,...,5.096254,1.0,5.11,18,20.44,0.00,NaN,0.0,0.0,0.0000
1,35191027849963000110550010005997251005978274,2019-11-01,1403,2,18,0,1,1,NaN,NaN,...,NaN,2.0,11.36,18,15.45,17.02,17.66,0.0,0.0,6.2424
2,35191271605265000757590005075110698126997891,2019-12-11,5405,1,18,1,1,1,NaN,NaN,...,5.680000,NaN,NaN,18,19.24,0.00,NaN,0.0,0.0,0.0000
3,35191271605265000757590005075110698126997891,2019-12-11,5405,4,18,1,1,1,NaN,NaN,...,5.680000,NaN,NaN,18,19.24,0.00,NaN,0.0,0.0,0.0000
4,35191227849963000110550010006416671006396546,2019-12-13,1403,2,18,0,1,2,NaN,NaN,...,NaN,2.0,12.51,18,30.90,34.14,35.33,0.0,0.0,12.5046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717557,35201127849963000110550010009983911009949320,2020-12-01,1403,1,935908,0,1,56,0.0,0.000000,...,NaN,NaN,NaN,12,514.08,1750.56,171.84,0.0,0.0,230.6880
717558,35201127849963000110550010009990131009955543,2020-12-01,1403,275,935908,0,1,17,NaN,NaN,...,NaN,NaN,NaN,12,156.06,531.42,52.17,0.0,0.0,70.0308
717559,35201271605265000757590006717600920283957037,2020-12-06,5405,4,935908,1,1,1,NaN,NaN,...,4.119589,NaN,NaN,12,21.90,0.00,NaN,0.0,0.0,0.0000
717560,35201271605265000757590006717600921918979405,2020-12-07,5405,1,935908,1,1,1,NaN,NaN,...,4.119722,NaN,NaN,12,21.90,0.00,NaN,0.0,0.0,0.0000
717561,35201271605265000757590006717600921235721493,2020-12-07,5405,1,935908,1,1,1,NaN,NaN,...,4.119859,70.0,288.40,12,21.90,0.00,NaN,0.0,0.0,0.0000

In [7]:
tabela_2 = pd.read_csv(f'Loja_{loja}/loja_{loja}_tabela_2_v1.csv')
tabela_2 = tabela_2.sort_values(by=['COD_ITEM', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                           ascending=[True, True, True, False])
tabela_2

C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\2603824844.py:1: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  tabela_2 = pd.read_csv(f'Loja_{loja}/loja_{loja}_tabela_2_v1.csv')

,Unnamed: 0,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_EFD,...,Valor ICMS Operação,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Valor Base Cálculo ICMS Substituição Tributária,FONTE
599060,725302,35191071605265000757590005075110599441610811,2019-10-30,5405,1,18,1,1,1,NaN,...,0.0,6727 - DEPAKENE 250MG 25'S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
19730,40146,35191027849963000110550010005997251005978274,2019-11-01,1403,2,18,0,1,1,1.0,...,0.0,DEPAKENE 250MG 25'S ABB C1,7891158000942,UN,30049099.0,1300100.0,2.784996e+13,7.160527e+13,NaN,entrada_sp
652542,795872,35191271605265000757590005075110698126997891,2019-12-11,5405,1,18,1,1,1,NaN,...,0.0,8471 - DEPAKENE 250MG 25S,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
652543,795873,35191271605265000757590005075110698126997891,2019-12-11,5405,4,18,1,1,1,NaN,...,0.0,8471 - DEPAKENE 250MG 25S,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
47582,71059,35191227849963000110550010006416671006396546,2019-12-13,1403,2,18,0,1,2,2.0,...,0.0,DEPAKENE 250MG 25'S ABB C1,7891158000942.0,UN,30049099.0,1300100.0,2.784996e+13,7.160527e+13,NaN,entrada_sp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191851,229687,35201127849963000110550010009983911009949320,2020-12-01,1403,1,935908,0,1,56,56.0,...,0.0,ATORVASTATINA 20MG 30S EMS,NaN,UN,30049099.0,NaN,2.784996e+13,7.160527e+13,NaN,entrada_sp
192238,230107,35201127849963000110550010009990131009955543,2020-12-01,1403,275,935908,0,1,17,17.0,...,0.0,ATORVASTATINA 20MG 30S EMS,NaN,UN,30049099.0,NaN,2.784996e+13,7.160527e+13,NaN,entrada_sp
639494,780707,35201271605265000757590006717600920283957037,2020-12-06,5405,4,935908,1,1,1,NaN,...,0.0,8199 - ATORVASTATINA 20MG 3,7896004729435.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
639495,780708,35201271605265000757590006717600921918979405,2020-12-07,5405,1,935908,1,1,1,NaN,...,0.0,8199 - ATORVASTATINA 20MG 3,7896004729435.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe
693112,844068,35201271605265000757590006717600921235721493,2020-12-07,5405,1,935908,1,1,1,NaN,...,0.0,8951 - ATORVASTATINA 20MG 3,7896004729435.0,UN,30049099.0,NaN,NaN,NaN,NaN,dfe

In [8]:
planilha['DESCRICAO'] = tabela_2['DESCRICAO']
planilha['CODIGO_BARRA'] = tabela_2['CODIGO_BARRA']
planilha['UNIDADE'] = tabela_2['UNIDADE']
planilha['N C M'] = tabela_2['N C M']
planilha['CEST'] = tabela_2['CEST']
planilha['CNPJ EMITENTE'] = tabela_2['CNPJ EMITENTE']
planilha['CNPJ DESTINATARIO'] = tabela_2['CNPJ DESTINATARIO']

In [9]:
planilha.head()

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO
0,35191071605265000757590005075110599441610811,2019-10-30,5405,1,18,1,1,1,2.0,10.192509,...,0.0,0.0,0.0000,Frusalt Pt 100g Cimed,SEM GTIN,UN,30044990.0,1300301.0,7.160527e+13,0.0
1,35191027849963000110550010005997251005978274,2019-11-01,1403,2,18,0,1,1,NaN,NaN,...,0.0,0.0,6.2424,Tylenol Sinus 500mg 24S,SEM GTIN,UN,30049045.0,1300101.0,7.160527e+13,0.0
2,35191271605265000757590005075110698126997891,2019-12-11,5405,1,18,1,1,1,NaN,NaN,...,0.0,0.0,0.0000,Selozok 25mg 30S Astrazeneca,SEM GTIN,UN,30049039.0,1300100.0,7.160527e+13,0.0
3,35191271605265000757590005075110698126997891,2019-12-11,5405,4,18,1,1,1,NaN,NaN,...,0.0,0.0,0.0000,Lrp Anthelios 70 Airli Clara,SEM GTIN,UN,33049990.0,2001600.0,7.160527e+13,0.0
4,35191227849963000110550010006416671006396546,2019-12-13,1403,2,18,0,1,2,NaN,NaN,...,0.0,0.0,12.5046,Perfenol 20S Uq,SEM GTIN,UN,30049036.0,1300301.0,7.160527e+13,0.0

In [10]:
planilha['DESCRICAO'] = planilha['DESCRICAO'].str.replace('"', "'")

In [11]:
planilha['N C M'] = pd.to_numeric(planilha['N C M'])
planilha['N C M'] = planilha['N C M'].astype(str).str.replace(r'\.0$', '', regex=True)

planilha['CEST'] = pd.to_numeric(planilha['CEST'])
planilha['CEST'] = planilha['CEST'].astype('Int64').astype(str).replace('<NA>', np.nan)
planilha['CEST'] = planilha['CEST'].astype(str).str.replace(r'\.0$', '', regex=True)

planilha['CNPJ EMITENTE'] = pd.to_numeric(planilha['CNPJ EMITENTE'])
planilha['CNPJ EMITENTE'] = planilha['CNPJ EMITENTE'].astype('Int64').astype(str).replace('<NA>', np.nan)

planilha['QTD_CAT'] = planilha['QTD_CAT'].astype(str) + ',000'

planilha['COD_LEGAL_PCAT'] = pd.to_numeric(planilha['COD_LEGAL_PCAT'])
planilha['COD_LEGAL_PCAT'] = planilha['COD_LEGAL_PCAT'].astype('Int64').astype(str).replace('<NA>', np.nan)

planilha['CFOP'] = pd.to_numeric(planilha['CFOP'])
planilha['CFOP'] = planilha['CFOP'].astype('Int64').astype(str).replace('<NA>', np.nan)

planilha['UNIDADE'] = planilha['UNIDADE'].str.strip()

def format_number(value):
    return '{:,.2f}'.format(value).replace(',', '.')

planilha

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO
0,35191071605265000757590005075110599441610811,2019-10-30,5405,1,18,1,1,"1,000",2.0,10.192509,...,0.0,0.0,0.0000,Frusalt Pt 100g Cimed,SEM GTIN,UN,30044990,1300301,71605265000757,0.000000e+00
1,35191027849963000110550010005997251005978274,2019-11-01,1403,2,18,0,1,"1,000",NaN,NaN,...,0.0,0.0,6.2424,Tylenol Sinus 500mg 24S,SEM GTIN,UN,30049045,1300101,71605265000757,0.000000e+00
2,35191271605265000757590005075110698126997891,2019-12-11,5405,1,18,1,1,"1,000",NaN,NaN,...,0.0,0.0,0.0000,Selozok 25mg 30S Astrazeneca,SEM GTIN,UN,30049039,1300100,71605265000757,0.000000e+00
3,35191271605265000757590005075110698126997891,2019-12-11,5405,4,18,1,1,"1,000",NaN,NaN,...,0.0,0.0,0.0000,Lrp Anthelios 70 Airli Clara,SEM GTIN,UN,33049990,2001600,71605265000757,0.000000e+00
4,35191227849963000110550010006416671006396546,2019-12-13,1403,2,18,0,1,"2,000",NaN,NaN,...,0.0,0.0,12.5046,Perfenol 20S Uq,SEM GTIN,UN,30049036,1300301,71605265000757,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717557,35201127849963000110550010009983911009949320,2020-12-01,1403,1,935908,0,1,"56,000",0.0,0.000000,...,0.0,0.0,230.6880,TENADREN 40/25MG 30S SIGMA PH,7894916550116,UN,30049036,1300400,71605265000757,7.160527e+13
717558,35201127849963000110550010009990131009955543,2020-12-01,1403,275,935908,0,1,"17,000",NaN,NaN,...,0.0,0.0,70.0308,EBASTEL 10MG 10S EURO,7891317005351,UN,30049069,1300101,71605265000757,7.160527e+13
717559,35201271605265000757590006717600920283957037,2020-12-06,5405,4,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0,0.0000,RELVAR ELLIPTA 100/25MCG 30DS,7896015528829,UN,30049099,1300101,71605265000757,7.160527e+13
717560,35201271605265000757590006717600921918979405,2020-12-07,5405,1,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0,0.0000,LEVOTIROXINA SOD 200MCG 30S M,7891721020247,UN,30043981,1300200,71605265000757,7.160527e+13
717561,35201271605265000757590006717600921235721493,2020-12-07,5405,1,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0,0.0000,EPIDAC OC GEL 40G,7891142202055,UN,33049910,2001400,71605265000757,7.160527e+13

In [12]:
query = f'SELECT * FROM tabela_efds_modelo55 WHERE LOJA = {loja}'

efd = pd.read_sql(query, engine)
efd

,ID,LOJA,DATA_EFD,DATA_ENTRADA,DATA_SAIDA,CHAVE_ORIGINAL,COD_DO_ITEM,CODPROF,CFOP,DESC_PROD,QUANTI_EFDS,EAN,NCM,ICMS,CEST
0,8970579,100,09-2019,,,35190971605265000757550020000048561156824460,,,,,,,,,
1,8970580,100,09-2019,,,35190971605265000757550020000048831157444570,,,,,,,,,
2,8970581,100,09-2019,,,35190971605265000757550020000048791157442370,,,,,,,,,
3,8970582,100,09-2019,,,35190971605265000757550020000048801157442389,,,,,,,,,
4,8970583,100,09-2019,,,35190971605265000757550020000048811157442386,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247101,9217690,100,12-2020,05/12/2020,05/12/2020,35201271605265000757550020000060231183310549,1,87395,1411,DRENISON CR 30G BIOLAB SANUS,1,,30043290,18,13.003.01
247102,9217691,100,12-2020,05/12/2020,05/12/2020,35201271605265000757550020000060221183308873,1,222919,1411,Mam Fiona 240ml T2/Ros R801630,1,,39249000,18,20.063.00
247103,9217692,100,12-2020,05/12/2020,05/12/2020,35201271605265000757550020000060221183308873,2,222919,1411,Mam Fiona 240ml T2/Ros R801630,1,,39249000,18,20.063.00
247104,9217693,100,12-2020,07/12/2020,07/12/2020,35201271605265000757550020000060271183322597,1,204586,1411,Fr Bigfral Moviment F G/Xg C/8,1,,96190000,18,20.048.01
247105,9217694,100,12-2020,07/12/2020,07/12/2020,35201271605265000757550020000060241183313405,1,893974,1202,IDEAL ORTOFAIXA 20CM M,1,,90211010,12,13.002.00

In [13]:
planilha = planilha.drop_duplicates()
planilha

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO
0,35191071605265000757590005075110599441610811,2019-10-30,5405,1,18,1,1,"1,000",2.0,10.192509,...,0.0,0.0,0.0000,Frusalt Pt 100g Cimed,SEM GTIN,UN,30044990,1300301,71605265000757,0.000000e+00
1,35191027849963000110550010005997251005978274,2019-11-01,1403,2,18,0,1,"1,000",NaN,NaN,...,0.0,0.0,6.2424,Tylenol Sinus 500mg 24S,SEM GTIN,UN,30049045,1300101,71605265000757,0.000000e+00
2,35191271605265000757590005075110698126997891,2019-12-11,5405,1,18,1,1,"1,000",NaN,NaN,...,0.0,0.0,0.0000,Selozok 25mg 30S Astrazeneca,SEM GTIN,UN,30049039,1300100,71605265000757,0.000000e+00
3,35191271605265000757590005075110698126997891,2019-12-11,5405,4,18,1,1,"1,000",NaN,NaN,...,0.0,0.0,0.0000,Lrp Anthelios 70 Airli Clara,SEM GTIN,UN,33049990,2001600,71605265000757,0.000000e+00
4,35191227849963000110550010006416671006396546,2019-12-13,1403,2,18,0,1,"2,000",NaN,NaN,...,0.0,0.0,12.5046,Perfenol 20S Uq,SEM GTIN,UN,30049036,1300301,71605265000757,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717557,35201127849963000110550010009983911009949320,2020-12-01,1403,1,935908,0,1,"56,000",0.0,0.000000,...,0.0,0.0,230.6880,TENADREN 40/25MG 30S SIGMA PH,7894916550116,UN,30049036,1300400,71605265000757,7.160527e+13
717558,35201127849963000110550010009990131009955543,2020-12-01,1403,275,935908,0,1,"17,000",NaN,NaN,...,0.0,0.0,70.0308,EBASTEL 10MG 10S EURO,7891317005351,UN,30049069,1300101,71605265000757,7.160527e+13
717559,35201271605265000757590006717600920283957037,2020-12-06,5405,4,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0,0.0000,RELVAR ELLIPTA 100/25MCG 30DS,7896015528829,UN,30049099,1300101,71605265000757,7.160527e+13
717560,35201271605265000757590006717600921918979405,2020-12-07,5405,1,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0,0.0000,LEVOTIROXINA SOD 200MCG 30S M,7891721020247,UN,30043981,1300200,71605265000757,7.160527e+13
717561,35201271605265000757590006717600921235721493,2020-12-07,5405,1,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0,0.0000,EPIDAC OC GEL 40G,7891142202055,UN,33049910,2001400,71605265000757,7.160527e+13

In [14]:
planilha['CODIGO_BARRA'] = np.where(pd.notnull(planilha['CODIGO_BARRA']), planilha['CODIGO_BARRA'].astype(str).str.replace(r'\.0$', '', regex=True),
                                   np.nan)
planilha

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO
0,35191071605265000757590005075110599441610811,2019-10-30,5405,1,18,1,1,"1,000",2.0,10.192509,...,0.0,0.0,0.0000,Frusalt Pt 100g Cimed,SEM GTIN,UN,30044990,1300301,71605265000757,0.000000e+00
1,35191027849963000110550010005997251005978274,2019-11-01,1403,2,18,0,1,"1,000",NaN,NaN,...,0.0,0.0,6.2424,Tylenol Sinus 500mg 24S,SEM GTIN,UN,30049045,1300101,71605265000757,0.000000e+00
2,35191271605265000757590005075110698126997891,2019-12-11,5405,1,18,1,1,"1,000",NaN,NaN,...,0.0,0.0,0.0000,Selozok 25mg 30S Astrazeneca,SEM GTIN,UN,30049039,1300100,71605265000757,0.000000e+00
3,35191271605265000757590005075110698126997891,2019-12-11,5405,4,18,1,1,"1,000",NaN,NaN,...,0.0,0.0,0.0000,Lrp Anthelios 70 Airli Clara,SEM GTIN,UN,33049990,2001600,71605265000757,0.000000e+00
4,35191227849963000110550010006416671006396546,2019-12-13,1403,2,18,0,1,"2,000",NaN,NaN,...,0.0,0.0,12.5046,Perfenol 20S Uq,SEM GTIN,UN,30049036,1300301,71605265000757,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717557,35201127849963000110550010009983911009949320,2020-12-01,1403,1,935908,0,1,"56,000",0.0,0.000000,...,0.0,0.0,230.6880,TENADREN 40/25MG 30S SIGMA PH,7894916550116,UN,30049036,1300400,71605265000757,7.160527e+13
717558,35201127849963000110550010009990131009955543,2020-12-01,1403,275,935908,0,1,"17,000",NaN,NaN,...,0.0,0.0,70.0308,EBASTEL 10MG 10S EURO,7891317005351,UN,30049069,1300101,71605265000757,7.160527e+13
717559,35201271605265000757590006717600920283957037,2020-12-06,5405,4,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0,0.0000,RELVAR ELLIPTA 100/25MCG 30DS,7896015528829,UN,30049099,1300101,71605265000757,7.160527e+13
717560,35201271605265000757590006717600921918979405,2020-12-07,5405,1,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0,0.0000,LEVOTIROXINA SOD 200MCG 30S M,7891721020247,UN,30043981,1300200,71605265000757,7.160527e+13
717561,35201271605265000757590006717600921235721493,2020-12-07,5405,1,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0,0.0000,EPIDAC OC GEL 40G,7891142202055,UN,33049910,2001400,71605265000757,7.160527e+13

In [15]:
mes_ano = []
for date in planilha['DATA']:
    mes_ano.append(str(date)[5:7] + str(date)[0:4])

planilha['Data'] = mes_ano
planilha['Data'].unique()

array(['102019', '112019', '122019', '072020', '092020', '112020',
       '122020', '012020', '022020', '042020', '102020', '052020',
       '062020', '032020', '082020'], dtype=object)

In [16]:
planilha.replace('nan', np.nan, inplace=True)

In [17]:
planilha['DATA'].astype(str).iloc[0][8:]

'30'

In [18]:
planilha

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,Valor ICMS Operação,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Data
0,35191071605265000757590005075110599441610811,2019-10-30,5405,1,18,1,1,"1,000",2.0,10.192509,...,0.0,0.0000,Frusalt Pt 100g Cimed,SEM GTIN,UN,30044990,1300301,71605265000757,0.000000e+00,102019
1,35191027849963000110550010005997251005978274,2019-11-01,1403,2,18,0,1,"1,000",NaN,NaN,...,0.0,6.2424,Tylenol Sinus 500mg 24S,SEM GTIN,UN,30049045,1300101,71605265000757,0.000000e+00,112019
2,35191271605265000757590005075110698126997891,2019-12-11,5405,1,18,1,1,"1,000",NaN,NaN,...,0.0,0.0000,Selozok 25mg 30S Astrazeneca,SEM GTIN,UN,30049039,1300100,71605265000757,0.000000e+00,122019
3,35191271605265000757590005075110698126997891,2019-12-11,5405,4,18,1,1,"1,000",NaN,NaN,...,0.0,0.0000,Lrp Anthelios 70 Airli Clara,SEM GTIN,UN,33049990,2001600,71605265000757,0.000000e+00,122019
4,35191227849963000110550010006416671006396546,2019-12-13,1403,2,18,0,1,"2,000",NaN,NaN,...,0.0,12.5046,Perfenol 20S Uq,SEM GTIN,UN,30049036,1300301,71605265000757,0.000000e+00,122019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717557,35201127849963000110550010009983911009949320,2020-12-01,1403,1,935908,0,1,"56,000",0.0,0.000000,...,0.0,230.6880,TENADREN 40/25MG 30S SIGMA PH,7894916550116,UN,30049036,1300400,71605265000757,7.160527e+13,122020
717558,35201127849963000110550010009990131009955543,2020-12-01,1403,275,935908,0,1,"17,000",NaN,NaN,...,0.0,70.0308,EBASTEL 10MG 10S EURO,7891317005351,UN,30049069,1300101,71605265000757,7.160527e+13,122020
717559,35201271605265000757590006717600920283957037,2020-12-06,5405,4,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0000,RELVAR ELLIPTA 100/25MCG 30DS,7896015528829,UN,30049099,1300101,71605265000757,7.160527e+13,122020
717560,35201271605265000757590006717600921918979405,2020-12-07,5405,1,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0000,LEVOTIROXINA SOD 200MCG 30S M,7891721020247,UN,30043981,1300200,71605265000757,7.160527e+13,122020
717561,35201271605265000757590006717600921235721493,2020-12-07,5405,1,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0000,EPIDAC OC GEL 40G,7891142202055,UN,33049910,2001400,71605265000757,7.160527e+13,122020

In [19]:
planilha['CEST'] = planilha['CEST'].replace('0', pd.NA)

# Second, add leading '0' to values with length equal to 6
planilha.loc[planilha['CEST'].str.len() == 6, 'CEST'] = '0' + planilha['CEST']

planilha['CEST']

0         1300301
1         1300101
2         1300100
3         2001600
4         1300301
           ...
717557    1300400
717558    1300101
717559    1300101
717560    1300200
717561    2001400
Name: CEST, Length: 717562, dtype: object

In [20]:
planilha['N C M'] = planilha['N C M'].apply(lambda x: str(x).zfill(8) if len(str(x)) < 8 else str(x))
planilha

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,Valor ICMS Operação,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Data
0,35191071605265000757590005075110599441610811,2019-10-30,5405,1,18,1,1,"1,000",2.0,10.192509,...,0.0,0.0000,Frusalt Pt 100g Cimed,SEM GTIN,UN,30044990,1300301,71605265000757,0.000000e+00,102019
1,35191027849963000110550010005997251005978274,2019-11-01,1403,2,18,0,1,"1,000",NaN,NaN,...,0.0,6.2424,Tylenol Sinus 500mg 24S,SEM GTIN,UN,30049045,1300101,71605265000757,0.000000e+00,112019
2,35191271605265000757590005075110698126997891,2019-12-11,5405,1,18,1,1,"1,000",NaN,NaN,...,0.0,0.0000,Selozok 25mg 30S Astrazeneca,SEM GTIN,UN,30049039,1300100,71605265000757,0.000000e+00,122019
3,35191271605265000757590005075110698126997891,2019-12-11,5405,4,18,1,1,"1,000",NaN,NaN,...,0.0,0.0000,Lrp Anthelios 70 Airli Clara,SEM GTIN,UN,33049990,2001600,71605265000757,0.000000e+00,122019
4,35191227849963000110550010006416671006396546,2019-12-13,1403,2,18,0,1,"2,000",NaN,NaN,...,0.0,12.5046,Perfenol 20S Uq,SEM GTIN,UN,30049036,1300301,71605265000757,0.000000e+00,122019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717557,35201127849963000110550010009983911009949320,2020-12-01,1403,1,935908,0,1,"56,000",0.0,0.000000,...,0.0,230.6880,TENADREN 40/25MG 30S SIGMA PH,7894916550116,UN,30049036,1300400,71605265000757,7.160527e+13,122020
717558,35201127849963000110550010009990131009955543,2020-12-01,1403,275,935908,0,1,"17,000",NaN,NaN,...,0.0,70.0308,EBASTEL 10MG 10S EURO,7891317005351,UN,30049069,1300101,71605265000757,7.160527e+13,122020
717559,35201271605265000757590006717600920283957037,2020-12-06,5405,4,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0000,RELVAR ELLIPTA 100/25MCG 30DS,7896015528829,UN,30049099,1300101,71605265000757,7.160527e+13,122020
717560,35201271605265000757590006717600921918979405,2020-12-07,5405,1,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0000,LEVOTIROXINA SOD 200MCG 30S M,7891721020247,UN,30043981,1300200,71605265000757,7.160527e+13,122020
717561,35201271605265000757590006717600921235721493,2020-12-07,5405,1,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0000,EPIDAC OC GEL 40G,7891142202055,UN,33049910,2001400,71605265000757,7.160527e+13,122020

In [21]:
planilha.columns

Index(['CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'COD_ITEM', 'IND_OPER',
       'SUB_TIPO', 'QTD_CAT', 'QTD_INI', 'ICMS_INI', 'QTD_ent1_devolv_ent',
       'ICMS_TOT_0', 'ICMS_TOT_ent_unit', 'ULT_ICMS_TOT_ent_unit',
       'ICMS_TOT_1', 'qtd_saida_1_devolv_saida', 'ICMS_SAIDA_UNI',
       'ULT_ICMS_SAIDA_UNI', 'ICMS_SAIDA', 'ICMS_TOT_PCAT', 'VL_CONFR_0',
       'VLR_CONFR_UNIT', 'ULT_VLR_CONFR_UNIT', 'VLR_CONFR_1', 'QTD_SALDO',
       'ICMS_TOT_SALDO', 'VLR_RESSARCIMENTO', 'VLR_COMPLEMENTO', 'COD_LEGAL',
       'COD_LEGAL_PCAT', 'VLR_CONFR_PCAT', 'SALDO_FINAL_MES_QTD',
       'SALDO_FINAL_MES_ICMS', 'ALIQUOTA', 'VALOR',
       'Valor Base Cálculo ICMS ST Retido Operação Anterior',
       'Valor Complementar', 'Valor ICMS Substituição Tributária',
       'Valor ICMS Operação', 'ICMS_TOT', 'DESCRICAO', 'CODIGO_BARRA',
       'UNIDADE', 'N C M', 'CEST', 'CNPJ EMITENTE', 'CNPJ DESTINATARIO',
       'Data'],
      dtype='object')

In [22]:
planilha[planilha['CODIGO_BARRA'] == 'SEM GTIN      ']

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,Valor ICMS Operação,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Data
0,35191071605265000757590005075110599441610811,2019-10-30,5405,1,18,1,1,"1,000",2.0,10.192509,...,0.0,0.0000,Frusalt Pt 100g Cimed,SEM GTIN,UN,30044990,1300301,71605265000757,0.000000e+00,102019
1,35191027849963000110550010005997251005978274,2019-11-01,1403,2,18,0,1,"1,000",NaN,NaN,...,0.0,6.2424,Tylenol Sinus 500mg 24S,SEM GTIN,UN,30049045,1300101,71605265000757,0.000000e+00,112019
2,35191271605265000757590005075110698126997891,2019-12-11,5405,1,18,1,1,"1,000",NaN,NaN,...,0.0,0.0000,Selozok 25mg 30S Astrazeneca,SEM GTIN,UN,30049039,1300100,71605265000757,0.000000e+00,122019
3,35191271605265000757590005075110698126997891,2019-12-11,5405,4,18,1,1,"1,000",NaN,NaN,...,0.0,0.0000,Lrp Anthelios 70 Airli Clara,SEM GTIN,UN,33049990,2001600,71605265000757,0.000000e+00,122019
4,35191227849963000110550010006416671006396546,2019-12-13,1403,2,18,0,1,"2,000",NaN,NaN,...,0.0,12.5046,Perfenol 20S Uq,SEM GTIN,UN,30049036,1300301,71605265000757,0.000000e+00,122019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716535,35200171605265000757590005075110787697682430,2020-01-15,5405,3,932244,1,1,"1,000",2.0,24.311182,...,0.0,0.0000,Des Nivea R M 50ml Fresh Activ,SEM GTIN,UN,33072010,2801600,71605265000757,7.160527e+13,012020
716668,35190944463156000184550820002813791106344680,2019-10-01,1403,5,932814,0,1,"1,000",3.0,15.222727,...,0.0,6.6575,"Protopic 0,3mg Pda 10g Astella",SEM GTIN,UN,30049078,1300100,71605265000757,7.160527e+13,102019
716980,35200927849963000110550010009130751009100010,2020-09-11,1403,159,933184,0,1,"3,000",NaN,NaN,...,0.0,14.9160,"Protopic 0,3mg Pda 10g",SEM GTIN,UN,30049078,1300100,71605265000757,7.160527e+13,092020
717017,35201271605265000757590005075110910232659870,2020-12-22,5405,4,933184,1,1,"1,000",NaN,NaN,...,0.0,0.0000,Nivea Prot Labial Repair,SEM GTIN,UN,33049990,<NA>,71605265000757,7.160527e+13,122020
717229,35201271605265000757590005075110895904901047,2020-12-08,5405,1,933234,1,1,"2,000",NaN,NaN,...,0.0,0.0000,Zyxem 5mg 10S,SEM GTIN,UN,30049069,1300100,71605265000757,7.160527e+13,122020

In [23]:
planilha['CODIGO_BARRA'] = planilha['CODIGO_BARRA'].replace('SEM GTIN      ', np.nan)
planilha

,CHV_DOC,DATA,CFOP,NUM_ITEM,COD_ITEM,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,ICMS_INI,...,Valor ICMS Operação,ICMS_TOT,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Data
0,35191071605265000757590005075110599441610811,2019-10-30,5405,1,18,1,1,"1,000",2.0,10.192509,...,0.0,0.0000,Frusalt Pt 100g Cimed,NaN,UN,30044990,1300301,71605265000757,0.000000e+00,102019
1,35191027849963000110550010005997251005978274,2019-11-01,1403,2,18,0,1,"1,000",NaN,NaN,...,0.0,6.2424,Tylenol Sinus 500mg 24S,NaN,UN,30049045,1300101,71605265000757,0.000000e+00,112019
2,35191271605265000757590005075110698126997891,2019-12-11,5405,1,18,1,1,"1,000",NaN,NaN,...,0.0,0.0000,Selozok 25mg 30S Astrazeneca,NaN,UN,30049039,1300100,71605265000757,0.000000e+00,122019
3,35191271605265000757590005075110698126997891,2019-12-11,5405,4,18,1,1,"1,000",NaN,NaN,...,0.0,0.0000,Lrp Anthelios 70 Airli Clara,NaN,UN,33049990,2001600,71605265000757,0.000000e+00,122019
4,35191227849963000110550010006416671006396546,2019-12-13,1403,2,18,0,1,"2,000",NaN,NaN,...,0.0,12.5046,Perfenol 20S Uq,NaN,UN,30049036,1300301,71605265000757,0.000000e+00,122019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717557,35201127849963000110550010009983911009949320,2020-12-01,1403,1,935908,0,1,"56,000",0.0,0.000000,...,0.0,230.6880,TENADREN 40/25MG 30S SIGMA PH,7894916550116,UN,30049036,1300400,71605265000757,7.160527e+13,122020
717558,35201127849963000110550010009990131009955543,2020-12-01,1403,275,935908,0,1,"17,000",NaN,NaN,...,0.0,70.0308,EBASTEL 10MG 10S EURO,7891317005351,UN,30049069,1300101,71605265000757,7.160527e+13,122020
717559,35201271605265000757590006717600920283957037,2020-12-06,5405,4,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0000,RELVAR ELLIPTA 100/25MCG 30DS,7896015528829,UN,30049099,1300101,71605265000757,7.160527e+13,122020
717560,35201271605265000757590006717600921918979405,2020-12-07,5405,1,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0000,LEVOTIROXINA SOD 200MCG 30S M,7891721020247,UN,30043981,1300200,71605265000757,7.160527e+13,122020
717561,35201271605265000757590006717600921235721493,2020-12-07,5405,1,935908,1,1,"1,000",NaN,NaN,...,0.0,0.0000,EPIDAC OC GEL 40G,7891142202055,UN,33049910,2001400,71605265000757,7.160527e+13,122020

In [24]:
list(planilha['CODIGO_BARRA'].unique())

[nan,
 '7896269900983 ',
 '7896019602006 ',
 '7896261000223 ',
 '7898444418276 ',
 '7896206407384 ',
 '7896015518318 ',
 '7899095201187 ',
 '7896523226972 ',
 '7899095246676 ',
 '7891106909624 ',
 '7894916500296 ',
 '7896637022811 ',
 '7897322700724 ',
 '7896004706795 ',
 '7896714214115 ',
 '7896422500111 ',
 '7896181921325 ',
 '7899095238299 ',
 '7891142115492',
 '7891142141293',
 '7891142130822',
 '7897322709420',
 '7896094903067',
 '7896094901148',
 '7897322701998',
 '7896179850026',
 '7891106904155',
 '7896261000216',
 '7896269900211',
 '7896026300223',
 '7896658003523',
 '7896658003141',
 '7896181908890',
 '7896548111727',
 '7891106906029',
 '7896016801655',
 '7898916010052',
 '7896269900334',
 '7896637023665',
 '7896261010055',
 '7891058059149',
 '7898074618183',
 '5702191007985',
 '7894916509305',
 '7891721010026',
 '7896422507547',
 '7891106906012',
 '7891317465650',
 '7896658000713',
 '7896658002700',
 '7897595900029',
 '7890282800015',
 '7891317478919',
 '7896658010286',
 '7896658003653',
 '7891058020095',
 '7898040322670',
 '7896472501823',
 '7898040321390',
 '7896261000711',
 '7896658021428',
 '7897572006119',
 '7897572000100',
 '7891106904582',
 '7898040320683',
 '7896317908831',
 '7898949988335',
 '7892840808020',
 '7899596504824',
 '7896230301146',
 '7896112486787',
 '7891045040426',
 '7896023705397',
 '7891268402018',
 '7896180300237',
 '7896180300275',
 '7896180300183',
 '7896094904118',
 '7896094201637',
 '7896015511159',
 '7898148295210',
 '7899547503913',
 '7898148290772',
 '7894916146388',
 '7895296092180',
 '7895296092302',
 '7899547505184',
 '7896004716152',
 '7896523210070',
 '7891317421854',
 '7898148292615',
 '7891317490003',
 '7897595620613',
 '7896206407308',
 '7895296252010',
 '7899547505061',
 '7896523207988',
 '7898148295340',
 '7898148295012',
 '7898148297535',
 '7896523206110',
 '7896006254706',
 '7896004812168',
 '7896523219608',
 '7896862910037',
 '7896714230023',
 '7891010005047',
 '7501006712254',
 '7896018700307',
 '7899026420571',
 '7898945433150',
 '7891024132647',
 '7891010959296',
 '7891350032857',
 '7891350032741',
 '7898085947579',
 '7891035912405',
 '7898474842553',
 '7896000627056',
 '7896007540617',
 '7896007545100',
 '7896007541867',
 '7896007541874',
 '7891010793463',
 '7891010503031',
 '7891010560737',
 '7898301050489',
 '7509546061689',
 '7896007545094',
 '7896094200227',
 '7896015510022',
 '7896006290100',
 '7896006225010',
 '7891142165770',
 '7896006290322',
 '7896094206304',
 '7896676402568',
 '7896180300510',
 '7894916149150',
 '7894916149167',
 '7894916149143',
 '7896422516990',
 '7891317422042',
 '7891317461089',
 '7897595605276',
 '7891317005054',
 '7891317008406',
 '7895296193016',
 '7898148298914',
 '7897076907615',
 '7899547521214',
 '7891317001421',
 '7891317001438',
 '7896004712581',
 '7896006225744',
 '7894916144674',
 '7895296213042',
 '7896523209647',
 '7894916140683',
 '7898148291335',
 '7896006207436',
 '7895296043069',
 '7897076911780',
 '7896523213408',
 '7894916140867',
 '7896422507257',
 '7897595619372',
 '7891317484330',
 '7891317476526',
 '7894916148306',
 '7895296089142',
 '7891317448677',
 '7899547504743',
 '7895296039031',
 '7891317434342',
 '7891317434328',
 '7891317434335',
 '7891317464899',
 '7891317418526',
 '7896676408010',
 '7891721013010',
 '7896658004858',
 '7894916508353',
 '7896181907176',
 '7891721025105',
 '7896181920397',
 '7896006290162',
 '7891721027468',
 '7891142177216',
 '7891058003579',
 '7896206402853',
 '7896094207745',
 '7896241265543',
 '7896255716963',
 '7896094208933',
 '7896241296523',
 '7896112480709',
 '7898037080460',
 '7896015518875',
 '7896026303002',
 '7897595900715',
 '7896253900111',
 '7896317900415',
 '7891058017149',
 '7896255767149',
 '7896094903272',
 '7896226502809',
 '7896676402827',
 '7896006291398',
 '7896006290216',
 '7896548113059',
 '78905016',
 '7896016804915',
 '7896026170550',
 '78905108',
 '7896637025096',
 '7891268404029',
 '8902220114937',
 '7896641803871',
 '7896637022439',
 '7896112425496',
 '7896226102818',
 '7896637022569',
 '7896015511166',
 '7896015518370',
 '7894916500746',
 '7896658004704',
 '7896212413560',
 '7896212415618',
 '7894916144209',
 '7891317435936',
 '7895296262040',
 '7897076910905',
 '7898148291298',
 '7899547511031',
 '7891317143053',
 '7896422515535',
 '7896004715827',
 '7894916143738',
 '7896004709291',
 '7891317448936',
 '7895296128087',
 '7898148296552',
 '7896181906582',
 '7898216371020',
 '7898148295159',
 '7894916140829',
 '7891721020049',
 '7891721020094',
 '7891721019890',
 '7891721019944',
 '7891317445287',
 '7896523210773',
 '7894916140393',
 '7894916146852',
 '7896006276159',
 '7895296210423',
 '7897595620637',
 '7891721028458',
 '7894916144971',
 '7898148298587',
 '7896422506274',
 '7895296210546',
 '7896523207919',
 '7891317002503',
 '7891317002497',
 '7894916143141',
 '7895296287012',
 '7896422512169',
 '7891317433642',
 '7891317446819',
 '78911383',
 '7891317452995',
 '7896181924739',
 '7894916145596',
 '7896004721323',
 '7896422505550',
 '7895296290012',
 '7898148291533',
 '7897322703794',
 '7896422505727',
 '7896422505345',
 '7896714200699',
 '7896714200064',
 '7896862910747',
 '7898133138560',
 '7896523216478',
 '7896004723778',
 '7898133137334',
 '7896714219301',
 '7896004727158',
 '7898133136382',
 '7896006271703',
 '7896006234517',
 '7896006280507',
 '7897595601728',
 '7898133131509',
 '7896094208117',
 '7896112424123',
 '7896227800171',
 '7891000071625',
 '7891000056523',
 '7891000062722',
 '7891000062760',
 '7896015529093',
 '7896015528300',
 '3662042000058',
 '7896241221853',
 '7896269900150',
 '7891721023965',
 '7896070601772',
 '7891142128096',
 '7896006290070',
 '7896637024358',
 '7896181920410',
 '7891106905916',
 '7896261005884',
 '7894916505178',
 '7894916550116',
 '7896255717724',
 '7894916501415',
 '7894916509954',
 '7891268402025',
 '7896004817569',
 '7896026300308',
 '7896026301428',
 '7896026300315',
 '7896658001901',
 '7891058009458',
 '7896641806483',
 '7896641805943',
 '7896658005459',
 '7896637022415',
 '7897322701738',
 '7891058020316',
 '7896641809170',
 '7894916500333',
 '7891058001155',
 '7891058489038',
 '7896015560300',
 '7898927111014',
 '7891035010842',
 '7896226102542',
 '7896046300067',
 '7896180302095',
 '7896714214146',
 '7896047400025',
 '7898148294596',
 '7894916141734',
 '7898148293490',
 '7899547503845',
 '7894916144216',
 '7899547504835',
 '7898148296101',
 '7898148299010',
 '7896523209845',
 '7894916146449',
 '7896422507295',
 '7898148291267',
 '7895296105040',
 '7895296105026',
 '7896523213699',
 '7896004716558',
 '7896004706368',
 '7899095245686',
 '7897595620293',
 '7898216361595',
 '7895296194013',
 '7898049792351',
 '7891721019999',
 '7891721019791',
 '7896714201498',
 '7896523210759',
 '7894916143004',
 '7896714205830',
 '7896714225753',
 '7894916140423',
 '7896004713588',
 '7896206407384',
 '7896006267072',
 '7891317001063',
 '7896714203096',
 '7891317002459',
 '7896523208022',
 '7891317477592',
 '7894916147125',
 '7894916146111',
 '7896523207803',
 '7896181921288',
 '7896004701288',
 '7894916145480',
 '7895296038010',
 '7896714203645',
 '7896523208893',
 '7898148291540',
 '7896714224114',
 '7896862918071',
 '7896714200705',
 '7898075310369',
 '7896006240723',
 '7896714200125',
 '7896523206134',
 '7896714239712',
 '7898049796502',
 '7896331702057',
 '7896862912017',
 '7896714203768',
 '7896714221847',
 '7896006259701',
 '7896004705682',
 '7896714204888',
 '7898133137419',
 '7896004714578',
 '7896112148685',
 '7896331703924',
 '7898133136047',
 '7896006234524',
 '7896714218267',
 '7896714200804',
 '7898133137471',
 '7898158693693',
 '7898902180530',
 '7896006234067',
 '7896094202900',
 '7896094201248',
 '7891106905961',
 '7891058020286',
 '7896227800027',
 '7896227800010',
 '7622300862442',
 '7896060017927',
 '7891000142202',
 '7891000062661',
 '7891000035634',
 '7891106911733',
 '7896015527457',
 '7896331705140',
 '7891060679724',
 '7898907312264',
 '7896261005747',
 '7891010504779',
 '7898108611777',
 '7891040130849',
 '7891000079515',
 '7891000001080',
 '7891000106099',
 '7898941911973',
 '7891000035610',
 '7891800002829',
 '7896098801062',
 '7702031610823',
 '7891150019508',
 '7893300521022',
 '7891037744509',
 '7891058011413',
 '7891268400014',
 '7891024136478',
 '4005808910328',
 '7896020161738',
 '7896512900043',
 '7896018703063',
 '7891150006959',
 '7506339325256',
 '7891010015268',
 '7896007542499',
 '7896007542437',
 '7896007542871',
 '3014260001445',
 '7702018874729',
 '7791293022567',
 '7896224410670',
 '7891800000658',
 '7891800000665',
 '78906426',
 '7898108611999',
 '7891134006524',
 '78906617',
 '7891142145680',
 '7898422746216',
 '7899706133395',
 '7891150018860',
 '7891150029538',
 '7899026457645',
 '7891037000322',
 '7899026435605',
 '7898587764339',
 '7896027200607',
 '7891024134702',
 '7891528038704',
 '7891528038827',
 '7891010501105',
 '7891350032758',
 '7791293022819',
 '7896094908697',
 '7791293999470',
 '78924338',
 '7896094924710',
 '7896806700021',
 '7896020153313',
 '7891010568771',
 '7896000622617',
 '7896000620521',
 '7891010618766',
 '7896007540600',
 '7891010560812',
 '7891024184608',
 '8105080005005',
 '7896025505452',
 '7891051007178',
 '7702018037865',
 '7891800198096',
 '7898623351042',
 '7891150037397',
 '7891528038810',
 '4005900130785',
 '7891177816869',
 '7898277711247',
 '7896018700536',
 '7896007541850',
 '7501009224174',
 '7891800000641',
 '7891010695415',
 '7891040138425',
 '7891010501693',
 '7891142145703',
 '7898623351035',
 '7891150001077',
 '7891150029606',
 '7891150041714',
 '7891024174630',
 '7891150023321',
 '7899026443877',
 '7891024134375',
 '7891024028353',
 '7891024183007',
 '7891268400113',
 '7791293012087',
 '4005900036728',
 '4005808257584',
 '7791293784465',
 '7891150028470',
 '7896020160076',
 '7896020161721',
 '7896020153214',
 '7896012802410',
 '7891010579289',
 '7891010041427',
 '7898421990108',
 '7891010504755',
 '7896512904089',
 '7898623351134',
 '7891010877613',
 '7898009430903',
 '7891150041646',
 '7898474842638',
 '7896000705969',
 '7896014140480',
 '7891024132128',
 '7793100111143',
 '7891024130926',
 '7791293020280',
 '7791293025797',
 '7899026483422',
 '4005808231065',
 '7791293004310',
 '7896806700038',
 '7896806700014',
 '7896020158981',
 '7891010503505',
 '7891010610210',
 '7891150006058',
 '7898474842577',
 '7891010925543',
 '7702018853427',
 '7897337710930',
 '7897316800256',
 '7896641807763',
 '7891106005616',
 '7891058006334',
 '7896658008023',
 '7891317455569',
 '7891721014697',
 '7897595619518',
 '7891317465667',
 '7891317008703',
 '7891317445126',
 '7891317443931',
 '7896226102351',
 '7891317445720',
 '7891317457341',
 '7891721000256',
 '7896422502559',
 '7896641808609',
 '7897316801154',
 '7897572002654',
 '7891317000295',
 '7897316801734',
 '7896641802850',
 '7897316805497',
 '7899706124829',
 '7899706124874',
 '6502400181807',
 '6502400279207',
 '6502400136708',
 '7898040324438',
 '7891721008405',
 '7898096577338',
 '7896226500386',
 '7897411610668',
 '7897411610682',
 '7896026300247',
 '7896026302630',
 '7896261013490',
 '7896672201905',
 '7897337706711',
 '7891317000714',
 '7896226501239',
 '7897572000957',
 '7896548112717',
 '7896251801533',
 '7897316805619',
 '7896548199855',
 '7896026300155',
 '7896212478750',
 '7897930760424',
 '7896548112229',
 '7896165600727',
 '7896672201875',
 '7898096577031',
 '7899640801084',
 '7898168001990',
 '7891317432362',
 '7896261012639',
 '7896548140284',
 '7898089300042',
 '78905047',
 '7896658001512',
 '7896548197738',
 '7896548140222',
 '7897572001411',
 '7897930761957',
 '7891142144447',
 '7897411610606',
 '7897411610620',
 '7897411611023',
 '7896382703614',
 '7897337706605',
 '7898040321345',
 '7897129300516',
 '7896261018310',
 '7896641807534',
 '7795320008821',
 '7897930764538',
 '7896658004896',
 '7897129302541',
 '7891142198464',
 '7896180302088',
 '7891317468057',
 '7896261010222',
 '7896641808647',
 '7891045000987',
 '7897572000230',
 '7891045008433',
 '7896641804106',
 '7898926572113',
 '7896548112908',
 '7896015523398',
 '7897930761414',
 '7891268105902',
 '7896676415797',
 '7896641800023',
 '7896658002892',
 '7896685300190',
 '7896685300183',
 '7891268101782',
 '7896382705342',
 '7896548112793',
 '7891268104004',
 '7897655400230',
 '7892953001820',
 '7891268116915',
 '7897930760172',
 '7897316802335',
 '7896641806414',
 '7897473205772',
 '7891317445935',
 '7897316804810',
 '7896676414530',
 '7897411610095',
 '7897337713382',
 '7891268100808',
 '7896641800016',
 '4260085521234',
 '7896261006553',
 '7896212426812',
 '7896641804151',
 '7891045039987',
 '7896641805479',
 '7897411610675',
 '7898926572090',
 '7896261014268',
 '7897930761377',
 '7897316802861',
 '7897316801390',
 '7896641804380',
 '7891268117004',
 '7897572000896',
 '7896641804120',
 '7897316804742',
 '7897411611030',
 '7896226502618',
 '7897337706353',
 '7896672202346',
 '7898040321284',
 '7896641800030',
 '7897129303654',
 '7897129300769',
 '7897316801413',
 '7896676408300',
 '7891317466404',
 '7897316804964',
 '7897411601543',
 '7896261002890',
 '7891317443955',
 '7897411611016',
 '7896212417339',
 '7896548197554',
 '7896006292005',
 '7896006224181',
 '7896317900200',
 '7896317910261',
 '4260085521425',
 '7896641805912',
 '7896015523855',
 '7897572001596',
 '7896548198865',
 '7897316800300',
 '7896006240419',
 '7891317411909',
 '7890282800701',
 '7891058025137',
 '7896641801822',
 '7896226101231',
 '7891058018627',
 '7891317468064',
 '7896641802782',
 '7896261018754',
 '7896016807404',
 '7891045014366',
 '7896548139585',
 '7897473206403',
 '7896015517106',
 '7896676410198',
 '7896181907534',
 '7890282801210',
 '7891317427344',
 '7897930760486',
 '7896083400928',
 '7896226102535',
 '7896641804472',
 '7897337705004',
 '7898074618435',
 '7896658005046',
 '7896006214007',
 '7891317421434',
 '7896226102504',
 '7896317907889',
 '7896641805776',
 '7891268124026',
 '7896261001480',
 '7896261005723',
 '7896261019348',
 '7898906376410',
 '7896658024146',
 '7891317177652',
 '7891045008204',
 '7896672202681',
 '7897337705899',
 '7896658001079',
 '7897316800188',
 '7898040322540',
 '7892953001905',
 '7896251801540',
 '7899337000202',
 '7891268103113',
 '7898074610880',
 '7897129300240',
 '7896317911084',
 '7896015518486',
 '7896015560027',
 '7896210508060',
 '7896046381004',
 '310119052440',
 '7891268105919',
 '7891268116908',
 '7891268106596',
 '7897595608307',
 '7896672202643',
 '7898414850242',
 '7896548111987',
 '7891106903967',
 '7898095341039',
 '7896676414653',
 '7897316805688',
 '7891317006013',
 '7896261012561',
 '7899337000547',
 '7896112466215',
 '7897460400081',
 '7896226506371',
 '7897316805671',
 '7795320050127',
 '7896641804588',
 '7896658002922',
 '7891268100211',
 '7897572000933',
 '7897316804902',
 '7891045040501',
 '7891268106541',
 '7896006290988',
 '7896641808548',
 '7896015560034',
 '7897337704984',
 '7896261004900',
 '7897337702089',
 '7896641804595',
 '7896006290117',
 '7896317910308',
 '7891268129908',
 '7795320050042',
 '7896676413045',
 '7896083410248',
 '7896622300443',
 '8902220109582',
 '7891058002770',
 '7897316804421',
 '7897460401293',
 '7890282800626',
 '6502400266306',
 '6502400266504',
 '6502400078206',
 '650240012723',
 '650240012730',
 '7897316508442',
 '7896548113479',
 '7896641802997',
 '7896006222620',
 '7896006224297',
 '7896006266006',
 '7896226103037',
 '7891045038690',
 '7896015526252',
 '7896009490675',
 '6502400266405',
 '6502400255904',
 '7798140251958',
 '7896015528959',
 '7896094206038',
 '7896094903104',
 '7891142177032',
 '7896179850019',
 '7896269900075',
 '7896070600201',
 '7896181913719',
 '7896015510015',
 '7891106906944',
 '7891058431037',
 '7894916509510',
 '7891106907224',
 '7896658006432',
 '7896658002205',
 '7896658004902',
 '7896658011924',
 '7891721014987',
 '7896202900223',
 '7896658008764',
 '7896658015380',
 '7896658015427',
 '7891058034092',
 '7898040321628',
 '7896658001680',
 '7897572001923',
 '7891106905923',
 '7897572002494',
 '7896658005084',
 '7898074617759',
 '7898074616073',
 '7891317438944',
 '7897595903693',
 '7896006240457',
 '7896641805929',
 '7896658005312',
 '7897137903723',
 '7897316805114',
 '7891142142252',
 '7897322709468',
 '7896094906594',
 '7891058004217',
 '7891058006235',
 '7795320008814',
 '7891058018382',
 '7896181915188',
 '7891317425869',
 '7896658001789',
 '7897595903730',
 '7898168006421',
 '7896658020988',
 '7891142126153',
 '7896094909182',
 '7896094901582',
 '7897322704593',
 '7896181915072',
 '7896658000560',
 '7896422500883',
 '7896658023323',
 '7894916550062',
 '7896658005190',
 '7896422516624',
 '7896181916062',
 '7896261000223',
 '7896658008115',
 '7891721022272',
 '7891058004347',
 '7896658008788',
 '7896422510288',
 '7896026306188',
 '7896261013483',
 '7898029552203',
 '7891058325039',
 '7896658002076',
 '7896261000193',
 '7896206401917',
 '7896658003165',
 '7891058019365',
 '7896422514484',
 '7896261003996',
 '7896658006395',
 '7891058011550',
 '7896422513272',
 '7891317452933',
 '7891317445737',
 '7896212421039',
 '7896658008122',
 '7896658019531',
 '7896658000805',
 '7896422506380',
 '7896637025102',
 '7896658000577',
 '7896658019562',
 '7891058003180',
 '7896422500852',
 '7896658016844',
 '7896658003516',
 '7891058030216',
 '7896253903013',
 '7896658001116',
 '7896422500111',
 '7896637022842',
 '7896658003042',
 '7896658008863',
 '7896658004018',
 '7891106904537',
 '7896658001390',
 '7896026305310',
 '7896637023658',
 '7891317420833',
 '7891317008888',
 '7896658003561',
 '7896015528829',
 '7896548197967',
 '7891317421465',
 '7891317123246',
 '7891106905886',
 '7896658012419',
 '7891106906005',
 '7891058003562',
 '7896016805615',
 '7896016805172',
 '7896422507561',
 '7891317136468',
 '7891058004668',
 '7891058016999',
 '7896261009660',
 '7896206402044',
 '7896026304917',
 '7898074616042',
 '7891317007003',
 '7891317444952',
 '7896658004834',
 '7896241245989',
 '7891317475222',
 '7891317452650',
 '7896658006401',
 '7896181900740',
 '7896181901372',
 '7896070600881',
 '7898582380206',
 '7896658001123',
 '7896251803506',
 ...]

In [25]:
# Geração do dataset base para geração da 1100

cols_1100 = ['CHV_DOC', 'DATA', 'NUM_ITEM', 'IND_OPER', 'COD_ITEM', 'CFOP','QTD_CAT', 'ICMS_TOT_PCAT', 'VLR_CONFR_PCAT', 'COD_LEGAL_PCAT']

df_1100 = planilha.copy()
df_1100 = df_1100[cols_1100]
df_1100['Data'] = df_1100['DATA']
df_1100['DATA'] = df_1100['DATA'].astype(str)
df_1100['DATA'] = [datetime.strptime(x, '%Y-%m-%d').strftime('%d%m%Y') for x in df_1100['DATA']]
#df_1100.rename(coluns={'Número Item': 'NUM_ITEM'}, inplace=True)


df_1100['QTD_FIN'] = df_1100['QTD_CAT']
df_1100['COD_REG'] = ['1100']*df_1100.shape[0]
df_1100 = df_1100[['COD_REG','CHV_DOC','Data','DATA','NUM_ITEM','IND_OPER','COD_ITEM','CFOP','QTD_FIN','ICMS_TOT_PCAT','VLR_CONFR_PCAT','COD_LEGAL_PCAT']]
df_1100

,COD_REG,CHV_DOC,Data,DATA,NUM_ITEM,IND_OPER,COD_ITEM,CFOP,QTD_FIN,ICMS_TOT_PCAT,VLR_CONFR_PCAT,COD_LEGAL_PCAT
0,1100,35191071605265000757590005075110599441610811,2019-10-30,30102019,1,1,18,5405,"1,000",NaN,5.096254,1
1,1100,35191027849963000110550010005997251005978274,2019-11-01,01112019,2,0,18,1403,"1,000",6.2424,NaN,NaN
2,1100,35191271605265000757590005075110698126997891,2019-12-11,11122019,1,1,18,5405,"1,000",NaN,5.680000,1
3,1100,35191271605265000757590005075110698126997891,2019-12-11,11122019,4,1,18,5405,"1,000",NaN,5.680000,1
4,1100,35191227849963000110550010006416671006396546,2019-12-13,13122019,2,0,18,1403,"2,000",12.5046,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
717557,1100,35201127849963000110550010009983911009949320,2020-12-01,01122020,1,0,935908,1403,"56,000",230.6880,NaN,NaN
717558,1100,35201127849963000110550010009990131009955543,2020-12-01,01122020,275,0,935908,1403,"17,000",70.0308,NaN,NaN
717559,1100,35201271605265000757590006717600920283957037,2020-12-06,06122020,4,1,935908,5405,"1,000",NaN,4.119589,1
717560,1100,35201271605265000757590006717600921918979405,2020-12-07,07122020,1,1,935908,5405,"1,000",NaN,4.119722,1
717561,1100,35201271605265000757590006717600921235721493,2020-12-07,07122020,1,1,935908,5405,"1,000",NaN,4.119859,1

In [26]:
df_1100['Data'] = df_1100['Data'].astype(str)
df_1100['Data'] = [datetime.strptime(x, '%Y-%m-%d').strftime('%m%Y') for x in df_1100['Data']]
df_1100['Data']

0         102019
1         112019
2         122019
3         122019
4         122019
           ...
717557    122020
717558    122020
717559    122020
717560    122020
717561    122020
Name: Data, Length: 717562, dtype: object

In [27]:
df_1100.dtypes

COD_REG            object
CHV_DOC            object
Data               object
DATA               object
NUM_ITEM            int64
IND_OPER            int64
COD_ITEM            int64
CFOP               object
QTD_FIN            object
ICMS_TOT_PCAT     float64
VLR_CONFR_PCAT    float64
COD_LEGAL_PCAT     object
dtype: object

In [28]:
df_1100['QTD_FIN'] = df_1100['QTD_FIN'].replace('nan', np.nan)
df_1100

,COD_REG,CHV_DOC,Data,DATA,NUM_ITEM,IND_OPER,COD_ITEM,CFOP,QTD_FIN,ICMS_TOT_PCAT,VLR_CONFR_PCAT,COD_LEGAL_PCAT
0,1100,35191071605265000757590005075110599441610811,102019,30102019,1,1,18,5405,"1,000",NaN,5.096254,1
1,1100,35191027849963000110550010005997251005978274,112019,01112019,2,0,18,1403,"1,000",6.2424,NaN,NaN
2,1100,35191271605265000757590005075110698126997891,122019,11122019,1,1,18,5405,"1,000",NaN,5.680000,1
3,1100,35191271605265000757590005075110698126997891,122019,11122019,4,1,18,5405,"1,000",NaN,5.680000,1
4,1100,35191227849963000110550010006416671006396546,122019,13122019,2,0,18,1403,"2,000",12.5046,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
717557,1100,35201127849963000110550010009983911009949320,122020,01122020,1,0,935908,1403,"56,000",230.6880,NaN,NaN
717558,1100,35201127849963000110550010009990131009955543,122020,01122020,275,0,935908,1403,"17,000",70.0308,NaN,NaN
717559,1100,35201271605265000757590006717600920283957037,122020,06122020,4,1,935908,5405,"1,000",NaN,4.119589,1
717560,1100,35201271605265000757590006717600921918979405,122020,07122020,1,1,935908,5405,"1,000",NaN,4.119722,1
717561,1100,35201271605265000757590006717600921235721493,122020,07122020,1,1,935908,5405,"1,000",NaN,4.119859,1

In [29]:
# Leitura do arquivo da 1050

arquivo_1050 = pd.read_excel(f'Loja_{loja}/1050_loja_{loja}_v1.xlsx', dtype=str)

In [30]:
mes_ano = []
for date in arquivo_1050['REF']:
    mes_ano.append(str(date)[5:7] + str(date)[0:4])
    
arquivo_1050['DATA'] = [datetime.strptime(x, '%Y%m').strftime('%m%Y') for x in arquivo_1050['REF']]
arquivo_1050

,Unnamed: 0,REF,COD_ITEM,QTD_INI,ICMS_INI,SALDO_FINAL_MES_QTD,SALDO_FINAL_MES_ICMS,DATA
0,0,201910,18,2,10.19250864652384,1,5.109999999999999,102019
1,1,201911,18,1,5.109999999999999,2,11.36,112019
2,2,201912,18,2,11.36,2,12.51,122019
3,3,202001,18,2,12.51,2,12.51,012020
4,4,202002,18,2,12.51,2,12.51,022020
...,...,...,...,...,...,...,...,...
101065,101065,202008,935908,0,0,0,0,082020
101066,101066,202009,935908,0,0,0,0,092020
101067,101067,202010,935908,0,0,0,0,102020
101068,101068,202011,935908,0,0,0,0,112020
101069,101069,202012,935908,0,0,70,288.4,122020

In [31]:
for date in planilha['Data'].unique():
    print(date)

102019
112019
122019
072020
092020
112020
122020
012020
022020
042020
102020
052020
062020
032020
082020

In [32]:
# Definição de uma função para exportar os
# dataframes de cada documentação em um
# arquivo .txt com a formatação desejada

def dataframe_to_txt_with_crlf(data, path):
    with open(path, 'a', newline='', encoding='utf-8') as f:
        for index, row in data.iterrows():
            row_str = '|'.join(map(lambda x: '' if pd.isna(x) else str(x), row)) + '\r\n'
            f.write(row_str)

In [33]:
def format_number(value):
    locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')  # Set your desired locale
    formatted_value = locale.format('%.2f', value, grouping=True)
    formatted_value = str(formatted_value).replace('.', '')
    return formatted_value

In [40]:
df_0150 = pd.read_excel('registros_0000_0150.xlsx', sheet_name='0150', dtype=str)
df_0150 = df_0150[['LOJA', 'REG', 'COD_PART', 'NOME', 'COD_PAIS', 'CNPJ', 'CPF', 'COD_MUN', 'IE', 'DATA']]
df_0150

,LOJA,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,COD_MUN,IE,DATA
0,Loja 138,0150,FOR753006975,DIS COMERCIO DE ELTRODOMESTICOS LTDA,1058,23209013000332,NaN,3205002,105535836117,20201201
1,Loja 211,0150,FOR752988443,COMERCIO DE MATERIAIS PARA CONSTRUCOES PATRICI...,1058,61253282000123,NaN,3550308,109150975113,20200801
2,Loja 188,0150,CLI752000293,Associacao dos advogados de sao paulo,1058,62500855000139,NaN,3550308,112051770110,20200701
3,Loja 192,0150,FOR753008845,ELETRICA COML ANDRA LT,1058,47674429000390,NaN,3550308,112372210111,20201201
4,Loja 44,0150,FOR753005939,ASSOCIAÇÃO DOS FUNCIONARIOS PUBLICOS DO ESTADO...,1058,62149000000105,NaN,3550308,112669417110,20201101
...,...,...,...,...,...,...,...,...,...,...
34274,Loja 71,0150,FOR753007082,1606791600000,1058,NaN,30595271804,3550308,NaN,20201201
34275,Loja 71,0150,FOR753007140,valdice gouveia,1058,NaN,00149812892,3550308,NaN,20201201
34276,Loja 71,0150,FOR753007775,ANA MARIA LANDOLPHO BAPTISTA,1058,NaN,17435905801,3550308,NaN,20201201
34277,Loja 71,0150,FOR753009445,CLEONICE MOREIRA DA SILVA,1058,NaN,20781164591,3550308,NaN,20201201
34278,Loja 71,0150,FOR753012840,LUCIA MARIA CHIEREGATTI,1058,NaN,08986853892,3550308,NaN,20201201

In [41]:
df_0150 = df_0150[df_0150['LOJA'] == f'Loja {loja}']
df_0150['DATA'] = df_0150['DATA'].str.slice(0, 10).astype(str)
df_0150['DATA'] = [datetime.strptime(x, '%Y%m%d').strftime('%m%Y') for x in df_0150['DATA']]
df_0150['CNPJ'] = df_0150['CNPJ'].replace('', np.nan)
df_0150['IE'] = df_0150['IE'].replace('', np.nan)
df_0150['COD_PART'] = df_0150['COD_PART'].str[3:]
df_0150

C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1763487891.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150['DATA'] = df_0150['DATA'].str.slice(0, 10).astype(str)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1763487891.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150['DATA'] = [datetime.strptime(x, '%Y%m%d').strftime('%m%Y') for x in df_0150['DATA']]
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1763487891.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150['CNPJ'] = df_0150['CNPJ'].replace('', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1763487891.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150['IE'] = df_0150['IE'].replace('', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1763487891.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150['COD_PART'] = df_0150['COD_PART'].str[3:]

,LOJA,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,COD_MUN,IE,DATA
318,Loja 100,0150,751895505,GILDERSON AUGUSTO FONSECA EIRELI ME,1058,29028142000149,NaN,3550308,118720948110,092020
319,Loja 100,0150,751895505,GILDERSON AUGUSTO FONSECA EIRELI ME,1058,29028142000149,NaN,3550308,118720948110,102020
327,Loja 100,0150,000000470,Master Formula Farmacia de Manipulacao LTDA,1058,71605265002024,NaN,3550308,119507430112,092019
328,Loja 100,0150,000000470,Master Formula Farmacia de Manipulacao LTDA,1058,71605265002024,NaN,3550308,119507430112,092019
329,Loja 100,0150,000000470,Master Formula Farmacia de Manipulacao LTDA,1058,71605265002024,NaN,3550308,119507430112,102019
...,...,...,...,...,...,...,...,...,...,...
15440,Loja 100,0150,753012839,JOAO ANTONIO DO NASCIMENTO,1058,NaN,09820140820,3550308,NaN,122020
15441,Loja 100,0150,753013242,SIMONE SOARES DA SILVA,1058,NaN,12711754871,3550308,NaN,122020
15442,Loja 100,0150,753013527,ANDREIA MOURA DOS SANTOS,1058,NaN,32509444832,3550308,NaN,122020
15443,Loja 100,0150,753013819,TERUAKI HONDA,1058,NaN,10740329855,3550308,NaN,122020
15444,Loja 100,0150,753013848,JARBAS DANTAS MAGALHAES,1058,NaN,08764204804,3550308,NaN,122020

In [42]:
df_0150 = df_0150[['REG', 'COD_PART', 'NOME', 'COD_PAIS', 'CNPJ', 'CPF', 'IE', 'COD_MUN', 'DATA']]
df_0150 = df_0150[df_0150['CNPJ'].notnull()]
df_0150 = df_0150.drop_duplicates()
df_0150

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
318,0150,751895505,GILDERSON AUGUSTO FONSECA EIRELI ME,1058,29028142000149,NaN,118720948110,3550308,092020
319,0150,751895505,GILDERSON AUGUSTO FONSECA EIRELI ME,1058,29028142000149,NaN,118720948110,3550308,102020
327,0150,000000470,Master Formula Farmacia de Manipulacao LTDA,1058,71605265002024,NaN,119507430112,3550308,092019
329,0150,000000470,Master Formula Farmacia de Manipulacao LTDA,1058,71605265002024,NaN,119507430112,3550308,102019
331,0150,000000470,Master Formula Farmacia de Manipulacao LTDA,1058,71605265002024,NaN,119507430112,3550308,112019
...,...,...,...,...,...,...,...,...,...
15177,0150,000329865,Consumidor final,1058,96291141014300,NaN,NaN,3550308,052020
15178,0150,000002486,Penitenciaria Feminina Sant Ana,1058,96291141014300,NaN,NaN,3550308,052020
15277,0150,751975901,Fundacao abc,1058,57571275001921,NaN,NaN,3550308,082020
15285,0150,752006043,M2 garcia materiais de construcao ltda,1058,09292174000140,NaN,NaN,3550308,082020
15411,0150,000001180,DAZ Participações LTDA,1058,18901772000160,NaN,NaN,3549904,122020

In [43]:
mask_duplicates = df_0150[df_0150['DATA'] == '112019'].duplicated(subset='CNPJ', keep='first')
# Invert the mask to keep the first occurrence of each unique 'CNPJ' value
mask_to_keep = ~mask_duplicates

# Apply the mask to the DataFrame to keep the desired rows for the current 'PERIODO'
filtered_df = df_0150[(df_0150['DATA'] == '112019') | mask_to_keep]
filtered_df

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
331,0150,000000470,Master Formula Farmacia de Manipulacao LTDA,1058,71605265002024,NaN,119507430112,3550308,112019
709,0150,000355698,Conde atacadista LTDA,1058,27849963000110,NaN,125415766116,3508504,112019
2053,0150,000000496,Master Fórmula Farmácia de Manipulação LTDA,1058,71605265004663,NaN,126790472110,3550308,112019
2137,0150,000000497,Master Fórmula Farmácia de Manipulação LTDA,1058,71605265004744,NaN,127036753117,3518800,112019
2397,0150,751972176,Eletropaulo Metropolitana Eletricidade de São ...,1058,61695227000193,NaN,133122090117,3505708,112019
2524,0150,000000457,Master formula farmácia de manipulação ltda- me,1058,71605265000757,NaN,143351809116,3550308,112019
2525,0150,000000457,Master Fórmula Farmácia de Manipulação Ltda - ME,1058,71605265000757,NaN,143351809116,3550308,112019
2909,0150,000002016,Servimed comercial ltda,1058,44463156000184,NaN,209017636112,3506003,112019
3876,0150,000000495,Master fórmula farmacia de manipulação LTDA,1058,71605265004582,NaN,254233469115,3510500,112019
4433,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,28334171-8,5002704,112019
5525,0150,000002026,Panpharma Distribuidora de Medicamentos Ltda,1058,01206820000520,NaN,407534370116,3525904,112019
6610,0150,000002002,Distribuidora de Medicamentos Santa Cruz Ltda,1058,61940292000137,NaN,492218057113,3534401,112019
9064,0150,000002006,D.Center Distribuidora Ltda.,1058,05651966000455,NaN,582780533119,3543402,112019
9897,0150,000000454,Master formula farmacia de manipulação ltda-me,1058,71605265000404,NaN,635724845110,3548708,112019
10091,0150,000002029,PROFARMA Distribuidora de Produtos Farmaceutic...,1058,45453214001042,NaN,637117955110,3548906,112019
10773,0150,000002112,MRM Fazzini Facundes Transportes EPP,1058,97554090000102,NaN,645333991113,3549904,112019
11779,0150,000007953,JULIA COSMETICOS EIRELI,1058,10328983000143,NaN,645538983114,3549904,112019
12155,0150,000002004,DHV Distribuidora Hospitalar do Vale Ltda - EPP,1058,23276873000127,NaN,645739349118,3549904,112019
14148,0150,752039252,UNILEVER BRASIL LTDA,1058,61068276001682,NaN,675372587117,3552809,112019
14491,0150,000000458,Master formula farmácia de manipulação ltda- me,1058,71605265000838,NaN,796260079110,3518800,112019
14492,0150,000000458,Master Fórmula Farmácia de Manipulação Ltda - ME,1058,71605265000838,NaN,796260079110,3518800,112019
14587,0150,000000456,Master formula farmacia de manipulaçaoltda - me,1058,71605265000676,NaN,796436256113,3518800,112019
14911,0150,000329865,Consumidor final,1058,96291141014300,NaN,NaN,3550308,112019

In [44]:
filtered_df['CNPJ'].unique()

array(['71605265002024', '27849963000110', '71605265004663',
       '71605265004744', '61695227000193', '71605265000757',
       '44463156000184', '71605265004582', '07259917000154',
       '01206820000520', '61940292000137', '05651966000455',
       '71605265000404', '45453214001042', '97554090000102',
       '10328983000143', '23276873000127', '61068276001682',
       '71605265000838', '71605265000676', '96291141014300'], dtype=object)

In [45]:
df_0150_final = pd.DataFrame()

# Get the unique 'PERIODO' values
unique_periodos = df_0150['DATA'].unique()

# Iterate through unique 'PERIODO' values
for periodo in unique_periodos:
    # Filter the DataFrame for the current 'PERIODO' value
    filtered_df = df_0150[df_0150['DATA'] == periodo]
    
    # Drop duplicates in the 'CNPJ' column for the current 'PERIODO'
    filtered_df = filtered_df.drop_duplicates(subset='CNPJ', keep='first')
    
    # Append the filtered results to the final DataFrame
    df_0150_final = df_0150_final.append(filtered_df, ignore_index=True)

# Reset the index of the final DataFrame
df_0150_final.reset_index(drop=True, inplace=True)
df_0150_final = df_0150_final[df_0150_final['REG'] == '0150']
df_0150_final

C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\575281542.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_0150_final = df_0150_final.append(filtered_df, ignore_index=True)

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,751895505,GILDERSON AUGUSTO FONSECA EIRELI ME,1058,29028142000149,NaN,118720948110,3550308,092020
1,0150,000000470,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265002024,NaN,119507430112,3550308,092020
2,0150,000355698,CONDE ATACADISTA LTDA,1058,27849963000110,NaN,125415766116,3508504,092020
3,0150,000000499,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265004906,NaN,128210260116,3550308,092020
4,0150,000001604,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265005554,NaN,128970130118,3550308,092020
...,...,...,...,...,...,...,...,...,...
357,0150,000002004,DHV DISTRIBUIDORA HOSPITALAR DO VALE LTDA,1058,23276873000127,NaN,645739349118,3549904,122020
358,0150,000000458,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265000838,NaN,796260079110,3518800,122020
359,0150,000000456,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265000676,NaN,796436256113,3518800,122020
360,0150,752988273,B.A. SILVA ELETRONICOS E MANUTENCAO LTDA,1058,37636697000100,NaN,392350441112,3524402,122020
361,0150,000001180,DAZ Participações LTDA,1058,18901772000160,NaN,NaN,3549904,122020

In [46]:
df_0150_final = df_0150_final.drop_duplicates()
df_0150_final[df_0150_final['IE'].notnull()]

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,751895505,GILDERSON AUGUSTO FONSECA EIRELI ME,1058,29028142000149,NaN,118720948110,3550308,092020
1,0150,000000470,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265002024,NaN,119507430112,3550308,092020
2,0150,000355698,CONDE ATACADISTA LTDA,1058,27849963000110,NaN,125415766116,3508504,092020
3,0150,000000499,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265004906,NaN,128210260116,3550308,092020
4,0150,000001604,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265005554,NaN,128970130118,3550308,092020
...,...,...,...,...,...,...,...,...,...
356,0150,000007953,JULIA COSMETICOS EIRELI,1058,10328983000143,NaN,645538983114,3549904,122020
357,0150,000002004,DHV DISTRIBUIDORA HOSPITALAR DO VALE LTDA,1058,23276873000127,NaN,645739349118,3549904,122020
358,0150,000000458,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265000838,NaN,796260079110,3518800,122020
359,0150,000000456,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265000676,NaN,796436256113,3518800,122020
360,0150,752988273,B.A. SILVA ELETRONICOS E MANUTENCAO LTDA,1058,37636697000100,NaN,392350441112,3524402,122020

In [47]:
df_cnpj_repetido = pd.DataFrame(columns=df_0150_final.columns)

dates = ['102019', '112019', '122019',
        '012020', '022020', '032020', '042020',
        '052020', '062020', '072020', '082020',
        '092020', '102020', '112020', '122020']
for date in dates:
    for cnpj in df_0150_final[df_0150_final['DATA'] == date]['CNPJ'].unique():
        if len(df_0150_final.loc[(df_0150_final['DATA'] == date) & (df_0150_final['CNPJ'] == cnpj)]) > 1:
            df = df_0150_final.loc[(df_0150_final['DATA'] == date) & (df_0150_final['CNPJ'] == cnpj)]
            df_cnpj_repetido = pd.concat([df_cnpj_repetido, df])
            
df_cnpj_repetido

Empty DataFrame
Columns: [REG, COD_PART, NOME, COD_PAIS, CNPJ, CPF, IE, COD_MUN, DATA]
Index: []

In [48]:
df_ie_repetido = pd.DataFrame(columns=df_0150_final.columns)

dates = ['102019', '112019', '122019',
        '012020', '022020', '032020', '042020',
        '052020', '062020', '072020', '082020',
        '092020', '102020', '112020', '122020']
for date in dates:
    for ie in df_0150_final[df_0150_final['DATA'] == date]['IE'].unique():
        if len(df_0150_final.loc[(df_0150_final['DATA'] == date) & (df_0150_final['IE'] == ie)]) > 1:
            df = df_0150_final.loc[(df_0150_final['DATA'] == date) & (df_0150_final['IE'] == ie)]
            df_ie_repetido = pd.concat([df_ie_repetido, df])
            
df_ie_repetido

Empty DataFrame
Columns: [REG, COD_PART, NOME, COD_PAIS, CNPJ, CPF, IE, COD_MUN, DATA]
Index: []

In [79]:
# Iterate through each file in the folder
df_0000 = pd.read_excel('registros_0000_0150.xlsx', sheet_name='0000', dtype=str)

df_0000['DATA'] = df_0000['DATA'].astype(str).str.slice(0, 8)
df_0000['DATA'] = [datetime.strptime(x, '%Y%m%d').strftime('%m%Y') for x in df_0000['DATA']]
df_0000['COD_VER'] = ['01'] * df_0000.shape[0]
df_0000['COD_FIN'] = ['00'] * df_0000.shape[0]
df_0000 = df_0000[['LOJA','REG', 'DATA', 'NOME', 'CNPJ', 'IE',
        'COD_MUN', 'COD_VER', 'COD_FIN']]

df_0000

,LOJA,REG,DATA,NOME,CNPJ,IE,COD_MUN,COD_VER,COD_FIN
0,Loja 100,0000,092019,Master Formula Farmacia de Manipulacao LTDA,71605265000757,143351809116,3550308,01,00
1,Loja 100,0000,102019,Master Formula Farmacia de Manipulacao LTDA,71605265000757,143351809116,3550308,01,00
2,Loja 100,0000,112019,Master Formula Farmacia de Manipulacao LTDA,71605265000757,143351809116,3550308,01,00
3,Loja 100,0000,122019,Master Formula Farmacia de Manipulacao LTDA,71605265000757,143351809116,3550308,01,00
4,Loja 100,0000,012020,Master Formula Farmacia de Manipulacao LTDA,71605265000757,143351809116,3550308,01,00
...,...,...,...,...,...,...,...,...,...
694,Loja 71,0000,082020,Master Formula Farmacia de Manipulacao LTDA,71605265000323,145800771110,3550308,01,00
695,Loja 71,0000,092020,Master Formula Farmacia de Manipulacao LTDA,71605265000323,145800771110,3550308,01,00
696,Loja 71,0000,102020,Master Formula Farmacia de Manipulacao LTDA,71605265000323,145800771110,3550308,01,00
697,Loja 71,0000,112020,Master Formula Farmacia de Manipulacao LTDA,71605265000323,145800771110,3550308,01,00
698,Loja 71,0000,122020,Master Formula Farmacia de Manipulacao LTDA,71605265000323,145800771110,3550308,01,00

In [64]:
for date in planilha['Data'].unique():
    print(date)

102019
112019
122019
072020
092020
112020
122020
012020
022020
042020
102020
052020
062020
032020
082020

In [65]:
df_0150_final['COD_MUN'] = pd.to_numeric(df_0150_final['COD_MUN'])
df_0150_final

C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\4256047958.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150_final['COD_MUN'] = pd.to_numeric(df_0150_final['COD_MUN'])

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,751895505,GILDERSON AUGUSTO FONSECA EIRELI ME,1058,29028142000149,NaN,118720948110,3550308,092020
1,0150,000000470,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265002024,NaN,119507430112,3550308,092020
2,0150,000355698,CONDE ATACADISTA LTDA,1058,27849963000110,NaN,125415766116,3508504,092020
3,0150,000000499,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265004906,NaN,128210260116,3550308,092020
4,0150,000001604,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265005554,NaN,128970130118,3550308,092020
...,...,...,...,...,...,...,...,...,...
356,0150,000007953,JULIA COSMETICOS EIRELI,1058,10328983000143,NaN,645538983114,3549904,122020
357,0150,000002004,DHV DISTRIBUIDORA HOSPITALAR DO VALE LTDA,1058,23276873000127,NaN,645739349118,3549904,122020
358,0150,000000458,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265000838,NaN,796260079110,3518800,122020
359,0150,000000456,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265000676,NaN,796436256113,3518800,122020
360,0150,752988273,B.A. SILVA ELETRONICOS E MANUTENCAO LTDA,1058,37636697000100,NaN,392350441112,3524402,122020

In [66]:
def fill_missing_ie(group):
    non_null_ie = group.dropna()['IE']
    if not non_null_ie.empty:
        group['IE'] = non_null_ie.iloc[0]
    elif group['IE'].isnull().all():
        group['IE'] = np.nan
    return group

# Group by 'CNPJ' and apply the custom function
df_0150_final_new = df_0150_final.groupby('CNPJ', group_keys=False).apply(fill_missing_ie)

df_0150_final_new

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,751895505,GILDERSON AUGUSTO FONSECA EIRELI ME,1058,29028142000149,NaN,118720948110,3550308,092020
1,0150,000000470,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265002024,NaN,119507430112,3550308,092020
2,0150,000355698,CONDE ATACADISTA LTDA,1058,27849963000110,NaN,125415766116,3508504,092020
3,0150,000000499,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265004906,NaN,128210260116,3550308,092020
4,0150,000001604,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265005554,NaN,128970130118,3550308,092020
...,...,...,...,...,...,...,...,...,...
356,0150,000007953,JULIA COSMETICOS EIRELI,1058,10328983000143,NaN,645538983114,3549904,122020
357,0150,000002004,DHV DISTRIBUIDORA HOSPITALAR DO VALE LTDA,1058,23276873000127,NaN,645739349118,3549904,122020
358,0150,000000458,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265000838,NaN,796260079110,3518800,122020
359,0150,000000456,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265000676,NaN,796436256113,3518800,122020
360,0150,752988273,B.A. SILVA ELETRONICOS E MANUTENCAO LTDA,1058,37636697000100,NaN,392350441112,3524402,122020

In [67]:
df_0150_final = df_0150_final[df_0150_final['IE'].notnull()]
df_0150_final

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,751895505,GILDERSON AUGUSTO FONSECA EIRELI ME,1058,29028142000149,NaN,118720948110,3550308,092020
1,0150,000000470,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265002024,NaN,119507430112,3550308,092020
2,0150,000355698,CONDE ATACADISTA LTDA,1058,27849963000110,NaN,125415766116,3508504,092020
3,0150,000000499,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265004906,NaN,128210260116,3550308,092020
4,0150,000001604,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265005554,NaN,128970130118,3550308,092020
...,...,...,...,...,...,...,...,...,...
356,0150,000007953,JULIA COSMETICOS EIRELI,1058,10328983000143,NaN,645538983114,3549904,122020
357,0150,000002004,DHV DISTRIBUIDORA HOSPITALAR DO VALE LTDA,1058,23276873000127,NaN,645739349118,3549904,122020
358,0150,000000458,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265000838,NaN,796260079110,3518800,122020
359,0150,000000456,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265000676,NaN,796436256113,3518800,122020
360,0150,752988273,B.A. SILVA ELETRONICOS E MANUTENCAO LTDA,1058,37636697000100,NaN,392350441112,3524402,122020

In [68]:
df_0150_final.loc[(df_0150_final['CNPJ'].notnull()) & (df_0150_final['IE'].isnull())]

Empty DataFrame
Columns: [REG, COD_PART, NOME, COD_PAIS, CNPJ, CPF, IE, COD_MUN, DATA]
Index: []

In [69]:
df_0150_final['CNPJ'] = df_0150_final['CNPJ'].apply(lambda x: str(x).zfill(14) if len(str(x)) < 14 else str(x))
df_0150_final

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,751895505,GILDERSON AUGUSTO FONSECA EIRELI ME,1058,29028142000149,NaN,118720948110,3550308,092020
1,0150,000000470,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265002024,NaN,119507430112,3550308,092020
2,0150,000355698,CONDE ATACADISTA LTDA,1058,27849963000110,NaN,125415766116,3508504,092020
3,0150,000000499,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265004906,NaN,128210260116,3550308,092020
4,0150,000001604,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265005554,NaN,128970130118,3550308,092020
...,...,...,...,...,...,...,...,...,...
356,0150,000007953,JULIA COSMETICOS EIRELI,1058,10328983000143,NaN,645538983114,3549904,122020
357,0150,000002004,DHV DISTRIBUIDORA HOSPITALAR DO VALE LTDA,1058,23276873000127,NaN,645739349118,3549904,122020
358,0150,000000458,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265000838,NaN,796260079110,3518800,122020
359,0150,000000456,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265000676,NaN,796436256113,3518800,122020
360,0150,752988273,B.A. SILVA ELETRONICOS E MANUTENCAO LTDA,1058,37636697000100,NaN,392350441112,3524402,122020

In [70]:
# Função para verificar o dígito verificador de um CNPJ
def verifica_digito_verificador(cnpj):
    cnpj = [int(d) for d in str(cnpj) if d.isdigit()]  # Converte o CNPJ em uma lista de números inteiros
    if len(cnpj) != 14:
        return False  # CNPJ deve ter 14 dígitos

    # Calcula o primeiro dígito verificador
    soma = 0
    peso = [5, 4, 3, 2, 9, 8, 7, 6, 5, 4, 3, 2]
    for i in range(12):
        soma += cnpj[i] * peso[i]
    resto = soma % 11
    if resto < 2:
        digito_verificador1 = 0
    else:
        digito_verificador1 = 11 - resto

    # Calcula o segundo dígito verificador
    soma = 0
    peso.insert(0, 6)
    for i in range(13):
        soma += cnpj[i] * peso[i]
    resto = soma % 11
    if resto < 2:
        digito_verificador2 = 0
    else:
        digito_verificador2 = 11 - resto

    # Verifica se os dígitos verificadores são iguais aos dígitos originais
    return cnpj[-2] == digito_verificador1 and cnpj[-1] == digito_verificador2

# Exemplo de DataFrame
df = df_0150_final.copy()

# Aplica a função verifica_digito_verificador à coluna 'CNPJ' do DataFrame
df['Dígito_Verificador_Válido'] = df['CNPJ'].apply(verifica_digito_verificador)

# Exibe o DataFrame com a nova coluna
df

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA,Dígito_Verificador_Válido
0,0150,751895505,GILDERSON AUGUSTO FONSECA EIRELI ME,1058,29028142000149,NaN,118720948110,3550308,092020,True
1,0150,000000470,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265002024,NaN,119507430112,3550308,092020,True
2,0150,000355698,CONDE ATACADISTA LTDA,1058,27849963000110,NaN,125415766116,3508504,092020,True
3,0150,000000499,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265004906,NaN,128210260116,3550308,092020,True
4,0150,000001604,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265005554,NaN,128970130118,3550308,092020,True
...,...,...,...,...,...,...,...,...,...,...
356,0150,000007953,JULIA COSMETICOS EIRELI,1058,10328983000143,NaN,645538983114,3549904,122020,True
357,0150,000002004,DHV DISTRIBUIDORA HOSPITALAR DO VALE LTDA,1058,23276873000127,NaN,645739349118,3549904,122020,True
358,0150,000000458,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265000838,NaN,796260079110,3518800,122020,True
359,0150,000000456,MASTER FORMULA FARMACIA DE MANIPULACAO LTDA,1058,71605265000676,NaN,796436256113,3518800,122020,True
360,0150,752988273,B.A. SILVA ELETRONICOS E MANUTENCAO LTDA,1058,37636697000100,NaN,392350441112,3524402,122020,True

In [71]:
df['Dígito_Verificador_Válido'].unique()

array([ True])

In [72]:
unique_cod_items = planilha[planilha['Data'] == '102019']['COD_ITEM'].unique()
arquivo_1050['COD_ITEM'] = arquivo_1050['COD_ITEM'].astype(int)
filtered = arquivo_1050[arquivo_1050['DATA'] == '102019'][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
filtered

C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\641789374.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == '102019'][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]

,Unnamed: 0,REF,COD_ITEM,QTD_INI,ICMS_INI,SALDO_FINAL_MES_QTD,SALDO_FINAL_MES_ICMS,DATA
0,0,201910,18,2,10.19250864652384,1,5.109999999999999,102019
15,15,201910,26,2,37.29868389097859,3,57.83,102019
45,45,201910,59,2,17.74959840421907,2,20.73,102019
60,60,201910,75,14,25.53822565882482,9,18.48,102019
75,75,201910,125,1,7.165861505110827,1,8.95,102019
...,...,...,...,...,...,...,...,...
100920,100920,201910,933218,5,5.912930150667711,3,3.63,102019
100965,100965,201910,933622,3,84.67719160401802,3,86.11,102019
100980,100980,201910,933713,2,24.34211693651845,2,27.22,102019
100995,100995,201910,933747,1,5.309880980917175,2,10.42,102019
101040,101040,201910,935502,6,7.275842701883487,3,3.65,102019

In [73]:
len(filtered['COD_ITEM'].unique())

4446

In [82]:
# Geração dos TXTs da CAT

for date in planilha['Data'].unique():
#for date in ['112019']:
    # Geração da 0000
    df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
    df_0000_['IE'] = df_0000_['IE'].str.replace('-', '')
    df_0000_ = df_0000_.drop('LOJA', axis=1)
    
    # Geração da 0150

    # df_0150 has originally 8 columns
    df_0150_ = df_0150_final[df_0150_final['DATA'] == date]
    df_0150_ = df_0150_[df_0150_['CNPJ'].notnull()]
    df_0150_['IE'] = df_0150_['IE'].str.replace('-', '')
    df_0150_ = df_0150_[['REG', 'COD_PART', 'NOME', 'COD_PAIS', 'CNPJ', 'CPF',
                'IE', 'COD_MUN']]
    
    # Geração da 0200
    df_0200 = planilha[planilha['Data'] == date][['COD_ITEM','DESCRICAO','CODIGO_BARRA','UNIDADE','N C M','ALIQUOTA','CEST']].drop_duplicates()
    df_0200['COD_REG'] = ['0200']*(df_0200.shape[0])
    df_0200 = df_0200[['COD_REG', 'COD_ITEM','DESCRICAO','CODIGO_BARRA','UNIDADE','N C M','ALIQUOTA','CEST']]
    df_0200['ALIQUOTA'] = df_0200['ALIQUOTA'].astype(float).astype(int)
    df_0200['CODIGO_BARRA'] = df_0200['CODIGO_BARRA'].astype(str)
    df_0200['CODIGO_BARRA'] = df_0200['CODIGO_BARRA'].replace('nan', np.nan)
    df_0200.drop_duplicates(subset='COD_ITEM', keep='first', inplace=True)
    
    # Geração da 1050
    unique_cod_items = planilha[planilha['Data'] == date]['COD_ITEM'].unique()
    arquivo_1050['COD_ITEM'] = arquivo_1050['COD_ITEM'].astype(int)
    filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
    filtered

    df_1050 = filtered[['COD_ITEM','QTD_INI', 'ICMS_INI', 'SALDO_FINAL_MES_QTD', 'SALDO_FINAL_MES_ICMS']]
    
    df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
    df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
    df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
    df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
    df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
    
    df_1050 = df_1050[['COD_REG', 'COD_ITEM', 'QTD_INI', 'ICMS_INI', 'SALDO_FINAL_MES_QTD', 'SALDO_FINAL_MES_ICMS']]
    df_1050.rename(columns={'COD_REG': 'REG'}, inplace=True)
    
    # Geração da 1100
    df_1100_ = df_1100[df_1100['Data'] == date]
    df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
    df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
    df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
    df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
    df_1100_ = df_1100_[['COD_REG','CHV_DOC','DATA','NUM_ITEM','IND_OPER','COD_ITEM','CFOP','QTD_FIN','ICMS_TOT_PCAT','VLR_CONFR_PCAT','COD_LEGAL_PCAT']]
    
    # Geração do .txt da 0000
    dataframe_to_txt_with_crlf(df_0000_, f'Loja_{loja}/CAT_Loja_{loja}/teste/0000_{date}_v1.txt')
    
    # Geração do .txt da 0150
    dataframe_to_txt_with_crlf(df_0150_, f'Loja_{loja}/CAT_Loja_{loja}/teste/0150_{date}_v1.txt')
    
    # Geração do .txt da 0200
    dataframe_to_txt_with_crlf(df_0200, f'Loja_{loja}/CAT_Loja_{loja}/teste/0200_{date}_v1.txt')
    
    # Geração do .txt da 1050
    dataframe_to_txt_with_crlf(df_1050, f'Loja_{loja}/CAT_Loja_{loja}/teste/1050_{date}_v1.txt')
    
    # Geração do .txt da 1100
    dataframe_to_txt_with_crlf(df_1100_, f'Loja_{loja}/CAT_Loja_{loja}/teste/1100_{date}_v1.txt')
    
    # Geração de um arquivo .txt único,
    # contendo todas as informações das documentações
    # da 0000, 0150, 0200, 1050 e 1100
    # dentro do formato correto

    read_files = glob.glob(f"Loja_{loja}/CAT_Loja_{loja}/teste/*{date}_v1.txt")
    
    with open(f"Loja_{loja}/CAT_Loja_{loja}/cat_loja_{loja}_{date}_v1.txt", "wb") as outfile:
        for f in read_files:
            with open(f, "rb") as infile:
                outfile.write(infile.read())

C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)

C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)

C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)

C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)

C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)

C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)

C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)

C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)

C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['COD_ITEM'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_15968\280812627.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)