In [1]:
# Importação das bibliotecas necessárias

import pandas as pd
import numpy as np
import glob
import os
import re
from datetime import datetime
import locale
import sys

In [2]:
# Definição da loja a ser utilizada

loja = 1
periodo = 2

In [3]:
# Importação das planilhas necessárias para
# gerar os documentos da 000, 0150, 0200, 1050 e 1100

planilha = pd.read_excel(f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\ficha_3_loja_{loja}_p{periodo}_v1.xlsx')
planilha = planilha.reset_index()
planilha['DATA'] = pd.to_datetime(planilha['DATA'], format='%Y-%m-%d')

planilha

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,cod novo,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,Valor Base Cálculo ICMS ST Retido Operação Anterior,Valor Complementar,Valor ICMS Substituição Tributária,Valor ICMS Operação,ICMS_TOT,COD_ITEM,CNPJ EMITENTE,tipo,vBCST,FONTE
0,0,35191003129126000159590006031131098680305954,2019-10-24,5405,3,100073,1,1,1,1.0,...,0.00,0.000000,0.0,0.0,0.000000,100073,NaN,grupo,0.000000,dfe
1,1,35191027849963000110550010005964131005945510,2019-10-29,1403,20,100073,0,1,1,NaN,...,63.62,71.877277,0.0,0.0,24.389510,100073,2.784996e+13,grupo,75.582468,entrada_sp
2,2,35191127849963000110550010006084971006065827,2019-11-09,1403,7,100073,0,1,1,NaN,...,63.62,71.877277,0.0,0.0,24.389510,100073,2.784996e+13,grupo,75.582468,entrada_sp
3,3,35191203129126000159590006031131212496179820,2019-12-05,5405,1,100073,1,1,1,NaN,...,0.00,0.000000,0.0,0.0,0.000000,100073,NaN,grupo,0.000000,dfe
4,4,35191227849963000110550010006364621006344734,2019-12-08,1403,36,100073,0,1,1,NaN,...,63.72,71.777277,0.0,0.0,24.389510,100073,2.784996e+13,grupo,75.582468,entrada_sp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493477,493477,35201203129126000159590007086090676940106578,2020-12-23,5405,3,99234,1,1,1,NaN,...,0.00,0.000000,0.0,0.0,0.000000,99234,NaN,grupo,0.000000,dfe
493478,493478,35201203129126000159590005812821041405820715,2020-12-24,5405,5,99234,1,1,1,NaN,...,0.00,0.000000,0.0,0.0,0.000000,99234,NaN,grupo,0.000000,dfe
493479,493479,35201227849963000110550010010262221010226748,2020-12-29,1403,19,99234,0,1,1,NaN,...,1.88,8.606188,0.0,0.0,2.621547,99234,2.784996e+13,grupo,5.632534,entrada_sp
493480,493480,35201203129126000159590007086090696680045137,2020-12-31,5405,4,99234,1,1,1,NaN,...,0.00,0.000000,0.0,0.0,0.000000,99234,NaN,grupo,0.000000,dfe
493481,493481,35201203129126000159590007086090637396048776,2020-12-05,5405,2,99655,1,1,1,1.0,...,0.00,NaN,0.0,0.0,0.000000,99655,NaN,NaN,0.000000,dfe

In [4]:
tabela_2 = pd.read_csv(f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\loja_{loja}_tabela_2_1_p{periodo}_v1.csv', encoding='utf-8')
tabela_2 = tabela_2.sort_values(by=['cod novo', 'DATA', 'IND_OPER', 'SUB_TIPO'], 
                           ascending=[True, True, True, True])
tabela_2

C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\237983676.py:1: DtypeWarning: Columns (22,28) have mixed types. Specify dtype option on import or set low_memory=False.
  tabela_2 = pd.read_csv(f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\loja_{loja}_tabela_2_1_p{periodo}_v1.csv', encoding='utf-8')

,Unnamed: 0,CHV_DOC,DATA,CFOP,NUM_ITEM,cod novo,tipo,COD_ITEM,IND_OPER,SUB_TIPO,...,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ EMITENTE,CNPJ DESTINATARIO,Valor Base Cálculo ICMS Substituição Tributária,vBCST,FONTE
428976,428976,35200303129126000159590007086090080848810419,2020-03-06,5405,1,18,grupo,18,1,1,...,9455 - DEPAKENE 250MG 25S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,0.000000,dfe
428977,428977,35200303129126000159590007086090080848810419,2020-03-06,5405,2,18,grupo,18,1,1,...,9455 - DEPAKENE 250MG 25S ABB C1,7891158000942.0,UN,30049099.0,NaN,NaN,NaN,NaN,0.000000,dfe
55922,55922,35200327849963000110550010007168391007145826,2020-03-10,1403,1,18,grupo,18,0,1,...,DEPAKENE 250MG 25'S ABB C1,7891158000942.0,UN,30049099.0,1300100.0,2.784996e+13,3.129126e+12,NaN,17.664725,entrada_sp
190821,190821,35191103129126000159590005812820376086785510,2019-11-15,5405,1,34,grupo,34,1,1,...,2176 - DEPAKENE 250MG XPE 100ML AB C,7891158000966.0,UN,30049099.0,NaN,NaN,NaN,NaN,0.000000,dfe
190822,190822,35191103129126000159590005812820376086785510,2019-11-15,5405,2,34,grupo,34,1,1,...,2176 - DEPAKENE 250MG XPE 100ML AB C,7891158000966.0,UN,30049099.0,NaN,NaN,NaN,NaN,0.000000,dfe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142652,142652,35201271605265006283550010000014691010230080,2020-12-31,1403,27,901004510,outros2,99036,0,1,...,CIPROFIBRATO 100MG 30S NQ,NaN,UN,30049099.0,1300200.0,7.160527e+13,3.129126e+12,NaN,133.836705,entrada_sp
353537,353537,35200403129126000159590005812820691245204225,2020-04-29,5405,4,901004511,outros2,99234,1,1,...,51655 - ESM RISQUE V TRAT BAS COB BRI,7891182991933.0,UN,33043000.0,NaN,NaN,NaN,NaN,0.000000,dfe
391835,391835,35200803129126000159590005812820839397223248,2020-08-12,5405,1,901004511,outros2,99234,1,1,...,8400 - ESM RISQUE V TRAT BAS COB BRI,7891182991933.0,UN,33043000.0,NaN,NaN,NaN,NaN,0.000000,dfe
279218,279218,35200903129126000159590005812820867797723441,2020-09-05,5405,12,901004511,outros2,99234,1,1,...,40000 - ESM RISQUE V TRAT BAS COB BRI,7891182991933.0,UN,33043000.0,NaN,NaN,NaN,NaN,0.000000,dfe
143044,143044,35201271605265006283550010000028671010244067,2020-12-31,1403,26,901004511,outros2,99234,0,1,...,ESM RISQUE V TRAT BAS COB BRIL,NaN,UN,33043000.0,2001200.0,7.160527e+13,3.129126e+12,NaN,16.897602,entrada_sp

In [5]:
planilha = planilha.merge(tabela_2[['CHV_DOC', 'NUM_ITEM', 'DESCRICAO', 'CODIGO_BARRA', 'UNIDADE', 'N C M', 'CEST',
                'CNPJ DESTINATARIO']],
            on=['CHV_DOC', 'NUM_ITEM'], how='left')

In [6]:
planilha.head()

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,cod novo,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,CNPJ EMITENTE,tipo,vBCST,FONTE,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ DESTINATARIO
0,0,35191003129126000159590006031131098680305954,2019-10-24,5405,3,100073,1,1,1,1.0,...,NaN,grupo,0.000000,dfe,2176 - OS CAL D 60S SANOFI,7891058011550.0,UN,30045050.0,NaN,NaN
1,1,35191027849963000110550010005964131005945510,2019-10-29,1403,20,100073,0,1,1,NaN,...,2.784996e+13,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050.0,1300101.0,3.129126e+12
2,2,35191127849963000110550010006084971006065827,2019-11-09,1403,7,100073,0,1,1,NaN,...,2.784996e+13,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050.0,1300101.0,3.129126e+12
3,3,35191203129126000159590006031131212496179820,2019-12-05,5405,1,100073,1,1,1,NaN,...,NaN,grupo,0.000000,dfe,2176 - OS CAL D 60S SANOFI,7891058011550.0,UN,30045050.0,NaN,NaN
4,4,35191227849963000110550010006364621006344734,2019-12-08,1403,36,100073,0,1,1,NaN,...,2.784996e+13,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050.0,1300101.0,3.129126e+12

In [7]:
planilha['cod novo'] = planilha['cod novo'].astype(str)

In [8]:
planilha['DESCRICAO'] = planilha['DESCRICAO'].str.replace('"', "'")

In [9]:
planilha['N C M'] = pd.to_numeric(planilha['N C M'])
planilha['N C M'] = planilha['N C M'].astype(str).str.replace(r'\.0$', '', regex=True)

planilha['CEST'] = pd.to_numeric(planilha['CEST'])
planilha['CEST'] = planilha['CEST'].astype('Int64').astype(str).replace('<NA>', np.nan)
planilha['CEST'] = planilha['CEST'].astype(str).str.replace(r'\.0$', '', regex=True)

planilha['CNPJ EMITENTE'] = pd.to_numeric(planilha['CNPJ EMITENTE'])
planilha['CNPJ EMITENTE'] = planilha['CNPJ EMITENTE'].astype('Int64').astype(str).replace('<NA>', np.nan)

planilha['QTD_CAT'] = planilha['QTD_CAT'].astype(str) + ',000'

planilha['COD_LEGAL_PCAT'] = pd.to_numeric(planilha['COD_LEGAL_PCAT'])
planilha['COD_LEGAL_PCAT'] = planilha['COD_LEGAL_PCAT'].astype('Int64').astype(str).replace('<NA>', np.nan)

planilha['CFOP'] = pd.to_numeric(planilha['CFOP'])
planilha['CFOP'] = planilha['CFOP'].astype('Int64').astype(str).replace('<NA>', np.nan)

planilha['UNIDADE'] = planilha['UNIDADE'].str.strip()

def format_number(value):
    return '{:,.2f}'.format(value).replace(',', '.')

planilha

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,cod novo,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,CNPJ EMITENTE,tipo,vBCST,FONTE,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ DESTINATARIO
0,0,35191003129126000159590006031131098680305954,2019-10-24,5405,3,100073,1,1,"1,000",1.0,...,NaN,grupo,0.000000,dfe,2176 - OS CAL D 60S SANOFI,7891058011550.0,UN,30045050,nan,NaN
1,1,35191027849963000110550010005964131005945510,2019-10-29,1403,20,100073,0,1,"1,000",NaN,...,27849963000110,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12
2,2,35191127849963000110550010006084971006065827,2019-11-09,1403,7,100073,0,1,"1,000",NaN,...,27849963000110,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12
3,3,35191203129126000159590006031131212496179820,2019-12-05,5405,1,100073,1,1,"1,000",NaN,...,NaN,grupo,0.000000,dfe,2176 - OS CAL D 60S SANOFI,7891058011550.0,UN,30045050,nan,NaN
4,4,35191227849963000110550010006364621006344734,2019-12-08,1403,36,100073,0,1,"1,000",NaN,...,27849963000110,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493477,493477,35201203129126000159590007086090676940106578,2020-12-23,5405,3,99234,1,1,"1,000",NaN,...,NaN,grupo,0.000000,dfe,13119 - ESM RISQUE V TRAT BAS COB BRI,7891182991933.0,UN,33043000,nan,NaN
493478,493478,35201203129126000159590005812821041405820715,2020-12-24,5405,5,99234,1,1,"1,000",NaN,...,NaN,grupo,0.000000,dfe,13119 - ESM RISQUE V TRAT BAS COB BRI,7891182991933.0,UN,33043000,nan,NaN
493479,493479,35201227849963000110550010010262221010226748,2020-12-29,1403,19,99234,0,1,"1,000",NaN,...,27849963000110,grupo,5.632534,entrada_sp,ESM RISQUE V TRAT BAS COB BRIL,NaN,UN,33043000,2001200,3.129126e+12
493480,493480,35201203129126000159590007086090696680045137,2020-12-31,5405,4,99234,1,1,"1,000",NaN,...,NaN,grupo,0.000000,dfe,38200 - ESM RISQUE V TRAT BAS COB BRI,7891182991933.0,UN,33043000,nan,NaN
493481,493481,35201203129126000159590007086090637396048776,2020-12-05,5405,2,99655,1,1,"1,000",1.0,...,NaN,NaN,0.000000,dfe,51655 - LAMINA BARBEAR WILKINSON C/5,7702018861866.0,UN,82122010,nan,NaN

In [10]:
planilha = planilha.drop_duplicates()
planilha

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,cod novo,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,CNPJ EMITENTE,tipo,vBCST,FONTE,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ DESTINATARIO
0,0,35191003129126000159590006031131098680305954,2019-10-24,5405,3,100073,1,1,"1,000",1.0,...,NaN,grupo,0.000000,dfe,2176 - OS CAL D 60S SANOFI,7891058011550.0,UN,30045050,nan,NaN
1,1,35191027849963000110550010005964131005945510,2019-10-29,1403,20,100073,0,1,"1,000",NaN,...,27849963000110,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12
2,2,35191127849963000110550010006084971006065827,2019-11-09,1403,7,100073,0,1,"1,000",NaN,...,27849963000110,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12
3,3,35191203129126000159590006031131212496179820,2019-12-05,5405,1,100073,1,1,"1,000",NaN,...,NaN,grupo,0.000000,dfe,2176 - OS CAL D 60S SANOFI,7891058011550.0,UN,30045050,nan,NaN
4,4,35191227849963000110550010006364621006344734,2019-12-08,1403,36,100073,0,1,"1,000",NaN,...,27849963000110,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493477,493477,35201203129126000159590007086090676940106578,2020-12-23,5405,3,99234,1,1,"1,000",NaN,...,NaN,grupo,0.000000,dfe,13119 - ESM RISQUE V TRAT BAS COB BRI,7891182991933.0,UN,33043000,nan,NaN
493478,493478,35201203129126000159590005812821041405820715,2020-12-24,5405,5,99234,1,1,"1,000",NaN,...,NaN,grupo,0.000000,dfe,13119 - ESM RISQUE V TRAT BAS COB BRI,7891182991933.0,UN,33043000,nan,NaN
493479,493479,35201227849963000110550010010262221010226748,2020-12-29,1403,19,99234,0,1,"1,000",NaN,...,27849963000110,grupo,5.632534,entrada_sp,ESM RISQUE V TRAT BAS COB BRIL,NaN,UN,33043000,2001200,3.129126e+12
493480,493480,35201203129126000159590007086090696680045137,2020-12-31,5405,4,99234,1,1,"1,000",NaN,...,NaN,grupo,0.000000,dfe,38200 - ESM RISQUE V TRAT BAS COB BRI,7891182991933.0,UN,33043000,nan,NaN
493481,493481,35201203129126000159590007086090637396048776,2020-12-05,5405,2,99655,1,1,"1,000",1.0,...,NaN,NaN,0.000000,dfe,51655 - LAMINA BARBEAR WILKINSON C/5,7702018861866.0,UN,82122010,nan,NaN

In [11]:
planilha['CODIGO_BARRA'] = np.where(pd.notnull(planilha['CODIGO_BARRA']), planilha['CODIGO_BARRA'].astype(str).str.replace(r'\.0$', '', regex=True),
                                   np.nan)
planilha

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,cod novo,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,CNPJ EMITENTE,tipo,vBCST,FONTE,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ DESTINATARIO
0,0,35191003129126000159590006031131098680305954,2019-10-24,5405,3,100073,1,1,"1,000",1.0,...,NaN,grupo,0.000000,dfe,2176 - OS CAL D 60S SANOFI,7891058011550,UN,30045050,nan,NaN
1,1,35191027849963000110550010005964131005945510,2019-10-29,1403,20,100073,0,1,"1,000",NaN,...,27849963000110,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12
2,2,35191127849963000110550010006084971006065827,2019-11-09,1403,7,100073,0,1,"1,000",NaN,...,27849963000110,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12
3,3,35191203129126000159590006031131212496179820,2019-12-05,5405,1,100073,1,1,"1,000",NaN,...,NaN,grupo,0.000000,dfe,2176 - OS CAL D 60S SANOFI,7891058011550,UN,30045050,nan,NaN
4,4,35191227849963000110550010006364621006344734,2019-12-08,1403,36,100073,0,1,"1,000",NaN,...,27849963000110,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493477,493477,35201203129126000159590007086090676940106578,2020-12-23,5405,3,99234,1,1,"1,000",NaN,...,NaN,grupo,0.000000,dfe,13119 - ESM RISQUE V TRAT BAS COB BRI,7891182991933,UN,33043000,nan,NaN
493478,493478,35201203129126000159590005812821041405820715,2020-12-24,5405,5,99234,1,1,"1,000",NaN,...,NaN,grupo,0.000000,dfe,13119 - ESM RISQUE V TRAT BAS COB BRI,7891182991933,UN,33043000,nan,NaN
493479,493479,35201227849963000110550010010262221010226748,2020-12-29,1403,19,99234,0,1,"1,000",NaN,...,27849963000110,grupo,5.632534,entrada_sp,ESM RISQUE V TRAT BAS COB BRIL,NaN,UN,33043000,2001200,3.129126e+12
493480,493480,35201203129126000159590007086090696680045137,2020-12-31,5405,4,99234,1,1,"1,000",NaN,...,NaN,grupo,0.000000,dfe,38200 - ESM RISQUE V TRAT BAS COB BRI,7891182991933,UN,33043000,nan,NaN
493481,493481,35201203129126000159590007086090637396048776,2020-12-05,5405,2,99655,1,1,"1,000",1.0,...,NaN,NaN,0.000000,dfe,51655 - LAMINA BARBEAR WILKINSON C/5,7702018861866,UN,82122010,nan,NaN

In [12]:
mes_ano = []
for date in planilha['DATA']:
    mes_ano.append(str(date)[5:7] + str(date)[0:4])

planilha['Data'] = mes_ano
planilha['Data'].unique()

array(['102019', '112019', '122019', '052020', '092020', '102020',
       '032020', '122020', '012020', '022020', '042020', '062020',
       '072020', '082020', '112020'], dtype=object)

In [13]:
planilha.replace('nan', np.nan, inplace=True)

In [14]:
planilha['DATA'].astype(str).iloc[0][8:]

'24'

In [15]:
planilha

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,cod novo,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,tipo,vBCST,FONTE,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ DESTINATARIO,Data
0,0,35191003129126000159590006031131098680305954,2019-10-24,5405,3,100073,1,1,"1,000",1.0,...,grupo,0.000000,dfe,2176 - OS CAL D 60S SANOFI,7891058011550,UN,30045050,NaN,NaN,102019
1,1,35191027849963000110550010005964131005945510,2019-10-29,1403,20,100073,0,1,"1,000",NaN,...,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12,102019
2,2,35191127849963000110550010006084971006065827,2019-11-09,1403,7,100073,0,1,"1,000",NaN,...,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12,112019
3,3,35191203129126000159590006031131212496179820,2019-12-05,5405,1,100073,1,1,"1,000",NaN,...,grupo,0.000000,dfe,2176 - OS CAL D 60S SANOFI,7891058011550,UN,30045050,NaN,NaN,122019
4,4,35191227849963000110550010006364621006344734,2019-12-08,1403,36,100073,0,1,"1,000",NaN,...,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12,122019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493477,493477,35201203129126000159590007086090676940106578,2020-12-23,5405,3,99234,1,1,"1,000",NaN,...,grupo,0.000000,dfe,13119 - ESM RISQUE V TRAT BAS COB BRI,7891182991933,UN,33043000,NaN,NaN,122020
493478,493478,35201203129126000159590005812821041405820715,2020-12-24,5405,5,99234,1,1,"1,000",NaN,...,grupo,0.000000,dfe,13119 - ESM RISQUE V TRAT BAS COB BRI,7891182991933,UN,33043000,NaN,NaN,122020
493479,493479,35201227849963000110550010010262221010226748,2020-12-29,1403,19,99234,0,1,"1,000",NaN,...,grupo,5.632534,entrada_sp,ESM RISQUE V TRAT BAS COB BRIL,NaN,UN,33043000,2001200,3.129126e+12,122020
493480,493480,35201203129126000159590007086090696680045137,2020-12-31,5405,4,99234,1,1,"1,000",NaN,...,grupo,0.000000,dfe,38200 - ESM RISQUE V TRAT BAS COB BRI,7891182991933,UN,33043000,NaN,NaN,122020
493481,493481,35201203129126000159590007086090637396048776,2020-12-05,5405,2,99655,1,1,"1,000",1.0,...,NaN,0.000000,dfe,51655 - LAMINA BARBEAR WILKINSON C/5,7702018861866,UN,82122010,NaN,NaN,122020

In [16]:
planilha['CEST'] = planilha['CEST'].replace('0', pd.NA)

# Second, add leading '0' to values with length equal to 6
planilha.loc[planilha['CEST'].str.len() == 6, 'CEST'] = '0' + planilha['CEST']

planilha['CEST']

0             NaN
1         1300101
2         1300101
3             NaN
4         1300101
           ...
493477        NaN
493478        NaN
493479    2001200
493480        NaN
493481        NaN
Name: CEST, Length: 493482, dtype: object

In [17]:
planilha['N C M'] = planilha['N C M'].apply(lambda x: str(x).zfill(8) if len(str(x)) < 8 else str(x))
planilha

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,cod novo,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,tipo,vBCST,FONTE,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ DESTINATARIO,Data
0,0,35191003129126000159590006031131098680305954,2019-10-24,5405,3,100073,1,1,"1,000",1.0,...,grupo,0.000000,dfe,2176 - OS CAL D 60S SANOFI,7891058011550,UN,30045050,NaN,NaN,102019
1,1,35191027849963000110550010005964131005945510,2019-10-29,1403,20,100073,0,1,"1,000",NaN,...,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12,102019
2,2,35191127849963000110550010006084971006065827,2019-11-09,1403,7,100073,0,1,"1,000",NaN,...,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12,112019
3,3,35191203129126000159590006031131212496179820,2019-12-05,5405,1,100073,1,1,"1,000",NaN,...,grupo,0.000000,dfe,2176 - OS CAL D 60S SANOFI,7891058011550,UN,30045050,NaN,NaN,122019
4,4,35191227849963000110550010006364621006344734,2019-12-08,1403,36,100073,0,1,"1,000",NaN,...,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12,122019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493477,493477,35201203129126000159590007086090676940106578,2020-12-23,5405,3,99234,1,1,"1,000",NaN,...,grupo,0.000000,dfe,13119 - ESM RISQUE V TRAT BAS COB BRI,7891182991933,UN,33043000,NaN,NaN,122020
493478,493478,35201203129126000159590005812821041405820715,2020-12-24,5405,5,99234,1,1,"1,000",NaN,...,grupo,0.000000,dfe,13119 - ESM RISQUE V TRAT BAS COB BRI,7891182991933,UN,33043000,NaN,NaN,122020
493479,493479,35201227849963000110550010010262221010226748,2020-12-29,1403,19,99234,0,1,"1,000",NaN,...,grupo,5.632534,entrada_sp,ESM RISQUE V TRAT BAS COB BRIL,NaN,UN,33043000,2001200,3.129126e+12,122020
493480,493480,35201203129126000159590007086090696680045137,2020-12-31,5405,4,99234,1,1,"1,000",NaN,...,grupo,0.000000,dfe,38200 - ESM RISQUE V TRAT BAS COB BRI,7891182991933,UN,33043000,NaN,NaN,122020
493481,493481,35201203129126000159590007086090637396048776,2020-12-05,5405,2,99655,1,1,"1,000",1.0,...,NaN,0.000000,dfe,51655 - LAMINA BARBEAR WILKINSON C/5,7702018861866,UN,82122010,NaN,NaN,122020

In [18]:
planilha.columns

Index(['index', 'CHV_DOC', 'DATA', 'CFOP', 'NUM_ITEM', 'cod novo', 'IND_OPER',
       'SUB_TIPO', 'QTD_CAT', 'QTD_INI', 'ICMS_INI', 'QTD_ent1_devolv_ent',
       'ICMS_TOT_0', 'ICMS_TOT_ent_unit', 'ULT_ICMS_TOT_ent_unit',
       'ICMS_TOT_1', 'qtd_saida_1_devolv_saida', 'ICMS_SAIDA_UNI',
       'ULT_ICMS_SAIDA_UNI', 'ICMS_SAIDA', 'ICMS_TOT_PCAT', 'VLR_CONF_0',
       'VLR_CONFR_UNIT', 'ULT_VLR_CONFR_UNIT', 'VLR_CONFR_1', 'QTD_SALDO',
       'ICMS_TOT_SALDO', 'VLR_RESSARCIMENTO', 'VLR_COMPLEMENTO', 'COD_LEGAL',
       'COD_LEGAL_PCAT', 'VLR_CONFR_PCAT', 'SALDO_FINAL_MES_QTD',
       'SALDO_FINAL_MES_ICMS', 'ALIQUOTA', 'VALOR',
       'Valor Base Cálculo ICMS ST Retido Operação Anterior',
       'Valor Complementar', 'Valor ICMS Substituição Tributária',
       'Valor ICMS Operação', 'ICMS_TOT', 'COD_ITEM', 'CNPJ EMITENTE', 'tipo',
       'vBCST', 'FONTE', 'DESCRICAO', 'CODIGO_BARRA', 'UNIDADE', 'N C M',
       'CEST', 'CNPJ DESTINATARIO', 'Data'],
      dtype='object')

In [19]:
planilha[planilha['CODIGO_BARRA'] == 'SEM GTIN      ']

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,cod novo,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,tipo,vBCST,FONTE,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ DESTINATARIO,Data
1035,1035,35191103129126000159550020000027911160912313,2019-11-19,1411,1,101139,0,-1,"1,000",NaN,...,grupo,0.0,entrada_oprprp,Enant.Norest+Val Estrad Cifarm,SEM GTIN,UN,30043939,1300500,0.0,112019
1638,1638,35200703129126000159550020000032371174872398,2020-07-15,1411,1,102186,0,-1,"1,000",NaN,...,grupo,0.0,entrada_oprprp,Listerine 250ml Zero Alcool,SEM GTIN,UN,33069000,2002500,0.0,072020
2161,2161,35191103129126000159550020000027941161175012,2019-11-21,1411,2,102897,0,-1,"1,000",NaN,...,grupo,0.0,entrada_oprprp,Dipirona N.Q 1gr 10S,SEM GTIN,UN,30049069,1300201,0.0,112019
2402,2402,35200703129126000159550020000032221174534864,2020-07-09,1411,1,1032,0,-1,"1,000",NaN,...,grupo,0.0,entrada_oprprp,Allestra 75/30mg 21S Ache,SEM GTIN,UN,30043939,1300300,0.0,072020
3013,3013,35200303129126000159550020000030461168852937,2020-03-30,1411,1,10447,0,-1,"1,000",NaN,...,grupo,0.0,entrada_oprprp,Sb Consecret Ft Vermelhas 500m,SEM GTIN,UN,34013000,2802300,0.0,032020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488757,488757,35200403129126000159550020000031051170393630,2020-04-27,1411,1,96826,0,-1,"1,000",NaN,...,grupo,0.0,entrada_oprprp,Ciflogex Cereja 12S Cimed,SEM GTIN,UN,30039099,1300301,0.0,042020
489021,489021,35191203129126000159550020000028791163696772,2019-12-31,1411,1,96842,0,-1,"1,000",NaN,...,grupo,0.0,entrada_oprprp,Dipimed 20ml Medquimica,SEM GTIN,UN,30039099,1300300,0.0,122019
491070,491070,35200503129126000159550020000031221170894766,2020-05-06,1411,2,97717,0,-1,"3,000",NaN,...,grupo,0.0,entrada_oprprp,Hidroclorotiazida Cimed 25mg 3,SEM GTIN,UN,30039089,1300200,0.0,052020
493323,493323,35200103129126000159550020000029421165259532,2020-01-26,1411,1,99036,0,-1,"1,000",NaN,...,grupo,0.0,entrada_oprprp,Ciprofibrato 100mg 30S Nq,SEM GTIN,UN,30049099,1300200,0.0,012020
493388,493388,35200103129126000159550020000029451165499896,2020-01-29,1411,1,99150,0,-1,"1,000",NaN,...,grupo,0.0,entrada_oprprp,Ivermectina 6mg 4S Nq,SEM GTIN,UN,30049059,1300200,0.0,012020

In [20]:
planilha['CODIGO_BARRA'] = planilha['CODIGO_BARRA'].replace('SEM GTIN      ', np.nan)
planilha

,index,CHV_DOC,DATA,CFOP,NUM_ITEM,cod novo,IND_OPER,SUB_TIPO,QTD_CAT,QTD_INI,...,tipo,vBCST,FONTE,DESCRICAO,CODIGO_BARRA,UNIDADE,N C M,CEST,CNPJ DESTINATARIO,Data
0,0,35191003129126000159590006031131098680305954,2019-10-24,5405,3,100073,1,1,"1,000",1.0,...,grupo,0.000000,dfe,2176 - OS CAL D 60S SANOFI,7891058011550,UN,30045050,NaN,NaN,102019
1,1,35191027849963000110550010005964131005945510,2019-10-29,1403,20,100073,0,1,"1,000",NaN,...,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12,102019
2,2,35191127849963000110550010006084971006065827,2019-11-09,1403,7,100073,0,1,"1,000",NaN,...,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12,112019
3,3,35191203129126000159590006031131212496179820,2019-12-05,5405,1,100073,1,1,"1,000",NaN,...,grupo,0.000000,dfe,2176 - OS CAL D 60S SANOFI,7891058011550,UN,30045050,NaN,NaN,122019
4,4,35191227849963000110550010006364621006344734,2019-12-08,1403,36,100073,0,1,"1,000",NaN,...,grupo,75.582468,entrada_sp,OS CAL D 60'S SANOFI/AVENTIS,7891058011550,UN,30045050,1300101,3.129126e+12,122019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493477,493477,35201203129126000159590007086090676940106578,2020-12-23,5405,3,99234,1,1,"1,000",NaN,...,grupo,0.000000,dfe,13119 - ESM RISQUE V TRAT BAS COB BRI,7891182991933,UN,33043000,NaN,NaN,122020
493478,493478,35201203129126000159590005812821041405820715,2020-12-24,5405,5,99234,1,1,"1,000",NaN,...,grupo,0.000000,dfe,13119 - ESM RISQUE V TRAT BAS COB BRI,7891182991933,UN,33043000,NaN,NaN,122020
493479,493479,35201227849963000110550010010262221010226748,2020-12-29,1403,19,99234,0,1,"1,000",NaN,...,grupo,5.632534,entrada_sp,ESM RISQUE V TRAT BAS COB BRIL,NaN,UN,33043000,2001200,3.129126e+12,122020
493480,493480,35201203129126000159590007086090696680045137,2020-12-31,5405,4,99234,1,1,"1,000",NaN,...,grupo,0.000000,dfe,38200 - ESM RISQUE V TRAT BAS COB BRI,7891182991933,UN,33043000,NaN,NaN,122020
493481,493481,35201203129126000159590007086090637396048776,2020-12-05,5405,2,99655,1,1,"1,000",1.0,...,NaN,0.000000,dfe,51655 - LAMINA BARBEAR WILKINSON C/5,7702018861866,UN,82122010,NaN,NaN,122020

In [21]:
list(planilha['CODIGO_BARRA'].unique())

['7891058011550',
 '7890282800688',
 nan,
 '7891024139325',
 '7890282800701',
 '7891024114865',
 '7899304803690',
 '7891058325039',
 '7896658014215',
 '7897322705415',
 '7891150018761',
 '7891150006058',
 '7891150006072',
 '7891317462031',
 '7896269900761',
 '7899304803737',
 '7899304803713',
 '7895296105040',
 '7898505091479',
 '7899304803706',
 '7899304803744',
 '7899304803720',
 '7891150018853',
 '7896317907834',
 '7891058263096',
 '7891317457341',
 '7899026457645',
 '7899026459960',
 '7899026459908',
 '7899026457621',
 '7899026459649',
 '7899026459007',
 '7899026459748',
 '7899026458949',
 '7891010973902',
 '7891010974312',
 '7896004728834',
 '7891058489038',
 '7891058000165',
 '4005808313167',
 '4005808631322',
 '4005808185719',
 '4005808662388',
 '4005808663927',
 '7891058464073',
 '7896015525583',
 '7894916503792',
 '7896714207551',
 '6502400181807',
 '7896658004902',
 '7895296213042',
 '7896094904675',
 '7896094903814',
 '7891317443931',
 '7898474840528',
 '7898474842546',
 '7896025500563',
 '7898474840535',
 '7898474842553',
 '7898474840597',
 '7898474842560',
 '7506195129838',
 '7506195129876',
 '7896714214603',
 '7896714273549',
 '7891721003127',
 '7898474842577',
 '7896714217321',
 '7896714232966',
 '7896714229843',
 '7896523211268',
 '7896523209142',
 '7896523208893',
 '7896523209715',
 '7896523207988',
 '7896523209418',
 '7896523207964',
 '7896523210919',
 '7896523213828',
 '7896523207803',
 '7891150019560',
 '7896641807534',
 '7896094904118',
 '7896094903777',
 '7896094912588',
 '7896094903838',
 '7896094903807',
 '7896094912601',
 '7896094904682',
 '7891024122556',
 '7891106007047',
 '7891106907019',
 '7891106907064',
 '7896004738949',
 '7896094207943',
 '7891010986155',
 '7896472505524',
 '7896523206431',
 '7896523210438',
 '7896523207919',
 '7890282801319',
 '7896714218892',
 '7896714201498',
 '7895296100038',
 '6502400078206',
 '7897316805497',
 '7896094207844',
 '7795323001263',
 '4495323001272',
 '4953230012700',
 '7891010805425',
 '8902220114814',
 '8902220114876',
 '7891010566739',
 '7891010566722',
 '7896015526252',
 '7896015525804',
 '7897137903723',
 '7897137900364',
 '7894916204705',
 '7898133137471',
 '7896641808609',
 '7891010974923',
 '7899026478909',
 '7896094207851',
 '7897000800548',
 '7896020160076',
 '7896020160083',
 '7896004733548',
 '7896015527174',
 '7891142118103',
 '7898133138560',
 '7896261015487',
 '7896181921363',
 '7896714232980',
 '7896658015380',
 '7896658017247',
 '7896658015427',
 '7896658019036',
 '7899095234192',
 '7891058004668',
 '7899026481640',
 '7896658011924',
 '7895296232081',
 '7891182026734',
 '7895296109017',
 '7895296087087',
 '7895296039031',
 '7896093001030',
 '7891463006592',
 '3809083280302',
 '7898148290772',
 '7898148290840',
 '7898148301294',
 '7899547504842',
 '7898148290406',
 '7898148301027',
 '7899547504675',
 '7899547503845',
 '7898148300754',
 '7898148290376',
 '7898148301287',
 '7899547504835',
 '7891106906944',
 '7899470800882',
 '7897595620613',
 '7897595620637',
 '7891150021686',
 '7891150021662',
 '7891150021709',
 '7896094201088',
 '7896094206366',
 '7791293018874',
 '7891721001970',
 '7899470807430',
 '7896862918460',
 '7896201640298',
 '7891522022129',
 '7896033231084',
 '7896033231091',
 '7896033201827',
 '7896033201810',
 '7896548111727',
 '7898148298587',
 '7898148296552',
 '7891058016999',
 '7896181916222',
 '7896181916062',
 '7896181916086',
 '7896641808630',
 '7895296118064',
 '7896112422136',
 '7896658012426',
 '7896000624215',
 '7896000624222',
 '7896000624413',
 '7896000624420',
 '7891522022136',
 '7896006267072',
 '7891010510978',
 '7891010510985',
 '7891010510992',
 '7891010998509',
 '7591083011098',
 '7891317446031',
 '7891024132647',
 '7891150019508',
 '7891150019416',
 '7791293020280',
 '7791293025780',
 '7791293020297',
 '7896255717885',
 '7501056348922',
 '7891024124628',
 '7898916010052',
 '7898148297535',
 '7898148298877',
 '7898148294381',
 '7898148300556',
 '7898148298655',
 '7899547505184',
 '7898148301669',
 '7898148293490',
 '7898148291533',
 '7898148291540',
 '7898148290802',
 '7898148295340',
 '7898148298914',
 '7896548111987',
 '7898148291120',
 '7898148301065',
 '7898148301911',
 '7899547505061',
 '7898148301546',
 '7896094208117',
 '7896015523398',
 '7891024132906',
 '7891024115862',
 '7891024134702',
 '7891024136478',
 '7899547502565',
 '7702018072392',
 '7897889102931',
 '7702018072217',
 '7899304805533',
 '7898417965264',
 '7896025504929',
 '7899304805571',
 '7898952601115',
 '7898148290550',
 '7898148297269',
 '7896015527440',
 '7896015527433',
 '7509546055169',
 '7793100111143',
 '7896641808548',
 '7896641808715',
 '7896641810176',
 '7896641810190',
 '7896004733241',
 '7898925504108',
 '7898133139253',
 '7898133139277',
 '7898133139239',
 '7898133139246',
 '7896261018303',
 '7896658015069',
 '7891058015770',
 '7896658000911',
 '7897316806012',
 '7897316805824',
 '7896226102535',
 '7891058486013',
 '7898133130403',
 '7894916209908',
 '7891177816852',
 '7899026483446',
 '7899026483422',
 '7501007457789',
 '7896000614667',
 '7896000614674',
 '7506195196694',
 '7898133130410',
 '7899026487178',
 '7891045043588',
 '7899026487185',
 '7899026487208',
 '7896006259701',
 '7899026487222',
 '7896023705397',
 '7899026487246',
 '7891024114674',
 '7896015591687',
 '7891024102213',
 '7896181921325',
 '7898503183619',
 '7895296092302',
 '7896714201108',
 '7501006721317',
 '7506195132043',
 '7896020160205',
 '7896020160199',
 '7891106903967',
 '7891106908221',
 '7896004715827',
 '7899095236509',
 '7891522022143',
 '7891522021146',
 '7896025519046',
 '7896025504400',
 '7891142177216',
 '7896094207769',
 '7896094206298',
 '7891721020940',
 '7898133134630',
 '7897595614384',
 '7891317469283',
 '7896714224459',
 '7896714207575',
 '7896181920397',
 '7896181920410',
 '7896181900085',
 '7896181900115',
 '7895296038010',
 '7898133136450',
 '7891106908290',
 '7891106908313',
 '7895296128087',
 '7896226506371',
 '7895296128049',
 '7898277711421',
 '7898277711247',
 '7898277710332',
 '7891010980061',
 '7896202900995',
 '7896658005107',
 '7891010980085',
 '7896006212300',
 '7898945030212',
 '7896422525237',
 '7891106003230',
 '4005808715688',
 '4005808715695',
 '7896372500476',
 '7891317477271',
 '7896004745626',
 '7891182996501',
 '7891182996662',
 '7896006216766',
 '7896015528294',
 '7894916508506',
 '7897930760806',
 '7891150028647',
 '7891150008151',
 '7891150008168',
 '7501007413105',
 '7506195184431',
 '7899470801322',
 '7891150028463',
 '7891150028470',
 '7898040322540',
 '7898009430903',
 '7898524340329',
 '7897042010974',
 '6502400266306',
 '7891182026710',
 '7896015528300',
 '7896862918071',
 '7899596504824',
 '7898623356153',
 '7898146826768',
 '7896382705342',
 '7891142136626',
 '7891035912405',
 '7896026304023',
 '7896026304627',
 '7891317488833',
 '4005805122120',
 '4005808834730',
 '4005805122137',
 '4005808834815',
 '7898907312264',
 '7891106911337',
 '7898009433171',
 '7891010966225',
 '7891350032741',
 '7891350032406',
 '7896094906815',
 '7891350034646',
 '7898569760267',
 '7898569760298',
 '7891010931551',
 '7896658006913',
 '7898185410621',
 '70330717527',
 '7896027200607',
 '5702191013726',
 '7509546060781',
 '7509546061689',
 '7891024026403',
 '7896714204888',
 '7795323001461',
 '7500435127226',
 '7590002025314',
 '7899706110365',
 '7898075312554',
 '7896523210773',
 '7896016806254',
 '7898414852420',
 '7896226102832',
 '7899026421257',
 '7899026421349',
 '7899026414525',
 '7899026413658',
 '7899026413764',
 '7896000661463',
 '7896000672575',
 '7896000672582',
 '7891317123956',
 '7891317123994',
 '7891317124038',
 '7896658001901',
 '3014260010607',
 '7896658001918',
 '7897076915481',
 '4005808910328',
 '4005808906062',
 '4005808919833',
 '7899304806189',
 '7899304809906',
 '7898624050043',
 '7898216361595',
 '7898587779562',
 '7891058059149',
 '7896902204508',
 '7896014192922',
 '7896902204751',
 '7896902200746',
 '7896902212152',
 '7896902210165',
 '7896902203105',
 '7896902206458',
 '7896902204850',
 '7896902201101',
 '7896094907324',
 '7891106909624',
 '7896015528577',
 '7896033212151',
 '7896033211345',
 '7896033211338',
 '7896422504614',
 '7898954589060',
 '7891350026627',
 '7896317910261',
 '4005808309436',
 '7891010931582',
 '7891010931476',
 '7891350026610',
 '7896548112717',
 '7896714214702',
 '7898505092506',
 '7891010026264',
 '7891058011468',
 '7896422533713',
 '7891150035928',
 '7896523208534',
 '7891150025936',
 '7891150026025',
 '7891150025998',
 '7891150025967',
 '7891150025981',
 '7891024028353',
 '7891000106099',
 '7898087340125',
 '7896658021640',
 '7891150023321',
 '7506339315479',
 '7891106909631',
 '7898949409465',
 '7896090700424',
 '7506339358230',
 '3014260010980',
 '7895296105026',
 '7896180300541',
 '7896180302088',
 '7896180302095',
 '7894916508353',
 '7891024023969',
 '7894916502597',
 '7896012877456',
 '7896012800416',
 '7896012800423',
 '7896012800430',
 '7891150029538',
 '7896025521247',
 '7896025516991',
 '7896094909182',
 '7896094906310',
 '7896094910546',
 '7894916140911',
 '7896658019562',
 '7891991000826',
 '7891991000833',
 '7891991002202',
 '7892840800628',
 '7892840800079',
 '7891149100101',
 '7896241261248',
 '7891042005213',
 '7891042102424',
 '7896317910230',
 '7896094208278',
 '7896012877586',
 '7896094208773',
 '7891010579265',
 '7891010579289',
 '7891010601164',
 '7891010601171',
 '7896677701615',
 '7891010601188',
 '7891010581800',
 '7896094905825',
 '7896212414468',
 '7898569761431',
 '7506339305111',
 '7891058003555',
 '7891058003579',
 '7891058003562',
 '7891075010161',
 '7891075010130',
 '7891075020023',
 '7891075042124',
 '7891075030091',
 '7891075080218',
 '7891075403192',
 '7891075060210',
 '7891075403215',
 '7891150000452',
 '7891075302402',
 '7891150051973',
 '7896714241821',
 '7891075081215',
 '4005900122186',
 '4005900130785',
 '4005900095268',
 '7896222720764',
 '7896012800874',
 '7896012800867',
 '7896012877722',
 '7896012800669',
 '7896012877715',
 '7896012800713',
 '7891038406109',
 '7891150029606',
 '7896094909250',
 '7896094909236',
 '7896012800706',
 '4789107540317',
 '6001159111764',
 '7896677701523',
 '7891058021559',
 '7896026300520',
 '7896241231616',
 '7891317490003',
 '6001159111771',
 '7896714221083',
 '4015400637608',
 '7896331705256',
 '7896331705171',
 '7891010591014',
 '7899547511031',
 '7898040322748',
 '7894916144209',
 '7896658023224',
 '7891150029583',
 '7891150036376',
 '7896523219646',
 '7896523219707',
 '7891150037205',
 '7891150023338',
 '7896317909241',
 '7896026306188',
 '7896641809170',
 '7896015528997',
 '7891317498054',
 '7791293028781',
 '7891721100017',
 '7791293025797',
 '7791293028774',
 '7791293025872',
 '7896007547128',
 '7895296132039',
 '7896523202600',
 '7896523202617',
 '7896007547173',
 '7506339325256',
 '7506339326048',
 '7506339326055',
 '7506339325263',
 '7506295355069',
 '7896004701288',
 '7506339337525',
 '7506339337532',
 '7894916145145',
 '7894916143004',
 '7894916143028',
 '7894916143011',
 '7894916141345',
 '7891721000133',
 '7894916143479',
 '7894916143424',
 '7894916144971',
 '7894916144261',
 '7894916143622',
 '7894916142946',
 '7894916142427',
 '7894916140690',
 '7894916140706',
 '7891721020506',
 '7894916142052',
 '7894916145466',
 '7894916140683',
 '7894916146401',
 '7894916146388',
 '7894916146449',
 '7894916146425',
 '7894916143042',
 '7894916143035',
 '7894916142519',
 '7894916145480',
 '7891721000164',
 '7894916145688',
 '7894916146074',
 '7894916146067',
 '7894916146050',
 '7894916144698',
 '7894916144681',
 '7894916144216',
 '7894916144223',
 '7894916143875',
 '7894916147743',
 '7894916146357',
 '7894916141024',
 '7894916340328',
 '7894916143738',
 '7894916144025',
 '7894916145718',
 '7894916143431',
 '7894916146234',
 '7894916147125',
 '7894916143257',
 '7894916142083',
 '7894916143127',
 '7894916140348',
 '7894916142847',
 '7894916147705',
 '7894916147996',
 '7894916145114',
 '7894916141499',
 '7894916141666',
 '7894916145459',
 '7894916145565',
 '7894916141116',
 '7894916146852',
 '7894916140423',
 '8902220109506',
 '7894916143448',
 '7894916148252',
 '7894916143066',
 '7894916140850',
 '7894916143851',
 '7894916140140',
 '7894916149167',
 '7894916144674',
 '7894916141567',
 '7894916142564',
 '7894916141550',
 '7891721000126',
 '7894916148306',
 '7894916142588',
 '7894916145596',
 '7894916145602',
 '7894916142403',
 '7898185413196',
 '7894916141734',
 '7894916146111',
 '7896523219608',
 '7506339325249',
 '7896000627056',
 '7897076906526',
 '7899547508086',
 '7896112416142',
 '7896317910308',
 '7891010589615',
 '7896020161738',
 '7896020161721',
 '7891010618766',
 '7891010618780',
 '7702031610823',
 '7896658003516',
 '7891800364804',
 '7896025513822',
 '7896025519107',
 '7896641604133',
 '7896658002212',
 '7898907313803',
 '7898907313780',
 '7896658003547',
 '7899304803904',
 '7896015523404',
 '7891166466747',
 '7897572001923',
 '7894916140867',
 '7891317127725',
 '7896658023361',
 '7896006248316',
 '7894916146883',
 '7894916145503',
 '7894916145695',
 '7894916143141',
 '7894916144605',
 '7894916144803',
 '7894916140393',
 '7896181924739',
 '7897211100109',
 '7894916145558',
 '7891150035874',
 '7892953001837',
 '7892953001820',
 '7896422504812',
 '7896227800010',
 '7891522640026',
 '7891522605018',
 '7896000620521',
 '7896000620514',
 '7891522640019',
 '7896018703063',
 '7896331705577',
 '7898902180530',
 '7891150041042',
 '7892940000034',
 '7892940000324',
 '7892940000317',
 '7506339394535',
 '7896830500505',
 '7896019602006',
 '7622300862466',
 '7622300862442',
 '7622300862282',
 '7891150040694',
 '7899706120265',
 '7898085947562',
 '7898085947548',
 '7898085947579',
 '7898085947111',
 '7898489511154',
 '7898085945797',
 '7898085945780',
 '7898085943809',
 '7898952601436',
 '7898952601429',
 '7898952601443',
 '7896422500852',
 '7891058015756',
 '7897322710426',
 '7896092000850',
 '7891106905985',
 '7891721028113',
 '7898952601641',
 '7898623354364',
 '7899470805726',
 '7891721028458',
 '7894916145404',
 '7898074618435',
 '7896004732930',
 '7891058019365',
 '7891058018627',
 '7891463006608',
 '7896094904354',
 '7896094904330',
 '7891268400076',
 '7896641807763',
 '7896179850125',
 '7896523206677',
 '7897947604599',
 '7896317904802',
 '7899706124829',
 '7896658001925',
 '7896033203128',
 '7896033203159',
 '7896033203166',
 '7898936110619',
 '7891010610272',
 '7891010610210',
 '7899026407626',
 '7899026407572',
 '7899026408388',
 '7899026408340',
 '7899026418356',
 '7899026418455',
 '7899026473492',
 '7899026473706',
 '7896523206189',
 '7891000062661',
 '7891000109908',
 '7613034968388',
 '7613034968364',
 '7896025514867',
 '7896025504394',
 '7896025517110',
 '7896025517417',
 '7896025517424',
 '7898414852604',
 '7896327310136',
 '7896327310112',
 '7896327310105',
 '7896327310327',
 '7896327309932',
 '7897460400333',
 '7898569762674',
 '7898941911843',
 '7898941911850',
 '7891317140533',
 '7891350034653',
 '7896094908697',
 '7500435122221',
 '7506339384123',
 '7501078270676',
 '7206690073703',
 '7896004725000',
 '75054434',
 '7891150041646',
 '7891150041639',
 '7891150041714',
 '7506306233362',
 '7898074610880',
 '7501078284949',
 '7501078270706',
 '7501078270638',
 '7891150037595',
 '7891150037397',
 '7891150037571',
 '7891150037465',
 '7891150037250',
 '7891150037427',
 '7891040138425',
 '7891040137077',
 '7891040071791',
 '7898902180554',
 '7898322240340',
 '7898941911973',
 '7896094208285',
 '7896279111256',
 '7896279112826',
 '7896279100823',
 '7896279112727',
 '7896279112734',
 '7896279103121',
 '7896094908529',
 '7898623350694',
 '7898623350687',
 '7896255766067',
 '7899706118095',
 '7899706126335',
 '4005808925223',
 '4005808850617',
 '7898623350595',
 '7898623350601',
 '7898623350632',
 '7898623350618',
 '7898623350625',
 '7896044954996',
 '7891317006013',
 '7896044955122',
 '7896044952794',
 '7896641801792',
 '7898185413301',
 '7898185413288',
 '7898623351042',
 '7898623351035',
 '7898623350267',
 '7899547513202',
 '7896206407308',
 '7899547504743',
 '7899547514315',
 '7899547521214',
 '7898148299317',
 '7899547511130',
 '7896653703220',
 '7896653702483',
 '7896094206410',
 '7506339326024',
 '7506339326031',
 '7896206407384',
 '7891317134303',
 '7891058002916',
 '7891058017392',
 '7896094208407',
 '7898623351134',
 '7898623351141',
 '7898623351158',
 '7898623351172',
 '7898623351196',
 '7898623351202',
 '4005900208507',
 '4005900208569',
 '4005900294722',
 '7506309841823',
 '4506309841826',
 '3014260014445',
 '3014260001445',
 '7506339358247',
 '7506339390841',
 '7896317900750',
 '7896317900767',
 '7891040197514',
 '7896336601119',
 '7896676428681',
 '7891317127404',
 '7896331705379',
 '5000456028370',
 '7896016808135',
 '7891721026546',
 '7891142201935',
 '7896658024146',
 '7891058018191',
 '7891058018238',
 '7899596505227',
 '7899596505234',
 '7891268402001',
 '7896212409457',
 '7896138700607',
 '4005900294739',
 '7896006207436',
 '7896006213130',
 '7896006213123',
 '7798140251958',
 '7898623350809',
 '7898623350816',
 '742832304740',
 '7891010591038',
 '7896226502427',
 '7891010087722',
 '7613034909480',
 '7899640801084',
 '7891058020286',
 '7891317464899',
 '7891317000127',
 '7896658002403',
 '7896004756875',
 '7896658001512',
 '7898623350960',
 '7898623350991',
 '7898623350885',
 '7898623350892',
 '7898623350908',
 '7898623350915',
 '7898623350922',
 '7898623350939',
 '7898623350946',
 '7898623350953',
 '7898623350861',
 '7898623350878',
 '7896004728957',
 '7896004732510',
 '7896007547913',
 '7891058020071',
 '7897595901446',
 '7897322709710',
 '7898623351608',
 '7898623351592',
 '7896004749327',
 '7896000722799',
 '7896000716712',
 '7896000722805',
 '7898100243792',
 '7898100241897',
 '7891268116908',
 '7891268116915',
 '7898623351219',
 '7899706130936',
 '7896000620668',
 '7896000622617',
 '7896000620675',
 '7896000622624',
 '7896000627001',
 '7898941911867',
 '7896004722726',
 '7899838800417',
 '7891058018245',
 '7896224410670',
 '7891010507169',
 '7891010507152',
 '7891010972219',
 '7896685302880',
 '7899706111621',
 '7899706132589',
 '7898587774475',
 '7899706133371',
 '7899706133395',
 ...]

In [22]:
# Geração do dataset base para geração da 1100

cols_1100 = ['CHV_DOC', 'DATA', 'NUM_ITEM', 'IND_OPER', 'cod novo', 'CFOP','QTD_CAT', 'ICMS_TOT_PCAT', 'VLR_CONFR_PCAT', 'COD_LEGAL_PCAT', 'FONTE']

df_1100 = planilha.copy()
df_1100 = df_1100[cols_1100]
df_1100['Data'] = df_1100['DATA']
df_1100['DATA'] = df_1100['DATA'].astype(str)
df_1100['DATA'] = [datetime.strptime(x, '%Y-%m-%d').strftime('%d%m%Y') for x in df_1100['DATA']]
#df_1100.rename(coluns={'Número Item': 'NUM_ITEM'}, inplace=True)


df_1100['QTD_FIN'] = df_1100['QTD_CAT']
df_1100['COD_REG'] = ['1100']*df_1100.shape[0]
df_1100 = df_1100[['COD_REG','CHV_DOC','Data','DATA','NUM_ITEM','IND_OPER','cod novo','CFOP','QTD_FIN',
                   'ICMS_TOT_PCAT','VLR_CONFR_PCAT','COD_LEGAL_PCAT', 'FONTE']]
df_1100

,COD_REG,CHV_DOC,Data,DATA,NUM_ITEM,IND_OPER,cod novo,CFOP,QTD_FIN,ICMS_TOT_PCAT,VLR_CONFR_PCAT,COD_LEGAL_PCAT,FONTE
0,1100,35191003129126000159590006031131098680305954,2019-10-24,24102019,3,1,100073,5405,"1,000",NaN,12.6936,1,dfe
1,1100,35191027849963000110550010005964131005945510,2019-10-29,29102019,20,0,100073,1403,"1,000",24.389510,NaN,NaN,entrada_sp
2,1100,35191127849963000110550010006084971006065827,2019-11-09,09112019,7,0,100073,1403,"1,000",24.389510,NaN,NaN,entrada_sp
3,1100,35191203129126000159590006031131212496179820,2019-12-05,05122019,1,1,100073,5405,"1,000",NaN,12.6936,1,dfe
4,1100,35191227849963000110550010006364621006344734,2019-12-08,08122019,36,0,100073,1403,"1,000",24.389510,NaN,NaN,entrada_sp
...,...,...,...,...,...,...,...,...,...,...,...,...,...
493477,1100,35201203129126000159590007086090676940106578,2020-12-23,23122020,3,1,99234,5405,"1,000",NaN,1.1225,1,dfe
493478,1100,35201203129126000159590005812821041405820715,2020-12-24,24122020,5,1,99234,5405,"1,000",NaN,1.1225,1,dfe
493479,1100,35201227849963000110550010010262221010226748,2020-12-29,29122020,19,0,99234,1403,"1,000",2.621547,NaN,NaN,entrada_sp
493480,1100,35201203129126000159590007086090696680045137,2020-12-31,31122020,4,1,99234,5405,"1,000",NaN,1.1225,1,dfe
493481,1100,35201203129126000159590007086090637396048776,2020-12-05,05122020,2,1,99655,5405,"1,000",NaN,NaN,0,dfe

In [23]:
df_1100[df_1100['VLR_CONFR_PCAT'] == 0]

Empty DataFrame
Columns: [COD_REG, CHV_DOC, Data, DATA, NUM_ITEM, IND_OPER, cod novo, CFOP, QTD_FIN, ICMS_TOT_PCAT, VLR_CONFR_PCAT, COD_LEGAL_PCAT, FONTE]
Index: []

In [24]:
df_1100['Data'] = df_1100['Data'].astype(str)
df_1100['Data'] = [datetime.strptime(x, '%Y-%m-%d').strftime('%m%Y') for x in df_1100['Data']]
df_1100['Data']

0         102019
1         102019
2         112019
3         122019
4         122019
           ...
493477    122020
493478    122020
493479    122020
493480    122020
493481    122020
Name: Data, Length: 493482, dtype: object

In [25]:
df_1100.dtypes

COD_REG            object
CHV_DOC            object
Data               object
DATA               object
NUM_ITEM            int64
IND_OPER            int64
cod novo           object
CFOP               object
QTD_FIN            object
ICMS_TOT_PCAT     float64
VLR_CONFR_PCAT    float64
COD_LEGAL_PCAT     object
FONTE              object
dtype: object

In [26]:
df_1100['QTD_FIN'] = df_1100['QTD_FIN'].replace('nan', np.nan)
df_1100

,COD_REG,CHV_DOC,Data,DATA,NUM_ITEM,IND_OPER,cod novo,CFOP,QTD_FIN,ICMS_TOT_PCAT,VLR_CONFR_PCAT,COD_LEGAL_PCAT,FONTE
0,1100,35191003129126000159590006031131098680305954,102019,24102019,3,1,100073,5405,"1,000",NaN,12.6936,1,dfe
1,1100,35191027849963000110550010005964131005945510,102019,29102019,20,0,100073,1403,"1,000",24.389510,NaN,NaN,entrada_sp
2,1100,35191127849963000110550010006084971006065827,112019,09112019,7,0,100073,1403,"1,000",24.389510,NaN,NaN,entrada_sp
3,1100,35191203129126000159590006031131212496179820,122019,05122019,1,1,100073,5405,"1,000",NaN,12.6936,1,dfe
4,1100,35191227849963000110550010006364621006344734,122019,08122019,36,0,100073,1403,"1,000",24.389510,NaN,NaN,entrada_sp
...,...,...,...,...,...,...,...,...,...,...,...,...,...
493477,1100,35201203129126000159590007086090676940106578,122020,23122020,3,1,99234,5405,"1,000",NaN,1.1225,1,dfe
493478,1100,35201203129126000159590005812821041405820715,122020,24122020,5,1,99234,5405,"1,000",NaN,1.1225,1,dfe
493479,1100,35201227849963000110550010010262221010226748,122020,29122020,19,0,99234,1403,"1,000",2.621547,NaN,NaN,entrada_sp
493480,1100,35201203129126000159590007086090696680045137,122020,31122020,4,1,99234,5405,"1,000",NaN,1.1225,1,dfe
493481,1100,35201203129126000159590007086090637396048776,122020,05122020,2,1,99655,5405,"1,000",NaN,NaN,0,dfe

In [27]:
# Leitura do arquivo da 1050

arquivo_1050 = pd.read_excel(f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\1050_loja_{loja}_p{periodo}_v1.xlsx', dtype=str)

In [28]:
mes_ano = []
for date in arquivo_1050['REF']:
    mes_ano.append(str(date)[5:7] + str(date)[0:4])
    
arquivo_1050['DATA'] = [datetime.strptime(x, '%Y%m').strftime('%m%Y') for x in arquivo_1050['REF']]
arquivo_1050

,Unnamed: 0,cod novo,REF,QTD_INI,ICMS_INI,SALDO_FINAL_MES_QTD,SALDO_FINAL_MES_ICMS,DATA
0,0,18,202003,2,54.50202304495672,1,33.87973918109171,032020
1,1,34,201911,2,14.02302505075326,2,21.9418237912535,112019
2,2,34,202011,2,21.9418237912535,3,23.94145828688025,112020
3,3,34,202012,3,23.94145828688025,3,23.95225828688025,122020
4,4,67,202010,1,0,0,0,102020
...,...,...,...,...,...,...,...,...
53776,53776,901004510,202012,0,0,3,12.4128,122020
53777,53777,901004511,202004,3,1.08553201552028,2,0.7236880103468535,042020
53778,53778,901004511,202008,2,0.7236880103468535,1,0.3618440051734267,082020
53779,53779,901004511,202009,1,0.3618440051734267,0,0,092020
53780,53780,901004511,202012,0,0,3,1.41,122020

In [29]:
for date in planilha['Data'].unique():
    print(date)

102019
112019
122019
052020
092020
102020
032020
122020
012020
022020
042020
062020
072020
082020
112020

In [30]:
# Definição de uma função para exportar os
# dataframes de cada documentação em um
# arquivo .txt com a formatação desejada

def dataframe_to_txt_with_crlf(data, path):
    with open(path, 'a', newline='', encoding='latin-1') as f:
        for index, row in data.iterrows():
            row_str = '|'.join(map(lambda x: '' if pd.isna(x) else str(x), row)) + '\r\n'
            f.write(row_str)

In [31]:
def format_number(value):
    locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')  # Set your desired locale
    formatted_value = locale.format('%.2f', value, grouping=True)
    formatted_value = str(formatted_value).replace('.', '')
    return formatted_value

In [32]:
df_0150 = pd.read_excel(f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Referencias\\0000_0150_P{periodo}.xlsx', sheet_name='0150', dtype=str)
df_0150 = df_0150[['LOJA', 'REG', 'COD_PART', 'NOME', 'COD_PAIS', 'CNPJ', 'CPF', 'COD_MUN', 'IE', 'DATA']]
df_0150

,LOJA,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,COD_MUN,IE,DATA
0,Loja 1,0150,FOR751986424,REDE IDEIA SOLUCOES TECNOLOGICAS LTDA EPP,1058,10707895000152,NaN,4314902,0963630237,20190901
1,Loja 1,0150,FOR752963432,REDE GAUCHA DE CERTIFICAÇÃO DIGITAL EIRELI,1058,31725974000166,NaN,4314902,0963750070,20200901
2,Loja 1,0150,FOR752036025,UNILEVER BRASIL LTDA,1058,61068276003383,NaN,3549904,125031328110,20191101
3,Loja 1,0150,FOR752036025,UNILEVER BRASIL LTDA,1058,61068276003383,NaN,3549904,125031328110,20191201
4,Loja 1,0150,FOR752036025,UNILEVER BRASIL LTDA,1058,61068276003383,NaN,3549904,125031328110,20200101
...,...,...,...,...,...,...,...,...,...,...
161227,Loja 99,0150,FOR753009243,PATRICIA ANGELICA DOS SANTOS TORRES,1058,NaN,04435689790,3550308,NaN,20201201
161228,Loja 99,0150,FOR753009567,RICARDO APRIGIO DE OLIVEIRA,1058,NaN,04437118600,3550308,NaN,20201201
161229,Loja 99,0150,FOR753009638,ANTONIO LORENCO BARBOSA,1058,NaN,00644575832,3550308,NaN,20201201
161230,Loja 99,0150,FOR753010472,EDNOLIA GARCIA DE SOUZA,1058,NaN,60428490506,3550308,NaN,20201201
161231,Loja 99,0150,FOR753012814,MARIA DAS GRACAS SANTOS DE ALMEIDA,1058,NaN,17468140553,3550308,NaN,20201201

In [33]:
df_0150 = df_0150[df_0150['LOJA'] == f'Loja {loja}']
if df_0150.shape[0] == 0:
        print(f'Loja {loja} não possui 0150. Favor atualizar arquivo')
        sys.exit()
df_0150['DATA'] = df_0150['DATA'].str.slice(0, 10).astype(str)
df_0150['DATA'] = [datetime.strptime(x, '%Y%m%d').strftime('%m%Y') for x in df_0150['DATA']]
df_0150['CNPJ'] = df_0150['CNPJ'].replace('', np.nan)
df_0150['IE'] = df_0150['IE'].replace('', np.nan)
df_0150['IE'] = df_0150['IE'].str.lstrip('\n')
df_0150['COD_PART'] = df_0150['COD_PART'].str.replace(r'^(FOR|CLI)', '', regex=True)
df_0150

C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1251421117.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150['DATA'] = df_0150['DATA'].str.slice(0, 10).astype(str)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1251421117.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150['DATA'] = [datetime.strptime(x, '%Y%m%d').strftime('%m%Y') for x in df_0150['DATA']]
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1251421117.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150['CNPJ'] = df_0150['CNPJ'].replace('', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1251421117.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150['IE'] = df_0150['IE'].replace('', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1251421117.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150['IE'] = df_0150['IE'].str.lstrip('\n')
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1251421117.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150['COD_PART'] = df_0150['COD_PART'].str.replace(r'^(FOR|CLI)', '', regex=True)

,LOJA,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,COD_MUN,IE,DATA
0,Loja 1,0150,751986424,REDE IDEIA SOLUCOES TECNOLOGICAS LTDA EPP,1058,10707895000152,NaN,4314902,0963630237,092019
1,Loja 1,0150,752963432,REDE GAUCHA DE CERTIFICAÇÃO DIGITAL EIRELI,1058,31725974000166,NaN,4314902,0963750070,092020
2,Loja 1,0150,752036025,UNILEVER BRASIL LTDA,1058,61068276003383,NaN,3549904,125031328110,112019
3,Loja 1,0150,752036025,UNILEVER BRASIL LTDA,1058,61068276003383,NaN,3549904,125031328110,122019
4,Loja 1,0150,752036025,UNILEVER BRASIL LTDA,1058,61068276003383,NaN,3549904,125031328110,012020
...,...,...,...,...,...,...,...,...,...,...
821,Loja 1,0150,164665,VISA,1058,88888888000000,NaN,3549904,NaN,122019
822,Loja 1,0150,164665,VISA,1058,88888888000000,NaN,3549904,NaN,012020
823,Loja 1,0150,164665,VISA,1058,88888888000000,NaN,3549904,NaN,032020
824,Loja 1,0150,164665,VISA,1058,88888888000000,NaN,3549904,NaN,042020
825,Loja 1,0150,164665,VISA,1058,88888888000000,NaN,3549904,NaN,122020

In [34]:
df_0150 = df_0150[['REG', 'COD_PART', 'NOME', 'COD_PAIS', 'CNPJ', 'CPF', 'IE', 'COD_MUN', 'DATA']]
df_0150 = df_0150[df_0150['CNPJ'].notnull()]
df_0150 = df_0150.drop_duplicates()
df_0150

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,751986424,REDE IDEIA SOLUCOES TECNOLOGICAS LTDA EPP,1058,10707895000152,NaN,0963630237,4314902,092019
1,0150,752963432,REDE GAUCHA DE CERTIFICAÇÃO DIGITAL EIRELI,1058,31725974000166,NaN,0963750070,4314902,092020
2,0150,752036025,UNILEVER BRASIL LTDA,1058,61068276003383,NaN,125031328110,3549904,112019
3,0150,752036025,UNILEVER BRASIL LTDA,1058,61068276003383,NaN,125031328110,3549904,122019
4,0150,752036025,UNILEVER BRASIL LTDA,1058,61068276003383,NaN,125031328110,3549904,012020
...,...,...,...,...,...,...,...,...,...
821,0150,164665,VISA,1058,88888888000000,NaN,NaN,3549904,122019
822,0150,164665,VISA,1058,88888888000000,NaN,NaN,3549904,012020
823,0150,164665,VISA,1058,88888888000000,NaN,NaN,3549904,032020
824,0150,164665,VISA,1058,88888888000000,NaN,NaN,3549904,042020
825,0150,164665,VISA,1058,88888888000000,NaN,NaN,3549904,122020

In [35]:
df_0150_final = pd.DataFrame()

# Get the unique 'PERIODO' values
unique_periodos = df_0150['DATA'].unique()

# Iterate through unique 'PERIODO' values
for data_periodo in unique_periodos:
    # Filter the DataFrame for the current 'PERIODO' value
    filtered_df = df_0150[df_0150['DATA'] == data_periodo]
    
    # Drop duplicates in the 'CNPJ' column for the current 'PERIODO'
    filtered_df = filtered_df.drop_duplicates(subset='CNPJ', keep='first')
    
    # Append the filtered results to the final DataFrame
    df_0150_final = pd.concat([df_0150_final, filtered_df])

# Reset the index of the final DataFrame
df_0150_final.reset_index(drop=True, inplace=True)
df_0150_final = df_0150_final[df_0150_final['REG'] == '0150']
df_0150_final

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,751986424,REDE IDEIA SOLUCOES TECNOLOGICAS LTDA EPP,1058,10707895000152,NaN,0963630237,4314902,092019
1,0150,000002016,Servimed comercial ltda,1058,44463156000184,NaN,209017636112,3506003,092019
2,0150,000355698,Conde atacadista LTDA,1058,27849963000110,NaN,125415766116,3508504,092019
3,0150,751971821,Elektro Redes S.A,1058,02328280000197,NaN,244868522118,3509502,092019
4,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,092019
...,...,...,...,...,...,...,...,...,...
238,0150,000002112,MRM Fazzini Facundes Transportes EPP,1058,97554090000102,NaN,645333991113,3549904,122020
239,0150,000002004,DHV DISTRIBUIDORA HOSPITALAR DO VALE LTDA,1058,23276873000127,NaN,645739349118,3549904,122020
240,0150,000000001,Master Formula Farmacia de Manipulação LTDA,1058,71605265039297,NaN,701237302110,3555406,122020
241,0150,752994067,LUIZ M M DOS SANTOS GAS,1058,37537780000113,NaN,701187537110,3555406,122020
242,0150,164665,VISA,1058,88888888000000,NaN,NaN,3549904,122020

In [36]:
df_0150_final = df_0150_final.drop_duplicates()
df_0150_final[df_0150_final['IE'].notnull()]

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,751986424,REDE IDEIA SOLUCOES TECNOLOGICAS LTDA EPP,1058,10707895000152,NaN,0963630237,4314902,092019
1,0150,000002016,Servimed comercial ltda,1058,44463156000184,NaN,209017636112,3506003,092019
2,0150,000355698,Conde atacadista LTDA,1058,27849963000110,NaN,125415766116,3508504,092019
3,0150,751971821,Elektro Redes S.A,1058,02328280000197,NaN,244868522118,3509502,092019
4,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,092019
...,...,...,...,...,...,...,...,...,...
237,0150,000002029,PROFARMA Distribuidora de Produtos Farmaceutic...,1058,45453214001042,NaN,637117955110,3548906,122020
238,0150,000002112,MRM Fazzini Facundes Transportes EPP,1058,97554090000102,NaN,645333991113,3549904,122020
239,0150,000002004,DHV DISTRIBUIDORA HOSPITALAR DO VALE LTDA,1058,23276873000127,NaN,645739349118,3549904,122020
240,0150,000000001,Master Formula Farmacia de Manipulação LTDA,1058,71605265039297,NaN,701237302110,3555406,122020
241,0150,752994067,LUIZ M M DOS SANTOS GAS,1058,37537780000113,NaN,701187537110,3555406,122020

In [37]:
df_cnpj_repetido = pd.DataFrame(columns=df_0150_final.columns)

dates = list(df_0150_final['DATA'].unique())
for date in dates:
    for cnpj in df_0150_final[df_0150_final['DATA'] == date]['CNPJ'].unique():
        if len(df_0150_final.loc[(df_0150_final['DATA'] == date) & (df_0150_final['CNPJ'] == cnpj)]) > 1:
            df = df_0150_final.loc[(df_0150_final['DATA'] == date) & (df_0150_final['CNPJ'] == cnpj)]
            df_cnpj_repetido = pd.concat([df_cnpj_repetido, df])
            
if df_cnpj_repetido.shape[0] > 0:
    print('Existe repetição de CNPJ. Favor verificar')
    print(f'O CNPJ repetido é: {list(df_cnpj_repetido["CNPJ"].unique())}')
    print(f'A data em que ocorreu a repetição é {list(df_cnpj_repetido["DATA"].unique())}')
    sys.exit()
    
df_cnpj_repetido

Empty DataFrame
Columns: [REG, COD_PART, NOME, COD_PAIS, CNPJ, CPF, IE, COD_MUN, DATA]
Index: []

In [38]:
df_ie_repetido = pd.DataFrame(columns=df_0150_final.columns)

dates = list(df_0150_final['DATA'].unique())
for date in dates:
    for ie in df_0150_final[df_0150_final['DATA'] == date]['IE'].unique():
        if len(df_0150_final.loc[(df_0150_final['DATA'] == date) & (df_0150_final['IE'] == ie)]) > 1:
            df = df_0150_final.loc[(df_0150_final['DATA'] == date) & (df_0150_final['IE'] == ie)]
            df_ie_repetido = pd.concat([df_ie_repetido, df])
    
if df_ie_repetido.shape[0] > 0:
    print('Existe repetição de Inscrição Estadual. Favor verificar')
    print(f'A IE repetida é: {list(df_ie_repetido["IE"].unique())}')
    print(f'A data em que ocorreu a repetição é {list(df_ie_repetido["DATA"].unique())}')
    sys.exit()
            
df_ie_repetido

Empty DataFrame
Columns: [REG, COD_PART, NOME, COD_PAIS, CNPJ, CPF, IE, COD_MUN, DATA]
Index: []

In [39]:
df_0150_final = df_0150_final.drop_duplicates(subset=('COD_PART', 'DATA'), keep='first')
df_0150_final

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,751986424,REDE IDEIA SOLUCOES TECNOLOGICAS LTDA EPP,1058,10707895000152,NaN,0963630237,4314902,092019
1,0150,000002016,Servimed comercial ltda,1058,44463156000184,NaN,209017636112,3506003,092019
2,0150,000355698,Conde atacadista LTDA,1058,27849963000110,NaN,125415766116,3508504,092019
3,0150,751971821,Elektro Redes S.A,1058,02328280000197,NaN,244868522118,3509502,092019
4,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,092019
...,...,...,...,...,...,...,...,...,...
238,0150,000002112,MRM Fazzini Facundes Transportes EPP,1058,97554090000102,NaN,645333991113,3549904,122020
239,0150,000002004,DHV DISTRIBUIDORA HOSPITALAR DO VALE LTDA,1058,23276873000127,NaN,645739349118,3549904,122020
240,0150,000000001,Master Formula Farmacia de Manipulação LTDA,1058,71605265039297,NaN,701237302110,3555406,122020
241,0150,752994067,LUIZ M M DOS SANTOS GAS,1058,37537780000113,NaN,701187537110,3555406,122020
242,0150,164665,VISA,1058,88888888000000,NaN,NaN,3549904,122020

In [40]:
df_0150_final

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,751986424,REDE IDEIA SOLUCOES TECNOLOGICAS LTDA EPP,1058,10707895000152,NaN,0963630237,4314902,092019
1,0150,000002016,Servimed comercial ltda,1058,44463156000184,NaN,209017636112,3506003,092019
2,0150,000355698,Conde atacadista LTDA,1058,27849963000110,NaN,125415766116,3508504,092019
3,0150,751971821,Elektro Redes S.A,1058,02328280000197,NaN,244868522118,3509502,092019
4,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,092019
...,...,...,...,...,...,...,...,...,...
238,0150,000002112,MRM Fazzini Facundes Transportes EPP,1058,97554090000102,NaN,645333991113,3549904,122020
239,0150,000002004,DHV DISTRIBUIDORA HOSPITALAR DO VALE LTDA,1058,23276873000127,NaN,645739349118,3549904,122020
240,0150,000000001,Master Formula Farmacia de Manipulação LTDA,1058,71605265039297,NaN,701237302110,3555406,122020
241,0150,752994067,LUIZ M M DOS SANTOS GAS,1058,37537780000113,NaN,701187537110,3555406,122020
242,0150,164665,VISA,1058,88888888000000,NaN,NaN,3549904,122020

In [41]:
for cod_part in list(df_0150_final['COD_PART'].unique()):
    for date in df_0150_final['DATA']:
        if df_0150_final[(df_0150_final['COD_PART'] == cod_part) & (df_0150_final['DATA'] == date)].shape[0] > 1:
            mensagem = 'ATENÇÃO. EXISTE CODIGO DE PARTICIPANTE REPETIDO. FAVOR CHECAR'
            print(mensagem)
            print(f'O codigo repetido é igual a {cod_part}')
            print(f'A data da repetição é igual a {date}')
            sys.exit()

In [42]:
# Iterate through each file in the folder
df_0000 = pd.read_excel(f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Referencias\\0000_0150_P{periodo}.xlsx', sheet_name='0000', dtype=str)

df_0000['DATA'] = df_0000['DATA'].astype(str).str.slice(0, 8)
df_0000['DATA'] = [datetime.strptime(x, '%Y%m%d').strftime('%m%Y') for x in df_0000['DATA']]
df_0000['COD_VER'] = ['01'] * df_0000.shape[0]
df_0000['COD_FIN'] = ['00'] * df_0000.shape[0]
df_0000 = df_0000[['LOJA','REG', 'DATA', 'NOME', 'CNPJ', 'IE',
        'COD_MUN', 'COD_VER', 'COD_FIN']]

df_0000

,LOJA,REG,DATA,NOME,CNPJ,IE,COD_MUN,COD_VER,COD_FIN
0,Loja 4,0000,092019,Master Formula Farmacia de Manipulação LTDA,71605265023960,701218691115,3555406,01,00
1,Loja 4,0000,102019,Master Formula Farmacia de Manipulação LTDA,71605265023960,701218691115,3555406,01,00
2,Loja 4,0000,112019,Master Formula Farmacia de Manipulação LTDA,71605265023960,701218691115,3555406,01,00
3,Loja 4,0000,122019,Master Formula Farmacia de Manipulação LTDA,71605265023960,701218691115,3555406,01,00
4,Loja 4,0000,012020,Master Formula Farmacia de Manipulação LTDA,71605265023960,701218691115,3555406,01,00
...,...,...,...,...,...,...,...,...,...
3175,Loja 71,0000,082020,Master Formula Farmacia de Manipulação LTDA,71605265000323,145800771110,3550308,01,00
3176,Loja 71,0000,092020,Master Formula Farmacia de Manipulação LTDA,71605265000323,145800771110,3550308,01,00
3177,Loja 71,0000,102020,Master Formula Farmacia de Manipulação LTDA,71605265000323,145800771110,3550308,01,00
3178,Loja 71,0000,112020,Master Formula Farmacia de Manipulação LTDA,71605265000323,145800771110,3550308,01,00
3179,Loja 71,0000,122020,Master Formula Farmacia de Manipulação LTDA,71605265000323,145800771110,3550308,01,00

In [43]:
for date in planilha['Data'].unique():
    print(date)

102019
112019
122019
052020
092020
102020
032020
122020
012020
022020
042020
062020
072020
082020
112020

In [44]:
df_0150_final['COD_MUN'] = pd.to_numeric(df_0150_final['COD_MUN'])
df_0150_final

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,751986424,REDE IDEIA SOLUCOES TECNOLOGICAS LTDA EPP,1058,10707895000152,NaN,0963630237,4314902,092019
1,0150,000002016,Servimed comercial ltda,1058,44463156000184,NaN,209017636112,3506003,092019
2,0150,000355698,Conde atacadista LTDA,1058,27849963000110,NaN,125415766116,3508504,092019
3,0150,751971821,Elektro Redes S.A,1058,02328280000197,NaN,244868522118,3509502,092019
4,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,092019
...,...,...,...,...,...,...,...,...,...
238,0150,000002112,MRM Fazzini Facundes Transportes EPP,1058,97554090000102,NaN,645333991113,3549904,122020
239,0150,000002004,DHV DISTRIBUIDORA HOSPITALAR DO VALE LTDA,1058,23276873000127,NaN,645739349118,3549904,122020
240,0150,000000001,Master Formula Farmacia de Manipulação LTDA,1058,71605265039297,NaN,701237302110,3555406,122020
241,0150,752994067,LUIZ M M DOS SANTOS GAS,1058,37537780000113,NaN,701187537110,3555406,122020
242,0150,164665,VISA,1058,88888888000000,NaN,NaN,3549904,122020

In [45]:
def fill_missing_ie(group):
    non_null_ie = group.dropna()['IE']
    if not non_null_ie.empty:
        group['IE'] = non_null_ie.iloc[0]
    elif group['IE'].isnull().all():
        group['IE'] = np.nan
    return group

# Group by 'CNPJ' and apply the custom function
df_0150_final_new = df_0150_final.groupby('CNPJ', group_keys=False).apply(fill_missing_ie)

df_0150_final_new

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,751986424,REDE IDEIA SOLUCOES TECNOLOGICAS LTDA EPP,1058,10707895000152,NaN,0963630237,4314902,092019
1,0150,000002016,Servimed comercial ltda,1058,44463156000184,NaN,209017636112,3506003,092019
2,0150,000355698,Conde atacadista LTDA,1058,27849963000110,NaN,125415766116,3508504,092019
3,0150,751971821,Elektro Redes S.A,1058,02328280000197,NaN,244868522118,3509502,092019
4,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,092019
...,...,...,...,...,...,...,...,...,...
238,0150,000002112,MRM Fazzini Facundes Transportes EPP,1058,97554090000102,NaN,645333991113,3549904,122020
239,0150,000002004,DHV DISTRIBUIDORA HOSPITALAR DO VALE LTDA,1058,23276873000127,NaN,645739349118,3549904,122020
240,0150,000000001,Master Formula Farmacia de Manipulação LTDA,1058,71605265039297,NaN,701237302110,3555406,122020
241,0150,752994067,LUIZ M M DOS SANTOS GAS,1058,37537780000113,NaN,701187537110,3555406,122020
242,0150,164665,VISA,1058,88888888000000,NaN,NaN,3549904,122020

In [46]:
df_0150_final_new = df_0150_final_new[df_0150_final_new['IE'].notnull()]
df_0150_final_new

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,751986424,REDE IDEIA SOLUCOES TECNOLOGICAS LTDA EPP,1058,10707895000152,NaN,0963630237,4314902,092019
1,0150,000002016,Servimed comercial ltda,1058,44463156000184,NaN,209017636112,3506003,092019
2,0150,000355698,Conde atacadista LTDA,1058,27849963000110,NaN,125415766116,3508504,092019
3,0150,751971821,Elektro Redes S.A,1058,02328280000197,NaN,244868522118,3509502,092019
4,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,092019
...,...,...,...,...,...,...,...,...,...
237,0150,000002029,PROFARMA Distribuidora de Produtos Farmaceutic...,1058,45453214001042,NaN,637117955110,3548906,122020
238,0150,000002112,MRM Fazzini Facundes Transportes EPP,1058,97554090000102,NaN,645333991113,3549904,122020
239,0150,000002004,DHV DISTRIBUIDORA HOSPITALAR DO VALE LTDA,1058,23276873000127,NaN,645739349118,3549904,122020
240,0150,000000001,Master Formula Farmacia de Manipulação LTDA,1058,71605265039297,NaN,701237302110,3555406,122020
241,0150,752994067,LUIZ M M DOS SANTOS GAS,1058,37537780000113,NaN,701187537110,3555406,122020

In [47]:
df_0150_final_new.loc[(df_0150_final_new['CNPJ'].notnull()) & (df_0150_final_new['IE'].isnull())]

Empty DataFrame
Columns: [REG, COD_PART, NOME, COD_PAIS, CNPJ, CPF, IE, COD_MUN, DATA]
Index: []

In [48]:
df_0150_final_new['CNPJ'] = df_0150_final_new['CNPJ'].apply(lambda x: str(x).zfill(14) if len(str(x)) < 14 else str(x))
df_0150_final_new

C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\3208294570.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0150_final_new['CNPJ'] = df_0150_final_new['CNPJ'].apply(lambda x: str(x).zfill(14) if len(str(x)) < 14 else str(x))

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA
0,0150,751986424,REDE IDEIA SOLUCOES TECNOLOGICAS LTDA EPP,1058,10707895000152,NaN,0963630237,4314902,092019
1,0150,000002016,Servimed comercial ltda,1058,44463156000184,NaN,209017636112,3506003,092019
2,0150,000355698,Conde atacadista LTDA,1058,27849963000110,NaN,125415766116,3508504,092019
3,0150,751971821,Elektro Redes S.A,1058,02328280000197,NaN,244868522118,3509502,092019
4,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,092019
...,...,...,...,...,...,...,...,...,...
237,0150,000002029,PROFARMA Distribuidora de Produtos Farmaceutic...,1058,45453214001042,NaN,637117955110,3548906,122020
238,0150,000002112,MRM Fazzini Facundes Transportes EPP,1058,97554090000102,NaN,645333991113,3549904,122020
239,0150,000002004,DHV DISTRIBUIDORA HOSPITALAR DO VALE LTDA,1058,23276873000127,NaN,645739349118,3549904,122020
240,0150,000000001,Master Formula Farmacia de Manipulação LTDA,1058,71605265039297,NaN,701237302110,3555406,122020
241,0150,752994067,LUIZ M M DOS SANTOS GAS,1058,37537780000113,NaN,701187537110,3555406,122020

In [49]:
# Função para verificar o dígito verificador de um CNPJ
def verifica_digito_verificador(cnpj):
    cnpj = [int(d) for d in str(cnpj) if d.isdigit()]  # Converte o CNPJ em uma lista de números inteiros
    if len(cnpj) != 14:
        return False  # CNPJ deve ter 14 dígitos

    # Calcula o primeiro dígito verificador
    soma = 0
    peso = [5, 4, 3, 2, 9, 8, 7, 6, 5, 4, 3, 2]
    for i in range(12):
        soma += cnpj[i] * peso[i]
    resto = soma % 11
    if resto < 2:
        digito_verificador1 = 0
    else:
        digito_verificador1 = 11 - resto

    # Calcula o segundo dígito verificador
    soma = 0
    peso.insert(0, 6)
    for i in range(13):
        soma += cnpj[i] * peso[i]
    resto = soma % 11
    if resto < 2:
        digito_verificador2 = 0
    else:
        digito_verificador2 = 11 - resto

    # Verifica se os dígitos verificadores são iguais aos dígitos originais
    return cnpj[-2] == digito_verificador1 and cnpj[-1] == digito_verificador2

# Exemplo de DataFrame
df = df_0150_final_new.copy()

# Aplica a função verifica_digito_verificador à coluna 'CNPJ' do DataFrame
df['Dígito_Verificador_Válido'] = df['CNPJ'].apply(verifica_digito_verificador)

# Exibe o DataFrame com a nova coluna
df

,REG,COD_PART,NOME,COD_PAIS,CNPJ,CPF,IE,COD_MUN,DATA,Dígito_Verificador_Válido
0,0150,751986424,REDE IDEIA SOLUCOES TECNOLOGICAS LTDA EPP,1058,10707895000152,NaN,0963630237,4314902,092019,True
1,0150,000002016,Servimed comercial ltda,1058,44463156000184,NaN,209017636112,3506003,092019,True
2,0150,000355698,Conde atacadista LTDA,1058,27849963000110,NaN,125415766116,3508504,092019,True
3,0150,751971821,Elektro Redes S.A,1058,02328280000197,NaN,244868522118,3509502,092019,True
4,0150,752007028,Dbr distrib brasileira de recargas ltda,1058,07259917000154,NaN,283341718,5002704,092019,True
...,...,...,...,...,...,...,...,...,...,...
237,0150,000002029,PROFARMA Distribuidora de Produtos Farmaceutic...,1058,45453214001042,NaN,637117955110,3548906,122020,True
238,0150,000002112,MRM Fazzini Facundes Transportes EPP,1058,97554090000102,NaN,645333991113,3549904,122020,True
239,0150,000002004,DHV DISTRIBUIDORA HOSPITALAR DO VALE LTDA,1058,23276873000127,NaN,645739349118,3549904,122020,True
240,0150,000000001,Master Formula Farmacia de Manipulação LTDA,1058,71605265039297,NaN,701237302110,3555406,122020,True
241,0150,752994067,LUIZ M M DOS SANTOS GAS,1058,37537780000113,NaN,701187537110,3555406,122020,True

In [50]:
df['Dígito_Verificador_Válido'].unique()

array([ True])

In [51]:
if len(df['Dígito_Verificador_Válido'].unique()) > 1:
    print('Existem CNPJs com dígito verificador inválido. Favor checar.')
    print(f'O CNPJ com dígito verificador inválido é {list(df["CNPJ"].unique())}')
    sys.exit()

In [52]:
def recalcular_digito_verificador(nfe_completa):
    # Verifica se a NF-e com o dígito verificador tem o tamanho correto
    if pd.isnull(nfe_completa) or len(nfe_completa) != 44:
        raise ValueError(f"Valor inválido na coluna 'CHV_DOC': {nfe_completa}")

    # Remove o último caractere (dígito verificador)
    nfe_sem_dv = nfe_completa[:-1]

    # Restante da lógica de cálculo do dígito verificador
    soma = 0
    peso = 2
    nfe_invertida = nfe_sem_dv[::-1]

    for digito in nfe_invertida:
        soma += int(digito) * peso
        peso += 1
        if peso > 9:
            peso = 2

    resto = soma % 11
    dv = 0 if resto == 0 or resto == 1 else 11 - resto

    return dv

In [53]:
# Geração dos TXTs da CAT

for date in planilha['Data'].unique():
#for date in ['112019']:
    # Geração da 0000
    df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
    df_0000_['IE'] = df_0000_['IE'].str.replace('-', '')
    df_0000_ = df_0000_.drop('LOJA', axis=1)
    if df_0000_.shape[0] != 1:
        print(f'Erro no 0000 da loja {loja} para a data {date}. Favor verificar')
        sys.exit()
        
    # Geração da 0150

    # df_0150 has originally 8 columns
    df_0150_ = df_0150_final_new[df_0150_final_new['DATA'] == date]
    if df_0150_.shape[0] == 0:
        print(f'Loja {loja} não possui 0150. Favor atualizar arquivo')
        sys.exit()
    df_0150_ = df_0150_[df_0150_['CNPJ'].notnull()]
    df_0150_['IE'] = df_0150_['IE'].str.replace('-', '')
    df_0150_ = df_0150_[['REG', 'COD_PART', 'NOME', 'COD_PAIS', 'CNPJ', 'CPF',
                'IE', 'COD_MUN']]
    
    # Geração da 0200
    df_0200 = planilha[planilha['Data'] == date][['cod novo','DESCRICAO','CODIGO_BARRA','UNIDADE','N C M','ALIQUOTA','CEST']].drop_duplicates()
    df_0200['COD_REG'] = ['0200']*(df_0200.shape[0])
    df_0200 = df_0200[['COD_REG', 'cod novo','DESCRICAO','CODIGO_BARRA','UNIDADE','N C M','ALIQUOTA','CEST']]
    df_0200['ALIQUOTA'] = df_0200['ALIQUOTA'].astype(float).astype(int)
    df_0200['CODIGO_BARRA'] = df_0200['CODIGO_BARRA'].astype(str)
    df_0200['CODIGO_BARRA'] = df_0200['CODIGO_BARRA'].replace('nan', np.nan)
    df_0200.drop_duplicates(subset='cod novo', keep='first', inplace=True)
    for cod in list(df_0200['cod novo'].unique()):
        if df_0200[df_0200['cod novo'] == cod].shape[0] > 1:
            mensagem = 'ATENÇÃO. EXISTE CODIGO DE PRODUTO DUPLICADO NO 0200.'
            print(mensagem)
            print(f'O código duplicado é {cod}')
            sys.exit()
    # Geração da 1050
    unique_cod_items = planilha[planilha['Data'] == date]['cod novo'].unique()
    arquivo_1050['cod novo'] = arquivo_1050['cod novo'].astype(str)
    filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['cod novo'].isin(unique_cod_items)]
    filtered

    df_1050 = filtered[['cod novo','QTD_INI', 'ICMS_INI', 'SALDO_FINAL_MES_QTD', 'SALDO_FINAL_MES_ICMS']]
    
    df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
    df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
    df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
    df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
    df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
    
    df_1050 = df_1050[['COD_REG', 'cod novo', 'QTD_INI', 'ICMS_INI', 'SALDO_FINAL_MES_QTD', 'SALDO_FINAL_MES_ICMS']]
    df_1050.rename(columns={'COD_REG': 'REG'}, inplace=True)
    
    # Geração da 1100
    df_1100_ = df_1100[df_1100['Data'] == date]
    if df_1100_[df_1100_['VLR_CONFR_PCAT'] < 0.01].shape[0] > 0:
        mensagem = 'ATNEÇÂO. EXISTE VALOR DE CONFRONTO IGUAL A 0.'
        print(mensagem)
        sys.exit()
    df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
    df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
    df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
    df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
    df_1100_ = df_1100_[['COD_REG','CHV_DOC','DATA','NUM_ITEM','IND_OPER','cod novo','CFOP','QTD_FIN','ICMS_TOT_PCAT','VLR_CONFR_PCAT','COD_LEGAL_PCAT', 'FONTE']]

            
    cnpj_loja = df_0000[df_0000['LOJA'] == f'Loja {loja}']['CNPJ'].values[0]
    df_1100_['CHV_DOC'] = np.where(df_1100_['FONTE'].isin(['entrada_oprprp', 'saida_nfe', 'dfe']),
                           df_1100_['CHV_DOC'].str.slice(0,6) + cnpj_loja + df_1100_['CHV_DOC'].str.slice(20,44),
                           df_1100_['CHV_DOC'])
    
    df_1100_['DV_NFe'] = df_1100_['CHV_DOC'].apply(recalcular_digito_verificador)
    df_1100_['CHV_DOC'] = df_1100_['CHV_DOC'].str.slice(0,-1) + df_1100_['DV_NFe'].astype(str)
    
    df_1100_['CNPJ'] = df_1100_['CHV_DOC'].str.slice(6,20)
    for cnpj in df_1100_['CNPJ'].unique():
        if df_0150_[df_0150_['CNPJ'] == cnpj].shape[0] == 0:
            mensagem = 'ATENÇÃO. EXISTE PARTICIPANTE NO 1100 QUE NÃO ESTÁ NO 0150.'
            print(mensagem)
            print(f'O participante faltante no 0150 tem CNPJ {cnpj}, para o mês {date}')
            sys.exit()
    
    df_1100_ = df_1100_[['COD_REG','CHV_DOC','DATA','NUM_ITEM','IND_OPER','cod novo','CFOP','QTD_FIN','ICMS_TOT_PCAT','VLR_CONFR_PCAT','COD_LEGAL_PCAT']]
    
    # Geração do .txt da 0000
    dataframe_to_txt_with_crlf(df_0000_, f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\Teste_loja_{loja}\\0000_{date}_{loja}_v1.txt')
    
    # Geração do .txt da 0150
    dataframe_to_txt_with_crlf(df_0150_, f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\Teste_loja_{loja}\\0150_{date}_{loja}_v1.txt')
    
    # Geração do .txt da 0200
    dataframe_to_txt_with_crlf(df_0200, f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\Teste_loja_{loja}\\0200_{date}_{loja}_v1.txt')
    
    # Geração do .txt da 1050
    dataframe_to_txt_with_crlf(df_1050, f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\Teste_loja_{loja}\\1050_{date}_{loja}_v1.txt')
    
    # Geração do .txt da 1100
    dataframe_to_txt_with_crlf(df_1100_, f'C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\Teste_loja_{loja}\\1100_{date}_{loja}_v1.txt')
    
    # Geração de um arquivo .txt único,
    # contendo todas as informações das documentações
    # da 0000, 0150, 0200, 1050 e 1100
    # dentro do formato correto

    read_files = glob.glob(f"C:\\Bots\\Bot_transmissao\\Geracao CAT\\Loja_{loja}\\Teste_loja_{loja}\\*{date}_{loja}_v1.txt")
    
    with open(f"C:\\Bots\\Bot_transmissao\\Geracao CAT\\cat_Loja_{loja}_{date}_v1.txt", "wb") as outfile:
        for f in read_files:
            with open(f, "rb") as infile:
                outfile.write(infile.read())

C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['cod novo'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['cod novo'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)

C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['cod novo'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['cod novo'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)

C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['cod novo'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['cod novo'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)

C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['cod novo'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['cod novo'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)

C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['cod novo'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['cod novo'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)

C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['cod novo'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['cod novo'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)

C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['cod novo'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['cod novo'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)

C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_0000_ = df_0000[df_0000['DATA'] == date][df_0000['LOJA'] == f'Loja {loja}']
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered = arquivo_1050[arquivo_1050['DATA'] == date][arquivo_1050['cod novo'].isin(unique_cod_items)]
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['COD_REG'] = ['1050']*(df_1050.shape[0])
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['QTD_INI'] = df_1050['QTD_INI'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['ICMS_INI'] = df_1050['ICMS_INI'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_QTD'] = df_1050['SALDO_FINAL_MES_QTD'].astype(float).astype(int).astype(str) + ',000'
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1050['SALDO_FINAL_MES_ICMS'] = df_1050['SALDO_FINAL_MES_ICMS'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1795614597.py:3: DeprecationWarning: This method will be removed in a future version of Python. Use 'locale.format_string()' instead.
  formatted_value = locale.format('%.2f', value, grouping=True)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(float).map(format_number)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['VLR_CONFR_PCAT'] = df_1100_['VLR_CONFR_PCAT'].astype(str).replace('nan', np.nan)
C:\Users\vinic\AppData\Local\Temp\ipykernel_36784\1888140996.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1100_['ICMS_TOT_PCAT'] = df_1100_['ICMS_TOT_PCAT'].astype(str).replace('nan', np.nan)